/* -------------------------- Passwordless Section -------------------------- */

.passwordless-form-section-container {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.passwordless-option-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    font-weight: 500;
    width: 40%;
}

.passwordless-option-header:before,
.passwordless-option-header:after {
    content: "";
    flex: 1 1;
    border-top: 2px solid rgba(0, 0, 0, 0.07);
    margin: auto;
}

.passwordless-option-header:before {
    margin-right: 16px
}

.passwordless-option-header:after {
    margin-left: 16px
}

.passwordless-inputs-container {
    width: 100%;
    position: relative;
}

.passwordless-button-container {
    position: relative;
    background-color: var(--social-button);
    display: flex;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 500;
}

.passwordless-button-container:hover {
    background-color: var(--social-button-hover);
}

.passwordless-button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.passwordless-button svg {
    margin-right: 8px;
}

.passwordless-button-container:hover .help-icon-tip,
.passwordless-button-container:focus-within .help-icon-tip {
    transform: scale(1.1);
}

.help-icon-tip {
    position: absolute;
    top: -6px;
    right: -6px;
    transform: scale(0);
    transition: transform 0.2s ease;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.help-icon-tip:focus-visible {
    box-shadow: var(--accessible-focus-drop-shadow);
    outline: none;
}
