.connectionsPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;

    &>div:last-child {
        padding-right: 1em;
    }
}


.institution {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    max-height: 100%;
    position: relative;

    &>div:first-child {
        margin-bottom: .75em;
        margin-right: .375em;
        padding: 0 .25em;
        opacity: 1;
        display: flex;
        justify-content: space-between;

        img {
            border-radius: 50%;
        }

        &>div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.header {
    margin-bottom: .75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &>div:last-child {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-right: .8em;
    }
}

.accountsList {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 1em;
}

.accounts {
    display: grid;
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr) minmax(0, 1fr);
    row-gap: .25em;

    >div {
        align-self: center;

        &:nth-child(6n + 1),
        &:nth-child(6n + 2),
        &:nth-child(6n + 3) {
            background-color: var(--btn-feather-light-gray);
        }

        &:nth-child(3n + 2),
        &:nth-child(3n + 3) {
            color: var(--m-text-secondary);
            padding: .375em 0;
            font-size: .8rem;
        }

        &:nth-child(3n) {
            padding-right: 1em;
            border-top-right-radius: var(--border-radius1);
            border-bottom-right-radius: var(--border-radius1);
            text-align: right;
        }

        &:nth-child(3n + 1) {
            padding: .25em 0;
            padding-left: .525em;
            border-top-left-radius: var(--border-radius1);
            border-bottom-left-radius: var(--border-radius1);
        }

        &:nth-child(n+3):nth-last-child(-n+3) {
            border-bottom: 0;
        }
    }
}

.tableHeaders {
    padding: .375em .525em;
    font-weight: var(--fw-bold);
    display: grid;
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr) minmax(0, 1fr);

    >h4:nth-child(3) {
        text-align: right;
    }
}

.confirmModal>div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.5em;
}

.noConnections {
    font-weight: var(--fw-regular);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--m-text-tirtiary);
}

.reconnect {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--window-rgb), .5);
    border-radius: var(--border-radius2);

    &[data-wiggle='true'] button {
        padding-top: .25em;
        padding-bottom: .25em;
        position: absolute;
        animation: wiggle 4.5s infinite ease-out;

        * {
            font-weight: var(--fw-bold);
        }
    }

    button svg {
        margin-right: .5em;
    }
}

@keyframes wiggle {
    0% {
        transform: scale(1) rotate(0deg);
    }

    80% {
        transform: scale(1) rotate(0deg);
    }

    85% {
        transform: scale(1.1) rotate(0deg);
    }

    87% {
        transform: scale(1.1) rotate(3deg);
    }

    89% {
        transform: scale(1.1) rotate(-3deg);
    }

    91% {
        transform: scale(1.1) rotate(3deg);
    }

    93% {
        transform: scale(1.1) rotate(-3deg);
    }

    95% {
        transform: scale(1.1) rotate(3deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}
