$delay: .2s;
$duration: .2s;

.gutter {
    position: relative;
    font-weight: var(--fw-light);
    display: flex;
    flex-direction: column;
    background-color: inherit;
    opacity: 1;
    z-index: 1;
    border-right: none;
    transition: z-index 0s linear calc($delay * 2);
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: .5em .75em;
    margin: .5em 0;
    border-right: 2px solid var(--border-color-ultra-dim);

    ul {
        position: relative;
        flex-grow: 1;
        z-index: 0;
        transition: box-shadow 0s linear $delay, opacity $duration ease-in-out;
    }

    li {
        cursor: pointer;
        margin: .5em;
        padding: .25em;
        border-radius: var(--border-radius2);
        transition: background-color .3s ease-in-out;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease-out;

        svg {
            margin-bottom: .125em
        }

        &[data-current='']:hover {
            background-color: var(--btn-light-gray);
            opacity: .8;
            transition: all 0.3s ease-out;
        }
    }
}

.navItem {
    gap: 1.125em;

    &>div:first-child {
        padding-left: .625em;
        display: flex;
        justify-content: center;
    }
}

.profile {
    border-radius: var(--border-radius25);
    margin-top: 0;
    padding-top: .375em;
    padding-bottom: .375em;
    margin-bottom: .75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;

    svg {
        margin: .5em;
    }

    div:first-child {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div:last-child {
        padding: .125em .5em;
        flex: 4;
    }

}
