.recovery-code-option--container {
    display: flex;
}

.recovery-code-option--container button {
    color: var(--blue-medium-dark);
    position: relative;
}

.reauth-form {
    margin-top: 1em;
}

.reauth-form>div:first-of-type {
    margin-top: .5em;
    margin-left: .125em;
    margin-bottom: 1em;
    font-weight: var(--fw-regular);
}

.reauth-form .graphic {
    margin: 1.25em 0;
}

.reauth-form>div:nth-child(2) {
    margin: 1em 0 1.5em 0;
}

.reauth-form>div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
