$scroll-bar-padding: 1em;

@import '@styles/table-mixins.scss';

#all-items-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    gap: 1em;
    border-radius: var(--border-radius4);

    &.not-showing-filter-form {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    &.showing-filter-form {
        overflow-y: visible;
        overflow-x: visible;
    }
}

.transactions-history-table--container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    z-index: 0;
    width: 100%;
    background-color: inherit;

    .left-info {
        overflow: hidden;
        white-space: nowrap;
        mask-image: linear-gradient(to right, black, black 85%, transparent 100%);
        flex-grow: 1;

        &>div:last-child {
            display: flex;
            gap: .5em;

            &>span:first-child {
                font-size: .75rem;
                font-weight: var(--fw-light);
                color: var(--m-text-tirtiary);
            }
        }
    }
}

.transactions-history--table {
    padding: $scroll-bar-padding;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    row-gap: .25em;
    grid-auto-rows: min-content;
    background-color: inherit;

    &.skeleton {
        grid-template-columns: 1fr;


        &>div>div:last-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &:not(.skeleton)>div {
        &:not(:first-child) svg {
            scale: 0;
            width: 0;
            margin-left: 0;
            transition: all .2s ease-in-out;
        }

        &:hover:not(:first-child) {
            cursor: pointer;

            svg {
                scale: 1;
                width: 1em;
                margin-left: .25em;
                transition: all .2s ease-in-out;
            }
        }
    }

    &>div {
        display: contents;
        background-color: inherit;

        &.month-header>div {
            grid-column: 1 / span 5;
            justify-self: left;
            padding: 0;
            background-color: inherit;
            margin: 0;
            cursor: default;
            color: var(--m-text-tirtiary);
            position: sticky;
            top: 0;
        }

        &:not(.month-header)>div {
            align-self: stretch;
            padding: .5em 0;
            transition: background-color .2s ease-in-out;
            position: relative;
            // @include table-dividers();

            &:last-child {
                border-radius: 0 var(--border-radius2) var(--border-radius2) 0;
            }

            &:first-child:not(.month-header) {
                border-radius: var(--border-radius2) 0 0 var(--border-radius2);
                display: flex;
                align-items: center;
                padding-right: 1em;
                flex-wrap: nowrap;
            }

            &:nth-child(3) {
                color: var(--m-text-tirtiary);
            }

            @mixin background-circle($color) {
                &::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    border-radius: 12px;
                    left: 50%;
                    bottom: 55%;
                    transform: translate(-50%, 50%);
                    width: 2.5em;
                    height: 1.5em;
                    background-color: $color;
                }
            }

            &:nth-child(4) {
                display: flex;
                justify-content: center;

                span.month {
                    position: relative;
                    @include background-circle(var(--monthly-background-color));
                }

                span.year {
                    position: relative;
                    @include background-circle(var(--yearly-background-color));
                }
            }
        }

        // Amount
        &>div:last-child {
            display: flex;
            align-items: center;
            justify-content: right;
            padding-right: .125em;

            &.debit * {
                color: var(--debit-text)
            }
        }
    }
}


#empty-list-icon--container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}
