.darkModeSwitch {
  font-size: 0.875rem;
  margin-right: 0.25em;
  position: relative;

  svg {
    z-index: 1;
  }

  button[data-headlessui-state='checked'] {
    background-color: var(--btn-feather-light-gray);
    transition: background-color 0.2s ease-in-out;

    div:first-of-type {
      opacity: 0.3;
    }

    & > div:not(:first-of-type) {
      color: var(--white);
    }

    span:last-child {
      transform: translateX(0.97rem);
      transition: all 0.2s ease-in-out;
      background: var(--btn-medium-gray);
      opacity: 0.7;
    }
  }

  button[data-headlessui-state=''] {
    background-color: var(--btn-feather-light-gray);
    transition: background-color 0.2s ease-in-out;
    opacity: 1;

    div:last-of-type {
      opacity: 0.3;
    }

    span:last-child {
      left: 0.25em;
      transform: translateX(0);
      background: var(--btn-medium-gray);
      transition: all 0.2s ease-in-out;
    }
  }

  button {
    margin-top: 0.0625em;
    padding: 0.5em 0.55em;
    border-radius: 1.25em;
    display: flex;
    align-items: center;
    gap: 0.875rem;
    width: auto;
    justify-content: space-evenly;

    & > div {
      font-size: 0.875rem;
      display: flex;
      place-content: center;
    }
  }

  span:last-child {
    position: absolute;
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 50%;
    box-shadow: none;
    z-index: 0;
  }
}
