/* ------------------------------- Device List ------------------------------ */

#device-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: auto;
    height: auto;
    max-height: 50vh;
    padding: .25em .5em .25em .5em;
}

.device--container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.device {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    margin: .25em 0;
    gap: 1em;
    transition: background-color 0.2s ease-in-out;
    border-radius: var(--border-radius2);
}

.device:hover,
.device.open {
    background-color: var(--window);
    transition: background-color 0.2s ease-in-out;
}

.discolsure-indicator {
    transform: rotate(0deg);
    padding: .125em;
    margin-right: .25em;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

.discolsure-indicator.open {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.device>div:nth-child(2) {
    flex-grow: 1;
    text-align: left;
}

.device-title>span:first-child {
    font-weight: 500;
    margin-right: .5em;
}

.device-title>span:nth-child(2) {
    padding: 0 .5em;
    border-radius: var(--border-radius1);
    font-weight: 500;
}

.device-title>div {
    display: flex;
    align-items: center;
    gap: .5em;
}

.device-icon {
    display: flex;
    align-items: center;
}

.device-icon img {
    width: 3.5rem;
    height: 3.5rem;
}

.device-location {
    display: flex;
    margin-left: -.125em;
}

.device-location svg {
    margin-right: .25em;
    padding-top: .125em;
}

.device-sessions {
    background-color: var(--window);
    border-bottom-left-radius: var(--border-radius2);
    border-bottom-right-radius: var(--border-radius2);
    padding: .5em .75em 0 .75em;
    z-index: 0;
}

.device-sessions.open {
    margin-top: -.75em;
    margin-bottom: .25em;
}

.device-sessions>div {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    padding-right: .1em;
    position: relative;
}

.device-sessions>div {
    border-top: 1.5px solid var(--subtle-border-color);
}

.device-sessions button {
    padding: .375em;
}

.device-sessions button * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-session-info {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, auto));
    column-gap: .75em;
}

.device-session-info>div:nth-child(2n -1) {
    font-weight: 600;
}

.device-sessions #logout-btn button {
    display: flex;
    align-items: center;
}

.current-device {
    color: var(--green-dark2);
    font-size: .875rem;
    margin-right: .25em;
}

.logout-device {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
