#security-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

#security-page>div:first-child {
    margin-top: 240px;
}

#delete-account--button {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}
