#authenticator-set-up {
    display: flex;
}

#authenticator-set-up>div {
    display: flex;
    flex-direction: column;
}

#authenticator-set-up span:first-child {
    font-weight: 500
}

#authenticator-settings--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#authenticator-settings--container>div>svg {
    margin: 0 14px 0 2px;
}

#authenticator-settings--container>div {
    display: flex;
    align-items: center;
    padding-right: 12px;
}

#recovery-codes-buttons--container {
    display: inline-flex;
    width: auto;
    gap: 6px;
    align-items: center;
    background-color: var(--window);
    border-radius: var(--border-radius2);
    padding: 0px 10px;
    cursor: pointer;
    margin-top: 8px;
}

#recovery-codes-buttons--container>span {
    font-size: 13px;
    font-weight: 500;
}

#recovery-codes-buttons--container:hover,
#recovery-codes-buttons--container:focus-within {
    background-color: var(--green-hlight);
    transition: all 0.3s ease-in-out;
}

#recovery-codes-buttons--container:hover>span,
#recovery-codes-buttons--container:focus-within>span {
    color: var(--green-dark4);
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

#recovery-codes-buttons--container>div {
    display: flex;
    align-items: center;
}

#recovery-codes-buttons--container #recovery-codes-buttons button {
    color: var(--green-dark4);
}

#recovery-codes-buttons--container #recovery-codes-buttons button,
#recovery-codes-buttons--container #recovery-codes-buttons svg {
    max-width: 0;
    transition: all 0.2s ease-in-out;
}

#recovery-codes-buttons--container:not(:hover) #recovery-codes-buttons button,
#recovery-codes-buttons--container:not(:focus) #recovery-codes-buttons button {
    padding-left: 0;
    padding-right: 0;
    transition: all 0.2s ease-in-out;
}

#recovery-codes-buttons--container:hover #recovery-codes-buttons,
#recovery-codes-buttons--container:focus-within #recovery-codes-buttons {
    gap: 5px;
}

#recovery-codes-buttons--container:hover #recovery-codes-buttons button,
#recovery-codes-buttons--container:hover #recovery-codes-buttons svg,
#recovery-codes-buttons--container:focus-within #recovery-codes-buttons button,
#recovery-codes-buttons--container:focus-within #recovery-codes-buttons svg {
    max-width: 1.5rem;
}
