.loading-bar-container {
    position: absolute;
    width: 97%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: rgba(248, 248, 248, .4);
    mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent);
}

.loading-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 97%;
    height: 3.5px;
    overflow: hidden;
}

.loading-bar-shimmer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 100%;
    width: 97%;
    background-color: var(--main-dark);
    animation: load .7s linear infinite;
    z-index: 1002;
}

@keyframes load {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.signup-container-header {
    margin-bottom: .75em;
}

.signup-container-header img {
    height: 1.8em;
}

.signup-container-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
