@mixin bottom-floor-text {
  margin-top: -0.25em;
  color: var(--white);
  opacity: 0.9;
  white-space: nowrap;
}

$gap: 2.75em;

.container {
  display: flex;
  padding: 0em 2em 0em 1em;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: var(--border-radius5);
}

.slider {
  width: 300px;
  overflow: hidden;
}

.slides {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overscroll-behavior: contain;

  & > div {
    scroll-snap-align: start;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.75em;

    & > div:first-child {
      font-size: 2rem;
      font-weight: 400;

      * {
        font-weight: 400;
      }
    }

    & > div:last-child {
      margin-top: -0.125em;
      opacity: 0.8;
      white-space: nowrap;
      display: flex;
      align-items: center;
      gap: 0.25em;
    }
  }
}

.jumpLinks {
  display: flex;
  justify-content: center;
  gap: 0.5em;

  a {
    width: 0.4em;
    height: 0.4em;
    border-radius: 0.5em;
    background-color: var(--m-text);
    opacity: 0.3;
    transition: all 0.3s;
    cursor: pointer;

    &[data-active='true'] {
      opacity: 1;
      transition: all 0.3s;
    }
  }
}
