.picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: var(--border-radius6);

  &[data-size='small'] span {
    font-size: 1.125em;
  }

  &[data-size='medium'] span {
    font-size: 1.25rem;
    font-weight: 400;
  }

  button {
    opacity: 1;
    display: flex;
    flex-direction: row;
    transition: opacity 0.2s ease-in-out;

    svg path {
      stroke: currentColor;
    }
  }

  button:not(:disabled):hover {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
  }
}
