:root {
    --logo-dark: rgb(36, 36, 36);

    --background-color: rgb(252, 252, 252);

    --window: rgb(248, 248, 248);
    --window-border: rgb(161, 160, 160);
    --window-border-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.05);

    --button-gray: rgb(70, 70, 70);
    --buton-border-gray: rgb(60, 60, 60);
    --button-hover-gray: rgb(36, 36, 36);
    --border-bottom-gray: #b9b9b9;

    --light-blue: rgb(159, 198, 252);
    --mute-blue: rgb(122, 168, 254);
    --hover-blue: rgb(97, 151, 252);
    --main-blue: rgb(107, 155, 246);

    --mute-red: rgb(253, 130, 146);
    --hover-red: rgb(251, 106, 126);
    --alert-red: rgb(243, 80, 80);

    --main-green: #2ecd80;

    --button-drop-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.05);

    /* Input Colors */
    --input-color: rgb(237, 237, 237);
    --tooltip-background: rgb(166, 166, 166);
    /* rgb(56, 123, 248);

    /* Text */
    --main-text-gray: rgb(36, 36, 36);
    --input-placeholder: rgb(132, 132, 132);
    --success-green: rgb(205, 248, 205);
    --input-focus: rgb(107, 155, 246);

    /* Windows */
    --window-background-color: rgb(240, 240, 240);

    /* Icons & Buttons */
    --icon-dark-gray: rgb(70, 70, 70);
    --icon-light-gray: rgb(223, 223, 223);
    --icon-hover-light-gray: rgb(219, 219, 219);
    --icon-hover-gray: rgb(196, 196, 196);
    --icon-white: rgb(252, 252, 252);
    --drop-down-background: rgb(52, 52, 52);
    --drop-down-hover-background: rgb(103, 103, 103);

    /* Misc */
    --scroll-bar: rgb(199, 221, 252);
}

/* Override color values for Firefox */
@-moz-document url-prefix() {
    :root {
        --input-focus: rgb(31, 108, 252);
        --input-placeholder: #343434;
        --main-text-gray: rgb(44, 44, 44);
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-size: 14px;
    height: 100%;
    background-color: var(--window);
}

div,
p,
span,
a,
input,
label,
button,
textarea,
select,
option {
    font-family: "Source Sans 3";
    font-size: 14px;
    color: var(--main-text-gray);
}

h1,
h2,
h3 {
    color: var(--logo-dark);
    white-space: nowrap;
}

h1 {
    margin-top: 0
}

h2,
h3 {
    margin: 0
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

main {
    min-height: 100vh;
}

/* Accessibility Focus Styling */
main:focus-visible {
    outline: none;
    box-shadow: inset 0 0 2px 2px var(--light-blue);
}

button:focus-visible {
    outline: none;
    box-shadow: 0 0 2px 2px var(--light-blue);
}

div:focus-visible {
    outline: none;
    box-shadow: 0 0 2px 2px var(--light-blue);
    border-radius: 4px;
}

a:focus-visible {
    outline: none;
    border-bottom: 2px solid var(--light-blue);
}

/* Dropdown Menu Styling */
.dropdown:focus-visible {
    outline: none;
    box-shadow: 0 0 2px 2px var(--light-blue);
}


input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px var(--input-color) !important;
    background-color: none;
    background-clip: content-box !important;
    border: none;
    font-size: 14px;
    outline: none;
}

input {
    --webkit-text-security: disc;
    outline: none;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill::after {
    border: none;
    background-color: #fafafa !important;
    background-clip: content-box !important;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.confirm {
    width: 100%;
    box-sizing: border-box;
}


.invalid-submit,
.valid-submit,
.submit-button {
    padding: 8px 12px;
    color: var(--window);
    background-color: var(--button-gray);
    box-shadow: var(--button-drop-shadow);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.valid-submit:hover,
.submit-button:hover {
    cursor: pointer;
    background-color: var(--button-hover-gray);
}

.valid-submit,
.submit-button {
    outline: none;
    cursor: pointer;
    /* border: 1.5px solid var(--window); */
}

.valid-submit:focus-within,
.submit-button:focus-within {
    outline: none;
    box-shadow: 0 0 1.5px 1.5px var(--light-blue);
}

.invalid-submit:focus-within {
    outline: none;
    border: none;
    box-shadow: 0 0 1.5px 1.5px var(--light-blue);
}

.icon {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color .3s ease;
    cursor: pointer
}

.icon:hover {
    background-color: var(--icon-hover-light-gray);
}

.sub-header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
    flex: 1;
}

.dropdown {
    background-color: var(--drop-down-background);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 1000;
    animation: fade-in 0.2s ease;
    transform-origin: top;
}

.dropdown * {
    color: rgb(232, 232, 232);
}

@keyframes fade-in {
    from {
        scale: .8;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}
