$scrollbar-padding: 1em;

.start-prompt {
    font-weight: var(--fw-regular);
    text-align: center;
    padding: .75em;
}

#onboarding-app {
    display: flex;
    flex-direction: column;

    .onboarding-tab-list {
        margin: 0 auto;
        min-width: 12rem;
        max-width: 16rem;
    }

    form {

        &>div {
            display: flex;
            gap: .5em;

            &>div:last-child {
                display: flex;
                align-items: center;
            }

            &>div:not(:last-child) {
                flex: 1;
            }
        }

    }
}

#add-bills--window,
#add-categories--window {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;

    &>div:first-of-type {
        display: flex;
        flex-direction: column;
        gap: .5em;
        align-items: center;
        justify-content: flex-start;
    }

    &>div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        align-items: center;

        &>div:last-of-type {
            width: calc(100% + $scrollbar-padding);
            margin: 0 auto;
        }
    }

    &>div:nth-of-type(2),
    &>div:nth-of-type(3),
    .suggested-bills--container {
        background-color: var(--window);
        border-radius: var(--border-radius3);
        padding: 1em 1.5em;
    }

    &>div:nth-of-type(3) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2.75em;

        &>div {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
        }
    }

    .custom-suggested-tabs {
        position: relative;
        display: flex;
        width: 100%;

        button {
            position: absolute;
            left: 50%;
            bottom: 0em;
            transform: translateX(-50%);
            display: flex;
            gap: .25em;
            opacity: 0;
            padding: 0 .5em;
            border-radius: var(--border-radius2);
            z-index: 0;

            &:not([aria-selected='true']) {
                opacity: 1;
                z-index: 1;

                &:hover {
                    background-color: var(--btn-gray);
                }
            }
        }
    }
}


label:first-of-type {
    margin-left: .125em;
    font-weight: var(--fw-regular);
}

.checkbox-container label {
    margin: .125em 0;
}

#bill-scheduler--container>div:last-child {
    margin: .5em 0;
}


.tab-list {
    button {
        &:focus {
            outline: none;
            box-shadow: none;
        }

        &[aria-selected='true'] {
            color: var(--m-invert-text);
        }
    }
}

#recommendations-btn {
    gap: .375rem;
}

/* ----------------------------- Suggested Items ---------------------------- */

#recommendations-button--container {
    display: flex;
    justify-content: center;
    margin-top: .75em;
}

.suggested-items--container {
    display: flex;
    flex-wrap: wrap;
    gap: .75em;
}

.empty-message--container {
    text-align: center;
    font-weight: var(--fw-regular);
    opacity: .4;
}


/* ------------------------- Individual Rows Styling ------------------------ */

.budget-item--container {
    width: 100%;
    position: absolute;
    left: 0;
    right: .5em;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.budget-item {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: absolute;
    width: calc(100% - $scrollbar-padding);

    .budget-dollar--container {
        display: flex;
        align-items: center;
        gap: 0;
        transition: gap .2s ease-out;

        input {
            text-align: right;
        }

        &:hover {
            gap: .5em;
            transition: gap .2s ease-out;

            svg {
                scale: 1;
                transition: scale .2s ease-out;
            }
        }

        svg {
            scale: 0;
            transition: scale .2s ease-out;
        }
    }

    &>div {
        &:first-of-type {
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &:nth-last-child(2) {
            margin-right: 1.25em;
        }

        &:last-of-type {
            flex: 1 0 0%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    &>div:not(:first-of-type):not(:last-of-type) {
        flex: 2 0 0%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

}
