#onboarding-app {
    border-radius: inherit;

    &::after {
        inset: 0;
        content: '';
        z-index: -1;
        background-color: var(--window-background-color);
        position: absolute;
        border-radius: inherit;
    }

    .btn-container-enabled {
        display: flex;
        justify-content: space-between;
        margin-top: .75rem;
    }

    .btn-container {
        margin-top: 1em;
        display: flex;
        justify-content: flex-end;
        max-height: 6.25rem;
        transition: max-height 0.3s ease-in-out;
    }
}
