#history-header {
    z-index: 2;
    padding: 1.5em 1.5em 0 1.5em;
    width: calc(100% - 3em);

    &>div:first-child {
        position: relative;
        z-index: 2;
    }
}

$padding: 1.5em;

.filter-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--inner-window-solid);
    border-radius: var(--border-radius3);

    &>div {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    form {
        margin-top: 3.5em;
        padding: 1.5em;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>div:last-of-type {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        label {
            margin-left: .125em;
        }

        fieldset {
            display: grid;
            grid-template-columns: minmax(0, 1fr);

            .ledget-range-picker {
                margin-top: .375em;
            }

            label {
                margin-top: .625em;
            }

            &>div:not(:first-of-type) {
                display: flex;
                align-items: baseline;
                gap: 1.25em;

                &>div,
                &>label {
                    flex: 1;
                }

                &.amounts>div:first-child::after {
                    content: '';
                    position: absolute;
                    left: calc(100% + .5em);
                    top: 50%;
                    transform: translateY(-50%);
                    width: .375em;
                    height: 1.5px;
                    background-color: var(--border-color);
                }
            }
        }

        &>div:last-child>button {
            float: right;
        }
    }
}
