#history-header {
    z-index: 1;
    padding: 1em 1.5em 0 1.5em;
    width: calc(100% - 3em);

    &>div:first-child {
        position: relative;
        z-index: 0;
    }
}

$padding: 1.5em;

.filter-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.extra-large {
        background-color: var(--side-window);
    }

    &>div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        background-color: var(--window-background-color);
        border-radius: var(--border-radius3);
        border: 1px solid var(--window-border);
        padding: 1.5em;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: space-between;
        width: calc(100% - #{$padding * 2});
        height: 100%;
        max-width: 30em;
        position: relative;
        z-index: 1;

        &>div:last-of-type {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        label {
            margin-left: .125em;
        }

        fieldset {
            display: grid;
            grid-template-columns: minmax(0, 1fr);

            .ledget-range-picker {
                margin-top: .375em;
            }

            label {
                margin-top: .5em;
            }

            // All but calendar scheduler
            &>div:not(:first-of-type) {
                display: flex;
                align-items: baseline;
                gap: 1.25em;

                // Row for account and merchant selectors
                &:nth-last-child(3)>div>div {
                    width: 100%;
                }

                &>div,
                &>label {
                    flex: 1;
                }

                &.amounts>div:first-child::after {
                    content: '';
                    position: absolute;
                    left: calc(100% + .5em);
                    top: 50%;
                    transform: translateY(-50%);
                    width: .375em;
                    height: 1.5px;
                    background-color: var(--input-placeholder);
                }
            }

            // List of merchants
            &>div:nth-last-child(2) {
                margin-top: 1.5em;
                margin-left: .375em;
            }

            // List of accounts
            &>div:last-child {
                margin-top: 1em;
                margin-left: .375em;
            }

            // List of merchants and accounts
            &>div:last-child,
            &>div:nth-last-child(2) {
                display: flex;
                align-items: center;
                gap: .5em;
                flex-wrap: wrap;
                opacity: .7;
                font-style: italic;

                button {
                    opacity: 0;
                    transition: opacity .2s ease-in-out;
                }

                &:hover button {
                    opacity: 1;
                    transition: opacity .2s ease-in-out;
                }
            }
        }

        &>div:last-child {
            display: flex;
            justify-content: space-between;

            &>div {
                display: flex;
            }
        }
    }
}
