$scroll-bar-padding: 1em;
$charcoal: var(--charcoal-rgb);

@import '@styles/text';
@import '@styles/table-mixins.scss';

.transactions-history-table--container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% + #{$scroll-bar-padding});

    .left-info {
        overflow: hidden;
        white-space: nowrap;
        mask-image: linear-gradient(to right, black, black 80%, transparent 100%);
        flex-grow: 1;

        &>div:last-child {
            display: flex;
            gap: .5em;

            &>span:first-child {
                font-size: .75rem;
                color: $secondary-text-color;
            }
        }
    }

    .emoji {
        position: relative;

        &.month::after,
        &.year::after {
            position: absolute;
            content: '';
            width: .875em;
            height: .875em;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        &.month::after {
            background-color: var(--main-hlight5);
        }

        &.year::after {
            background-color: var(--secondary-hlight5);
        }
    }
}

.transactions-history--table {
    padding-right: $scroll-bar-padding;
    position: absolute;
    inset: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: minmax(0, 80%) 1fr;
    row-gap: .75em;
    grid-auto-rows: min-content;

    &.skeleton {
        grid-template-columns: 1fr;


        &>div>div:last-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &:not(.skeleton)>div:hover>div:not(.month-header) {
        transition: background-color .2s ease-in-out;
        background-color: rgb($charcoal, 0.05);
        cursor: pointer;
    }

    &>div {
        display: contents;

        .month-header {
            grid-column: 1 / span 2;
            justify-self: left;
            padding: 0;
            // padding-top: .75em;
            padding-left: .125em;
            margin: 0;
            cursor: default;
            color: $secondary-text-color;
        }

        &>div {
            align-self: stretch;
            padding: .5em;
            transition: background-color .2s ease-in-out;

            &:last-child {
                border-radius: 0 var(--border-radius2) var(--border-radius2) 0;
            }

            &:first-child {
                border-radius: var(--border-radius2) 0 0 var(--border-radius2);
            }
        }

        // Logo, name, date
        &>div:first-child {
            display: flex;
            align-items: center;
            gap: .75em;
            flex-wrap: nowrap;
        }

        // Amount
        &>div:last-child {
            display: flex;
            align-items: center;
            justify-content: right;
            padding-right: .75em;
        }

        &:not(:last-child)>div {
            position: relative;
            @include table-dividers();
        }
    }
}


#empty-list-icon--container img {
    height: 5em;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
