.categoryModalHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;

  & > span {
    padding: 0em 0.5em;
    border-radius: 0.5em;
    margin-bottom: 0.25em;
  }

  & > span {
    position: relative;
    margin-left: 0.75em;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -0.5em;
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      z-index: -1;
    }
  }

  & > div {
    font-size: 1.125rem;
    display: flex;
    align-items: baseline;
  }
}

.month {
  &::after {
    background-color: var(--monthly-background-color-darker);
  }
}

.year {
  &::after {
    background-color: var(--yearly-background-color-darker);
  }
}

.graphAndDetails {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;

  & > div:first-child {
    height: 13em;
    width: 100%;
    position: relative;
  }
}

.options {
  position: absolute;
  top: 1em;
  right: 3.5em;
}

.chart {
  &[data-disabled='true'] {
    filter: grayscale(1);
    opacity: 0.5;
  }
}

.notEnoughDataMessage {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: var(--m-text-quaternary);
  z-index: 10;
}

.categoryModal {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.emptyState {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  span {
    color: var(--m-text-quaternary);
  }
}

.transactionsGrid {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    cursor: pointer;

    & > div:first-child {
      padding-right: 1em;
    }

    &:hover > div:nth-child(4n + 4) {
      & > div:last-child {
        width: 1.5em;
        transition: width 0.3s;

        svg {
          transform: scale(1);
          transition: transform 0.3s;
        }
      }
    }

    & > div {
      display: flex;
      align-items: center;
      padding-right: 0.25em;

      &:nth-child(4n + 2) {
        padding-right: 0.5em;
      }

      &:nth-child(4n + 3) {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        span {
          color: var(--m-text-secondary);
        }
      }

      &:nth-child(4n + 4) {
        transition: padding-right 0.3s;

        & > div:last-child {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 0;
          transition: width 0.3s;

          svg {
            transform: scale(0);
            transition: transform 0.3s;
          }
        }
      }
    }
  }
}

.transactions {
  display: flex;
  flex-direction: column;
  min-height: 5em;
  justify-content: center;
  position: relative;
}
