#add-alert-btn {
    display: flex;
    align-items: center;
    font-weight: 500;
    border-radius: 8px;
    padding: 4px 12px;
    background-color: var(--btn-gray);
    transition: background-color 0.3s ease-in-out;
    color: var(--white-text);
}

#add-alert-btn:hover {
    background-color: var(--btn-hover-gray);
    transition: background-color 0.3s ease-in-out;
}

#add-alert-btn svg {
    margin-left: 4px;
}

#alert-select ul {
    height: 0;
}

.slct-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    width: auto;
    padding: 4px 12px;
    margin: 2px 0;
    transition: background-color 0.3s ease-out;
    border-radius: 6px;
    cursor: pointer;
}

.slct-item span:nth-child(2) {
    margin-left: 15px;
    opacity: .5;
    font-size: 12px;
}

.a-slct-item {
    background-color: var(--icon-light-gray);
    transition: background-color 0.3s ease-out;
}

.s-slct-item {
    background-color: var(--green-hlight2);
    transition: background-color 0.3s ease-out;
}

.a-slct-item.s-slct-item {
    background-color: var(--green-hlight3);
    transition: background-color 0.3s ease-out;
}

.slct-item.custom-input {
    padding: 2px 8px;
}

.slct-item.custom-input input[type='text'] {
    font-weight: 500;
}

.slct-item.custom-input input[type='text']::placeholder {
    color: inherit;
}

.slct-item div:first-child span {
    display: flex;
    align-items: center;
    font-size: .8em;
    display: inline;
    opacity: 0;
}

.slct-item div:first-child .active {
    opacity: 1;
}
