.slider-radios-container {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    margin: 8px 0;
    background-color: var(--green-hlight);
    border-radius: 12px;
}

.slider-radios-container label {
    position: relative;
    font-weight: 500;
    cursor: pointer;
    z-index: 2;
    display: block;

    padding: 4px 20px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 12px;
}
