.green-radios-container {
    display: inline-flex;
    flex-direction: row;
    margin: 4px 0;
    background-color: var(--input-color);
    border-radius: var(--border-radius2);
}

.green-radios-container-label {
    position: relative;
    font-weight: 500;
    cursor: pointer;
    display: block;
    height: 100%;

    padding: 2px 16px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: var(--border-radius2);
}
