#schedule-dropdown-button {
    height: auto;
    width: auto;
    margin: 4px 0;
    padding: 12px 12px 11px 12px;
    background-color: var(--input-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#schedule-dropdown {
    position: absolute;
    z-index: 1000;
    padding: 8px 8px 4px 8px;
}

#schedule-dropdown label {
    margin: 2px;
    border-radius: 8px;
}

#schedule-dropdown fieldset {
    margin: 4px;
}

.day-picker {
    padding: 4px;
}

.day.picker-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 24px;
    height: 24px;
    border-radius: 8px;
}

.picker-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 2px;
    border-radius: 6px;
}

.picker-item.selected {
    background-color: var(--green-hlight);
    transition: all 0.3s ease-out;
}

.picker-item.active {
    background-color: var(--green-hlight2);
    transition: all 0.3s ease-out;
}

.picker-item.unselected:hover {
    background-color: var(--green-hlight2);
    transition: all 0.3s ease-out;
}

.picker-item.selected.active {
    background-color: var(--m-green);
    transition: all 0.3s ease-out;
}

.week-picker-container {
    display: flex;
    flex-direction: column;
    margin: 8px;
    margin-top: 16px;
    padding: 4px;
}

.week-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.week-day-picker {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.week-picker .picker-item {
    margin: 0 6px;
    padding: 0px 6px;
}

.week-day-picker .picker-item {
    margin: 0 2px;
    padding: 0px 6px;
}

#month-year-picker-container {
    margin: 8px;
    padding: 4px;
}

#month-picker-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

#month-picker {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#month-picker>div:first-child,
#month-picker>div:last-child {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#month-picker>div:first-child .picker-item {
    padding: 2px 4px;
    margin: 2px 4px;
}

#month-picker>div:last-child .picker-item {
    padding: 2px 4px;
    margin: 2px 4.5px;
}
