#schedule-dropdown-button {
    height: auto;
    width: auto;
    margin: 4px 0;
    padding: 10px 12px 13px 12px;
    background-color: var(--input-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#schedule-dropdown {
    position: absolute;
    z-index: 1000;
    padding: 8px 8px 4px 8px;
}

#schedule-dropdown label {
    margin: 2px;
    border-radius: 12px;
}

#schedule-dropdown fieldset {
    margin: 4px;
}

.day-picker {
    padding: 4px;
}

.day {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.selected-day {
    background-color: var(--btn-gray);
    color: var(--white-text);
    transition: all 0.3s ease-out;
}

.active-day {
    background-color: var(--green-hlight2);
    transition: all 0.3s ease-out;
}

.day:hover {
    background-color: var(--drop-down-hover-background);
    transition: all 0.3s ease-out;
}

.selected-day:hover {
    background-color: var(--btn-gray);
}

#week-selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 12px 4px 4px 4px;
}
