.input-container {
    background-color: var(--input-color);
    border-radius: 8px;
    padding: 10px 8px 10px 16px;
    margin: 4px 0;
    box-sizing: border-box;
    display: flex;
    transition: border .2s ease;
    position: relative;
    box-shadow: var(--input-drop-shadow);
    width: auto;
}

.input-container:focus-within {
    outline: none;
    box-shadow: var(--input-focus-drop-shadow);
}

.input-container input::placeholder {
    color: var(--input-placeholder);
}

.input-container input:focus::placeholder {
    transition: color .2s ease;
    color: var(--green-input-focus);
    opacity: 1;
}

.input-container input {
    width: 100%;
}

.menu-text-input-container {
    flex-grow: 1;
    cursor: text;
}

.menu-text-input-container>div {
    padding: 2px 2px;
    margin: 0 -4px;
    background-color: transparent;
    box-shadow: none;
    color: var(--main-text-gray);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: border .2s ease;
    position: relative;
}

.menu-text-input-container>div:focus-within {
    background-color: var(--input-color);
    box-shadow: var(--accessible-focus-drop-shadow);
    color: var(--input-placeholder);
}

.menu-text-input-container input {
    padding-left: 8px;
}

.menu-text-input-container button {
    margin: 0 4px;
}
