.lds-ring {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    animation: pop .3s ease;
}

@keyframes pop {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* ------------------------------- Form Errors ------------------------------ */

.error img {
    height: 1em;
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.error-container {
    margin-top: -4px;
    margin-bottom: 10px;
}

/* .error-container {
    position: relative;
    top: -12px;
    display: flex;
    height: 10px;
} */

.form-error {
    display: inline-block;
    font-size: 14px;
    color: var(--mute-red);
}

.form-error span {
    margin-left: 4px;
}

.form-error img {
    height: 1em;
    margin-left: 6px;
    margin-right: 5px;
    position: relative;
    top: 2px;
    text-align: left;
    animation: pop .22s ease;
}


@keyframes pop {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes show {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/* --------------------------- Window Loading Bar --------------------------- */

.loading-bar-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    z-index: 0;
    overflow: hidden;
    background-color: rgba(248, 248, 248, .4);
}

.loading-bar {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 97%;
    height: 3px;
    overflow: hidden;
}

.loading-bar-shimmer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: var(--mute-blue);
    animation: load .7s linear infinite;
    z-index: 2;
}

.loading-bar-edges {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(248, 248, 248, 100) 0%, rgba(248, 248, 248, 0) 1%, rgba(248, 248, 248, 0) 99%, rgba(248, 248, 248, 100) 100%);
    z-index: 3;
}

@keyframes load {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}
