.outerContainer {
  & > div[data-size='extra-small'] {
    background-color: transparent;
    box-shadow: none;
  }
}

.skeleton {
  width: 50%;
  height: 180px;
  border-radius: var(--border-radius3);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 1em;
  gap: 0.5em;
}

.pricesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricesHeader {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5em;
}

.subscriptionRadios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5em;
  margin: 1em 0 2em 0;
  width: 100%;

  input[type='radio'] + div {
    background-color: var(--btn-feather-light-gray);
    border: 1.5px solid transparent;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  input[type='radio']:checked + div {
    border: 2px solid var(--input-border-focus-color);
    box-shadow: var(--input-focus-drop-shadow);
  }

  input[type='radio']:not(:checked) + div:hover {
    background-color: var(--btn-feather-light-gray-hover);
    transition: all 0.2s ease-in-out;
  }

  label {
    flex: 1;
    flex-grow: 1;
    width: 50%;
  }
}

.subscriptionRadio {
  text-align: center;
  flex: 0.5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--border-radius3);
  padding: 0.5em 1em;
  cursor: pointer;
  height: 12em;
  gap: 0.5em;
  & > div {
    flex: 1;
    display: flex;
    flex-direction: column;

    &:nth-last-of-type(2) {
      flex: 3;
      justify-content: center;
      align-items: center;
    }

    &:nth-last-of-type(1) {
      flex: 2;

      * {
        color: var(--m-text-secondary);
      }
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  svg {
    width: 1em;
    height: 1em;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.375em;

    span {
      white-space: nowrap;
    }
  }
}

.error {
  margin-bottom: 1em;
}

.dogEar {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 3.5rem;
  height: 3.5rem;
  z-index: -1;
  transform: translate(50%, -50%) rotate(42deg);
  z-index: 2;
  color: var(--blue);
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--btn-gray);
    z-index: -1;
    opacity: 0.3;
  }

  span {
    position: absolute;
    top: 2.5em;
    left: 1.5em;
    font-size: 0.9em;
    transform: scale(0.9) rotate(-42deg);
  }
}

.nickname {
  font-size: 1.5em;
}

.unitAmount {
  font-size: 1.8em;
  span {
    font-size: 0.6em;
  }
}
