.account-wafers--container {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.account-wafers--container>div:first-child {
    padding-bottom: 20px;
}

.account-wafers--container>div:first-child>span * {
    font-size: 2rem;
    font-weight: 500;
}

.account-wafers--container>div:first-child>span {
    font-weight: 500;
    font-size: 1.1rem;
}

/* --------------------------------- Wafers --------------------------------- */
.account-wafers {
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 16px 10px 16px 10px;
    width: 100%;
    background-image: radial-gradient(ellipse at center, rgb(0, 0, 0, .15) 1%, var(--window) 70%);
}

.account-wafer {
    background-color: var(--logo-dark);
    border-radius: var(--border-radius4);
    padding: 10px 16px;
    min-width: 18ch;
    max-width: 18ch;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    box-shadow: var(--new-item-drop-shadow);
    cursor: pointer;
    transform: scale(1);
    transition: all .2s ease-out;
}

.account-wafer:focus-visible {
    outline: none;
    border-radius: var(--border-radius4);
    transform: scale(1.05);
}

.account-wafer.active {
    box-shadow: var(--active-wafer-drop-shadow);
}

.account-wafer.inactive:active {
    transform: scale(.95);
}

.account-wafer.inactive:hover {
    box-shadow: var(--wafer-hover-drop-shadow);
    transition: all .2s ease-out;
}

.account-wafer * {
    color: var(--white-text);
}

.account-wafer>div:first-child {
    margin-bottom: 2px;
    transform: scale(1.1);
}

.account-wafer>div:first-child img {
    filter: grayscale(1) contrast(130%);
}

.wafer-name--container {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    white-space: nowrap;
    padding-left: 4px;
    margin-left: -4px;
}

.wafer-name--container * {
    font-weight: 400;
}

.wafer-name--container.masked {
    mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

.wafer-name--container .spacer {
    visibility: hidden;
}

.scrolling-text:first-child {
    position: absolute;
    animation: infinite-scrolling1 14s linear infinite;
    animation-delay: 2s;
    display: flex;
}

@keyframes infinite-scrolling1 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-115%);
    }

    50.01% {
        transform: translateX(115%);
    }

    90% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.scrolling-text:not(:first-child) {
    z-index: 10;
    position: absolute;
    animation: infinite-scrolling2 14s linear infinite;
    animation-delay: 2s;
    display: flex;
    opacity: 0;
}

@keyframes infinite-scrolling2 {
    0% {
        opacity: 1;
        transform: translateX(115%);
    }

    90% {
        opacity: 1;
        transform: translateX(-115%);
    }

    100% {
        opacity: 1;
        transform: translateX(-115%);
    }
}

.wafer-meta--container {
    flex-grow: 1;
    opacity: .8;
    font-weight: 300;
    font-size: .8rem;
}

.wafer-balance--container * {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

/* ------------------------------ Transactions ------------------------------ */

.transactions--container {
    overflow: auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 12px;
    padding-right: 12px;
}

.transactions--header {
    display: contents;
}

/* Headers */
.transactions--header>div {
    font-weight: 500;
    padding-right: 0px;
    position: relative;
    background-color: var(--window);
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: var(--window) 0 8px 8px 2px;
}

/* Name Header */
.transactions--header>div:first-child {
    grid-column: 2;
    padding: 0 8px;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

/* Amount Header */
.transactions--header>div:last-child {
    grid-column: 3;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.transactions--container>div:nth-child(2n+3) {
    display: contents;
}

.month-delimiter {
    display: flex;
    align-items: flex-start;
    position: sticky;
    top: 28px;
    color: rgb(var(--charcoal-rgb), .5);
    background-color: var(--window);
    box-shadow: var(--window) 0 -8px 4px 2px;
}

/* Border bottom for all cells except last child */
.transactions--container>div:nth-child(2n+3):not(:last-child)>div::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1.25px;
    background-color: var(--subtle-border-color);
}

.transactions--container>div:nth-child(2n+3):hover>div {
    background-color: rgb(var(--m-green-values), .1);
    cursor: pointer;
}

/* Month Marker */
.transactions--container>div:nth-child(2n+2) {
    margin: 4px 0;
    padding: 4px 0;
    padding-right: 12px;
    padding-left: 4px;
}

/* name cells, amount cells */
.transactions--container>div:nth-child(2n+3)>div {
    margin: 4px 0;
    position: relative;
    z-index: 0;
}

/* all name cells */
.transactions--container>div:nth-child(2n+3)>div:first-child {
    padding: 4px 10px;
    display: flex;
    flex-direction: column;
}

/* Date sub text */
.transactions--container>div:nth-child(2n+3)>div:first-child span:last-child {
    opacity: .7;
}

/* all amount cells */
.transactions--container>div:nth-child(2n+3)>div:last-child {
    padding: 4px 10px 4px 0;
    display: flex;
    align-items: center;
}

.transactions--container>div:nth-child(2n+3):hover>div:first-child {
    border-top-left-radius: var(--border-radius1);
    border-bottom-left-radius: var(--border-radius1);
}

.transactions--container>div:nth-child(2n+3):hover>div:last-child {
    border-top-right-radius: var(--border-radius1);
    border-bottom-right-radius: var(--border-radius1);
}

.transactions--container .debit * {
    color: var(--green-dark3);
}

/* ------------------------------- Responsive ------------------------------- */

@media (max-width: 700px) {
    .account-wafers--container {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .account-wafers--container>div:first-child {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        margin-left: 4px;
        order: 2;
    }

    .account-wafers--container>div:first-child>span * {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: -1px;
    }

    .account-wafers--container>div:first-child>span {
        font-size: 1.2rem;
    }

    .account-wafers--container>div:first-child {
        padding-bottom: 0px;
    }

    .account-wafers {
        order: 1;
        margin-left: -12px;
    }

    .transactions--container {
        margin-right: -8px;
    }

    /* all name cells */
    .transactions--container>div:nth-child(2n+3)>div:first-child {
        padding-left: 4px;
        padding-right: 4px;
    }

    /* all amount cells */
    .transactions--container>div:nth-child(2n+3)>div:last-child {
        padding-right: 4px;
    }

    .transactions--header>div:first-child {
        padding-left: 4px;
    }

    .transactions--header>div:last-child {
        padding-right: 4px;
    }
}
