$wafer-height: 6rem;
$wafer-container-padding: .75rem;

@import '@styles/table-mixins.scss';

.account-wafers--container,
.skeleton-account-wafers--container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5em;
    width: auto;
    margin-top: 1em;
    padding: 1em 1.5em;
    background-color: var(--window2);

    .account-wafers--header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.125rem;
        flex-grow: 1;
        height: 100%;

        &>div {
            font-weight: var(--fw-regular);

            // total balance div
            &:nth-child(2) {
                font-size: 1.5em;
            }
        }

        button {
            font-size: .95rem;
            font-weight: var(--fw-light);
            display: flex;
            align-items: center;
            gap: .25em;
        }
    }

    &.extra-small {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }


    * {
        scrollbar-width: none;
    }
}

.single-account-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -1em;
    margin: .25em 0 1em 0;
    padding: 0 .5em 0 .375em;

    &>div {
        display: flex;
        align-items: center;
        gap: 1.25em;

        div {
            font-size: 1.125rem;

            &>div span {
                font-weight: var(--fw-bold);
            }
        }
    }
}

.add-accounts-btn--container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .75em;
}

.small-screen-account-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div {
        display: flex;
    }
}

#mosaic-wafers--container {
    background-color: var(--window-background-color);
    position: absolute;
    z-index: 200;
    border-radius: var(--border-radius3);

    &>div {
        position: absolute;
        top: 3em;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    &>button {
        position: absolute;
        top: 1em;
        right: 0em;
    }

    .mosaic-account-wafer--container {
        width: 100%;
        padding: 1em;
        border: 1.5px solid var(--border-color-ultra-dim);
        border-radius: var(--border-radius25);
        position: absolute;
        box-sizing: border-box;
        background-color: var(--window-background-color);
        transition: all .2s ease-out;

        &.active {
            border: 1.5px solid var(--blue-light-medium);
            transition: all .2s ease-out;
        }

        &:not(.active):hover {
            border: 1.5px solid var(--border-color);
            transition: all .2s ease-out;
        }
    }

    .mosaic-account-wafer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;

        &>div>button {
            width: 0;
            transition: width .2s ease-out;
        }

        &>div:hover>button {
            width: 1.5em;
            transition: width .2s ease-out;
            cursor: grip;
        }

        &>div:nth-child(2) {
            flex-grow: 1;
            display: flex;
            align-items: center;
            gap: .75em;

            span:last-child {
                display: flex;
                align-items: center;

                span {
                    font-size: .75em;
                }
            }

            &>div {
                display: flex;
                flex-direction: column;
            }
        }

        // Balance
        &>div:last-child {
            font-size: 1.125rem;
        }
    }
}

/* --------------------------------- Wafers --------------------------------- */
.account-wafers,
.skeleton-wafers {
    display: inline-flex;
    height: calc($wafer-height + 2 * $wafer-container-padding + .25em);
    gap: .75em;
    overflow-x: hidden;
    overflow-y: hidden;
    animation: make-scroll 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes make-scroll {
    0% {
        overflow-x: hidden;
    }

    100% {
        overflow-x: scroll;
    }
}

.account-wafers {
    z-index: 0;
    position: relative;
    padding: .125em 0;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        pointer-events: none;
        opacity: 0;
        z-index: -1;
        animation: fade-in-background-image .5s ease-in-out forwards;
        animation-delay: 1.1s;
    }
}

@keyframes fade-in-background-image {
    0% {
        animation: fade-in-background-image 2s ease-in-out forwards;
        animation-delay: 1s;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.skeleton-account-wafers {
    display: flex;
    gap: .75em;
}

/* Individual Wafers */
.account-wafer--container,
.skeleton-account-wafer--container {
    padding-top: .525em;
    padding-bottom: .525em;
    height: $wafer-height;
    border-radius: var(--border-radius5);
}

.account-wafer--container {
    position: absolute;
}

.skeleton-account-wafer--container {
    position: relative;

    .wafer-institution-logo {
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
        transform: translateY(-50%);
        width: min-content;
    }
}

.account-wafer,
.skeleton-account-wafer {
    border-radius: var(--border-radius4);
    position: absolute;
    inset: 0;
    padding: .525em 0;
    margin: 0 .25em;
}

.skeleton-account-wafer {
    background-color: var(--window);
}

.account-wafer {
    background-color: var(--wafer-background);
    box-shadow: var(--wafer-drop-shadow);
    display: flex;
    flex-direction: column;

    * {
        color: var(--white);
    }

    &>button:first-child {
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s ease-out;
    }

    /* User Interaction Styles */
    &:hover>button:first-child {
        visibility: visible;
        opacity: .5;
        transition: opacity .2s ease-out;
    }

    &.active::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -.75em;
        width: 35%;
        height: 2px;
        border-radius: var(--border-radius1);
        background-color: var(--active-wafer-indicator);
    }

    &.inactive {
        border: 1px solid var(--window-border);
        transform: scale(1);
        transition: all .2s ease-out;
    }

    &.inactive:hover,
    &.inactive:focus-visible {
        outline: none;
        transform: scale(1.03);
        transition: all .2s ease-out;
    }

    /* Wafer Text */
    &>div[role='button'] {
        flex-grow: 1;
        display: flex;
        gap: .125em;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
        padding-left: 1em;
        padding-right: 1em;

        .wafer-institution-logo {
            margin-left: -.125em;
            margin-top: .375em;
        }

        .wafer-name--container {
            position: relative;
            overflow: hidden;
            width: calc(100% - .375em);
            display: inline-flex;
            flex-direction: column;
            white-space: nowrap;
            margin-top: .25em;

            * {
                font-weight: var(--fw-regular);
            }

            &.masked {
                mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
            }

            .spacer {
                visibility: hidden;
            }
        }

        .wafer-meta--container {
            opacity: .8;
            font-size: .8rem;
            font-weight: var(--fw-feather-light);
            display: flex;
            gap: .25em;
            align-items: center;
        }

        .wafer-balance--container {
            flex-grow: 1;
            width: 100%;
            display: flex;
            align-items: flex-end;

            div * {
                font-size: 1rem;
                letter-spacing: .0625em;
                font-weight: var(--fw-feather-light);
            }
        }
    }
}


.scrolling-text:first-child {
    position: absolute;
    animation: infinite-scrolling1 14s linear infinite;
    animation-delay: 2s;
    display: flex;
}

@keyframes infinite-scrolling1 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-115%);
    }

    50.01% {
        transform: translateX(115%);
    }

    90% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.scrolling-text:not(:first-child) {
    z-index: 10;
    position: absolute;
    animation: infinite-scrolling2 14s linear infinite;
    animation-delay: 2s;
    display: flex;
    opacity: 0;
}

@keyframes infinite-scrolling2 {
    0% {
        opacity: 1;
        transform: translateX(115%);
    }

    90% {
        opacity: 1;
        transform: translateX(-115%);
    }

    100% {
        opacity: 1;
        transform: translateX(-115%);
    }
}

/* ------------------------------ Transactions ------------------------------ */

.transactions--container {
    flex-grow: 1;
    position: relative;
    min-height: 20em;
    background-color: inherit;

    &.extra-small {
        .transactions--table {
            right: -.75em;
            padding-right: 1em;
            row-gap: 1.25em;

            /* all name cells */
            &>div:nth-child(2n)>div:first-child {
                padding-left: .5em;
                padding-right: 3.5em;
            }

            /* all amount cells */
            &>div:nth-child(2n)>div:last-child {
                padding-right: .5em;
                justify-content: flex-end;
            }

            &>div:nth-child(2n):not(:last-child)>div {
                @include table-dividers(-.5em, false, 1.5px);
            }

        }
    }

    &.loading {
        border-radius: var(--border-radius3);
    }
}

.month-delimiter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: .375em;
    background-color: inherit;

    span {
        padding: 0 .75em 0 .25em;
        color: var(--m-text-quinary);
        background-color: inherit;

        &:first-child {
            position: relative;
            z-index: 0;
        }

        &:last-child {
            font-size: .875em;
            position: relative;
            z-index: 1;
        }
    }
}

/* Border bottom for all cells except last child */
$subtleBorderColor: var(--border-color-ultra-dim);
$borderRadius2: var(--border-radius2);

.transactions--table {
    position: absolute;
    z-index: 100;
    inset: 0;
    right: -1.5em;
    overflow: auto;
    scrollbar-gutter: stable;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: minmax(auto, 5rem);
    grid-template-rows: min-content;
    row-gap: .75em;
    padding-right: 2em;
    background-color: inherit;

    &>div:nth-child(2n) {
        display: contents;
    }

    &>div:nth-child(2n):not(:last-child)>div {
        @include table-dividers(-.375em, false, 1.5px);
    }

    &.extra-small.not-skeleton>div:nth-child(2n):hover>div {
        background-color: var(--transaction-hover-background-dim);
    }

    &.not-skeleton>div:nth-child(2n):hover>div {
        background-color: var(--transaction-hover-background);
        cursor: pointer;
    }

    &>div.transaction-shimmer:nth-child(2n + 3):hover>div {
        background-color: transparent;
        cursor: default;
    }

    &>div:nth-child(2n + 2) {
        padding: .25em 0;
        padding-right: .75em;
        padding-left: .25em;
    }

    &>div:nth-child(2n)>div {
        position: relative;
        z-index: 0;

        // Name, date, category, pending
        &:first-child {
            padding: .25em;
            padding-left: .75em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-top-left-radius: $borderRadius2;
            border-bottom-left-radius: $borderRadius2;

            &>div {
                display: flex;
                gap: .375em;
                align-items: baseline;
            }

            // Date and category emojis
            &>div:first-child {
                display: flex;
                align-items: center;

                span {
                    color: var(--m-text-secondary);
                }
            }

            &>div:last-child span {
                color: var(--m-text-quaternary);
                font-weight: var(--fw-light);
            }
        }

        // Amount
        &:last-child {
            padding: .25em;
            padding-right: .75em;
            display: flex;
            align-items: center;
            border-top-right-radius: $borderRadius2;
            border-bottom-right-radius: $borderRadius2;
        }
    }

    .debit * {
        color: var(--debit-text)
    }
}
