.account-wafers--container {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.account-wafers--container>div:first-child {
    padding-bottom: 20px;
}

.account-wafers--container>div:first-child>span * {
    font-size: 2rem;
    font-weight: 500;
}

.account-wafers--container>div:first-child>span {
    font-weight: 500;
    font-size: 1.1rem;
}

/* --------------------------------- Wafers --------------------------------- */
.account-wafers {
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 16px 10px 16px 10px;
    width: 100%;
    background-image: radial-gradient(ellipse at center, rgb(0, 0, 0, .15) 1%, var(--window) 70%);
}

.account-wafer {
    background-color: var(--logo-dark);
    border-radius: var(--border-radius4);
    padding: 10px 16px;
    min-width: 18ch;
    max-width: 18ch;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    box-shadow: var(--new-item-drop-shadow);
    cursor: pointer;
    transform: scale(1);
    transition: all .2s ease-out;
}

.account-wafer:focus-visible {
    outline: none;
    border-radius: var(--border-radius4);
    transform: scale(1.05);
}

.account-wafer.active {
    box-shadow: var(--active-wafer-drop-shadow);
}

.account-wafer.inactive:active {
    transform: scale(.95);
}

.account-wafer.inactive:hover {
    box-shadow: var(--wafer-hover-drop-shadow);
    transition: all .2s ease-out;
}

.account-wafer * {
    color: var(--white-text);
}

.account-wafer>div:first-child {
    margin-bottom: 2px;
    transform: scale(1.1);
}

.account-wafer>div:first-child img {
    filter: grayscale(1) contrast(130%);
}

.wafer-name--container {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    white-space: nowrap;
    padding-left: 4px;
    margin-left: -4px;
}

.wafer-name--container * {
    font-weight: 400;
}

.wafer-name--container.masked {
    mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

.wafer-name--container .spacer {
    visibility: hidden;
}

.scrolling-text:first-child {
    position: absolute;
    animation: infinite-scrolling1 14s linear infinite;
    animation-delay: 2s;
    display: flex;
}

@keyframes infinite-scrolling1 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-115%);
    }

    50.01% {
        transform: translateX(115%);
    }

    90% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.scrolling-text:not(:first-child) {
    z-index: 10;
    position: absolute;
    animation: infinite-scrolling2 14s linear infinite;
    animation-delay: 2s;
    display: flex;
    opacity: 0;
}

@keyframes infinite-scrolling2 {
    0% {
        opacity: 1;
        transform: translateX(115%);
    }

    90% {
        opacity: 1;
        transform: translateX(-115%);
    }

    100% {
        opacity: 1;
        transform: translateX(-115%);
    }
}

.wafer-meta--container {
    flex-grow: 1;
    opacity: .8;
    font-weight: 300;
    font-size: .8rem;
}

.wafer-balance--container * {
    font-size: 1.1rem;
}

/* ------------------------------ Transactions ------------------------------ */

.month-delimiter {
    position: absolute;
    left: -44px;
    opacity: .5;
}

.transactions-table {
    margin-top: 4px;
    padding-left: 44px;
    width: 100%;
    position: relative;
    overflow: auto;
    height: 100px;
}

.transactions-table hr {
    margin: 0;
}

.transactions-table tr {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 8px;
    padding: 4px 0;
    margin: 2px 0;
}

.transactions-table thead {
    position: sticky;
    top: 0px;
}

.transactions-table thead * {
    font-weight: 500;
}

.transactions-table tbody tr {
    cursor: pointer;
    transition: background-color .2s ease-out;
}

.transactions-table tbody tr:hover {
    background-color: rgb(var(--m-green-values), .1);
    transition: background-color .2s ease-out;
    border-radius: var(--border-radius1);
}

.transactions-table tbody tr td:first-child,
.transactions-table thead tr th:first-child {
    flex: 0 1 90%;
    padding: 0px 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.transactions-table tbody tr td:last-child,
.transactions-table thead tr th:last-child {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0px 16px;
    display: flex;
    align-items: flex-start;
}

.transactions-table tbody tr:last-of-type+hr {
    visibility: collapse;
}

.transactions-table .debit * {
    color: var(--green-dark3);
}

/* ------------------------------- Responsive ------------------------------- */

@media (max-width: 700px) {
    .account-wafers--container {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .account-wafers--container>div:first-child {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        margin-left: 4px;
        order: 2;
    }

    .account-wafers--container>div:first-child>span * {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: -1px;
    }

    .account-wafers--container>div:first-child>span {
        font-size: 1.2rem;
    }

    .account-wafers--container>div:first-child {
        padding-bottom: 0px;
    }

    .account-wafers {
        order: 1;
        margin-left: -12px;
    }

    .transactions-table tbody tr td:first-child,
    .transactions-table thead tr th:first-child {
        padding-left: 8px;
        padding-right: 8px;
    }

    .transactions-table tbody tr td:last-child,
    .transactions-table thead tr th:last-child {
        padding-left: 8px;
        padding-right: 8px;
    }

}
