.account-wafers--container {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 16px;
    align-self: flex-start;
    animation: delay-auto-width .5s ease-in-out forwards;
    animation-delay: 1s;
    width: 100%;
}

@keyframes delay-auto-width {
    0% {
        width: 100%;
    }

    100% {
        width: auto;
    }
}


.account-wafers--container>div:first-child {
    padding-top: 28px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.account-wafers--container>div:first-child>div {
    font-weight: 500;
    font-size: 30px;
}

/* --------------------------------- Wafers --------------------------------- */
.account-wafers,
.shimmering-account-wafers {
    display: inline-flex;
    gap: 12px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 16px 14px 16px 14px;
}

@keyframes make-scroll {
    0% {
        overflow-x: hidden;
    }

    100% {
        overflow-x: scroll;
    }
}

.account-wafers {
    mask-image: linear-gradient(to right, transparent, black 3%, black 97%, transparent);
    z-index: 1;
    position: relative;
}

.account-wafers::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: radial-gradient(ellipse at center, rgb(0, 0, 0, .15) 1%, var(--window) 70%);
    opacity: 0;
    z-index: 0;
    animation: fade-in-background-image .5s ease-in-out forwards;
    animation-delay: 1.1s;
}

@keyframes fade-in-background-image {
    0% {
        animation: fade-in-background-image 2s ease-in-out forwards;
        animation-delay: 1s;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.account-wafer,
.shimmering-account-wafer {
    background-color: var(--logo-dark);
    border-radius: var(--border-radius4);
    padding: 10px 16px;
    min-width: 18ch;
    max-width: 18ch;
    height: 6rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    cursor: pointer;
    transition: box-shadow .2s ease-out;
}

.account-wafer {
    opacity: 0;
    box-shadow: var(--new-item-drop-shadow);
    animation: slide-in .9s cubic-bezier(.14, .74, .39, .94) forwards, fade-in .3s ease-in-out forwards;
    animation-delay: calc(var(--wafer-index) * 100ms);
    transform: scale(1)
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: scale(1) translateX(calc(30% + var(--wafer-index) * 5%));
    }

    100% {
        transform: scale(1) translateX(0%);
    }
}

@keyframes active-wafer-click {
    0% {
        opacity: 1;
        transform: scale(1) translateX(0%);
    }

    50% {
        opacity: 1;
        transform: scale(.95) translateX(0%);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateX(0%);
    }
}

.account-wafer:focus-visible {
    outline: none;
    border-radius: var(--border-radius4);
    transform: scale(1.05);
}

.account-wafer.active {
    box-shadow: var(--active-wafer-drop-shadow);
}

.account-wafer.inactive:active {
    animation: fade-in, slide-in, active-wafer-click .5s ease-out forwards;
}

.account-wafer.inactive:hover {
    box-shadow: var(--wafer-hover-drop-shadow);
    transition: box-shadow .2s ease-out;
}

.account-wafer * {
    color: var(--white-text);
}

.account-wafer>div:first-child {
    margin-bottom: 2px;
    transform: scale(1.1);
}

.account-wafer>div:first-child img {
    filter: grayscale(1) contrast(130%);
}

.wafer-name--container {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    white-space: nowrap;
    padding-left: 4px;
    margin-left: -4px;
}

.wafer-name--container * {
    font-weight: 400;
}

.wafer-name--container.masked {
    mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

.wafer-name--container .spacer {
    visibility: hidden;
}

.scrolling-text:first-child {
    position: absolute;
    animation: infinite-scrolling1 14s linear infinite;
    animation-delay: 2s;
    display: flex;
}

@keyframes infinite-scrolling1 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-115%);
    }

    50.01% {
        transform: translateX(115%);
    }

    90% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.scrolling-text:not(:first-child) {
    z-index: 10;
    position: absolute;
    animation: infinite-scrolling2 14s linear infinite;
    animation-delay: 2s;
    display: flex;
    opacity: 0;
}

@keyframes infinite-scrolling2 {
    0% {
        opacity: 1;
        transform: translateX(115%);
    }

    90% {
        opacity: 1;
        transform: translateX(-115%);
    }

    100% {
        opacity: 1;
        transform: translateX(-115%);
    }
}

.wafer-meta--container {
    flex-grow: 1;
    opacity: .8;
    font-weight: 300;
    font-size: .8rem;
}

.wafer-balance--container * {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

/* ------------------------------ Transactions ------------------------------ */

.transactions--container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.transactions--container.loading {
    border-radius: var(--border-radius3);
}

.transactions--container.fetching-more::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 52px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, .07);
    animation: fetching-more .7s ease-in-out forwards;
}

@keyframes fetching-more {
    0% {
        transform: scale(0);
        opacity: 1;
        box-shadow: rgb(0, 0, 0, .04) 0 0 0px 8px;
    }

    100% {
        transform: scale(14);
        opacity: 0;
        box-shadow: rgb(0, 0, 0, .04) 0 0 0px 8px;
    }
}


.transactions--table {
    position: absolute;
    inset: 0;
    overflow: auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: minmax(auto, 80px);
    grid-template-rows: min-content;
    row-gap: 8px;
    margin-top: 12px;
    padding-right: 12px;
    mask-image: linear-gradient(to bottom, black 0%, black calc(100% - 12px), transparent);
}

.transactions--header {
    display: contents;
}

/* Headers */
.transactions--header>div {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .5px;
    background-color: var(--window);
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: var(--window) 0 8px 8px 2px;
}

/* Name Header */
.transactions--header>div:first-child {
    grid-column: 2;
    padding: 0 10px 0px 12px;
}

/* Amount Header */
.transactions--header>div:last-child {
    grid-column: 3;
    padding-bottom: 0px;
}

.transactions--table>div:nth-child(2n+3) {
    display: contents;
}

.month-delimiter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 28px;
}

.month-delimiter span {
    padding-right: 6px;
    color: rgb(var(--charcoal-rgb), .5);
    background-color: var(--window);
    box-shadow: var(--window) 0 -2px 4px 2px;
}

.month-delimiter span>:first-child {
    position: relative;
    z-index: 0;
}

.month-delimiter span>:last-child {
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.transactions--table>div:last-child,
.transactions--table>div:last-child>div {
    margin-bottom: 12px;
}

/* Border bottom for all cells except last child */
.transactions--table>div:nth-child(2n+3):not(:last-child)>div::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1.25px;
    background-color: var(--subtle-border-color);
}

.transactions--table>div:nth-child(2n+3):hover>div {
    background-color: rgb(var(--m-green-values), .1);
    cursor: pointer;
}

.transactions--table>div.transaction-shimmer:nth-child(2n+3):hover>div {
    background-color: transparent;
    cursor: default;
}

/* Month Marker */
.transactions--table>div:nth-child(2n+2) {
    padding: 4px 0;
    padding-right: 12px;
    padding-left: 4px;
}

/* name cells, amount cells */
.transactions--table>div:nth-child(2n+3)>div {
    position: relative;
    cursor: pointer;
    z-index: 0;
}

/* all name cells */
.transactions--table>div:nth-child(2n+3)>div:first-child {
    padding: 4px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: var(--border-radius2);
    border-bottom-left-radius: var(--border-radius2);
}

/* Date sub text */
.transactions--table>div:nth-child(2n+3)>div:first-child span:last-child {
    opacity: .7;
}

/* all amount cells */
.transactions--table>div:nth-child(2n+3)>div:last-child {
    padding: 4px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    border-top-right-radius: var(--border-radius2);
    border-bottom-right-radius: var(--border-radius2);
}

.transactions--table .debit * {
    color: var(--green-dark3);
}

.refresh-btn--container {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------- Responsive ------------------------------- */

@media (max-width: 700px) {
    .account-wafers--container {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .account-wafers--container>div:first-child {
        padding-top: 0px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 8px;
        margin-left: 4px;
        margin-bottom: 4px;
        order: 2;
    }

    /* All accounts balance */
    .account-wafers--container>div:first-child>div {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: -2px;
    }

    .account-wafers--container>div:first-child {
        padding-bottom: 0px;
    }

    .account-wafers {
        order: 1;
        margin-left: -12px;
    }

    .transactions--table {
        margin-right: -8px;
    }

    /* all name cells */
    .transactions--table>div:nth-child(2n+3)>div:first-child {
        padding-left: 8px;
    }

    /* all amount cells */
    .transactions--table>div:nth-child(2n+3)>div:last-child {
        padding-right: 8px;
    }

    .transactions--header>div:first-child {
        padding-left: 8px;
    }

    .transactions--header>div:last-child {
        padding-right: 8px;
    }
}
