@import '@styles/text.scss';

$wafer-height: 6rem;
$wafer-container-padding: .75rem;

.account-wafers--container,
.skeleton-account-wafers--container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5em;
    animation: delay-auto-width .5s ease-in-out forwards;
    animation-delay: 1s;
    margin-top: 1.5em;
    padding-top: 0;
    padding-bottom: 0;

    .account-wafers--header h3 {
        font-weight: 400;
    }
}

@keyframes delay-auto-width {
    0% {
        width: 100%;
    }

    100% {
        width: auto;
    }
}

.skeleton-account-wafers--container>div:first-child,
.account-wafers--container>div:first-child {
    display: flex;
    margin-left: .75em;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.skeleton-account-wafers--container>div:first-child>div,
.account-wafers--container>div:first-child>div {
    font-weight: 500;
    font-size: 1.375em;
}

.add-accounts-btn--container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .75em;
}

/* --------------------------------- Wafers --------------------------------- */
.account-wafers,
.skeleton-wafers {
    display: inline-flex;
    height: calc($wafer-height + 2 * $wafer-container-padding - .25em);
    gap: .75em;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: $wafer-container-padding 0 $wafer-container-padding .25em;
    animation: make-scroll 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes make-scroll {
    0% {
        overflow-x: hidden;
    }

    100% {
        overflow-x: scroll;
    }
}

.account-wafers {
    z-index: 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        pointer-events: none;
        opacity: 0;
        z-index: -1;
        animation: fade-in-background-image .5s ease-in-out forwards;
        animation-delay: 1.1s;
    }
}

@keyframes fade-in-background-image {
    0% {
        animation: fade-in-background-image 2s ease-in-out forwards;
        animation-delay: 1s;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.skeleton-account-wafers {
    display: flex;
    gap: .75em;
}

/* Individual Wafers */
.account-wafer--container,
.skeleton-account-wafer--container {
    padding-top: .525em;
    padding-bottom: .525em;
    height: $wafer-height;
    border-radius: var(--border-radius5);
}

.account-wafer--container {
    position: absolute;
}

.skeleton-account-wafer--container {
    position: relative;

    .wafer-institution-logo {
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
        transform: translateY(-50%);
        width: min-content;
    }
}

.skeleton-account-wafer,
.account-wafer {
    background-color: var(--window);
    border-radius: var(--border-radius4);
    position: absolute;
    inset: 0;
    padding: .525em 0;
    margin: 0 .25em;
}

.account-wafer {
    box-shadow: var(--new-item-drop-shadow);
    display: flex;
    flex-direction: column;

    &>button:first-child {
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s ease-out;
    }

    /* User Interaction Styles */
    &:hover>button:first-child {
        visibility: visible;
        opacity: .5;
        transition: opacity .2s ease-out;
    }

    &.active {
        // box-shadow: var(--active-wafer-drop-shadow);
        border: 1.5px solid rgb(var(--main-color-values), .3);
        border-radius: var(--border-radius4);
        transform: scale(1.01);

        &:focus-visible {
            transition: all .2s ease-out;
            transform: scale(1.02);
        }
    }

    &.inactive {
        transform: scale(1);
        transition: all .2s ease-out;
    }

    &.inactive:hover,
    &.inactive:focus-visible {
        outline: none;
        transform: scale(1.02);
        transition: all .2s ease-out;
        border-radius: var(--border-radius4);
    }

    /* Wafer Text */
    &>div[role='button'] {
        flex-grow: 1;
        display: flex;
        gap: .125em;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
        padding-left: 1em;
        padding-right: 1em;

        .wafer-institution-logo {
            margin-left: -.125em;
            margin-bottom: .375em;
        }

        .wafer-name--container {
            position: relative;
            overflow: hidden;
            width: calc(100% - .375em);
            display: inline-flex;
            flex-direction: column;
            white-space: nowrap;

            * {
                font-weight: 500;
            }

            &.masked {
                mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
            }

            .spacer {
                visibility: hidden;
            }
        }

        .wafer-meta--container {
            opacity: .8;
            font-size: .8rem;
            display: flex;
            gap: .25em;
            align-items: center;
        }

        .wafer-balance--container {
            flex-grow: 1;
            width: 100%;
            display: flex;
            align-items: flex-end;

            div * {
                font-size: 1rem;
                letter-spacing: .0625em;
                font-weight: 500;
            }
        }
    }
}


.scrolling-text:first-child {
    position: absolute;
    animation: infinite-scrolling1 14s linear infinite;
    animation-delay: 2s;
    display: flex;
}

@keyframes infinite-scrolling1 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-115%);
    }

    50.01% {
        transform: translateX(115%);
    }

    90% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.scrolling-text:not(:first-child) {
    z-index: 10;
    position: absolute;
    animation: infinite-scrolling2 14s linear infinite;
    animation-delay: 2s;
    display: flex;
    opacity: 0;
}

@keyframes infinite-scrolling2 {
    0% {
        opacity: 1;
        transform: translateX(115%);
    }

    90% {
        opacity: 1;
        transform: translateX(-115%);
    }

    100% {
        opacity: 1;
        transform: translateX(-115%);
    }
}

/* ------------------------------ Transactions ------------------------------ */

.transactions--container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    &.loading {
        border-radius: var(--border-radius3);
    }
}

.month-delimiter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: .375em;

    span {
        padding: 0 .75em 0 .25em;
        color: rgb(var(--charcoal-rgb), .5);
        background-color: var(--window);
        box-shadow: var(--window) 0 0 .25em .125em;

        &:first-child {
            position: relative;
            z-index: 0;
        }

        &:last-child {
            font-size: .75em;
            position: relative;
            z-index: 1;
            background-color: transparent;
        }
    }
}

/* Border bottom for all cells except last child */
$subtleBorderColor: var(--subtle-border-color);
$borderRadius2: var(--border-radius2);

.transactions--table {
    position: absolute;
    z-index: 100;
    inset: 0;
    overflow: auto;
    scrollbar-gutter: stable;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: minmax(auto, 5rem);
    grid-template-rows: min-content;
    row-gap: .75em;
    padding: .75em .75em .5em .5em;

    &>div:nth-child(2n) {
        display: contents;
    }

    &>div:nth-child(2n):not(:last-child)>div::after {
        content: '';
        position: absolute;
        bottom: -.375em;
        left: 0;
        width: 100%;
        height: 1.25px;
        background-color: $subtleBorderColor;
    }

    &.not-skeleton>div:nth-child(2n):hover>div {
        background-color: rgb($charcoal, 0.05);
        cursor: pointer;
    }

    >div.transaction-shimmer:nth-child(2n + 3):hover>div {
        background-color: transparent;
        cursor: default;
    }

    >div:nth-child(2n + 2) {
        padding: .25em 0;
        padding-right: .75em;
        padding-left: .25em;
    }

    >div:nth-child(2n)>div {
        position: relative;
        z-index: 0;

        &:first-child {
            padding: .25em;
            padding-left: .75em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-top-left-radius: $borderRadius2;
            border-bottom-left-radius: $borderRadius2;

            span:last-child {
                opacity: 0.4;
                font-weight: 400;
            }
        }

        &:last-child {
            padding: .25em;
            padding-right: .75em;
            display: flex;
            align-items: center;
            border-top-right-radius: $borderRadius2;
            border-bottom-right-radius: $borderRadius2;
        }
    }

    .debit * {
        color: $debit-text
    }

    // Spacer
    &>div:last-child::after {
        content: '';
        height: .25em;
        bottom: -.25em;
    }
}

/* ------------------------------- Responsive ------------------------------- */

@media (max-width: 700px) {
    .wafer-balance--container {
        margin-top: 0;
    }

    .account-wafer--container,
    .skeleton-account-wafer--container {
        height: calc($wafer-height - .5em);
    }


    .account-wafers--container,
    .skeleton-account-wafers--container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .account-wafers,
    .skeleton-account-wafers {
        padding: $wafer-container-padding 0;
        height: calc($wafer-height + 2 * $wafer-container-padding - .5em);
    }

    .account-wafers--container {

        // Balance header container
        &>div:first-child {
            padding-top: 0;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-start;
            gap: .5em;
            margin-left: .25em;
            margin-bottom: 1em;
            order: 2;


        }

        // All accounts balance */
        &>div:first-child>div {
            font-weight: 500;
        }

        &>div:first-child {
            padding-bottom: 0;
        }

        .account-wafers {
            order: 1;
        }
    }

    .transactions--header {
        margin-top: 1em;
        padding-right: 2.25em;

        &>div {
            font-size: .875em;
        }
    }

    .transactions--table {

        /* all name cells */
        &>div:nth-child(2n)>div:first-child {
            padding-left: .5em;
            padding-right: 1.25em;
        }

        /* all amount cells */
        &>div:nth-child(2n)>div:last-child {
            padding-right: .5em;
        }
    }
}
