.accountsNav {
    position: relative;
    min-height: 2.5em;
    margin: .5em 0 1em 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    &[data-size='small'] {
        margin: 0;
        margin: 0;
    }

    &>div:first-child {
        position: absolute;
        inset: 0;
        z-index: 0;
        display: flex;
        align-items: center;
        gap: 1em;
        margin: 0;

        &[data-dark='false'] {
            li[aria-current="false"] {
                background-color: var(--btn-light-gray);
            }

            li[aria-current="false"]:hover {
                background-color: var(--btn-light-gray-hover);
            }
        }
    }

    ul {
        display: flex;
        justify-content: flex-start;
        gap: .625em;
        margin: .5em 0em;

        li {
            padding: .125em 1em;
            font-weight: var(--fw-regular);
            background-color: var(--btn-feather-light-gray);
            border-radius: var(--border-radius3);
            transition: background-color 0.2s ease-in-out;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 1;
            gap: .5em;
            min-width: 4ch;
        }

        li[aria-current="true"],
        li[aria-current="true"] span {
            background-color: transparent;
            transition: background-color 0.5s ease-in-out;
            color: var(--white);
        }

        li:not([aria-current="true"]):hover {
            background-color: var(--btn-feather-light-gray-hover);
            transition: background-color 0.5s ease-in-out;
        }
    }
}

.accountFilters {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    border-radius: var(--border-radius25);
    visibility: hidden;
    background-color: inherit;
    position: relative;
    z-index: 10;
    background-color: var(--window-background-color);

    &[data-size='extra-small'] {
        background-color: var(--window-background-color-small-screen);
    }

    &[aria-expanded='true'] {
        visibility: visible;
        padding: .75em 0 .5em 0;
    }

    button:last-child {
        margin-left: .5em;
    }
}

.accountFiltersDivider {
    height: 1.25em;
    width: .125em;
    background-color: var(--border-color-dim);
}
