#accounts-window {
    width: 100%;
    max-width: 62.5rem;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &>div:first-child {
        margin-bottom: 1em;
    }

    .window {
        position: relative;
    }
}

#accounts-header-nav {

    ul {
        display: flex;
        justify-content: flex-start;
        margin: .25em 0 .25em 0;
        position: relative;
        gap: .5em;


        li {
            padding: .125em 1em;
            font-weight: var(--fw-regular);
            background-color: var(--icon-light-gray);
            border-radius: var(--border-radius3);
            transition: background-color 0.2s ease-in-out;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            z-index: 1;
            gap: .5em;
        }

        li[aria-current="true"] {
            background-color: transparent;
            transition: background-color 0.5s ease-in-out;
            color: var(--main-dark);
        }

        li:not([aria-current="true"]):hover {
            background-color: var(--icon-hover-light-gray);
            transition: background-color 0.5s ease-in-out;
        }
    }
}


@media (max-width: 600px) {

    #accounts-header-nav {

        ul li svg {
            visibility: collapse;
            width: 0;
            margin: 0;
        }

        ul li {
            gap: 0;
        }
    }
}

@media (max-width: 450px) {

    #accounts-window .window-header {
        visibility: collapse;
        padding: 0;
        height: 0;
    }
}
