#accounts {
    width: 100%;
    max-width: 62.5rem;
    display: flex;
    flex-direction: column;

    &>div:last-child {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        position: relative;
        z-index: 0;
        margin-top: 1em;
    }

    h2 {
        font-weight: var(--fw-extra-bold);
        padding-bottom: .25em;
        font-size: 1.5rem;
    }

    .window,
    .window-no-background {
        position: relative;
    }

    #accounts-filter {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        border-radius: var(--border-radius25);
        visibility: hidden;
        background-color: var(--window-background-color);
        position: relative;
        z-index: 10;

        &[aria-expanded='true'] {
            visibility: visible;
            padding: .75em 0 .5em 0;
        }

        .divider {
            height: 1.25em;
            width: .125em;
            background-color: var(--border-color-dim);
        }

        button:not(:last-child) {
            padding: .125em 1em;
            color: var(--m-text-secondary);
            border: 1px solid var(--border-color);
            border-radius: 1em;
            transition: all 0.2s ease-in-out;

            &:hover {
                border-color: var(--m-text-tirtiary);
                transition: all 0.2s ease-in-out;
            }

            &.selected {
                border-color: var(--blue-sat);
                transition: all 0.2s ease-in-out;
            }
        }

        button:last-child {
            margin-left: .5em;
        }
    }

    &--nav {
        position: relative;
        min-height: 2.5em;

        &>div:first-child {
            position: absolute;
            inset: 0;
            z-index: 0;
            display: flex;
            align-items: center;
            gap: 1em;
        }

        &.small,
        &.extra-small {
            margin: 0;
        }

        ul {
            display: flex;
            justify-content: flex-start;
            gap: .625em;
            margin: .5em 1em .5em 0;

            li {
                padding: .125em 1em;
                font-weight: var(--fw-regular);
                background-color: var(--btn-light-gray);
                border-radius: var(--border-radius3);
                transition: background-color 0.2s ease-in-out;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 1;
                gap: .5em;
                min-width: 4ch;
            }

            li[aria-current="true"],
            li[aria-current="true"] span {
                background-color: transparent;
                transition: background-color 0.5s ease-in-out;
                color: var(--white);
            }

            li:not([aria-current="true"]):hover {
                background-color: var(--btn-light-gray-hover);
                transition: background-color 0.5s ease-in-out;
            }
        }
    }

}
