#accounts-window {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

#accounts-window ul {
    display: flex;
    justify-content: flex-start;
    margin: 4px 0 4px 0;
    position: relative;
    gap: 8px;
}

#accounts-window ul li {
    padding: 2px 16px;
    font-weight: 400;
    background-color: var(--icon-light-gray);
    border-radius: var(--border-radius3);
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    gap: 8px;
}

#accounts-window ul li[aria-current="true"] {
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
    color: var(--green-dark4);
}

#accounts-window ul li:not([aria-current="true"]):hover {
    background-color: var(--icon-hover-light-gray);
    transition: background-color 0.5s ease-in-out;
}

@media (max-width: 600px) {
    #accounts-header-nav svg {
        visibility: collapse;
        width: 0;
        margin: 0;
    }
}
