#accounts-window {
    width: 100%;
    max-width: 62.5rem;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &>div:first-child {
        margin-bottom: .75em;
    }

    .window {
        position: relative;
    }
}

#accounts-header-nav {

    ul {
        display: flex;
        justify-content: flex-start;
        margin: .25em 0 .25em 0;
        position: relative;
        gap: .5em;

        li {
            padding: .125em 1em;
            font-weight: var(--fw-regular);
            background-color: var(--btn-feather-light-gray);
            border-radius: var(--border-radius3);
            transition: background-color 0.2s ease-in-out;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            z-index: 1;
            gap: .5em;
        }

        li[aria-current="true"] {
            background-color: transparent;
            transition: background-color 0.5s ease-in-out;
            color: var(--blue-medium-dark);
        }

        li:not([aria-current="true"]):hover {
            background-color: var(--btn-feather-light-gray-hover);
            transition: background-color 0.5s ease-in-out;
        }

        &>:last-child {
            margin-left: .5em;
        }
    }
}
