{% load static %}
<header>
    <div class="header-container">
        <div class="left-container">
            <div class="logo-container">
                <img src="{% static 'images/logo.svg' %}" />
            </div>
        </div>
        <div class="right-container">
            <nav class="nav-container">
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
            <div>
                {% if user.is_authenticated %}
                <a href="/">
                    {% else %}
                    <a href="/">
                        {% endif %}
                        <button class="auth-button">
                            {% if user.is_authenticated %}
                            <span>Logout</span>
                            {% else %}
                            <span>Sign In</span>
                            {% endif %}
                            <svg width="16" height="16" viewBox="4 0 20 18">
                                <path class="path" d="M9 10L19 10" stroke="white" stroke-width="2" fill="none" />
                                <path class="path" d="M15 15L20 10L15 5" stroke="white" stroke-width="2" fill="none" />
                                <path class="path" d="M15 5L20 10L15 15" stroke="white" stroke-width="2" fill="none" />
                            </svg>
                        </button>
                    </a>
            </div>
        </div>
    </div>
</header>
