env
*/.env
*__pycache__
.flake8
certs
.vscode
inspiration
.DS_STORE
./ledget/subscription_use_cases/
**/node_modules
sandbox.ipynb
.ipynb_checkpoints
**/logs
finicity-openapi
**/out
**/finicity_cli_commands.txt
