env
*__pycache__
**/certs*
inspiration
.DS_STORE
**/node_modules
**/logs
out
secrets
scratch.py
**/jwks.json
project-configuration.yaml

# System Files
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# compiled output
dist
tmp
/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
ngrok.log
sketch.ipynb
**/token.json
**/fixtures
