body {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--window);
}

#top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 44px;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--window);
    box-shadow: rgba(149, 157, 165, 0.7) 1px 0px 2px;
    z-index: 0;
}

#top-header * {
    font-size: 14px;
}

#top-header a {
    border-bottom: 1.5px solid var(--m-text-gray);
    transition: all 0.3s ease-out;
}

#top-header a:hover {
    border-bottom: 1.5px solid var(--m-green);
    color: var(--m-green);
    transition: all 0.3s ease-out;
}

#top-header img {
    height: 2.2em;
}

.page {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.window {
    width: 85%;
    max-width: 325px;
    font-size: 14px;
    border-radius: var(--border-radius3);
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 0px 2px;
    padding: 32px 40px;
    position: relative;
    margin-bottom: 40px;
}

.wrapper-window {
    width: 85%;
    max-width: 400px;
    border-radius: var(--border-radius3);
    position: relative;
}

.nested-window {
    font-size: 14px;
    border-radius: var(--border-radius3);
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 0px 2px;
    padding: 32px 40px;
}

.window-header {
    margin-bottom: 24px;
}

.subheader {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 90%;
}

.subheader span {
    opacity: .8;
}

@media only screen and (max-width: 700px) {
    .window {
        width: 80%;
        max-width: 100%;
        padding: 0;
        height: auto;
        border-radius: 0px;
        box-shadow: none;
        position: static;
    }

    .subheader {
        display: block;
        width: 100%;
    }
}

#remember-me-checkbox-container {
    margin-top: -8px;
    margin-bottom: 2px;
}


button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    white-space: nowrap;
    border-radius: inherit;
    display: flex;
    align-items: center;
    padding: 0;
}

.btn-icon-left svg {
    margin-right: 8px;
}


/* --------------------------------- Inputs --------------------------------- */
label {
    font-weight: 500;
    margin-bottom: 4px;
    margin-left: 0px;
    display: block;
}

input {
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input:focus {
    outline: none;
}

.spaced-input {
    margin: 8px 0;
}

.split-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.split-inputs .input-container {
    width: 48.5%;
    margin: 0;
}

/* ----------------------------- Social Login ----------------------------- */

#social-login-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

#social-login-header:before,
#social-login-header:after {
    content: "";
    flex: 1 1;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin: auto;
}

#social-login-header:before {
    margin-right: 10px
}

#social-login-header:after {
    margin-left: 10px
}

#social-login-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#social-login-form button:first-child {
    margin-right: 8px;
}

#social-login-form button:last-child {
    margin-left: 8px;
}

/* ---------------------------- Misc ---------------------------- */

.below-window-container {
    text-align: center;
    font-size: 14px;
    height: 0;
    position: relative;
    bottom: -48px;
}

.window p {
    font-weight: 500;
    margin-right: 16px;
    margin-bottom: 32px;
}
