body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--window-background-color-portal);
}

#top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 2.75rem;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--window);
    box-shadow: rgba(149, 157, 165, 0.7) 1px 0px 2px;
    z-index: 100;
}

#top-header * {
    font-size: .875rem;
}

#top-header img {
    height: 2.2em;
}

.page {
    flex-grow: 1;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--window-background-color-portal);
}

.window {
    width: 85%;
    max-width: 20rem;
    font-size: .875rem;
    border-radius: var(--border-radius3);
    border: 1.5px solid var(--window-border);
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    box-shadow: var(--window-drop-shadow2);
    padding: 2rem 2.25rem;
    margin: 1rem 0;
    position: relative;
    background-color: var(--window);
}

.wrapper-window {
    width: 85%;
    max-width: 25rem;
    border-radius: var(--border-radius3);
    position: relative;
}

.nested-window {
    font-size: .875rem;
    border-radius: var(--border-radius3);
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    box-shadow: var(--window-drop-shadow);
    background-color: var(--window);
    padding: 2rem 2.5rem;
}

.window-header {
    margin-bottom: 1.5rem;
}

.subheader {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 90%;
}

.subheader span {
    opacity: .8;
}

@media only screen and (max-width: 700px) {
    .window {
        width: 80%;
        max-width: 100%;
        padding: 0;
        height: auto;
        border-radius: 0;
        box-shadow: none;
        position: static;
        border: none;
    }

    .subheader {
        display: block;
        width: 100%;
    }
}

#remember-me-checkbox-container {
    margin-top: -.5rem;
    margin-bottom: .25rem;
}


button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    white-space: nowrap;
    border-radius: inherit;
    display: flex;
    align-items: center;
    padding: 0;
}

.btn-icon-left svg {
    margin-right: .5rem;
}


/* --------------------------------- Inputs --------------------------------- */
label {
    margin-bottom: .25rem;
    margin-left: 0;
    display: block;
}

input {
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input:focus {
    outline: none;
}

.spaced-input {
    margin: .5rem 0;
}

.split-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.split-inputs .input-container {
    width: 48.5%;
    margin: 0;
}

/* ----------------------------- Social Login ----------------------------- */

#social-login-header {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: .75rem;
    display: flex;
    flex-direction: row;

    &:before,
    &:after {
        content: "";
        flex: 1 1;
        border-top: 2px solid var(--border-color-ultra-dim);
        margin: auto;
    }

    &:before {
        margin-right: .625rem;
    }

    &:after {
        margin-left: .625rem;
    }
}

#social-login-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#social-login-form button:first-child {
    margin-right: .5rem;
}

#social-login-form button:last-child {
    margin-left: .5rem;
}

/* ---------------------------- Misc ---------------------------- */

.below-window-container {
    text-align: center;
    font-size: .875rem;
    height: 0;
    position: relative;
    bottom: -4rem;
}

.window p {
    font-weight: var(--fw-regular);
    margin-right: 1rem;
    margin-bottom: 2rem;
}
