body {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--window);
}

#top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 44px;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--window);
    box-shadow: rgba(149, 157, 165, 0.7) 1px 0px 2px;
    z-index: 0;
    position: absolute;
    top: 0;
}

#top-header * {
    font-size: 14px;
}

#top-header a {
    border-bottom: 1.5px solid var(--m-text-gray);
    transition: all 0.3s ease-out;
}

#top-header a:hover {
    border-bottom: 1.5px solid var(--m-green);
    color: var(--m-green);
    transition: all 0.3s ease-out;
}

#top-header img {
    height: 2.2em;
}

.page {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.window {
    width: 85%;
    max-width: 325px;
    font-size: 14px;
    border-radius: var(--border-radius3);
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 0px 2px;
    padding: 32px 40px;
    position: relative;
}

.window-header {
    margin-bottom: 24px;
}

.subheader {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 90%;
}

.subheader span {
    opacity: .8;
}

@media only screen and (max-width: 768px) {
    .window {
        width: 80%;
        max-width: 100%;
        padding: 0;
        height: auto;
        border-radius: 0px;
        box-shadow: none;
        position: static;
    }

    .subheader {
        display: block;
        width: 100%;
    }
}

#remember-me-checkbox-container {
    margin-top: -8px;
    margin-bottom: 2px;
}

/* -------------------------------------------------------------------------- */
/*                                 Containers                                 */
/* -------------------------------------------------------------------------- */

#checkout-window {
    width: 90%;
    max-width: 500px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#checkout-container {
    flex-grow: 1;
    margin: 44px 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

#verification-window {
    max-width: 375px;
    width: 60%;
    padding: 40px 60px;
}

#prices-container {
    background-color: var(--green-hlight);
    box-shadow: 0 1px 1px 0 var(--green-hlight);
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 100
}

#prices-container-header {
    padding: 24px 52px 0px 52px;
    display: flex;
    justify-content: start;
}

#prices-container-header img {
    height: 0em;
}

@media only screen and (max-width: 768px) {
    #checkout-window {
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0px;
        padding: 0;
    }

    #checkout-container {
        width: 80%;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #verification-window {
        width: 100%;
        max-width: 70%;
        margin: 0;
        border-radius: 0px;
    }

    #prices-container-header img {
        height: 2em;
    }

}

/* --------------------------------- Buttons -------------------------------- */

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    white-space: nowrap;
    border-radius: inherit;
    display: flex;
    align-items: center;
    padding: 0;
}

.btn-icon-left svg {
    margin-right: 8px;
}

.btn-main {
    border-radius: var(--border-radius2);
    padding: 12px 16px;
    width: 100%;
    justify-content: center;
}

.btn-icon {
    border-radius: var(--border-radius);
    padding: 2px;
}

.btn-secondary {
    padding: 8px 12px;
    border-radius: var(--border-radius2);
}

/***/

.btn-chcl {
    background-color: var(--btn-gray);
    color: var(--window);
    margin: 8px 0;
}

.btn-chcl:hover {
    background-color: var(--btn-hover-gray);
}

.btn-gr {
    box-shadow: var(--btn-drop-shadow);
    background-color: var(--btn-light-gray);
    transition: background-color .3s ease;
}

.btn-gr:hover {
    background-color: var(--btn-light-gray-hover);
    transition: background-color .3s ease;
}

.btn-grn {
    color: var(--m-text-gray);
    background-color: var(--green-hlight);
    transition: background-color .3s ease;
    font-weight: 500;
}

.btn-grn:hover {
    background-color: var(--green-hlight3);
    transition: background-color .3s ease;
}


/* --------------------------------- Inputs --------------------------------- */
label {
    font-weight: 500;
    margin-bottom: 4px;
    margin-left: 0px;
    display: block;
}

input {
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input:focus {
    outline: none;
}

.input-container input::placeholder,
input[type="password"]::placeholder {
    color: var(--input-placeholder);
}

.input-container input:focus::placeholder,
input[type="password"]:focus::placeholder {
    transition: color .2s ease;
    color: var(--green-input-focus);
    opacity: 1;
}

.input-container {
    background-color: var(--input-color);
    border-radius: var(--border-radius2);
    padding: 12px 16px;
    margin-bottom: 8px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    transition: border .2s ease;
    position: relative;
}

.spaced-input {
    margin: 8px 0;
}

.split-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.split-inputs .input-container {
    width: 48.5%;
    margin: 0;
}

.input-container:focus-within {
    outline: none;
    box-shadow: var(--input-focus-drop-shadow);
}


/* ----------------------------- Social Login ----------------------------- */

#social-login-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

#social-login-header:before,
#social-login-header:after {
    content: "";
    flex: 1 1;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin: auto;
}

#social-login-header:before {
    margin-right: 10px
}

#social-login-header:after {
    margin-left: 10px
}

#social-login-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#social-login-form button:first-child {
    margin-right: 8px;
}

#social-login-form button:last-child {
    margin-left: 8px;
}

/* ---------------------------- Misc ---------------------------- */

.below-window-container {
    text-align: center;
    font-size: 14px;
    height: 0;
    position: relative;
    bottom: -48px;
}

.window p {
    font-weight: 500;
    margin-right: 16px;
    margin-bottom: 32px;
}
