.bill-category-selector--button {
    overflow: visible;
    display: flex;
    justify-content: space-between;

    .selector-current-label {
        display: flex;
        gap: .375em;
    }

    &:not(.valid),
    &:not(.active) {
        color: var(--input-placeholder2);

        * {
            color: var(--input-placeholder2);
        }
    }

    &.valid,
    &.active {
        color: var(--m-text);
    }
}

.select-bill-category {
    position: relative;
    width: 100%;

    span {
        color: inherit;
    }

}

.bill-cat-select--container--container {
    display: flex;
    flex-direction: column;

    &>div:last-child {
        position: relative;
    }

    .dropdown {
        min-width: 10em;
    }
}

.category-select--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &>div,
    &>ul {
        width: 100%;
        display: flex;
    }

    .options {
        display: flex;
        flex-direction: column;
        gap: 0.625em;
        max-height: 15em;
        overflow-y: auto;
        width: calc(auto + 1em);
        padding: 0.5em 0;
        mask-image: linear-gradient(to bottom, transparent, black .5em, black calc(100% - .5em), transparent);
    }

    input {
        margin: 0.5em .25em;
        flex: 1;
    }

    svg {
        position: absolute;
        left: 1.125em;
        top: 1em;
        opacity: .7;
    }

    input {
        background-color: var(--input-background);
        padding: .25em 0em;
        padding-left: 2.25em;
    }

    .option,
    input {
        border-radius: var(--border-radius1);
    }


    .option {
        cursor: pointer;
        display: inline-flex;
        gap: 0.5em;
        border-radius: var(--border-radius1);
        transition: all .3s ease;
        font-weight: 400;
        padding: .125em .75em;
        margin: 0 .25em;

        &.year {
            background-color: var(--secondary-hlight2);
            color: var(--secondary-dark4);

            &:hover {
                background-color: color-mix(in srgb, var(--secondary-hlight2), var(--secondary-dark4) 8%);
                transition: all .3s ease;
            }

        }

        &.month {
            background-color: var(--main-hlight2);
            color: var(--main-dark4);

            &:hover {
                background-color: color-mix(in srgb, var(--main-hlight2), var(--main-dark4) 8%);
                transition: all .3s ease;
            }
        }
    }

}
