/* ---------------------------------- plans --------------------------------- */

#prices-container {
    background-color: var(--green-highlight);
    box-shadow: 0 1px 1px 0 var(--green-highlight);
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#prices-container-header {
    padding: 24px 52px 0px 52px;
    display: flex;
    justify-content: start;
}

#prices-container-header img {
    height: 1.6em;
}

#subscription-radios-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 28px 64px;
}

.nickname {
    margin-right: 8px;
    font-size: 1.1em;
}

.unit-amount {
    font-size: 1.4em;
}

.price-nickname {
    font-size: 1.3em;
    padding-right: 12px;
}

.unit-amount span {
    font-size: .6em;
}

input[type="radio"] {
    display: none;
}

.subscription,
.subscription-selected {
    margin: 0 12px;
    text-align: center;
    flex: .5;
}


.subscription-selected label {
    display: block;
    padding: 4px 0px;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 14px;
    border: 2.5px solid var(--button-gray);
}

.subscription label {
    display: block;
    padding: 4px 0px;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 14px;
    border: 2.5px solid rgb(0, 0, 0, .2);
}

.subscription label * {
    color: rgb(0, 0, 0, .4)
}

.subscription .dog-ear {
    opacity: .2;
}

.dog-ear {
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: var(--button-gray);
    width: 40px;
    height: 40px;
    transform: translate(50%, -50%) rotate(45deg);
}

.dog-ear-star {
    position: absolute;
    top: -2px;
    right: 14px;
    height: 0px;
    width: 0px;
}

.subscription label:focus-visible {
    outline: none;
    box-shadow: inset 0 0 10px 1px var(--green-highlight3);
}

.subscription .fine-print {
    padding-top: 4px;
    font-size: .9em;
    color: var(--white-text);
}

/* -------------------------------------------------------------------------- */

#checkout-container h4 {
    font-weight: 600;
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    color: var(--logo-dark);
    margin: 0 0 0 4px;
    margin-bottom: 12px;
}

#checkout-window {
    width: 90%;
    max-width: 500px;
    padding: 0;
    background: linear-gradient(to bottom, var(--window) 70%, #f1f1f1 100%);
}

#checkout-container {
    margin: 44px 52px;
}

.inputs-container h3 {
    margin: 4px 0 8px 2px;
}

/* ------------------------------ Billing Info ------------------------------ */

#billing-info-header {
    margin-bottom: 10px;
}

#billing-form {
    padding-bottom: 0px;
}

#name-on-card {
    width: 100%;
    font-weight: 400;
}

#name-on-card-container {
    margin-top: 0px;
    margin-bottom: 0px;
}

#name-on-card-error {
    margin-top: 8px;
}

#location-inputs-container {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#location-inputs-container input {
    width: 100%;
}

#city-container,
#city-error {
    flex: 1;
}

#state-error {
    margin: 0 8px;
    width: 25%;
    min-width: 75px;
}

#state-container {
    margin: 0 8px;
    width: 30%;
    min-width: 75px;
    position: relative;
}

#zip-container,
#zip-error {
    width: 25%;
}

#zip-error,
#city-error {
    height: 0px;
}

#location-input-errors {
    position: relative;
    top: -4px;
    display: flex;
    height: 20px;
}

/* ------------------------------ Card Element ------------------------------ */
.card-container {
    background-color: var(--input-color);
    border-radius: 8px;
    z-index: 0;
    padding: 16px 16px;
    margin: 12px 0;
    box-sizing: border-box;
    position: relative;
}

.card-container-focused {
    box-shadow: var(--input-focus-drop-shadow);
    background-color: var(--input-color);
    border-radius: 6px;
    z-index: 0;
    padding: 16px 16px;
    margin: 12px 0;
    box-sizing: border-box;
    position: relative;
}

#payment-error {
    margin-left: 14px;
}

.focus {
    box-shadow: var(--focus-drop-shadow);
    transition: border .2s ease;
}

/* ------------------------------ Order Summary ----------------------------- */
#order-summary-line {
    display: inline-block
}

.order-summary-container {
    text-align: left;
    display: flex;
    justify-content: end;
    padding: 12px 8px;
    margin-top: 20px;
    margin-bottom: 8px;
    border-top: 2px solid rgba(0, 0, 0, 0.07);
}

.order-summary-container table {
    border-collapse: collapse;
}

.order-summary-container tr td {
    text-align: right;
}

.order-summary-container * {
    font-size: 1em
}

.order-summary-container tr {
    line-height: 1.5;
}

.order-summary-container tr td:first-child {
    padding-right: 16px;
}

.order-summary-container tr td:last-child {
    font-weight: 500;
}

.order-summary-container tr td:last-child span {
    font-size: .65em;
}

/* --------------------------------- Errors --------------------------------- */
.general-error {
    margin-bottom: 24px;
    text-align: center;
    font-weight: 500;
}

.general-error img {
    height: 1em;
    margin-right: 8px;
    position: relative;
    top: 2px;
    text-align: left;
    animation: pop .22s ease;
}

#subscribe-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-gray);
}

#subscribe-button:hover {
    background-color: var(--button-hover-gray);
}

#subscribe-button span {
    color: var(--window);
}

/* ------------------------------- Stripe Logo ------------------------------ */
.stripe-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: .3;
    position: relative;
    bottom: -24px;
    height: 0;
}

.stripe-logo-container {
    font-weight: 500;
}

.stripe-logo-container a:hover {
    border: none;
}

.stripe-logo {
    position: relative;
    top: .2em;
    height: 25px;
}

/* -------------------------- Error Loading Prices -------------------------- */

#checkout-window-loading-error {
    text-align: center;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

#checkout-window-loading-error #message {
    padding: 4px 40px;
    font-weight: 500;
}
