/* ---------------------------------- plans --------------------------------- */

#prices-container {
    background-color: var(--dark-background);
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#prices-container-header {
    padding: 24px 52px 28px 52px;
    display: flex;
    justify-content: start;
    align-items: top;
}

#prices-container-header img {
    height: 1.6em;
}

#subscription-radios-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 64px 24px 64px;
}

.subscription {
    margin: 0 12px;
    text-align: center;
    flex: .5;
}

.nickname {
    color: var(--white-text);
    margin-right: 8px;
}

.subscription-period {
    font-size: 1em;
    font-weight: 400;
    color: var(--white-text);

}

.unit-amount {
    font-size: 1.4em;
    color: var(--white-text);
}

.price-nickname {
    font-size: 1.3em;
    color: var(--white-text);
    padding-right: 12px;
}

.unit-amount span {
    font-size: .6em;
    color: var(--white-text);
}

input[type="radio"] {
    display: none;
}

.subscription label {
    display: block;
    color: var(--white-text);
    padding: 6px 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: inset 0 0 6px rgba(222, 222, 222, .1);
    position: relative;
    overflow: hidden;
}

.dog-ear {
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: var(--success-green);
    width: 40px;
    height: 40px;
    transform: translate(50%, -50%) rotate(45deg);
}

.dog-ear-deselected {
    opacity: .3;
    background-color: var(--white-text);
}

.dog-ear-star {
    position: absolute;
    top: -2px;
    right: 14px;
    height: 0px;
    width: 0px;
    opacity: .9;
}



.subscription label:focus-visible {
    outline: none;
    box-shadow: var(--button-focus-drop-shadow);
}

.subscription .fine-print {
    padding-top: 4px;
    font-size: .9em;
    color: var(--white-text);
}

@keyframes label-transition {
    0% {
        border: 1.5px solid var(--inactive-gray);
    }

    100% {
        border: 1.5px solid var(--success-green);
    }
}

input[type="radio"]:not(checked)+label {
    border: 1.5px solid var(--inactive-gray);
    border-radius: 10px;
    box-shadow: inset 0 0 4px rgba(222, 222, 222, .1);
}

input[type="radio"]:checked+label {
    animation: label-transition .3s ease forwards;
}


/* -------------------------------------------------------------------------- */

#checkout-container h3 {
    font-weight: 600;
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    color: var(--logo-dark);
    margin: 0 0 0 4px;
    margin-bottom: 12px;
}

#checkout-window {
    width: 90%;
    max-width: 500px;
    padding: 0;
    background: linear-gradient(to bottom, var(--window) 70%, #f1f1f1 100%);
}

#checkout-container {
    margin: 32px 52px 44px 52px;
}

.inputs-container h3 {
    margin: 4px 0 8px 2px;
}

/* ------------------------------ Billing Info ------------------------------ */

#billing-info-header {
    margin-bottom: 10px;
}

#billing-form {
    padding-bottom: 0px;
}

#name-on-card {
    width: 100%;
    font-weight: 400;
}

#name-on-card-container {
    margin-top: 0px;
    margin-bottom: 0px;
}

#name-on-card-error {
    margin-top: 8px;
}

#location-inputs-container {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#location-inputs-container input {
    width: 100%;
}

#city-container,
#city-error {
    flex: 1;
}

#state-container,
#state-error {
    margin: 0 8px;
    width: 25%;
    min-width: 75px;
}

#zip-container,
#zip-error {
    width: 28%;
}

#zip-error,
#city-error {
    height: 0px;
}

#location-input-errors {
    position: relative;
    top: -4px;
    display: flex;
    height: 20px;
}

/* Card Element */
.card-container {
    background-color: var(--input-color);
    border-radius: 6px;
    z-index: 0;
    padding: 16px 16px;
    margin: 6px 0;
    box-sizing: border-box;
}

.card-container-focused {
    box-shadow: var(--input-focus-drop-shadow);
    background-color: var(--input-color);
    border-radius: 6px;
    z-index: 0;
    padding: 16px 16px;
    margin: 6px 0;
    box-sizing: border-box;
}

#payment-error {
    margin-left: 14px;
}

.focus {
    box-shadow: var(--focus-drop-shadow);
    transition: border .2s ease;
}

/* Order Summary */
#order-summary-line {
    display: inline-block
}

.order-summary-container {
    text-align: left;
    display: flex;
    justify-content: end;
    padding: 16px 0px;
    margin: 16px 8px 0 8px;
}

.order-summary-container tr td {
    text-align: right;
}

.order-summary-container table {
    border-collapse: collapse;
}

.order-summary-container tr {
    line-height: 1.3;
}

.order-summary-container tr td:first-child {
    font-weight: 500;
    padding-right: 8px;
}

.general-error {
    margin-top: 24px;
    text-align: center;
    color: var(--mute-red);
}

.general-error img {
    height: 1em;
    margin-right: 8px;
    position: relative;
    top: 2px;
    text-align: left;
    animation: pop .22s ease;
}

#subscribe-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-green);
}

#subscribe-button:hover {
    background-color: var(--main-green-darker);
}

#subscribe-button span {
    color: var(--window);
}

#payment-success-message {
    animation: show .1s ease;
    color: var(--success-green);
}

.success-icon {
    fill: var(--success-green);
    height: 1em;
    margin-right: 2px;
    position: relative;
    top: 2px;
}

/* ------------------------------- Stripe Logo ------------------------------ */
.stripe-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: .3;
    position: relative;
    bottom: -24px;
    height: 0;
}

.stripe-logo-container {
    font-weight: 500;
}

.stripe-logo-container a:hover {
    border: none;
}

.stripe-logo {
    position: relative;
    top: .2em;
    height: 25px;
}

/* -------------------------- Error Loading Prices -------------------------- */

#checkout-window-loading-error {
    text-align: center;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

#checkout-window-loading-error #message {
    padding: 4px 40px;
    font-weight: 500;
}
