.login-form input {
    width: 100%;
}

#next {
    width: 100%;
}

#sign-in {
    width: 100%;
}

#email-container {
    width: '100%';
    text-align: center;
    margin-top: -28px;
    margin-bottom: 40px;
}

#email-container span {
    opacity: .6;
    margin-right: 6px;
    font-size: 14px;
}


#change-email-button {
    color: var(--main-text-gray);
    transition: color .2s ease, opacity .2s ease;
    font-weight: 600;
    opacity: .6;
    padding: 0 4px;
}

#change-email-button:hover {
    color: var(--main-blue);
    opacity: 1;
}

#remember-me-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4px;
}

#forgot-password-container {
    margin-top: -4px;
    margin-left: 8px;
    margin-bottom: 2px;
}

#forgot-password-container a {
    color: var(--main-text-gray);
    opacity: .8;
    transition: color .2s ease;
    font-weight: 500;
    font-size: 14px;
}

#forgot-password-container a:hover {
    color: var(--main-blue);
    transition: color .2s ease;
    border-bottom: none;
    opacity: 1;
}
