.login-form input {
    width: 100%;
}

#next {
    width: 100%;
}

#email-container {
    width: '100%';
    text-align: center;
    margin-top: -20px;
    margin-bottom: 40px;
}

#email-container h3 {
    margin: 0;
    margin-bottom: 4px;
}

#email-container span {
    opacity: .6;
    margin-right: 6px;
}

#change-email-button {
    color: var(--main-text-gray);
    transition: color .2s ease, opacity .2s ease;
    font-weight: 600;
    opacity: .6;
    padding: 0 4px;
}

#change-email-button:hover {
    color: var(--main-blue);
    opacity: 1;
}

#remember-me-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4px;
}

#forgot-password-container {
    margin-top: -4px;
    margin-left: 4px;
    margin-bottom: 2px;
}

#forgot-password-container a {
    font-size: 15px;
    font-weight: 500;
}
