.otc {
    width: 100%;
}

.otc fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.otc fieldset div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.otc input[type="text"] {
    flex: 1;
    line-height: 1;
    margin: .1em;
    padding: 8px 4px;
    font-size: 2em;
    text-align: center;
    appearance: textfield;
    -webkit-appearance: textfield;
    border: 2px solid var(--lighter-green);
    color: var(--main-green);
    border-radius: 8px;
}

.otc input[type="text"]:focus {
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.08);
}

.otc input::-webkit-outer-spin-button,
.otc input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.otc input[type="text"]:first-child,
.otc input[type="text"]:last-child {
    margin-left: 0;
}

/* 2 group of 3 items */
.otc input[type="text"]:nth-child(n+4) {
    order: 2;
}

.otc div::before {
    width: 20px;
    content: '';
    height: 3px;
    margin: 0 .25em;
    order: 1;
    background: var(--lighter-green);
}
