#verification-window {
    max-width: 375px;
    width: 60%;
    padding: 40px 60px;
}

#verification-container-header {
    padding: 12px 0 36px 0px;
    display: flex;
    justify-content: start;
    align-items: top;
}

/* Email Graphic */
#verification-form-container div:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
}

#verification-container-header img {
    height: 2em;
}

/* ************* */

#verify-your-email {
    height: 10em;
}

#verification-form-container span {
    font-weight: 500;
}

#verify-otc {
    width: 100%;
    margin-top: 16px;
}

#verification-form-error-container * {
    font-size: 16px;
}

/* Resend Btn */
#resend-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#resend-btn {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    margin: 4px 0;
}

#resend-btn span {
    margin-right: 4px;
    color: var(--main-green);
}

#resend-btn svg {
    transform: scale(1);
    transition: transform 0.2s ease;
}

#resend-btn:hover svg {
    transform: scale(1.2);
}

#resend-icon {
    display: flex;
    align-items: center;
}
