.back-button {
    float: left;
    text-align: left;
    font-weight: var(--fw-bold);
    padding: .5em .25em;
    display: flex;
    align-items: center;
}

.back-button svg {
    margin-right: .25em;
}

.back-button .arrow-tail {
    stroke-dasharray: 100;
    stroke-dashoffset: -100;
    transition: stroke-dashoffset 0.2s ease-in;
}

.back-button:hover .arrow-tail {
    stroke-dashoffset: 0;
}

.back-button .arrow-head {
    transition: all 0.2s ease-in;
}

.back-button:hover .arrow-head {
    transform: translateX(.25em);
    transition: all 0.2s ease-in;
}
