/* -------------------------- Passwordless Section -------------------------- */

.passwordless-form-section-container {
    margin-top: .75em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.passwordless-option-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: .75em;
    width: 40%;
}

.passwordless-option-header:before,
.passwordless-option-header:after {
    content: "";
    flex: 1 1;
    border-top: .125em solid var(--subtle-border-color);
    margin: auto;
}

.passwordless-option-header:before {
    margin-right: 1em
}

.passwordless-option-header:after {
    margin-left: 1em
}

.passwordless-inputs-container {
    width: 100%;
    position: relative;
}

.passwordless-button-container {
    position: relative;
    background-color: var(--social-button);
    display: flex;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: var(--fw-regular);
}

.passwordless-button-container:hover {
    background-color: var(--social-button-hover);
}

.passwordless-button svg {
    margin-right: .5em;
}

.passwordless-button-container:hover .help-icon-tip,
.passwordless-button-container:focus-within .help-icon-tip {
    transform: scale(1.1);
}

.help-icon-tip {
    width: auto;
    position: absolute;
    top: -.375em;
    right: -.375em;
    transform: scale(0);
    transition: transform 0.2s ease;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
}

.help-icon-tip:focus-visible {
    box-shadow: var(--accessible-focus-drop-shadow);
    outline: none;
}
