container_commands:
  01_setup:
    command: >
      sudo mkdir -p /var/app/staging/logs &&
      sudo touch /var/app/staging/logs/ledget_logs && sudo chmod 666 /var/app/staging/logs/ledget_logs &&
      sudo touch /var/app/staging/logs/gunicorn_logs && sudo chmod 666 /var/app/staging/logs/gunicorn_logs &&
      sudo touch /var/app/staging/logs/stripe_logs && sudo chmod 666 /var/app/staging/logs/stripe_logs
