container_commands:
  01_setup:
    command: >
      sudo mkdir -p /var/app/staging/logs &&
      sudo touch /var/app/staging/logs/ledget_logs && sudo chmod 666 /var/app/staging/logs/ledget_logs &&
      sudo touch /var/app/staging/logs/gunicorn_logs && sudo chmod 666 /var/app/staging/logs/gunicorn_logs &&
      sudo touch /var/app/staging/logs/stripe_logs && sudo chmod 666 /var/app/staging/logs/stripe_logs
Resources:
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: eb-celery-worker
      GroupDescription: Security group for the EB environment
      SecurityGroupEgress:
        - Description: Allow all vpc traffic out
          CidrIp: 10.192.0.0/16
          IpProtocol: tcp
          FromPort: 443
          ToPort: 443
      SecurityGroupIngress:
        - Description: Allow all vpc traffic in
          CidrIp: 10.192.0.0/16
          IpProtocol: tcp
          FromPort: 443
          ToPort: 443
      VpcId: vpc-041408005a5077dc6
