@import './Window.scss';

#needs-confirmation-header-container {
    display: flex;
    justify-content: center;
}

#needs-confirmation-header {
    padding: .25em .875em .25em .875em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $window-max-width;
    width: 100%;
    border-radius: var(--border-radius25);
    box-sizing: border-box;
    position: relative;
    z-index: 100;

    div {
        display: flex;
        align-items: center;
    }

    &>div:not(:first-child) {
        position: relative;
        z-index: 200;
    }

    div:first-child {
        gap: .125em;
    }

    #number-of-items {
        font-weight: 400;
        margin-right: .625em;
        position: relative;
        padding: 0 .25em;
        border-radius: var(--border-radius1);

        button,
        span,
        &+span {
            color: var(--faded-text);
        }

        &>span {
            position: relative;
            z-index: 1;
            font-weight: 400;
        }

        &::after {
            z-index: 0;
            position: absolute;
            width: 1.625em;
            height: 1.625em;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(0, 0, 0, .09);
            border-radius: 50%;
        }
    }
}
