@import './Window.scss';

#needs-confirmation-header-container {
    display: flex;
    justify-content: center;
}

#needs-confirmation-header {
    padding: .25em 1em .25em 1em;
    margin-bottom: .625em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $window-max-width;
    width: 100%;
    background-color: var(--window2);
    border-radius: var(--border-radius25);
    box-sizing: border-box;
    position: relative;

    div {
        display: flex;
        align-items: center;
    }

    &>div:not(:first-child) {
        position: relative;
        z-index: 200;
    }

    div:first-child {
        gap: .125em;
    }

    #number-of-items {
        font-weight: 500;
        margin-right: .625em;
        position: relative;
        color: var(--faded-text);
        padding: 0 .25em;
        border-radius: var(--border-radius1);

        &>span {
            position: relative;
            z-index: 1;
            font-weight: 500;
            color: var(--faded-text);
        }

        &+span {
            font-weight: 500;
            color: var(--faded-text);
        }

        &::after {
            z-index: 0;
            position: absolute;
            width: 1.625em;
            height: 1.625em;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--icon-hover-light-gray);
            border-radius: 50%;
        }
    }
}
