/* Bottom Shadow */
.shadow {
    width: 100%;
    height: 4px;
    z-index: 2;
}

.shadow-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(90deg, rgba(248, 248, 248), transparent);
    background: linear-gradient(0deg, rgba(248, 248, 248), transparent);
}

.new-item-data {
    font-weight: 600;
}

.new-item-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-item-icons button {
    margin: 0 2px;
}

/* Category Icon */
.category-icon {
    padding: 2px 6px;
    cursor: pointer;
    border-radius: 8px;
}

.category-icon {
    margin-right: 8px;
    color: var(--main-green-darker);
    transform: scale(1);
    transition: all .2s ease-out;
    font-weight: 500;
    font-size: 15px;
}

.category-icon:hover {
    transform: scale(1.1);
    transition: all .2s ease-out;
}


#expand-button {
    background-color: var(--button-gray);
    transition: background-color .3s ease-out;
    color: var(--window);
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 8px;
}

#expand-button-icon {
    display: flex;
    align-items: center;
    padding: 4px;
}

#expand-button:hover {
    background-color: var(--button-hover-gray);
}

/* -------------------------------- Dropdown -------------------------------- */

.options-dropdown {
    margin-top: 35px;
    margin-left: -60px;
    position: fixed;
}
