:root {
    --background-color: rgb(255, 252, 252);
    --window: rgb(255, 252, 252);
    --logo-dark: rgb(79, 78, 78);
    --medium-dark-gray: rgb(101, 101, 101);
    --light-gray: rgb(172, 172, 172);
    --light-light-gray: #cbcaca;
    --active-input: #f2f2f2;
    --standard-drop-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    --window-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    --inner-drop-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    --check-box-hover: rgba(54, 54, 54, .06);
    --mute-blue: rgb(122, 166, 248);
    --check-box-blue: rgb(107, 155, 246);
    --mute-red: rgb(244, 119, 136);
    --hover-blue: rgb(86, 141, 244);
    --hover-red: rgb(248, 89, 110);
    --alert-red: rgb(242, 73, 73);
    --window-box-gray: rgb(255, 252, 252);
}

body {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-size: 14px;
    color: var(--medium-dark-gray);
    background-color: var(--background-color);
}

div,
p,
span,
a,
input,
label,
button,
textarea,
select,
option {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-size: 14px;
    color: var(--medium-dark-gray);
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    border: none;
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    color: var(--medium-dark-gray);
    background-color: var(--window);
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: var(--light-gray);
    background-color: var(--window);
}

input[type="text"],
input[type="password"] {
    border-bottom: 2px solid var(--light-light-gray);
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.03);
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 100%;
}

input[type="submit"] {
    background-color: var(--medium-dark-gray);
    color: rgb(256, 256, 256);
    transition: background-color 0.15s ease;
    padding: 8px 4px;
    border-radius: 4px;
    box-shadow: 0 1px 0px .5px var(--logo-dark);
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--logo-dark);
}

input[type=password]:not(:placeholder-shown) {
    font-family: 'pass', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

input:focus {
    outline: none;
    background-color: none;
    border-bottom: 2px solid var(--check-box-blue);
    min-height: 100%;
    outline: none;
    box-shadow: 0 1px 0px rgb(212, 212, 212);
    /* add a blue shadow below the input */
}

input:focus::placeholder {
    color: var(--check-box-blue);
}

input:--webkit-autofill {
    border: none;
    font-size: 14px;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill::after {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:--webkit-autofill::after {
    border: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 1000px white;
    border-bottom: 2px solid var(--check-box-blue);
}

input::placeholder {
    color: var(--light-gray)
}


.checkmark {
    cursor: pointer;
}

.checkbox-symbol {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.checkbox-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container * {
    box-sizing: border-box;
}

.checkbox-input {
    position: absolute;
    visibility: hidden;
}

.checkbox {
    user-select: none;
    padding: 6px 2px 6px 2px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.checkbox span {
    vertical-align: middle;
}

.checkbox span:first-child {
    width: 14px;
    height: 14px;
    transform: scale(1);
    border: 1.5px solid var(--medium-dark-gray);
    border-radius: 2px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox span:first-child svg {
    fill: none;
    stroke: #fff;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
}

.checkbox span:last-child {
    padding-left: 8px;
}

.checkbox:hover span:first-child {
    border-color: var(--check-box-blue);
    transform: scale(1.2);
}

.checkbox-input:checked+.checkbox span:first-child {
    background: var(--check-box-blue);
    border-color: var(--check-box-blue);
    animation: zoom-in-out 0.3s ease;
}

.checkbox-input:checked+.checkbox span:first-child svg {
    stroke: #fff;
    animation: draw 0.5s ease-in-out forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes zoom-in-out {
    50% {
        transform: scale(0.9);
    }
}

.window {
    background-color: var(--window);
    box-shadow: var(--window-box-shadow);
    border-radius: 8px;
    font-size: 14px;
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
}
