.welcome {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding: 0em 0.75em 1em 0.75em;
  font-size: 1rem;
  color: var(--m-text-tertiary);
}

.logoIcon {
  margin-bottom: 1em;
  border-bottom: var(--side-nav-border);

  img {
    height: 3em;
    width: auto;
  }
}

.legalLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0;
  border-top: var(--side-nav-border);

  a {
    font-size: 0.75rem;
    color: var(--m-text-quinary);
    text-decoration: none;
    transition: all 0.2s;
    font-weight: var(--fw-bold);
    white-space: nowrap;

    &:hover {
      color: var(--m-text-secondary);
      transition: all 0.2s;
    }
  }
}

.hidingSidebarBackdrop {
  position: absolute;
  pointer-events: none;
  inset: 0;

  &::before {
    z-index: 9;
    position: absolute;
    inset: 0;
    content: '';
    background-color: var(--m-text);
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.3s, 0s visibility linear 0.6s;
    visibility: hidden;
  }

  &::after {
    z-index: 8;
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.3s, 0s visibility linear 0.6s;
  }

  &[data-dark='true'][data-open='true']::before {
    opacity: 0.1;
  }

  &[data-open='true'] {
    &::after,
    &::before {
      transition: opacity 0.3s;
      visibility: visible;
    }

    &::before {
      opacity: 0.3;
    }

    &::after {
      opacity: 1;
    }
  }
}

.hidingSidebar {
  display: flex;
  position: absolute;
  z-index: 50;
  top: 0;
  bottom: 0;
  padding: 0.75em 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  visibility: hidden;
  background-color: var(--side-window);
  border-right: 1px solid var(--btn-light-gray);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out 0.3s,
    0s visibility linear 0.6s;

  & > img {
    margin-left: 0.375em;
    width: 6em;
    height: auto;
  }

  &[data-open='true'] {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
  }

  & > nav {
    padding: 0;
    margin-top: 0.5em;
    background-color: transparent;
    border-right: none;
    z-index: 101;
    position: relative;
  }
}

.avatar {
  position: relative;
  font-size: 0.625rem;
  margin: 0 0.25em;

  * {
    font-weight: var(--fw-bold);
  }

  &::after {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    border: 1.5px solid currentColor;
    width: 1.875em;
    height: 1.875em;
    border-radius: 50%;
  }
}

.profileLinkUserInfo {
  display: flex;
  margin-left: 1em;
  flex-direction: column;

  & > span:last-of-type {
    opacity: 0.8;
    font-size: 0.9em;
  }
}

.hamburger {
  position: absolute;
  top: 2em;
  left: 2.25em;
  z-index: 3;

  svg {
    transition: transform 0.3s ease-in-out;
  }

  &:hover svg {
    transition: transform 0.3s ease-in-out;
    transform: scaleX(1.125);
  }
}

.sideNav {
  max-width: 100%;
  padding: 1em 0em;
  flex: 2 0 0;
  font-size: 1.25rem;
  background-color: var(--side-window);
  border-right: var(--side-nav-border);
  position: relative;
  display: flex;
  flex-direction: column;

  ul {
    gap: 0.25em;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  & > ul {
    gap: 0.5em;
    padding: 0 0.75em;
  }

  a {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.375em 0.75em;

    & > span {
      margin: 0 2em 0 0.75em;
    }
  }

  & > div:first-of-type {
    padding: 0.125em 2.25em 0.75em 1.25em;
  }

  & > div:last-of-type {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  li {
    min-width: 12em;
    cursor: pointer;
    border-radius: var(--border-radius2);
    transition: background-color 0.3s ease-in-out;
    position: relative;
    z-index: 1;

    &:not([data-current='page']):hover {
      background-color: var(--btn-feather-light-gray);
      opacity: 0.8;
      transition: all 0.3s ease-out;
    }

    svg:last-child {
      position: absolute;
      right: 0.5em;
      top: 50%;
      transform: translateY(-50%);
    }

    svg,
    li,
    span {
      font-size: 1.125em;
    }
  }
}

.subNav {
  margin-left: 0.75em;

  li[data-current='page'] * {
    color: var(--blue-sat);
  }
}
