.welcome {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding: 0em .75em 1em .75em;
  font-size: 1rem;
  color: var(--m-text-tertiary);
}

.logoIcon {
  padding: .5em .75em 1em .75em;
  margin-bottom: 1em;
  border-bottom: var(--side-nav-border);
}

.legalLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25em 0;
  border-top: var(--side-nav-border);

  a {
    font-size: 0.75rem;
    color: var(--m-text-quinary);
    text-decoration: none;
    transition: all 0.2s;
    font-weight: var(--fw-bold);
    white-space: nowrap;

    &:hover {
      color: var(--m-text-secondary);
      transition: all 0.2s;
    }
  }
}

.hidingSidebarBackdrop {
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--m-text);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;

  &[data-open='true'] {
    opacity: 0.06;
    visibility: visible;
  }
}

.hidingSidebar {
  display: flex;
  position: absolute;
  z-index: 200;
  top: 0;
  bottom: 0;
  max-width: 0;
  padding: 0.75em 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 2em;
  visibility: hidden;
  background-color: var(--side-window);
  border-right: var(--side-nav-border);

  & > img {
    margin-left: 0.375em;
    width: 6em;
    height: auto;
  }

  &[data-open='true'] {
    max-width: 500px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }

  & > nav {
    padding: 0;
    margin-top: 0.5em;
    background-color: transparent;
    border-right: none;
    z-index: 101;
    position: relative;
  }
}

.hamburger {
  position: absolute;
  top: 2.625em;
  left: 2.25em;
  z-index: 300;
  z-index: 100;

  svg {
    transition: transform 0.3s ease-in-out;
  }

  &:hover svg {
    transition: transform 0.3s ease-in-out;
    transform: scaleX(1.125);
  }

  * {
    color: var(--white);
  }
}

.sideNav {
  max-width: 100%;
  padding: 1.75em 0em;
  flex: 2 0 0;
  font-size: 1.25rem;
  background-color: var(--side-window);
  border-right: var(--side-nav-border);
  position: relative;
  display: flex;
  flex-direction: column;

  ul {
    padding: 0 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex: 10;
  }

  a {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.375em 0.75em;

    span {
      margin: 0 2em 0 0.75em;
    }
  }

  &>div:first-of-type {
    padding: 0 2.25em 1em 2.25em;
  }

  &>div:last-of-type {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  li {
    min-width: 12em;
    cursor: pointer;
    border-radius: var(--border-radius2);
    transition: background-color 0.3s ease-in-out;
    position: relative;
    z-index: 1;

    &:not([data-current='page']):hover {
      background-color: var(--btn-feather-light-gray);
      opacity: 0.8;
      transition: all 0.3s ease-out;
    }

    svg:last-child {
      position: absolute;
      right: 0.5em;
      top: 50%;
      transform: translateY(-50%);
    }

    svg,
    li,
    span {
      font-size: 1.125em;
    }
  }
}

.subNav {
  margin-left: 0.75em;

  li[data-current='page'] * {
    color: var(--blue-sat);
  }
}
