/* Root css file for style variables and global styles */

:root {
    --logo-dark: #242424;

    /* Background fills */
    --background-color: #fcfcfc;
    --window: #f8f8f8;
    --dark-background: #242424;

    --window-border: #a1a0a0;
    --window-border-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.05);
    --window-box-gray: #fffcfc;

    /* Palet */
    --light-blue: #97c1fc;
    --mute-blue: #7aa8fe;
    --hover-blue: #6197fc;
    --main-blue: #6b9bf6;

    --mute-red: #fd8292;
    --hover-red: #fb6a7e;
    --alert-red: #f35050;

    --lighter-green: #b3e2c8;
    --main-green: #48d487;
    --main-green-darker: #43c77e;

    /* Inputs */
    --input-placeholder: #767676;
    --input-focus: #6b9bf6;

    /* Buttons */
    --button-drop-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.05);
    --social-button: #ededed;
    --social-button-hover: #e0e0e0;
    --button-gray: #363636;
    --buton-border-gray: #3c3c3c;
    --button-hover-gray: #242424;
    --border-bottom-gray: #b9b9b9;

    /* Drop Shadows */
    --accessible-focus-drop-shadow: 0 0 .4px 1.7px var(--mute-blue);
    --button-focus-drop-shadow: 0 0 .5px 1.7px var(--light-blue);
    --input-focus-drop-shadow: 0 0 .5px 1.7px var(--light-blue);

    /* Subscription Radios */
    --inactive-gray: #4c4c4c;

    /* Input Colors */
    --input-color: #ededed;
    --tooltip-background: #a6a6a6;

    /* Text */
    --main-text-gray: #242424;
    --muted-text-gray: #848484;
    --success-green: #cdf8cd;
    --white-text: #f8f8f8;
}

/* Override color values for Firefox */
@-moz-document url-prefix() {
    :root {
        --input-focus: rgb(31, 108, 252);
        --input-placeholder: #2a2a2a;
        --main-text-gray: rgb(44, 44, 44);
    }
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-size: 14px;
    height: 100%;
    background-color: var(--window);
}

main {
    min-height: 100vh;
}

div,
p,
span,
a,
input,
label,
button,
textarea,
select,
option {
    font-family: "Source Sans 3";
    font-size: 16px;
    color: var(--main-text-gray);
}

h1,
h2,
h3 {
    color: var(--logo-dark);
}

svg {
    background: transparent;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

/* Accessibility Focus Styling */
main:focus-visible {
    outline: none;
    box-shadow: inset 0 0 2px 2px var(--light-blue);
}

button:focus-visible {
    outline: none;
    box-shadow: var(--button-focus-drop-shadow);
}

a {
    outline: none;
    text-decoration: none;
    border-bottom: 1.5px solid rgb(0, 0, 0, 0);
    color: var(--main-green);
    text-decoration-skip-ink: none;
    transition: border-bottom .2s ease;
    text-underline-offset: 2px;
    cursor: pointer;
}

a:focus-visible,
a:hover {
    border-bottom: 1.5px solid var(--main-green);
}

label:focus-visible {
    outline: none;
    box-shadow: var(--accessible-focus-drop-shadow);
    border-radius: 4px;
}


/* *** */

/* Override default browser styles */

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px var(--input-color) !important;
    background-color: none;
    background-clip: content-box !important;
    border: none;
    font-size: 16px;
    outline: none;
}

input {
    --webkit-text-security: disc;
    outline: none;
    width: 100%;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill::after {
    border: none;
    background-color: #fafafa !important;
    background-clip: content-box !important;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* End override default browser styles */
