/* Root css file for style variables and global styles */

:root {
  --border-radius1: 4px;
  --border-radius2: 6px;
  --border-radius3: 8px;
  --border-radius4: 12px;
  --border-radius5: 16px;
  --border-radius6: 20px;
}

#root {
  height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--btn-light-gray) transparent;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--gradient-window-background);

  &::after {
    position: fixed;
    inset: 0;
    content: '';
    background: var(--main-background-color-portal);
    z-index: -1;
  }
}

body {
  font-family: 'Source Sans 3', 'Roboto', sans-serif, 'Arial', Helvetica;
  font-size: 1.125rem;
}

div,
p,
span,
a,
input,
label,
button,
textarea,
select,
option {
  font-family: 'Source Sans 3';
  font-size: 1rem;
  letter-spacing: var(--letter-spacing);
  font-weight: var(--fw-regular);
  color: var(--m-text);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

svg {
  background: transparent;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

main {
  height: 100%;
}

.full-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Accessibility Focus Styling */
.full-screen-div:focus-visible {
  outline: none;
  box-shadow: inset 0 0 2px 2px var(--light-blue);
}

button:focus-visible {
  outline: none;
  box-shadow: var(--accessible-focus-drop-shadow);
}

label:focus-visible {
  outline: none;
  box-shadow: var(--accessible-focus-drop-shadow);
  border-radius: var(--border-radius2);
}

a {
  text-decoration: none;
}

/* *** */

/* Override default browser styles */

input {
  all: unset;
}

input {
  --webkit-text-security: disc;
  outline: none;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input:focus {
  outline: none;
}

input:autofill,
input:indeterminate,
input:enabled,
input:valid,
input::placeholder {
  background-color: none;
  border: none;
  font-size: 1rem;
  outline: none;
  font-family: 'Source Sans 3';
  letter-spacing: var(--letter-spacing);
  font-weight: var(--fw-regular);
  color: var(--m-text);
}

input:-webkit-autofill,
input:-webkit-autofill::first-line,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: inset 0 0 0px 9999px var(--input-background) !important;
  background-color: transparent !important;
  background-clip: content-box !important;
  border: none !important;
  font-size: 1rem !important;
  outline: none !important;
  font-family: 'Source Sans 3' !important;
  letter-spacing: var(--letter-spacing) !important;
  font-weight: var(--fw-regular) !important;
  color: var(--m-text) !important;
  caret-color: var(--m-text) !important;
  -webkit-text-fill-color: var(--m-text) !important;
}

label {
  margin-bottom: 0.25rem;
  margin-left: 0;
  display: block;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

svg.icon {
  width: 1.25em;
  height: 1.25em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  white-space: nowrap;
  border-radius: inherit;
  display: flex;
  align-items: center;
  padding: 0;
}
