#dashboard {
    width: 90%;
    max-width: 1250px;
    margin: 20px auto;
    display: flex;
    height: 100%;
}

.window {
    background: linear-gradient(0deg, rgba(240, 240, 240, .95) 0%, rgba(240, 240, 240, 1) 10%, rgba(240, 240, 240, 1));
    box-shadow: 0px -1px 0px 0px rgba(27, 31, 36, 0.04);
    border-radius: 12px;
    padding: 12px 16px;
    box-sizing: border-box;
}

.window-header {
    padding: 8px 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header buttons */
.window-header-buttons,
.window-header-button,
.window-header-button-selected {
    display: flex;
    align-items: center;
}

.window-header-button {
    background-color: var(--icon-light-gray);
}

.window-header-button-selected {
    background-color: var(--button-gray);
}

.window-header-button,
.window-header-button-selected {
    padding: 4px;
    margin: 0 4px;
    border-radius: 4px;
}

.window-header-button:hover {
    transition: background-color 0.2s ease-out;
    background-color: var(--icon-hover-gray);
}

.window-header-icon-selected,
.window-header-icon {
    height: 1.3em;
    width: 1.3em;
}

.window-header-icon {
    fill: "#f35050";
}

.window-header-icon-selected {
    fill: var(--icon-white);
}

/* -------------------------------------------------------------------------- */
/*                            Budget Window Styling                           */
/* -------------------------------------------------------------------------- */

#spending-window {
    flex: 1.8;
    margin-right: 12px;
}

/* -------------------------------------------------------------------------- */
/*                            Items Window Styling                            */
/* -------------------------------------------------------------------------- */

#items-window {
    flex: 1;
    min-width: 300px;
    margin-left: 12px;
    height: inherit;
    max-height: inherit;
    display: flex;
    flex-direction: column;
}

#all-items-window {
    flex-grow: 1;
}
