#needs-confirmation-header-container {
    display: flex;
    justify-content: center;
}

#needs-confirmation-header {
    padding: 4px 16px 4px 16px;
    margin: 4px 12px 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 430px;
    width: 100%;
    background-color: var(--window2);
    border-radius: var(--border-radius25);
}

#needs-confirmation-header div {
    display: flex;
    align-items: center;
}

#needs-confirmation-header button {
    display: flex;
    align-items: center;
}

#number-of-items {
    font-weight: 500;
    margin-right: 10px;
    background-color: var(--icon-hover-light-gray);
    color: var(--faded-text);
    padding: 0 4px;
    border-radius: var(--border-radius1);
}
