#needs-confirmation-header-container {
    display: flex;
    justify-content: center;
}

#needs-confirmation-header {
    padding: .25em 1em .25em 1em;
    margin: .25em .75em .625em .625em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 27rem;
    width: 100%;
    background-color: var(--window2);
    border-radius: var(--border-radius25);

    div {
        display: flex;
        align-items: center;
    }

    div:first-child {
        gap: .125em;
    }

    #number-of-items {
        font-weight: 500;
        margin-right: .625em;
        background-color: var(--icon-hover-light-gray);
        color: var(--faded-text);
        padding: 0 .25em;
        border-radius: var(--border-radius1);

        &+span {
            font-weight: 500;
            color: var(--faded-text);
        }
    }
}
