#new-items-container {
    width: 102%;
    position: relative;
    max-width: 430px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    z-index: 100;
}

#new-items {
    position: relative;
    background: radial-gradient(ellipse, rgba(14, 7, 7, .03) 1%, var(--window) 50%)
}

.new-item::after {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
}

.new-item-data {
    font-weight: 400;
}

.new-item-data div:first-child span:first-child {
    font-weight: 600;
    font-size: 14px;
}

.new-item-data div:last-child {
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.new-item-data div:last-child span:last-child {
    opacity: .4;
    font-size: 12px;
    font-weight: 400;
}

.new-item-data div:last-child svg {
    border-radius: var(--border-radius);
    margin-right: 8px;
}

.new-item-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.new-item-icons>button:nth-child(1) {
    margin: 0 10px;
    color: var(--green-dark4);
    font-weight: 400;
}

.new-item-icons button:last-child {
    margin-left: 6px;
}

/* Category Icon */
.category-icon {
    transform: scale(1);
    transition: all .2s ease-out;
    background-color: var(--green-hlight2);
    padding: 2px 12px;
    cursor: pointer;
    border-radius: var(--border-radius2);
    font-weight: 500;
}

.category-icon:hover {
    transform: scale(1.1);
    transition: all .2s ease-out;
}


.confirm-button {
    margin: 0 2px;
}
