/* You can add global styles to this file, and also import other style files */
:root {
    /* Border Radius */
    --border-radius: 4px;
    --border-radius1: 6px;
    --border-radius2: 8px;
    --border-radius25: 12px;
    --border-radius3: 16px;
    --border-radius4: 20px;
    --border-radius5: 24px;

    /* Paddings */
    --input-padding: .525em 1em;
    --window-padding: 1.5em;
    --window-padding-extra-small: 1em;
}

@import '@styles/animations.scss';


*::-webkit-scrollbar {
    width: .25em;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--btn-light-gray) transparent;
}

body {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-size: 1.125rem;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

main {
    height: 100%;
    display: flex;
}

.full-screen-div {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    background-color: var(--window-background-color);
    display: flex;
    flex-direction: column;
}

div,
a,
input,
label,
button,
select,
option,
span,
tr,
td {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-size: .875rem;
    font-weight: var(--fw-regular);
    letter-spacing: var(--letter-spacing);
    color: var(--m-text);
}

p {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-weight: var(--fw-light);
    font-size: .875rem;
    color: var(--m-text);
    opacity: .8
}

textarea {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-weight: var(--fw-regular);
    color: var(--m-text);
    opacity: .8
}

textarea::placeholder {
    color: var(--input-placeholder);
}

h1,
h2,
h3 {
    color: var(--m-header-text);
    white-space: nowrap;
}

.spaced-header {
    margin-bottom: 1em;
}

.spaced-header2 {
    margin-bottom: .5em;
    margin-top: .5em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: var(--fw-bold);
}

a {
    text-decoration: none;
    cursor: pointer;
}

div:focus-visible {
    outline: none;
    box-shadow: var(--accessible-focus-drop-shadow);
    border-radius: var(--border-radius);
}

a:focus-visible {
    outline: none;
    border-bottom: var(--accessible-focus-drop-shadow);
}

li:focus-visible {
    outline: none;
    box-shadow: var(--accessible-focus-drop-shadow);
}

label:focus-visible {
    outline: none;
    box-shadow: var(--accessible-focus-drop-shadow);
}

ul:focus-visible {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--border-color-ultra-dim);
    margin: .5em 0 .75em 0;
    padding: 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}


input {
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input[type="radio"] {
    display: none;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

textarea {
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
    padding: 0;
    margin: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px var(--input-background) !important;
    background-color: transparent !important;
    background-clip: content-box !important;
    border: none;
    font-size: .875rem;
    outline: none;
}

input {
    --webkit-text-security: disc;
    outline: none;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill::after {
    border: none;
    background-color: #fafafa !important;
    background-clip: content-box !important;
}

input:focus {
    outline: none;
}


button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    white-space: nowrap;
    border-radius: inherit;
    display: flex;
    align-items: center;
    padding: 0;
}

button:focus-visible {
    outline: none;
    box-shadow: var(--accessible-focus-drop-shadow);
}

svg:focus-visible {
    outline: none;
    box-shadow: var(--accessible-focus-drop-shadow);
}

svg.icon {
    width: 1.25em;
    height: 1.25em;
}

svg.icon.small {
    width: 1em;
    height: 1em;
}

/* --------------------------------- Windows & Dashboard -------------------------------- */

.dashboard {
    flex: 5 1 0;
    margin: 0em auto;
    gap: 1em;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.5em);
    max-height: 100%;
    justify-content: flex-start;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.dashboard.extra-small .window {
    padding: var(--window-padding-extra-small);
}

.dashboard.extra-small .main-window {
    padding: 1.5em;
}

.main-window {
    overflow: auto;
    scrollbar-width: none;
    max-width: 55rem;
    width: calc(100% - 4em);
    padding: 2em;
}

.window {
    box-shadow: var(--window-drop-shadow);
    border-radius: var(--border-radius3);
    padding: var(--window-padding);
    box-sizing: border-box;
    border: 1.25px solid var(--window-border);
    background: var(--window-background);
}

.naked-window {
    background-color: var(--naked-window);
    padding: var(--window-padding);
}

.window-header {
    padding-bottom: 1em;
    padding-left: .25em;
    height: 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: var(--overlay2);
}

/* ------------------------------- Ant Picker ------------------------------- */

.ant-picker-header-view {
    display: flex;
}

.ant-picker:focus-within {
    border-color: transparent;
    box-shadow: var(--input-focus-drop-shadow);
}

/* ---------------------------- New Button Styles --------------------------- */

/* Header Buttons */
.header-btns {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-right: .8em;
}

/* -------------------------------- Dropdowns ------------------------------- */

ul hr {
    margin: .375em 0;
}

.line {
    margin: .125em 0;
    border: none;
    border-top: 1.5px solid var(--border-color-ultra-dim);
}

@mixin window-corner-dropdown {
    display: inline-flex;
    align-items: center;
    border-radius: .25em;
    position: absolute;
    top: .75em;
    right: 3em;
    z-index: 10;

    &>div {
        position: absolute;
        right: 0;
        bottom: 0;
        // transform: translateX(50%);
    }

    hr {
        margin: .375em 0;
    }

    button {
        display: flex;
        gap: .75em;
    }
}
