:root {
    /* Windows */
    --window: rgb(250, 250, 250);
    --window-rgb: 250, 250, 250;
    --window2: hsl(0, 0%, 93%);
    --window-values: 250, 250, 250;
    // --window-border: white;
    --window-transparent: rgba(252, 248, 247, 0.8);
    --window-background-color: hsl(0, 0%, 97%);
    --inner-window: rgba(0, 0, 0, .04);
    --inner-window-rgb: 245, 245, 245;
    --inner-window-solid: rgb(242, 242, 242);

    --background-color: #fcfcfc;
    --logo-dark: #242424;
    --overlay: rgba(49, 49, 49, 0.7);
    --overlay2: rgba(49, 49, 49, 0.5);

    /* Palet */
    --mute-red: #fe8797;
    --hover-red: #fb6a7e;
    --alert-red: #f35050;
    --red-rgb: 243, 80, 80;
    --dark-red: #8b2424;

    --main-color: rgb(92, 96, 135);
    --main-color-hover: hsl(235, 24%, 53%);
    --main-color-values: 92, 96, 135;
    --main-hlight: #a9afdb;
    --main-hlight2: #dde2f3;
    --main-hlight3: #a7acd3;
    --main-hlight4: #e3e5f5;
    --main-hlight5: #c7ccf2;
    --main-dark: hsl(232, 17%, 35%);
    --main-dark2: hsl(232, 17%, 30%);
    --main-dark3: hsl(232, 17%, 25%);
    --main-dark4: hsl(229, 23%, 18%);
    --main-dark5: hsl(240, 6%, 17%);
    --main-sat: rgb(171, 171, 255);
    --yellow: rgb(175, 175, 51);

    --secondary-color: hsl(153, 100%, 91%);
    --secondary-hlight: hsl(165, 47%, 70%);
    --secondary-hlight2: hsl(162, 35%, 89%);
    --secondary-hlight3: hsl(165, 29%, 87%);
    --secondary-hlight5: rgb(181, 235, 221);
    --secondary-color-alt: hsl(156, 31%, 62%);
    --secondary-dark: hsl(164, 17%, 35%);
    --secondary-dark4: hsl(164, 5%, 27%);

    --charcoal-rgb: 41, 41, 41;
    --window-rgb: 252, 248, 247;

    /* Input Colors */
    --input-background: rgba(218, 218, 218, 0.5);
    --input-border: solid 1px rgb(0, 0, 0, .02);

    /* Text */
    --input-focus: hsl(233, 56%, 73%);
    --m-text: var(--main-dark5);
    --m-secondary: color-mix(in srgb, var(--main-dark4), white 50%);
    --sub-text: #3d3d3d;
    --input-placeholder: #848484;
    --input-placeholder2: #a6a6a6;
    --white-text: #f8f8f8;
    --muted-text-gray: #848484;
    --faded-text: rgb(0, 0, 0, .6);

    /* Icons & Buttons */
    --btn-light-light-gray: #eeeeee;
    --btn-light-gray: #e6e4e4;
    --btn-hover-light-gray: #dad9d9;
    --btn-inner-window: rgb(0, 0, 0, .05);
    --btn-inner-window-hover: rgb(0, 0, 0, .08);
    --btn-gray: #3b3b3b;
    --btn-hover-gray: #292929;
    --btn-mid-gray: #848484;
    --btn-black: #242424;
    --icon-dark: var(--main-dark5);
    --icon-light-gray: #ebebeb;
    --icon-hover-light-gray: #e0e0e0;
    --icon-hover-gray: rgb(196, 196, 196);
    --drop-down-hover-background: #dfdfdf;

    /* Drop Shadows */
    --item-hover-drop-shadow: rgba(0, 0, 0, .4) 0px 4px 12px;
    --window-drop-shadow: rgba(170, 170, 170, 0.2) 0px 2px 20px;
    --window-drop-shadow2: rgba(149, 157, 165, 0.7) 0px 0px 2px;
    --new-item-drop-shadow: rgba(0, 0, 0, .07) 0px 2px 12px;
    --scroll-shadow: rgba(248, 248, 248), transparent;

    --accessible-focus-drop-shadow: 0 0 1.5px 1.2px var(--main-sat);
    --input-focus-drop-shadow: 0 0 0px 1.5px rgb(197, 203, 233);
    --low-elevation-drop-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
    --mid-elevation-drop-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px;
    --button-drop-shadow: rgba(50, 50, 93, 0.4) 0px 2px 3px -1px, rgba(0, 0, 0, 0.5) 0px 1px 1px -1px;
    --input-drop-shadow: rgba(0, 0, 0, 0.07) 0px 1px 0px .3px;

    --wafer-drag-drop-shadow: rgba(182, 182, 182, 0.5) 0px 4px 10px;
    --wafer-drop-shadow: rgba(0, 0, 0, .1) 0px 4px 12px;
    --active-wafer-drop-shadow: color-mix(in srgb, var(--main-sat), var(--main-hlight5) 40%) 0px 0px 2px 2px;
    --wafer-hover-drop-shadow: rgb(0, 0, 0, .2) 0px 0px 12px 2px;

    /* Borders */
    --subtle-border-color: rgb(0, 0, 0, .07);
    --subtle-border: .75px solid var(--subtle-border-color);

    /* Border Radius */
    --border-radius: 4px;
    --border-radius1: 6px;
    --border-radius2: 8px;
    --border-radius25: 12px;
    --border-radius3: 16px;
    --border-radius4: 24px;
    --inner-window-border-radius: var(--border-radius25);
}

/* Override color values for Firefox */
@-moz-document url-prefix() {
    :root {
        --input-focus: hsl(233, 56%, 73%);
        --input-placeholder: #2a2a2a;
        --m-text: var(--main-dark5);
    }

    * {
        scrollbar-width: thin;
    }
}


*::-webkit-scrollbar {
    width: .25em;
}

body {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-size: 1.125rem;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

main {
    height: 100%;
    margin: 0;
    background-color: var(--window-background-color);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

div,
a,
input,
label,
button,
select,
option,
span {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-size: .875rem;
    letter-spacing: 0.2px;
    color: var(--m-text);
}

p,
textarea {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-weight: 400;
    font-size: .875rem;
    color: var(--m-text);
    opacity: .8
}

h1,
h2,
h3 {
    color: var(--m-text);
    white-space: nowrap;
}

.spaced-header {
    margin-bottom: 1em;
}

.spaced-header2 {
    margin-bottom: .5em;
    margin-top: .5em;
}

h1 {
    margin-top: 0
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 500;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Accessibility Focus Styling */
main:focus-visible {
    outline: none;
    box-shadow: inset 0 0 6px 1px var(--neon-green);
}

div:focus-visible {
    outline: none;
    box-shadow: var(--accessible-focus-drop-shadow);
    border-radius: var(--border-radius);
}

a:focus-visible {
    outline: none;
    border-bottom: var(--accessible-focus-drop-shadow);
}

li:focus-visible {
    outline: none;
    box-shadow: var(--accessible-focus-drop-shadow);
}

label:focus-visible {
    outline: none;
    box-shadow: var(--accessible-focus-drop-shadow);
}

ul:focus-visible {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--subtle-border-color);
    margin: .5em 0 .75em 0;
    padding: 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.header,
.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dashboard {
    width: calc(100% - 3.5em);
    height: 100%;
    box-sizing: border-box;
    max-width: 87.5rem;
    margin: 1.75em auto;
    display: flex;
    justify-content: center;
    gap: 2.5em;
}

div.body {
    opacity: .9;
}

.body span {
    opacity: .9;
}

.body svg {
    margin-right: .375em;
    opacity: .95;
}

.faded-text {
    color: var(--faded-text);
}

.window {
    box-shadow: var(--window-drop-shadow);
    border-radius: var(--border-radius3);
    padding: 1.5em;
    box-sizing: border-box;
    border: 1.25px solid var(--window-border);
    background-color: var(--window);
}

.window2 {
    padding: 1.75em;
    border-radius: var(--border-radius3);
    background-color: var(--window-background-color);
    width: 75%;
    max-width: 37.5em;
}

.window3 {
    padding: 1.75em;
    border-radius: var(--border-radius3);
    background-color: var(--window-background-color);
    width: 75%;
    max-width: 23.5rem;
}

.window-header {
    padding-bottom: 1em;
    ;
    height: 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
}

.inner-window {
    background-color: var(--inner-window);
    border-radius: var(--inner-window-border-radius);
    padding: .75em;
    margin: -.125em;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: var(--overlay2);
}

/* ------------------------------- Responsive ------------------------------- */

@media screen and (max-width: 450px) {
    .dashboard {
        padding: 0;
        width: calc(100% - .5em);
    }

    .window {
        box-shadow: none;
        border: none;
        padding: 16px 0;
        padding-top: 12px;
    }
}

/* --------------------------------- Inputs --------------------------------- */

input {
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input[type="radio"] {
    display: none;
}

textarea {
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px var(--input-background) !important;
    background-color: transparent !important;
    background-clip: content-box !important;
    border: none;
    font-size: .875rem;
    outline: none;
}

input {
    --webkit-text-security: disc;
    outline: none;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill::after {
    border: none;
    background-color: #fafafa !important;
    background-clip: content-box !important;
}

input:focus {
    outline: none;
}

/* ----------------------------- Category Styles ---------------------------- */

@mixin category-label {
    display: inline-flex;
    gap: .5em;
    align-items: center;
    border-radius: var(--border-radius2);
    padding: .125em .75em;
}

@mixin month-category {
    @include category-label;
    background-color: color-mix(in srgb, var(--main-hlight2), var(--main-hlight) 10%);
    transition: all .3s ease;

    * {
        color: var(--main-dark4);
    }
}

@mixin month-category-hover-effects {

    &:hover {
        background-color: var(--main-hlight3);
        transition: all .3s ease;

        * {
            color: color-mix(in srgb, var(--main-dark4), black 10%);
        }
    }
}

@mixin year-category {
    @include category-label;
    background-color: color-mix(in srgb, var(--secondary-hlight2), var(--secondary-hlight) 15%);
    color: var(--secondary-dark4);
    transition: all .3s ease;
}

@mixin year-category-hover-effects {
    &:hover {
        color: color-mix(in srgb, var(--secondary-dark4), black 10%);
        background-color: var(--secondary-hlight3);
        transition: all .3s ease;
    }
}

/* ---------------------------- New Button Styles --------------------------- */

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    white-space: nowrap;
    border-radius: inherit;
    display: flex;
    align-items: center;
    padding: 0;
}

button:focus-visible {
    outline: none;
    box-shadow: var(--accessible-focus-drop-shadow);
}

button.pulse {
    animation: pulse 1.5s infinite;
    border-radius: 50%;
    padding: .25em;
    transition: all .3s ease;
}

button.pulse:hover {
    background-color: var(--main-hlight2);
    border-radius: var(--border-radius1);
    animation: none;
    background-color: var(--main-hlight2);
    transition: all .3s ease;
}

/* Header Buttons */
.header-btns {
    display: flex;
    align-items: center;
    gap: .125em;
}

.budget-item-name {
    padding: .125em .75em;
    border-radius: var(--border-radius2);
    background-color: var(--main-hlight2);
    display: inline-block;
    white-space: nowrap;
    transition: background-color .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.budget-item-name[role="button"] {
    cursor: pointer;
    color: var(--main-dark4);
}

.budget-item-name[role="button"]:hover {
    background-color: var(--main-color);
    transition: background-color .3s ease;
}

.budget-item-name * {
    color: var(--main-dark4);
}

.budget-item-name span:first-child {
    margin-right: .25em;
}

.budget-item-name.unselected svg {
    transform: scale(0);
    opacity: 0;
    transition: all .3 ease;
    margin-left: -.5em;
}

.budget-item-name.selected svg {
    transform: scale(1);
    opacity: 1;
    transition: all .3 ease;
    margin-left: .5em;
}

.budget-item-name.selected {
    background-color: var(--btn-gray);
    color: var(--white-text);
    transition: background-color .3s ease;
}

.budget-item-name.selected:hover {
    background-color: var(--btn-hover-gray);
    transition: background-color .3s ease;
}

/* -------------------------------- Dropdowns ------------------------------- */

.dropdown {
    background-color: var(--window);
    box-shadow: var(--mid-elevation-drop-shadow);
    -webkit-box-shadow: var(--mid-elevation-drop-shadow);
    /* -moz-box-shadow: var(--mid-elevation-drop-shadow); */
    box-sizing: border-box;
    border-radius: var(--border-radius2);
    transform-origin: top;
    padding: .375em .375em;
    color: var(--m-text);
    font-weight: 500;
    border: var(--subtle-border);
    white-space: nowrap;
    position: absolute;
    text-align: left;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.dropdown button {
    width: 100%;
}

.dropdown:focus-visible {
    outline: none;
    box-shadow: var(--mid-elevation-drop-shadow);
    border: none;
}

ul hr {
    margin: .375em 0;
}

.line {
    margin: .125em 0;
    border: none;
    border-top: 1.5px solid var(--subtle-border-color);
}

.dropdown-item {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: .875em;
    width: auto;
    padding: .25em .75em;
    margin: .125em 0;
    transition: background-color 0.3s ease-out;
    border-radius: var(--border-radius1);
}

.dropdown-item>div {
    display: flex;
    align-items: center;
}

.dropdown-item.active {
    outline: none;
    background-color: var(--icon-light-gray);
    box-shadow: none;
}

.dropdown-item.selected {
    background-color: var(--main-hlight2);
}

.dropdown-item.selected.active {
    background-color: var(--main-hlight5);
}

.dropdown-item:focus-visible {
    outline: none;
    background-color: var(--icon-light-gray);
    box-shadow: none;
}

.active-dropdown-item {
    background-color: var(--icon-light-gray);
}

.dropdown-item:hover {
    background-color: var(--icon-light-gray);
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    height: 100%;
    box-shadow: none;
}

.dropdown.right {
    top: .375em;
    margin-left: .5em;
}

.dropdown.right2 {
    top: 1.5em;
    margin-left: .5em;
}

.dropdown.arrow-right::before {
    position: absolute;
    top: -.5em;
    right: 1.125em;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--subtle-border-color);
    border-left: 6px solid transparent;
    content: '';
}

.dropdown.arrow-right::after {
    position: absolute;
    top: -.375em;
    right: 1.125em;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--window);
    border-left: 6px solid transparent;
    content: '';
}

@mixin window-corner-dropdown {
    display: inline-flex;
    align-items: center;
    border-radius: .25em;
    position: absolute;
    top: .5em;
    right: 2.75em;
    z-index: 10;

    &>div {
        position: absolute;
        right: 0;
        bottom: 0;
        // transform: translateX(50%);
    }

    hr {
        margin: .375em 0;
    }

    button {
        display: flex;
        gap: .75em;
    }
}

/* ---------------------------------- Tabs ---------------------------------- */

.tab-list--container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: .5em 0;
}

.tab-list {
    position: relative;
    border-radius: var(--border-radius2);
    background-color: var(--input-background);
    z-index: 0;
    display: flex;
    justify-content: center;
}

/* ------------------------------- Animations ------------------------------- */

@keyframes rotate45minus {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-45deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pop-fade-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pop {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pop-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}


@keyframes show {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0px 0px var(--main-hlight2);
    }

    50% {
        box-shadow: 0 0 0px 4px var(--main-hlight2);
    }

    100% {
        box-shadow: 0 0 0px 0px var(--main-hlight2);
    }

}
