$green: color-mix(in srgb, var(--green-hlight2), var(--green-dark4) 5%);
$green-hover: color-mix(in srgb, var(--green-hlight2), var(--green-dark4) 15%);
$blue: color-mix(in srgb, var(--blue-hlight2), var(--blue-dark4) 5%);
$blue-hover: color-mix(in srgb, var(--blue-hlight2), var(--blue-dark4) 10%);
