$blue: var(--main-hlight2);
$blue-hover: color-mix(in srgb, var(--main-hlight2), var(--main-hlight) 30%);
$green: var(--secondary-hlight2);
$green-hover: color-mix(in srgb, var(--secondary-hlight2), var(--secondary-hlight) 30%);
