header {
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    max-width: 87.5rem;
}

.header-container>div:nth-child(2) {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

.header-right {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: .75em;
}

.header-logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 .875em;
    position: relative;
}

.header-logo img {
    height: 65%;
    cursor: pointer;
    margin-left: .375em;
}

.profile-button {
    margin: .5em 1.125em .5em .25em;
    position: relative;
    padding: 0;
    background-color: transparent;
    border-radius: var(--border-radius4);
}

.header-container.narrow .profile-button {
    margin-right: 0;
}

/* ------------------------------ Dropdown Menu ----------------------------- */

.profile-dropdown.wide {
    top: 3em;
    left: -1em;
}

.profile-dropdown.wide::before {
    position: absolute;
    top: -.5em;
    left: 1.625em;
    display: inline-block;
    border-right: .375em solid transparent;
    border-bottom: .375em solid var(--subtle-border-color);
    border-left: .375em solid transparent;
    content: '';
}

.profile-dropdown.wide::after {
    position: absolute;
    top: -.375em;
    /* left: 3em; */
    left: 1.625em;
    display: inline-block;
    border-right: .375em solid transparent;
    border-bottom: .375em solid var(--window);
    border-left: .375em solid transparent;
    content: '';
}

.profile-dropdown.narrow {
    position: absolute;
    flex-direction: column;
    display: flex;
    text-align: left;
    top: 3em;
    right: -1.5em;
}

.profile-dropdown.narrow::before {
    position: absolute;
    top: -.5em;
    /* left: 3em; */
    right: 1.875em;
    display: inline-block;
    border-right: .375em solid transparent;
    border-bottom: .375em solid var(--subtle-border-color);
    border-left: .375em solid transparent;
    content: '';
}

.profile-dropdown.narrow::after {
    position: absolute;
    top: -.375em;
    right: 1.875em;
    display: inline-block;
    border-right: .375em solid transparent;
    border-bottom: .375em solid var(--window);
    border-left: .375em solid transparent;
    content: '';
}

/* ------------------------------- Nav ------------------------------- */

.header-nav ul {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: .525em;
    list-style-type: none;
    padding: 0;
    position: relative;
}

.nav-item,
.current-nav-item {
    width: 100%;
    flex: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border-radius: var(--border-radius3);
    z-index: 1;
}

.nav-item a,
.current-nav-item a {
    border-radius: var(--border-radius3);
    width: 100%;
    height: 100%;
    padding: .125em .75em;
    font-weight: 400;
}

.nav-item:hover {
    background-color: var(--icon-light-gray);
    opacity: .8;
    transition: all 0.3s ease-out;
}

.current-nav-item * {
    color: var(--white-text);
}

.dropdown-item #logout-icon {
    margin-right: .75em;
    margin-left: .25em;
}

/* Responsiveness */

@media (max-width: 700px) {
    .header-container>div:nth-child(2) {
        justify-content: center;
    }

    .nav-item {
        opacity: .4;
    }

    .current-nav-item * {
        color: var(--m-text-gray);
    }

    .header-container>div span {
        visibility: hidden;
    }
}
