header {
    background-color: var(--header-background);
    box-shadow: var(--header-box-shadow);
    z-index: 1;
    position: sticky;
    top: 0;
    position: relative;

    // Same as dashboard
    width: 100%;
    padding: .75em 0;

    &:not(.extra-large) {
        &>div {
            max-width: calc(100% - 2.75rem);
        }
    }

    &.dark-mode>div>div:first-child {
        img {
            filter: grayscale(100%);
        }
    }

    &.small,
    &.extra-small {
        &>div>div:nth-child(2) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            &::after {
                display: none;
            }
        }
    }

    &>div {
        max-width: calc(100% - 3.5rem);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        // Logo
        &>div:first-child {
            cursor: pointer;
            margin-left: 0em;
            display: flex;
            align-items: center;
        }

        // Navigation
        &>div:nth-child(2) {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            margin-right: 2.75em;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                right: -1em;
                top: .25em;
                bottom: .25em;
                width: 1.5px;
                background-color: var(--m-text-secondary);
            }
        }

        // Icons in menu (dark mode, notifications, profile)
        &>div:nth-child(3) {
            display: flex;
            align-items: center;
            gap: 1em;
        }
    }
}

/* ------------------------------ Profile Dropdown Menu ----------------------------- */

.profile-dropdown {
    position: absolute;
    flex-direction: column;
    display: flex;
    text-align: left;
    top: 2.125em;
    margin-left: 1em;

    &>button {
        width: 100%;
    }
}

/* ------------------------------- Nav ------------------------------- */

.header-nav ul {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: .5em;
    list-style-type: none;
    padding: 0;
    position: relative;
}

.nav-item,
.current-nav-item {
    width: 100%;
    flex: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border-radius: var(--border-radius3);
    z-index: 1;
}

.current-nav-item a {
    opacity: 1;
}

.nav-item a,
.current-nav-item a {
    border-radius: var(--border-radius3);
    width: 100%;
    height: 100%;
    padding: .125em .75em;
}

.nav-item {
    background-color: transparent;
    opacity: .6;
}

.nav-item:hover {
    background-color: var(--header-pill-hover);
    transition: all 0.3s;
}

@media (max-width: 1079px) {
    .header-container {
        &>div:nth-child(3) {
            margin-right: .5em;
        }
    }
}
