@mixin table-dividers($bottom: -0.5em) {
    &:not(.month-header)::after {
        content: '';
        position: absolute;
        bottom: $bottom;
        left: 0em;
        right: 0em;
        height: 1px;
        border-bottom: 1.4px dashed var(--border-color-dimmest);
    }
}

@mixin table-header-mask-image {
    mask-image: linear-gradient(to bottom, black 8px, black calc(100% - 8px), transparent);
}

@mixin invert-image {
    img {
        // filter: invert(1) contrast(3.5);
        // opacity: .7;
        transform: scale(1.2);
    }
}
