$primary-text-color: #292929;
$secondary-text-color: hsl(0, 0%, 36%);
$tirtiary-text-color: hsl(0, 0%, 56%);
$debit-text: #3aae83;
$charcoal: var(--charcoal-rgb);


@mixin make_all_secondary_text_color {
    * {
        color: $secondary-text-color;
    }
}
