.notificationsDropdownMenu {
  min-width: 30em;
  top: 2.125em;
  margin-left: 1em;
}

.notificationsDropdownHeader {
  display: flex;
  position: relative;
  position: relative;

  & > div:first-child {
    padding: 0.45em 0.5em 0.75em 0.75em;
    position: relative;

    button:first-child {
      gap: 1em;

      span {
        position: relative;
        color: var(--white);
        font-size: 0.875em;
        font-weight: var(--fw-bold);

        &::after {
          content: '';
          position: absolute;
          z-index: -1;
          border-radius: 50%;
          left: 50%;
          bottom: 52%;
          transform: translate(-50%, 50%);
          width: 1.625em;
          height: 1.625em;
          background-color: var(--blue-sat);
        }
      }
    }
  }
}

.notificationsDropdownActions {
  position: absolute;
  right: 1.25em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 0.5em;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;
  }
}

.notificationsDropdown {
  position: relative;
  display: flex;
  flex-direction: column;

  & > div:last-child {
    position: relative;
    top: 0.5em;
  }

  div[role='tabpanel'] {
    margin-top: 0.5em;
  }

  & > button {
    padding: 0.25em;
    border-radius: var(--border-radius2);
    position: relative;

    &[data-active='true']::after {
      content: '';
      position: absolute;
      top: -0.125em;
      right: -0.125em;
      width: 0.375em;
      height: 0.375em;
      border-radius: 50%;
      border: var(--header-background) 1.75px solid;
      background-color: var(--blue-sat);
    }
  }
}
