.webauthn-modal-content {
    text-align: center;
}

.webauthn-modal-content p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px;
}

.webauthn-modal-content h1 {
    color: var(--main-green-darker);
}

.webauthn-modal-content div:first-child {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.webauthn-modal-content div:first-child img {
    height: 1em;
    transform: scale(1.2);
}
