{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="login-logo">
    <a href="{% url 'landing' %}">
        <img src="{% static 'images/logo.svg' %}" />
    </a>
</div>
{% if page == 'login' %}
{% load socialaccount %}
<div class="window login-container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} wrong-credentials">
        <img src="{% static 'images/alert.svg' %}" />
        <span>{{ message }}</span>
    </div>
    {% endfor %}
    {% endif %}
    <form class="login-form" method="post">
        {% csrf_token %}
        <div>
            <input type="text" id="email" name="email" placeholder="Email" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="forgot-password-container">
            {% include 'checkmark.html' %}
            <div class="checkbox-container">
                <input class="checkbox-input" id="remember-pass" type="checkbox" />
                <label class="checkbox" for="remember-pass">
                    <span>
                        <svg>
                            <use xlink:href="#check"></use>
                        </svg>
                    </span>
                    <span>Remember me</span>
                </label>
            </div>
            <a id="forgot-password" href="#">Forgot Password?</a>
        </div>
        <div>
            <input type="submit" id="login" value="Sign In">
        </div>
    </form>
    <div class="or-container">
        <span>Or continue with</span>
    </div>
    <div class="social-login-container">
        <a id="google-login-button" href="{% provider_login_url 'google' %}">
            <img src="{% static 'images/google-logo.svg' process='login' %}" />
        </a>
        <a id="facebook-login-button" href="{% provider_login_url 'facebook' %}">
            <img src="{% static 'images/fb-logo.svg' process='login' %}" />
        </a>
    </div>
</div>
<div class="sign-up-prompt-container">
    <span>Don't have an account?</span>
    <a href="{% url 'register' %}">
        Sign Up
    </a>
</div>
{% endif %}
{% if page == 'forgot-password' %}
{% endif %}
{% endblck %}
