#month-picker--container {
    position: absolute;
    top: 1.5em;
    margin-left: -.5em;
    z-index: 1;

    &.small-screen {
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
        top: 1.25em;
    }
}

.budget-summary--container {
    margin: 1.5em 0 .75em 0;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1em;
    mask-image: linear-gradient(to right, black 0%, black 90%, transparent);
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;

    &>div:first-child {
        margin-right: 1em;

        h2,
        h3 {
            font-weight: var(--fw-light);
            color: var(--m-text-quaternary);
        }

        h2 {
            font-size: 1.25rem;
        }

        &>div {
            font-size: 2.5rem;
            line-height: 3rem;

            * {
                color: var(--m-header-text);
            }
        }
    }


    $gap: 3em;

    &>div:last-child {
        display: flex;
        align-items: baseline;
        gap: $gap;
        margin-left: .125em;
        flex-grow: 1;
        margin-bottom: .25em;

        &>div:nth-child(-n+3) {
            font-size: 1.25rem;
            gap: .25em;
            display: flex;
            align-items: baseline;
            position: relative;

            * {
                color: var(--m-header-text);
            }

            @mixin dot($color-var) {
                margin-left: .75em;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -.625em;
                    width: .375rem;
                    height: .375rem;
                    border-radius: 50%;
                    background-color: var($color-var);
                }
            }

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                top: .25em;
                bottom: .25em;
                right: calc($gap /2 * -1 + .5em);
                width: 1.5px;
                border-radius: 1px;
                background-color: var(--border-color);
            }

            &:nth-last-child(3) {
                @include dot(--blue-light-medium);
            }

            &:nth-last-child(2) {
                @include dot(--green-sat);
            }

            &:last-child {
                span:first-child {
                    font-size: 1.25rem;
                }

                @include dot(--btn-light-gray-hover);
            }

            &>span:last-child {
                font-weight: var(--fw-light);
                color: var(--m-text-quaternary);
                opacity: .9;
                white-space: nowrap;
            }
        }
    }

}
