#month-picker--container {
    position: absolute;
    top: 1.25em;
    z-index: 1;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
}

.budget-summary--container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 0;
    margin-top: 0em;

    &>div:first-child {
        display: flex;
        align-items: center;
        flex-direction: column;

        &>div {
            font-size: 2.25rem;
            line-height: 3rem;

            * {
                color: var(--m-header-text);
            }
        }

        h3 {
            margin-left: .5em;
            color: var(--m-text-quinary);
        }
    }


    &.extra-small {
        gap: 1em;
        margin-top: 1.25em;

        &>div:last-child>div:nth-child(-n+3) {
            flex-grow: 1;
        }
    }

    $gap: 2em;

    &>div:last-child {
        display: flex;
        align-items: baseline;
        margin-bottom: .375em;
        gap: $gap;

        &>div:nth-child(-n+3) {
            font-size: 1.125rem;
            gap: .25em;
            display: flex;
            align-items: baseline;
            position: relative;
            margin-left: 1em;

            * {
                color: var(--m-header-text);
            }

            @mixin dot($color-var) {

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -.75em;
                    width: .375rem;
                    height: .375rem;
                    border-radius: 50%;
                    background-color: var($color-var);
                }
            }

            &:nth-last-child(3) {
                @include dot(--blue-light-medium);
            }

            &:nth-last-child(2) {
                @include dot(--green-sat);
            }

            &:nth-last-child(1) {
                @include dot(--m-text-quaternary);
            }

            &>span:last-child {
                font-weight: var(--fw-bold);
                color: var(--m-text-quinary);
                font-size: .8rem;
                white-space: nowrap;
            }


            &>span:first-child {
                font-size: 1.125rem;
            }
        }
    }

}
