@mixin bottom-floor-text {
    margin-top: -.25em;
    color: var(--white);
    opacity: .8;
    white-space: nowrap;
}

$gap: 2.75em;

.budget-summary--container {
    display: flex;
    padding: 1em 2em 1em 1em;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: var(--blue-medium);
    border-radius: var(--border-radius3);
    margin-bottom: 1em;
    gap: $gap;

    &>div:last-child {
        display: flex;
        gap: $gap;

        &>div {
            display: flex;
            flex-direction: column;
        }

        &>div>div,
        &>div>div>span:first-child {
            font-size: 1.5rem;

            * {
                color: var(--white);
            }
        }

        &>div>span:last-child {
            @include bottom-floor-text;
        }
    }

    // Total Spent
    &>div:first-child {
        &>div {
            font-size: 2rem;

            * {
                color: var(--white);
            }
        }

        #month-picker--container {
            margin-right: .25em;
        }

        &>div:last-child {
            display: flex;
            flex-direction: column;

            &>span:last-child {
                @include bottom-floor-text;
            }
        }
    }

}
