$subtleBorderColor: var(--subtle-border-color);
$mGreenValues: var(--m-green-values);
$charcoalValues: var(--charcoal-rgb);

.budget-items-table--container {
    position: relative;
    height: 50%;
    overflow-x: hidden;
    overflow-y: auto;

    .budget-items--table {
        padding-right: 16px;
        position: absolute;
        inset: 0;
        display: grid;
        grid-template-columns: 5fr 1fr minmax(auto, min-content) 1fr minmax(auto, min-content);
        grid-auto-rows: minmax(auto, 60px);

        &>div {
            position: relative;
            display: contents;
            cursor: pointer;

            &>div {
                padding-top: 6px;
                padding-bottom: 6px;
                transition: all .2s ease-in-out;
                position: relative;
                display: flex;
                align-items: center;
                margin: 6px 0;
            }

            &:hover>div {
                transition: all .2s ease-in-out;
                background-color: var(--btn-light-light-gray);

                &:nth-child(5n+1) {
                    span {
                        background-color: transparent;
                        transition: all .2s ease-in-out;
                    }
                }
            }

            &:not(:last-child)>div::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -6px;
                width: 100%;
                height: 1.25px;
                background-color: $subtleBorderColor;
            }

            &>div:nth-child(5n + 1) {
                padding-right: 24px;
                display: inline-flex;
                gap: 6px;
                border-top-left-radius: calc(var(--border-radius25));
                border-bottom-left-radius: calc(var(--border-radius25));

                span {
                    border-radius: var(--border-radius2);
                    background-color: rgb(var(--charcoal-rgb), .05);
                    padding: 2px 12px;
                    font-size: 13px;
                    transition: all .2s ease-in-out;
                }
            }

            // Amount spent cell
            &>div:nth-child(5n + 2) {
                font-weight: 500;
            }

            // Dash cell
            &>div:nth-child(5n + 3) {
                padding: 0 8px;
            }

            // Limit amount cell
            &>div:nth-child(5n + 4) {
                opacity: .8;
                padding-right: 16px;
                text-align: end;
                display: flex;
                justify-content: flex-end;
            }

            // progress circle cell
            &>div:nth-child(5n + 5) {
                display: flex;
                padding-right: 16px;
                align-items: center;
                justify-content: center;
                border-top-right-radius: calc(var(--border-radius25));
                border-bottom-right-radius: calc(var(--border-radius25));
                position: relative;
            }
        }


    }

}
