#budget-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: .5em;
    padding-top: 0;
    margin-top: -.5em;
    flex: 0 0 0%;

    &>div {
        display: flex;
        align-items: center;
        gap: .375em;

        &:first-child {
            cursor: pointer;

            &>span {
                color: var(--blue-sat);
            }

            &>div {
                opacity: 0;
                display: flex;
                margin-left: .25em;
                transition: opacity .2s ease-in-out;

                &>button {
                    position: relative;
                    padding: 0 .75em;
                    transform: translateX(-.25em);
                    transition: transform .2s ease-in-out;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0.25em;
                        bottom: .25em;
                        left: 0;
                        width: 1.5px;
                        background-color: var(--m-text-quaternary);
                    }
                }
            }

            &:hover>div,
            &:focus-within>div {
                opacity: 1;
                transition: opacity .2s ease-in-out;

                button {
                    transform: translateX(0);
                    transition: transform .2s ease-in-out;
                }
            }
        }

        &:last-child {
            margin-right: .25em;
        }
    }

    #filter-buttons {

        &>div {
            display: flex;
            gap: .5em;
            margin-right: .5em;
            cursor: pointer;
            opacity: .7;
            transition: opacity .2s ease-in-out;
        }

        button {
            opacity: 0;
            transform: scale(0);
            transition: opacity .2s ease-in-out, transform .2s ease-in-out;
        }

        &:hover {
            &>div {
                opacity: 1;
                transition: opacity .2s ease-in-out;

            }

            button {

                opacity: 1;
                transform: scale(1);
                transition: opacity .2s ease-in-out, transform .2s ease-in-out;
            }
        }
    }
}
