.month-picker {
    display: flex;
    flex-direction: column;
    position: relative;

    &--container {
        display: flex;
        align-items: center;
        gap: .5em;
        border-radius: var(--border-radius4);
        padding: .125em 0em;
    }

    &>.month-picker--container {

        &.small {
            font-size: 1em;
        }

        &.medium {
            font-size: 1.25rem;
        }

        button {
            opacity: 1;
            transition: opacity .2s ease-in-out;

            &:first-child {
                margin-right: .5em;
            }

            &:not(:first-child) {
                font-size: 1rem;
                margin-left: -.5rem;
            }
        }

        button:hover {
            opacity: .7;
            transition: opacity .2s ease-in-out;
        }
    }
}
