.month-picker {
    display: flex;
    flex-direction: column;
    position: relative;

    &--container {
        display: flex;
        align-items: center;
        border-radius: var(--border-radius4);
        padding: .125em 0em;
    }

    &>.month-picker--container {

        button {
            opacity: 1;
            color: var(--white);
            transition: opacity .2s ease-in-out;

            &:first-child {
                margin-right: .5em;
            }
        }

        button:hover {
            opacity: .7;
            transition: opacity .2s ease-in-out;
        }
    }
}
