@import './Variables.scss';
@import '@styles/table-mixins.scss';

$bill-flex-grid-gap: calc(.25em + .5vw);
$window-padding: $bill-flex-grid-gap;

$row-padding: .375em;
$label-padding: calc($row-padding/2) .75em;
$column-gap: 2em;
$background: var(--window);


@mixin header-styles {
    padding-top: 0;
    position: sticky;
    top: 0;
    // height: calc(auto + .5em);
    height: 1.25em;
    background-color: $background;
    padding-bottom: .5em;
    z-index: 1;
}

@mixin outermost-div-placement-styling {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    overflow: hidden;
}

#spending-categories-window {
    flex: 2 1 0;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // Aprx. 5 rows
    // the 2em comes from the bottom buttons space
    min-height: calc(3.5 * (1em + 2 * $item-row-gap + 2 * $row-padding) + 2.25em);
    position: relative;

    h2 {
        margin-left: .25em;
    }

    &.tabbed {
        grid-template-columns: 1fr;
        position: unset;

        &>div {
            grid-template-columns: 1fr;
        }

        .row.header>div:first-child {
            align-items: center;
            gap: .25em;
        }
    }
}

.all-categories-table {
    gap: $column-gap;
    border-radius: var(--border-radius25);
    @include outermost-div-placement-styling;
    place-content: start;

    &.tab-view {
        flex-direction: column;
        gap: 1.25em;

        &>div:first-child>div {
            display: flex;
            justify-content: center;
        }
    }

    &.column-view {
        flex-direction: row;

        &>div {
            flex: 1;
        }
    }

    .column {
        max-height: 100%;
        overflow-y: auto;
        width: calc(100% + .75em);
        box-sizing: border-box;
        padding: 0 .125em;
        padding-bottom: .5em;
        max-height: 100%;
        display: grid;
        grid-template-columns: 1fr minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);
        height: min-content;
        position: relative;

        &:first-child button {
            // padding: .125em 0;
            grid-column: 1 / span 5;
        }

        &::after {
            content: "";
            height: .01em;
        }
    }

    .row {
        display: contents;
        transition: all .2s ease-in-out;

        // All cells
        &>div {
            white-space: nowrap;
            align-self: center;
            height: 100%;
        }

        &:not(.header) {
            transform: translateY(-.5em);

            &>div {
                margin: calc($item-row-gap / 2) 0;
            }
        }

        &:first-child>div {
            &.tab-nav-cell {
                grid-column: 1 / span 5;
                display: flex;
                justify-content: center;
            }
        }

        &.total>div:first-child {
            padding: .5em 0 .5em .25em;
        }

        &>div.spanned {
            // cover 2-5 columns
            // grid-column: 2 / span ;
            text-align: right;
            padding-right: .25em;
        }

        &.header {
            cursor: default;
            align-items: center;
            font-weight: var(--fw-regular);
            z-index: 1;

            &>div {
                @include header-styles;
            }

            &>div.monthly h4,
            &>div.monthly {
                color: var(--main-color-header-text);
            }

            &>div.yearly h4,
            &>div.yearly {
                color: var(--secondary-color-header-text);
            }

            &:first-child {
                padding-left: .125em;
            }

            h4 {
                display: inline-block;
                white-space: nowrap;
            }

            // Styles for tab view
            span:focus {
                outline: none;
            }

            span[aria-selected="false"],
            span[aria-selected="true"] {
                cursor: pointer;
            }

            span[aria-selected="false"] {
                opacity: .4;
            }
        }

        // Styles for showing when yearly budget resets
        &.has-alternate-header {

            &>div.yearly {
                cursor: pointer;
                position: relative;
                white-space: nowrap;

                h4:first-child {
                    visibility: visible;
                    width: auto;
                }

                h4:not(:first-child) {
                    visibility: collapse;
                    width: 0;
                }
            }

            &>div.yearly:hover {
                h4:first-child {
                    visibility: collapse;
                    width: 0;
                }

                h4:not(:first-child) {
                    visibility: visible;
                    width: auto;
                }
            }
        }

        // Name columns
        &>div:nth-child(5n+1):not(.spanned) {
            flex-grow: 1;
            display: flex;
            align-items: center;
            gap: .25em;
        }

        // Amount spent columns
        &>div:nth-child(5n+2):not(.spanned) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: .25em;
        }

        // Forward slash columns
        &>div:nth-child(5n+3):not(.spanned) {
            display: flex;
            align-items: center;
        }

        // Limit amount columns
        &>div:nth-child(5n+4) {
            display: flex;
            align-items: center;
            padding-left: .25em;
            padding-right: .25em;
        }

        // Progress circle columns
        &>div:nth-child(5n) {
            padding-left: .5em;
            padding-right: .75em;
            display: flex;
            align-items: center;
        }

        // Borders in between rows
        &:not(:first-child):not(:last-of-type)>div {
            position: relative;
            z-index: 0;

            @include table-dividers(0);

            &:first-child::after {
                left: .375em;
                right: 0;
            }

            &:not(:first-child):not(:last-child)::after {
                left: 0;
                right: 0;
            }
        }
    }

    .skeleton-column {
        display: flex;
        flex-direction: column;
        gap: $item-row-gap;
        padding: $item-row-gap;

        &>div {
            width: 100%;
        }
    }

    .spending-categories--tab-nav-list {
        width: 60%;
        max-width: 20em;
        min-width: 13.125em;
    }
}


// Div surrounding the bottom buttons
#category-filters--container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: .75em;

    &>div {
        height: min-content;
        display: flex;
        gap: .325em;
    }
}

.category-detail--container {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
    padding: inherit;
    background-color: var(--window);
    z-index: 2;
    border-radius: inherit;

    &.tabbed>div:last-of-type {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);

        &>div {
            max-width: 100%;
        }
    }

    .category-detail {
        display: flex;
        @include outermost-div-placement-styling;
        padding: 0 .25em;
        margin-top: 1.25em;
        gap: 2em;
        color: var(--main-hlight);

        &.small {
            flex-direction: column;
            gap: 4em;

            &>div {
                max-height: 50%;
                max-width: 30em;

                &:last-child {
                    justify-content: flex-start;
                }
            }
        }

        &>div {
            &:first-child {
                flex: 1;
                margin: 1em 0;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &>div {
                    max-height: 20em;
                }

                .chart-window-selectors {
                    z-index: 10;
                    top: .25em;
                    position: absolute;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }

            &:last-child {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    #not-enough-data-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        z-index: 100;
        color: var(--m-text-tirtiary);
        text-align: center;
    }

    .shimmer-div--container {
        border-radius: var(--border-radius2);
        display: flex;
        flex-direction: column;
        gap: 1em;

        &>div {
            height: 1.5em;

            &:first-child {
                width: 50%;
            }
        }
    }

    // List of transactions (table)
    .transactions-for-category {
        display: grid;
        grid-template-columns: auto 1fr auto;
        position: relative;
        overflow-y: auto;
        padding-right: 1em;
        margin-bottom: 1.5em;
        width: calc(100%);

        &.no-transactions {
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
            grid-auto-rows: minmax(1.5em, 1.5em);
        }

        &:not(.no-transactions) {
            grid-auto-rows: minmax(2.5em, 3.5em);
        }

        &>div {
            display: contents;
            position: relative;

            &:not(:first-child)>div svg {
                scale: 0;
                width: 0;
                margin-left: 0;
                transition: all .2s ease-in-out;
            }

            &:hover:not(:first-child)>div {
                cursor: pointer;

                svg {
                    scale: 1;
                    margin-left: .5em;
                    width: 1em;
                    transition: all .2s ease-in-out;
                }
            }

            .no-transactions-message {
                grid-column: 1 / span 3;
                display: flex;
                align-items: center;
                opacity: .5;
                margin-top: .5em;

                &>div {
                    height: auto;
                }
            }

            &>div {
                align-self: center;
                height: 100%;
            }

            // Header row
            &:first-child {
                font-weight: var(--fw-regular);
                @include table-header-mask-image;

                &>div {
                    @include header-styles;
                    background-color: var(--window);
                }

                &>div,
                &>div>div {
                    font-size: 1.125em;
                }

                &>div:last-child {
                    display: flex;
                    align-items: center;
                    gap: .5em;
                    justify-self: flex-end;
                }
            }

            &:not(:first-child)>div {
                z-index: 0;
            }

            // Name cell
            &>div:nth-child(3n + 1):not(:last-child) {
                padding-right: 1em;
                display: flex;
                align-items: center;
                gap: .5em;
                white-space: nowrap;
            }

            // Date column
            &>div:nth-child(3n + 2) {
                color: var(--m-text-tirtiary);
                display: flex;
                align-items: center;
            }

            // Amount column
            &>div:nth-child(3n + 3) {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            &:not(:last-child):not(:first-child)>div {
                position: relative;
                @include table-dividers(0);
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .row {
        gap: .125em;
    }
}

@media screen and (min-width: 800px) {
    .row {
        &.header>div h4 br {
            display: none;
        }
    }
}
