/* ------------------------------ Columnar View ----------------------------- */

#budget--container .columnar--view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

#budget--container .columnar--view>div {
    flex: 1;
}

#budget--container .columnar--view>div:first-child {
    margin-right: 8px;
}

#budget--container .columnar--view>div:last-child {
    margin-left: 8px;
}

/* -------------------------------- Tab View -------------------------------- */

#budget--container #tab-view--list {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

#budget--container #tab-view--list button {
    margin: 8px 0;
    text-align: left;
    transition: all .2s ease-in-out;
    border-radius: calc(var(--border-radius4) + 6px);
}

#budget--container #tab-view--list button:first-child {
    margin-right: 24px;
}

#budget--container #tab-view--list button:focus {
    outline: none;
    box-shadow: none;
}

#budget--container #tab-view--list button[data-headlessui-state=''] {
    opacity: .4;
    transition: all .2s ease-in-out;
}

#budget--container #tab-view--list button[data-headlessui-state=''] .summary-stats--container {
    background-color: var(--btn-light-gray);
    transition: all .2s ease-in-out;
}
