#budget-window {
    flex: 6;
    height: 100%;
    // display: grid;
    // grid-template-rows: minmax(0, min-content) 1fr minmax(0, min-content);
    display: flex;
    flex-direction: column;
    gap: 1.75em;

    // Spending categories window
    &>div:nth-last-child(2) {
        flex: 1 1 0;
    }

    // Bills window
    // &>div:last-child {
    //     flex: 0 1 0;
    // }

    &>div {
        padding: 0 .5em;
    }
}

#budget-window .window-header {
    z-index: 100;
}

#budget-window .window {
    padding: 1.25em;
}

#budget-items--container {
    flex-grow: 1;
    flex-shrink: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, 1fr) minmax(0, max-content);
    row-gap: 1.75em;
    margin-top: 1.75em;
}

@media screen and (max-width: 450px) {
    #budget-window {
        padding-left: 0em;
        padding-right: 0em;
    }
}
