---
import PrivacyTermsLayout from '../../layouts/privacyterms-layout.astro';
import '../../styles/termly.scss';
import { Content as Privacy } from './privacy.md';
---

<PrivacyTermsLayout>
  <div class="termly">
    <Privacy />
  </div>
</PrivacyTermsLayout>
