#spending-window {
    flex: 1;
    min-width: 23.5rem;
    display: flex;
    flex-direction: column;
}

#all-items-window {
    flex-grow: 1;
}

#all-items-window>div:first-child>div:last-child {
    margin-right: -.5em;
}
