#spending-window {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 375px;
    height: inherit;
    max-height: inherit;
    display: flex;
    flex-direction: column;
}

#all-items-window {
    flex-grow: 1;
}

#all-items-window>div:first-child>div:last-child {
    margin-right: -8px;
}
