#spending-window {
    flex: 2.4;
    min-width: 22.5rem;
    display: flex;
    flex-direction: column;
    padding: var(--border-radius2) 0;
}

#all-items-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    position: relative;
}
