.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    position: relative;

    &>div {
        position: relative;

        &>div {
            border-radius: var(--border-radius25);
            padding: .15em .6em;
            min-width: 100%;
        }
    }
}

.activefilterButton {
    transition: color .2s;

    &:hover * {
        color: var(--blue-light-hover);
        transition: color .2s;
    }

    * {
        color: var(--blue-light);
    }
}
