@import '@styles/table-mixins.scss';

/* ------------------------------ Transactions ------------------------------ */

.table {
    flex-grow: 1;
    position: relative;
    min-height: 28em;
    margin-top: 2.5em;

    &>div:last-child {
        position: absolute;
        inset: 0;
    }

    &[data-size='extra-small'] {
        margin-top: 0;
        padding: 0;
    }
}

.header {
    width: calc(100% + 1.875em);
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: -3.75em;
    margin-left: -.25em;

    &[data-size='extra-small'] {
        margin: 0;
        visibility: hidden;
    }
}

/* Border bottom for all cells except last child */
$subtleBorderColor: var(--border-color-ultra-dim);
$borderRadius2: var(--border-radius3);

.list {
    position: absolute;
    z-index: 0;
    inset: 1.25em;
    right: .125em;
    overflow: auto;
    scrollbar-gutter: stable;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: minmax(auto, 5rem);
    grid-template-rows: min-content;
    row-gap: .75em;
    padding-right: .75em;

    &>div:nth-child(2n) {
        display: contents;
    }

    // Month Delimiter
    &>div:nth-child(2n + 1) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: sticky;
        top: .375em;
        background-color: var(--window);
        height: min-content;

        span {
            padding: 0 .75em 0 .25em;
            color: var(--m-text-tirtiary);
            background-color: inherit;

            &:first-child {
                position: relative;
                z-index: 0;
            }

            &:last-child {
                font-size: .875em;
                position: relative;
                z-index: 1;
            }
        }
    }

    &>div:nth-child(2n):not(:last-child)>div {
        @include table-dividers(-.375em, false, 1.5px);
    }

    &>div.transaction-shimmer:nth-child(2n + 3):hover>div {
        background-color: transparent;
        cursor: default;
    }

    &>div:nth-child(2n + 2) {
        padding: .25em 0;
        padding-right: .75em;
        padding-left: .25em;
    }

    &>div:nth-child(2n)>div {
        position: relative;
        z-index: 0;

        // Name, date, category, pending
        &:first-child {
            padding: .25em;
            padding-left: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-top-left-radius: $borderRadius2;
            border-bottom-left-radius: $borderRadius2;

            &>div {
                display: flex;
                gap: .375em;
                align-items: baseline;
            }

            // Date and category emojis
            &>div:first-child {
                display: flex;
                align-items: center;
            }

            &>div:last-child span {
                color: var(--m-text-secondary);
                font-weight: var(--fw-regular);
            }
        }

        // Amount
        &:last-child {
            padding: .25em;
            padding-right: .75em;
            display: flex;
            align-items: center;
            border-top-right-radius: $borderRadius2;
            border-bottom-right-radius: $borderRadius2;

            &[data-debit='true'] * {
                color: var(--green-text);
            }
        }
    }
}
