.activityDropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1.5em;
  right: 1.75em;
  z-index: 3;

  & > div:last-child {
    position: relative;
    top: 0.5em;

    &[data-screen-size='extra-small'] {
      margin-right: -0.75em;
    }
  }

  & > button {
    padding: 0.25em;
    border-radius: var(--border-radius2);
    position: relative;
    color: var(--m-text);

    &[data-screen-size='small'],
    &[data-screen-size='extra-small'] {
      &::before {
        border-color: transparent;
        background-color: unset;
        border: unset;
      }

      &:hover::before {
        background-color: unset;
      }

      span {
        width: 0.375em;
        height: 0.375em;
        top: 0px;
        right: 0px;

        &::after {
          width: 5px;
          height: 5px;
        }
      }
    }

    span {
      position: absolute;
      top: -4px;
      right: -4px;
      width: 0.75em;
      height: 0.75em;
      border-radius: 50%;
      background-color: var(--main-background-color);

      &::before {
        content: '';
        top: 50%;
        left: 50%;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        background-color: var(--blue-medium);
        animation: lightPulse 2s ease-out infinite;
      }

      &::after {
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        position: absolute;
        width: 7px;
        height: 7px;
        background-color: var(--blue-sat);
      }
    }

    &[data-dark='true'] span::before {
      animation: darkPulse 2s ease-out infinite;
    }

    &[data-dark='true']::before {
      background-color: var(--btn-feather-light-gray);
      border-color: var(--btn-feather-light-gray-hover);
    }

    &[data-dark='true']:hover::before {
      background-color: var(--btn-feather-light-gray-hover);
      border-color: var(--btn-light-gray-hover);
    }

    &::before {
      content: '';
      position: absolute;
      width: 2.75em;
      height: 2.75em;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      background-color: var(--window);
      border: 1px solid var(--btn-feather-light-gray);
      z-index: -1;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
    }

    &:hover::before {
      background-color: var(--btn-feather-light-gray);
      border-color: var(--btn-light-gray);
      transition: all 0.3s ease-in-out;
    }

    svg path {
      stroke: currentColor;
    }
  }
}

@keyframes darkPulse {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }

  100% {
    width: 24px;
    height: 24px;
    opacity: 0;
  }
}

@keyframes lightPulse {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.6;
  }

  100% {
    width: 24px;
    height: 24px;
    opacity: 0;
  }
}

.activityDropdownMenu {
  min-width: 30em;
  padding: 0;
  top: 2.125em;
  background-color: var(--window);
  border-radius: var(--border-radius5);
}

.panels {
  padding-top: 0.25em;
}

.activityDropdownHeader {
  display: flex;
  position: relative;
  position: relative;
  width: auto;
  position: absolute;
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  top: 0;
  width: 100%;

  &::before {
    position: absolute;
    content: '';
    inset: 0;
    backdrop-filter: blur(4px);
    z-index: 10;
  }

  &::after {
    position: absolute;
    content: '';
    inset: 0;
    background-color: var(--window);
    opacity: 0.94;
    z-index: 11;
    box-shadow: var(--window) 0 0 8px;
  }

  & > div:first-child {
    z-index: 12;
    padding: 1em 1.5em 0.75em 1.5em;
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    border-bottom: 1.5px solid var(--border-color-super-dim);
  }
}

.activityDropdownActions {
  position: absolute;
  right: 1.25em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 0.5em;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;
  }
}
