
.activityDropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 2em;
  right: 2em;
  z-index: 110;

  & > div:last-child {
    position: relative;
    top: 0.5em;
  }

  & > button {
    padding: 0.25em;
    border-radius: var(--border-radius2);
    position: relative;
    color: var(--m-text);

    svg path {
      stroke: currentColor;
    }

    span {
      position: absolute;
      top: -6px;
      right: -6px;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background-color: var(--main-background-color);

      &::before {
        content: '';
        top: 50%;
        left: 50%;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        background-color: var(--blue-medium);
        animation: pulse 2s ease-out infinite;
      }

      &::after {
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: var(--blue-sat);
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 2.75em;
      height: 2.75em;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      background-color: var(--btn-feather-light-gray);
      border: 1px solid var(--btn-light-gray);
      z-index: -1;
      border-radius: 50%;
      transition: all .3s ease-in-out;
    }

    &:hover::before {
      background-color: var(--btn-feather-light-gray-hover);
      transition: all .3s ease-in-out;
    }
  }
}

@keyframes pulse {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }

  100% {
    width: 24px;
    height: 24px;
    opacity: 0;
  }
}

.activityDropdownMenu {
  min-width: 30em;
  padding: 0;
  top: 2.125em;
  background-color: var(--window);
  overflow: hidden;
  border-radius: var(--border-radius5);
}

.activityDropdownHeader {
  display: flex;
  position: relative;
  position: relative;
  width: auto;
  position: absolute;
  top: 0;
  width: 100%;

  &::before {
    position: absolute;
    content: '';
    inset: 0;
    backdrop-filter: blur(4px);
    z-index: 10;
  }

  &::after {
    position: absolute;
    content: '';
    inset: 0;
    background-color: var(--window);
    opacity: .94;
    z-index: 11;
    box-shadow: var(--window) 0 0 8px;
  }

  & > div:first-child {
    z-index: 12;
    padding: 1em 1.5em .75em 1.5em;
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    border-bottom: 1.5px solid var(--border-color-dim);
  }
}

.activityDropdownActions {
  position: absolute;
  right: 1.25em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 0.5em;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;
  }
}
