#dashboard {
    width: 90%;
    max-width: 1250px;
    margin: 20px auto;
    margin-top: 10px;
    display: flex;
    height: 100%;
}

.window {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 12px;
    padding: 12px 20px;
    box-sizing: border-box;
}

.window-header {
    padding: 8px 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                            Spending Window Styling                         */
/* -------------------------------------------------------------------------- */

#spending-window {
    flex: 1;
    min-width: 430px;
    margin-left: 12px;
    height: inherit;
    max-height: inherit;
    display: flex;
    flex-direction: column;
}

#all-items-window {
    flex-grow: 1;
}

/* -------------------------------------------------------------------------- */
/*                               Settings Window                              */
/* -------------------------------------------------------------------------- */

#settings-window {
    flex: 1;
}
