#dashboard {
    width: 90%;
    max-width: 1250px;
    margin: 20px auto;
    display: flex;
    height: 100%;
}

.window {
    /* background: linear-gradient(0deg, rgba(240, 240, 240, .95) 0%, rgba(240, 240, 240, 1) 10%, rgba(240, 240, 240, 1)); */
    box-shadow: 0px .5px 0px 1.5px rgba(27, 31, 36, 0.1);
    border-radius: 12px;
    padding: 12px 20px;
    box-sizing: border-box;
}

.window-header {
    padding: 8px 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------------- buttons -------------------------------- */

/* Header Buttons */
.window-header-buttons,
.window-header-button,
.window-header-button-selected {
    display: flex;
    align-items: center;
}

.window-header-button {
    background-color: var(--icon-light-gray);
}

.window-header-button-selected {
    background-color: var(--button-gray);
}

.window-header-button,
.window-header-button-selected {
    padding: 4px;
    margin: 0 4px;
    border-radius: 4px;
}

.window-header-button:hover {
    transition: background-color 0.2s ease-out;
    background-color: var(--icon-hover-gray);
}

/****/

.submit-button {
    padding: 8px 12px;
    color: var(--window);
    background-color: var(--button-gray);
    box-shadow: var(--button-drop-shadow);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    cursor: pointer;
    background-color: var(--button-hover-gray);
}

.submit-button {
    outline: none;
    cursor: pointer;
    /* border: 1.5px solid var(--window); */
}

.submit-button:focus-within {
    outline: none;
    box-shadow: var(--focus-drop-shadow);
}

.sub-header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-primary-green {
    background-color: var(--main-green);
    color: var(--white-text);
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color .3s ease;
}

.btn-primary-green:hover {
    background-color: var(--main-green-darker);
    transition: background-color .3s ease;
    cursor: pointer;
}

.btn-secondary {
    color: var(--main-text-gray);
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 6px;
    font-weight: 500;
    transform: scale(1);
    transition: transform .3s ease;
}

.btn-secondary:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform .3s ease;
}

/* ---------------------------------- Icons --------------------------------- */
.icon {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color .3s ease;
    cursor: pointer
}

.icon2 {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color .3s ease;
    cursor: pointer;
    transition: transform .3s ease;
}

.icon2:hover {
    transform: scale(1.2);
    transition: transform .3s ease;
}

.narrow-icon {
    display: flex;
    align-items: center;
    padding: 4px 0px;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color .3s ease;
    cursor: pointer
}

.icon:hover,
.narrow-icon:hover {
    background-color: var(--icon-hover-light-gray);
}

/* -------------------------------- Dropdowns ------------------------------- */

.dropdown {
    background-color: var(--window);
    box-shadow: var(--mid-elevation-drop-shadow);
    -webkit-box-shadow: var(--mid-elevation-drop-shadow);
    /* -moz-box-shadow: var(--mid-elevation-drop-shadow); */
    box-sizing: border-box;
    border-radius: 8px;
    z-index: 1000;
    transform-origin: top;
    padding: 6px 4px;
    color: var(--main-text-gray);
    font-weight: 500;
}

.dropdown:focus-visible {
    outline: none;
    box-shadow: var(--mid-elevation-drop-shadow);
    border: none;
}

.dropdown-icon {
    margin-right: 20px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    font-weight: 500;
    width: 100%;
    padding: 4px 12px;
    margin: 2px 0;
    background-color: var(--window);
    transition: background-color 0.3s ease-out;
    border-radius: 6px;
}

.dropdown-item:focus-visible {
    outline: none;
    background-color: var(--green-highlight);
    box-shadow: none;
}

.active-dropdown-item {
    background-color: var(--green-highlight);
}

.dropdown-item:hover {
    background-color: var(--green-highlight);
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    height: 100%;
    box-shadow: none;
}


/* -------------------------------------------------------------------------- */
/*                            Budget Window Styling                           */
/* -------------------------------------------------------------------------- */

#spending-window {
    flex: 1.8;
    margin-right: 12px;
}

/* -------------------------------------------------------------------------- */
/*                            Items Window Styling                            */
/* -------------------------------------------------------------------------- */

#items-window {
    flex: 1;
    min-width: 430px;
    margin-left: 12px;
    height: inherit;
    max-height: inherit;
    display: flex;
    flex-direction: column;
}

#all-items-window {
    flex-grow: 1;
}

/* -------------------------------------------------------------------------- */
/*                               Settings Window                              */
/* -------------------------------------------------------------------------- */

#settings-window {
    flex: 1;
}
