#dashboard {
    width: 90%;
    max-width: 1250px;
    margin: 20px auto;
    display: flex;
    height: 100%;
}

.window {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 12px;
    padding: 12px 20px;
    box-sizing: border-box;
}

.window-header {
    padding: 8px 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fade {
    position: absolute;
    left: 15px;
    right: 15px;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms;
}

.fade-exit {
    opacity: 1;
    transform: scale(1);
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 3000ms;
}


/* -------------------------------------------------------------------------- */
/*                            Budget Window Styling                           */
/* -------------------------------------------------------------------------- */

#spending-window {
    flex: 1.8;
    margin-right: 12px;
}

/* -------------------------------------------------------------------------- */
/*                            Items Window Styling                            */
/* -------------------------------------------------------------------------- */

#items-window {
    flex: 1;
    min-width: 430px;
    margin-left: 12px;
    height: inherit;
    max-height: inherit;
    display: flex;
    flex-direction: column;
}

#all-items-window {
    flex-grow: 1;
}

/* -------------------------------------------------------------------------- */
/*                               Settings Window                              */
/* -------------------------------------------------------------------------- */

#settings-window {
    flex: 1;
}
