.start-prompt {
    font-weight: 500;
    text-align: center;
    padding: 12px;
}

#onboarding-app form>div {
    display: grid;
    grid-template-columns: 1fr;
}

#onboarding-app form>div>div {
    margin-top: 8px;
}

#onboarding-app form>div>div>label {
    font-weight: 500;
}

/* Right margin for last input field in row */
#onboarding-app form>div>div:last-child {
    margin-right: 0;
}

#onboarding-app #add-bills--window form>div>div:nth-child(2) {
    margin-right: 0;
}

#onboarding-app #add-bills--window>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-categories--window>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#onboarding-app #budget-items--container {
    display: flex;
    flex-direction: column;
    background-color: var(--window-transparent);
    box-shadow: var(--low-elevation-drop-shadow);
    border-radius: var(--border-radius3);
    max-height: 160px;
    opacity: 1;
    width: auto;
    margin: 0 auto;

    margin-bottom: 8px;
    margin-top: 21px;
    padding: 16px;
}

#onboarding-app #budget-items--container.expand {
    max-height: 1000px;
}

#onboarding-app label:first-of-type {
    margin-left: 2px;
    font-weight: 500;
}

#onboarding-app .checkbox-container label {
    margin: 2px 0;
}

#onboarding-app #bill-scheduler--container>div:last-child {
    margin: 8px 0;
}

#onboarding-app form>div:first-child {
    margin: 0px 0 20px 0;
}

#recommendations-btn {
    color: var(--m-text-gray);
    font-weight: 500;
    background-color: var(--green-hlight2);
    transition: background-color .2s ease-out;
}

#recommendations-btn:hover {
    background-color: var(--green-hlight);
    transition: background-color .2s ease-out;
}

#onboarding-app .tab-list button:focus {
    outline: none;
    box-shadow: none;
}

#onboarding-app .tab-list button[aria-selected='true'] {
    color: var(--white-text);
}

/* ----------------------------- Suggested Items ---------------------------- */

#recommendations-button--container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.recommendations-container {
    display: block;
    margin: 0 auto;
    margin-top: 12px;
    text-align: center;
}

.recommendations-container>div {
    display: inline-flex;
    margin: 4px 6px;
    animation-name: pop-fade-in;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 30ms);
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

.recommendations-container .budget-item-name {
    cursor: pointer;
}

.empty-message--container {
    margin: 24px 0 16px 0;
    text-align: center;
    font-weight: 500;
    opacity: .4;
}

/* ---------------------------- Input Row Styling --------------------------- */

#onboarding-app .split-row-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

#onboarding-app .split-row-inputs>div {
    flex: 1;
}

#onboarding-app .padded-input-row {
    display: flex;
    gap: 8px;
    padding-bottom: 4px;
}

/* ------------------------- Individual Rows Styling ------------------------ */

.budget-item--container {
    width: 100%;
    position: absolute;
    left: 0;
    right: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.budget-item {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.budget-item>div:first-of-type {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.budget-item>div:not(:first-of-type):not(:last-of-type) {
    flex: 2 0 0%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.budget-item>div:last-of-type {
    flex: 1 0 0%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.budget-item.bill-item .amount--container {
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.budget-item.bill-item .budget-dollar--container {
    display: flex;
}
