#onboarding-app form>div {
    display: grid;
    grid-template-columns: 1fr;
}

#onboarding-app form>div>div {
    margin-top: 8px;
}

#onboarding-app form>div>div>label {
    font-weight: 500;
}

/* Right margin for last input field in row */
#onboarding-app form>div>div:last-child {
    margin-right: 0;
}

#onboarding-app #add-bills--window form>div>div:nth-child(2) {
    margin-right: 0;
}

#onboarding-app #budget-items--container {
    display: flex;
    flex-direction: column;
    background-color: var(--window-transparent);
    box-shadow: var(--low-elevation-drop-shadow);
    border-radius: var(--border-radius3);
    max-height: 0;
    padding: 0;
    width: auto;
    margin: 0 auto;
    opacity: 0;
    transform: scale(.95);
    visibility: hidden;
}

#onboarding-app #budget-items--container.expand {
    margin-bottom: 24px;
    margin-top: 21px;
    max-height: 1000px;
    padding: 16px;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    padding: 12px;
}

#onboarding-app label:first-child {
    margin-left: 2px;
}

#onboarding-app .checkbox-container label {
    margin: 2px 0;
}

#onboarding-app #bill-scheduler--container>div:last-child {
    margin: 8px 0;
}

#onboarding-app form>div:first-child {
    margin: 20px 0 32px 0;
}

/* ----------------------------- Suggested Items ---------------------------- */

#recommendations-button--container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.recommendations-container {
    display: block;
    margin: 0 auto;
    margin-top: 12px;
    text-align: center;
}

.recommendations-container>div {
    display: inline-flex;
    margin: 4px 6px;
    animation-name: pop-fade-in;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 30ms);
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

.recommendations-container .budget-item-name {
    cursor: pointer;
}

/* ------------------------- Individual Rows Styling ------------------------ */

.split-row-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.split-row-inputs>div {
    flex: 1;
}

.budget-item--container {
    width: 100%;
    position: absolute;
    left: 0;
    right: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.budget-item {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

.budget-item>div:first-child {
    flex-grow: 3;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.budget-item>div:not(:first-child) {
    flex: 2 0 0%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.budget-item-name--container {
    display: flex;
    align-items: center;
}

#onboarding-app .amount--container {
    white-space: nowrap;
}

#onboarding-app .budget-dollar--container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
