#onboarding-app {
    inset: 0;
    position: absolute;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--overlay);
}

#onboarding-app .window2,
#onboarding-app .window3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    box-shadow: var(--mid-elevation-drop-shadow);
}

#onboarding-app .btn-container-enabled {
    display: flex;
    justify-content: space-between;
    margin-top: .75rem;
}

#onboarding-app .btn-container {
    display: flex;
    justify-content: space-between;
    max-height: 6.25rem;
    transition: max-height 0.3s ease-in-out;
}
