#onboarding-app {
    inset: 0;
    position: absolute;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--window-background-color);
}

#onboarding-app .window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 2em);
    max-width: 28rem;
    transform: translate(-50%, -50%);
    z-index: 100;
    box-shadow: var(--window-drop-shadow);
}

#onboarding-app .btn-container-enabled {
    display: flex;
    justify-content: space-between;
    margin-top: .75rem;
}

#onboarding-app .btn-container {
    display: flex;
    justify-content: space-between;
    max-height: 6.25rem;
    transition: max-height 0.3s ease-in-out;
}
