.checklist {
    margin: 1.25em 0 1.25em 0;
}

.checklist>div {
    margin: .5em 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.checklist>div div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .25em;
    margin-right: .5em;
}

#onboarding-app #institution-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.25em;
    margin-left: .25em;
}

.checklist>div div:last-child {
    opacity: .7
}

.institution-logo img {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--button-drop-shadow);
}
