.picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  transform: translate(-4px);

  &[data-screen-size='small'],
  &[data-screen-size='extra-small'],
  &[data-screen-size='medium'] {
    align-items: center;
  }

  & > div:last-of-type {
    margin-left: 4px;
  }
}

.button {
  flex-direction: row;
  gap: 6px;
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: var(--border-radius6);

  &[data-size='small'] span {
    font-size: 1.125em;
  }

  &[data-size='medium'] span {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
  }

  button {
    display: flex;
    flex-direction: row;
    transition: opacity 0.2s ease-in-out;

    svg path {
      stroke: currentColor;
    }
  }

  button:not(:disabled):hover {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
  }
}
