@import '@styles/table-mixins.scss';

.window {
  flex: 6;
  display: flex;
  flex-direction: column;
  position: relative;

  & > div:not(:first-child) {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  & > div:last-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em 0 2em 0;
  }

  &[data-size='extra-small'] h2 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1rem;

    & + span {
      font-size: 1rem;
    }
  }

  h2 {
    margin-left: 0.375em;
  }

  &[data-size='extra-small'] .window {
    padding: 1em;
  }
}

.header {
  padding: 1.875em 2em 0.75em 2em;
  position: sticky;
  top: 0em;
  z-index: 2;
  display: flex;
  box-shadow: 0 0 12px 6px var(--main-background-color);

  &[data-screen-size='small'],
  &[data-screen-size='extra-small'],
  &[data-screen-size='medium'] {
    justify-content: center;
  }
}

.items {
  flex-grow: 1;
  flex-shrink: 1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0, 1fr) minmax(0, max-content);
  row-gap: 1.75em;
  margin-top: 1.75em;
}
