option_settings:
  - namespace: aws:elasticbeanstalk:environment
    option_name: LoadBalancerType
    value: network
  - namespace: aws:elbv2:listener:443
    option_name: Protocol
    value: TCP
  - namespace: aws:ec2:vpc
    option_name: ELBScheme
    value: internal
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-0b9cd43a6494e4fd5, subnet-0c387b32e825aa0d4, subnet-0c2fd1584b2d52e05
