Resources:
  AWSEBV2LoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Scheme: internal
      Subnets:
        - subnet-0b9cd43a6494e4fd5
        - subnet-0c387b32e825aa0d4
        - subnet-0c2fd1584b2d52e05
      Type: network
  AWSEBV2LoadBalancerListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      Port: 443
      Protocol: TCP
  AWSEBV2LoadBalancerTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      Port: 443
      Protocol: TCP
      VpcId: vpc-041408005a5077dc6
      HealthCheckProtocol: HTTPS
      HealthCheckPort: 443
      HealthCheckPath: /health
