option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-086acd120f1afd27c, sg-0e9134b06dc36c485, sg-0219c9f9a6ff828f3
  - namespace: aws:autoscaling:launchconfiguration
    option_name: IamInstanceProfile
    value: AwsElasticBeanstalkEc2Role
