option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-0e9134b06dc36c485, sg-0219c9f9a6ff828f3
  - namespace: aws:autoscaling:launchconfiguration
    option_name: IamInstanceProfile
    value: aws-elasticbeanstalk-ec2-role
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: eb-instance
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-041408005a5077dc6
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-0b9cd43a6494e4fd5, subnet-0c387b32e825aa0d4
    # subnet-0c2fd1584b2d52e05 don't include this subnet until we're off of the rds free tier
Resources:
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: eb-restapi
      GroupDescription: Security group for the EB environment
      SecurityGroupEgress:
        - Description: Allow all vpc traffic out
          CidrIp: 10.192.0.0/16
          IpProtocol: tcp
          FromPort: 443
          ToPort: 443
      SecurityGroupIngress:
        - Description: Allow all vpc traffic in
          CidrIp: 10.192.0.0/16
          IpProtocol: tcp
          FromPort: 443
          ToPort: 443
        - Description: Allow traffic from the LB
          SourceSecurityGroupId: sg-076f896a4cee95c8c
          IpProtocol: tcp
          FromPort: 443
          ToPort: 443
      VpcId: vpc-041408005a5077dc6
