option_settings:
  aws:elasticbeanstalk:application:environment:
    ENV: prod
    DJANGO_SETTINGS_MODULE: restapi.settings.prod
    CELERY_BROKER_URL: ""
    CELERY_RESULT_BACKEND: ""
  aws:elasticbeanstalk:container:python:
    WSGIPath: restapi.wsgi:application
    NumProcesses: 3
    NumThreads: 20
