.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  position: relative;

  & > div > div {
    border-radius: var(--border-radius4);
    padding: 0.15em 0.6em;
    min-width: 100%;
  }

  svg path {
    stroke: currentColor;
  }
}

.filterButton {
  transition: color 0.3s;

  &:hover * {
    color: var(--m-text-secondary);
    transition: color 0.3s;
  }

  * {
    color: var(--m-text-tertiary);
  }
}

.datePickerDropdown {
  background-color: var(--dropdown-background-darker);
}
