.summaryCards {
    width: 100%;
}

.monthPicker {
    width: min-content;
}

.cards {
    display: flex;
    margin-top: 1em;
    width: 100%;
    box-sizing: border-box;
    gap: 3em;
    padding: 1.5em 2.25em 1.5em 2.25em;
    border-radius: var(--border-radius25);
    background: var(--window2-background);

    &>div {
        flex: 1;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: .5em 0;
        position: relative;

        &:nth-child(1)::after,
        &:nth-child(2)::after,
        &:nth-child(3)::after,
        &:nth-child(4)::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 2em;
            height: 1.75px;
            opacity: .15;
        }

        &::after {
            background-color: var(--blue);
        }

        * {
            color: var(--blue-dark);
        }

        @mixin dot($backgroundColor) {
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: .5em;
                height: .5em;
                border-radius: 50%;
                background-color: $backgroundColor;
                z-index: 0;
            }

            span {
                margin-left: 1em;
                opacity: .7;
            }
        }

        &:nth-child(3)>div:last-child {
            position: relative;
            @include dot(var(--monthly-background-color-darker));
        }

        &:nth-child(4)>div:last-child {
            position: relative;
            @include dot(var(--yearly-background-color-darker));
        }

        &>div,
        span {
            position: relative;
            z-index: 1;
        }

        &>div:first-of-type {
            font-size: 1.125rem;
        }

        &>span {
            opacity: .7;
        }

        &>div:nth-of-type(2),
        &>div:nth-of-type(2) span,
        &>span {
            white-space: nowrap;
            font-size: .8rem;
        }
    }
}
