#new-items-container {
    position: relative;
}

.new-item-data {
    font-weight: 400;
}

.new-item-data div:first-child span:first-child {
    font-weight: 600;
    font-size: 14px;
}

.new-item-data div:first-child span:last-child {
    font-size: 13px;
    opacity: .5;
}


.new-item-data div:last-child {
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.new-item-data div:last-child svg {
    border-radius: 4px;
    margin-right: 6px;
}

.new-item-data div:last-child span {
    opacity: .5;
}

.new-item-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.new-item-icons button:nth-child(1) {
    margin: 0 8px;
}

.new-item-icons button:last-child {
    margin-left: 4px;
}

/* Category Icon */
.category-icon {
    transform: scale(1);
    transition: all .2s ease-out;
    background-color: var(--white-text);
    padding: 2px 12px;
    cursor: pointer;
    border-radius: 8px;
}

.category-icon:hover {
    transform: scale(1.1);
    transition: all .2s ease-out;
}


/* -------------------------------- Dropdown -------------------------------- */

.options-dropdown-container:focus-visible {
    box-shadow: none;
    outline: none;
}

.options-dropdown::before {
    position: absolute;
    top: -7px;
    left: 46px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    content: '';
}

.options-dropdown::after {
    position: absolute;
    top: -6px;
    left: 47px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--window);
    border-left: 6px solid transparent;
    content: '';
}

/* ------------------------------ Expand Button ----------------------------- */

#expand-button {
    background-color: var(--icon-light-gray);
    transition: background-color .3s ease-out;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 6px;
}

#expand-button-icon {
    display: flex;
    align-items: center;
    padding: 4px;
}

#expand-button:hover {
    background-color: var(--icon-hover-gray);
}
