#connections-page {
    width: 105%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#connections-page .institution {
    width: 100%;
    margin: 24px 0 16px 0;
}

#connections-page .header {
    margin-bottom: 12px;
    width: 95%;
}

#connections-page .header2>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#connections-page .account-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

#connections-page #accounts-list {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 24px;
}

#connections-page #accounts-list>div {
    width: 100%;
    height: 100%;
    padding-right: 24px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

#connections-page #accounts {
    display: flex;
    flex-direction: row;
}

#connections-page #accounts>div {
    flex: 1;
}

#connections-page #accounts>div:first-child {
    margin-right: 12px;
}

#connections-page #accounts>div:last-child {
    margin-left: 12px;
}

.delete-button {
    opacity: 1;
    margin: 0 2px;
}

#connections-page .footer-container {
    padding-right: 16px;
}

@media only screen and (max-width: 768px) {
    #connections-page #accounts {
        flex-direction: column;
    }

    #connections-page #accounts>div:first-child {
        margin-right: 0px;
    }

    #connections-page #accounts>div:last-child {
        margin-left: 0px;
    }
}
