#connections-page {
    display: flex;
    flex-direction: column;
    width: 105%;
    height: 100%;
}

#connections-page .header {
    margin-bottom: 12px;
    width: 95%;
}

#connections-page .institution {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 16px;
    max-height: 100%;
}

#connections-page .institution .header2 {
    margin-bottom: 12px;
    height: 100%;
    opacity: 1;
}

#connections-page .header2>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#connections-page .account-name>div:first-child {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#connections-page .account-name>div:last-child {
    display: flex;
    align-items: center;
    opacity: .5;
}

#connections-page .account-name>div:last-child span {
    font-size: 12px;
}

#connections-page #accounts-list {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 24px;
}

#connections-page #accounts-list>div {
    width: 100%;
    height: 100%;
    padding-right: 22px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

#connections-page #accounts {
    display: flex;
    flex-direction: row;
}

#connections-page #accounts>div {
    flex: 1;
}

#connections-page #accounts>div:first-child {
    margin-right: 12px;
}

#connections-page #accounts>div:last-child {
    margin-left: 12px;
}

/* ------------------------------ Delete Button ----------------------------- */

.delete-all-button,
.delete-button {
    opacity: 0;
    margin: 0 2px;
    cursor: auto;
    transition: opacity .22s ease;
}

.delete-all-button.show {
    opacity: 1;
    cursor: pointer;
    animation: fade-in .22s ease;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    transition: all .22s ease;
}

.delete-button:hover {
    transform: rotate(-45deg);
    transition: all .22s ease;
}

.delete-button.show {
    opacity: 1;
    animation: pop .22s ease;
}

.delete-all-button.remove,
.delete-button.remove {
    animation: pop-out .22s ease;
}

.delete-button span {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------ Misc ----------------------------- */

#no-connections-message {
    font-weight: 500;
}

#no-connections-message h2 {
    margin-bottom: 6px;
}

@keyframes rotate45minus {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-45deg);
    }
}

#connections-page .footer-container {
    padding-right: 16px;
}

@media only screen and (max-width: 768px) {
    #connections-page #accounts {
        flex-direction: column;
    }

    #connections-page #accounts>div:first-child {
        margin-right: 0px;
    }

    #connections-page #accounts>div:last-child {
        margin-left: 0px;
    }
}
