.page-header {
    margin: 8px 0;
}

.page-label {
    font-weight: 500;
    margin-right: 16px;
}

#profile-window {
    flex: 1;
    width: 90%;
    max-width: 750px;
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

#profile-window .header {
    margin-bottom: 30px;
}

#profile-window .content {
    width: 66%;
    padding: 32px 40px;
    border-radius: 0;
}

#profile-window h1 {
    font-size: 2em;
}

#profile-window .loading-shimmer-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#profile-window .body {
    opacity: .7;
}

#profile-window .body svg {
    margin-right: 8px;
}

/* --------------------------------- Gutter --------------------------------- */

#gutter {
    width: 33%;
    padding: 12px 8px;
    border-right: 3px solid rgb(0, 0, 0, .05);
    margin: 8px 0;
    font-weight: 500;
    display: flex;
    justify-content: center;
    animation: fade-in .3s ease-in-out;
}

#gutter>div {
    width: 100%;
}

#gutter ul {
    position: relative;
    width: 100%;
}

#gutter li {
    cursor: pointer;
    margin: 8px;
    padding: 4px;
    border-radius: var(--border-radius2);
    transition: background-color .3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gutter li.slim div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gutter li.slim div:first-child {
    flex: 1;
    display: flex;
    justify-content: center;
}

#gutter li.slim div:last-child {
    flex: 4;
}

#gutter li#profile {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#gutter li#profile div:first-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gutter li#profile div:last-child {
    padding: 2px 8px;
    flex: 4;
}

#gutter #profile svg {
    margin: 8px;
}

.side-nav-item {
    transition: all 0.3s ease-out;
}

.side-nav-item:hover {
    background-color: var(--icon-light-gray);
    opacity: .8;
    transition: all 0.3s ease-out;
}

.side-nav-item-current svg,
.side-nav-item svg {
    margin-bottom: 2px
}


/* Responsive */

@media only screen and (max-width: 700px) {

    #gutter {
        width: 52px;
        border-right: 2px solid rgb(0, 0, 0, .05);
    }

    #profile-window .content {
        width: 100%;
    }

    #gutter li {
        width: 24px;
        height: 24px;
        padding: 8px;
    }

    #gutter li svg {
        margin: 0;
    }

    #gutter li#profile div:last-child,
    #gutter li.slim div:last-child {
        visibility: collapse;
    }

    #gutter li {
        border-radius: var(--border-radius2);
    }
}
