.notifications-dropdown {
    position: relative;

    &--menu {
        min-width: 30em;
        top: 2.125em;
        margin-left: 1em;
    }

    .header {
        display: flex;
        position: relative;
        padding: .5em;
        border-bottom: 1.5px solid var(--border-color-ultra-dim);
        position: relative;

        ul {
            display: flex;
            gap: 1.25em;

            li {
                cursor: pointer;
                display: flex;
                gap: .625em;
                position: relative;

                &[aria-selected='true']::after {
                    content: '';
                    position: absolute;
                    bottom: -.625em;
                    left: 0;
                    right: -.25em;
                    height: 2px;
                    border-radius: 2px;
                    background-color: var(--blue-medium);
                }
            }

            li:first-child {
                margin-left: .25em;

                span {
                    position: relative;
                    color: var(--white);
                    font-size: .875em;
                    font-weight: var(--fw-bold);

                    &::after {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        border-radius: 50%;
                        left: 50%;
                        bottom: 52%;
                        transform: translate(-50%, 50%);
                        width: 1.5em;
                        height: 1.5em;
                        background-color: var(--blue-sat);
                    }
                }
            }
        }

        &>div {
            position: absolute;
            right: .5em;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            gap: .5em;
            align-items: center;

            &>div {
                display: flex;
                align-items: center;
            }
        }
    }

    &>button.active {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: -.2em;
            right: .0625em;
            width: .375em;
            height: .375em;
            border-radius: 50%;
            border: var(--header-background) 1.5px solid;
            background-color: var(--blue-medium);
        }
    }
}
