/* Main */
:root {
    --logo-dark: rgb(54, 54, 54);
    --medium-dark-gray: rgb(101, 101, 101);
    --medium-dark-text: #504f4f;
    --light-gray: rgb(138, 137, 137);
    --light-light-gray: #b7b7b7;
    --standard-drop-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    --check-box-hover: rgba(54, 54, 54, .06);
    --mute-blue: rgb(122, 166, 248);
    --check-box-blue: rgb(107, 155, 246);
    --mute-red: rgb(244, 119, 136);
    --hover-blue: rgb(47, 101, 236);
    --hover-red: rgb(216, 81, 99);
    --alert-red: rgb(242, 73, 73);
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /* remove extra space below image */
}

body {
    font-family: 'Roboto', sans-serif, 'Arial', Helvetica;
}

a {
    text-decoration: none;
    cursor: default;
    color: var(--logo-dark);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input,
button {
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 4px;
}

input::placeholder {
    color: var(--light-gray)
}

.alert-error {
    font-size: 12px;
    color: var(--mute-red);
}


/* Check mark */

.checkmark {
    cursor: pointer;
}

.checkbox-symbol {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.checkbox-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container * {
    box-sizing: border-box;
}

.checkbox-input {
    position: absolute;
    visibility: hidden;
}

.checkbox {
    user-select: none;
    cursor: pointer;
    padding: 6px 0px 6px 0px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.checkbox span {
    vertical-align: middle;
}

.checkbox span:first-child {
    width: 14px;
    height: 14px;
    transform: scale(1);
    border: 1.5px solid var(--light-gray);
    border-radius: 2px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox span:first-child svg {
    fill: none;
    stroke: #fff;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
}

.checkbox span:last-child {
    padding-left: 8px;
}

.checkbox:hover span:first-child {
    border-color: var(--logo-dark);
}

.checkbox-input:checked+.checkbox span:first-child {
    background: var(--check-box-blue);
    border-color: var(--check-box-blue);
    animation: zoom-in-out 0.3s ease;
}

.checkbox-input:checked+.checkbox span:first-child svg {
    stroke-dashoffset: 0;
}

@keyframes zoom-in-out {
    50% {
        transform: scale(0.9);
    }
}

/* ------------------ Header ------------------ */

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    min-width: 400px;
    padding: 10px;
    height: 48px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container {
    display: flex;
    justify-content: left;
}

.right-container {
    display: flex;
    justify-content: right;
}

.logo-container {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-container img {
    max-height: 100%;
    max-width: 100%;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-container li {
    margin: 0 10px;
}

.nav-container a {
    padding: 2px 4px;
    border-radius: 2px;
    border-width: 2px;
    border: 2px solid #ffffff;
}

.nav-container a:hover {
    border: 2px solid #363636;
}

.login-button-container button {
    margin: 0 8px;
    padding: 10px 14px;
    border-radius: 18px;
    background-color: #363636;
    color: #fff;
    border: none;
}

.login-button-container button:hover {
    background-color: #7d7c7c;
}

/* ------------------ Login Page ------------------ */

.login-logo {
    width: 20%;
    max-width: 112px;
    margin: 0 auto;
    padding: 24px;
    margin-top: 64px;
    margin-bottom: 32px;
}

.login-window-container {
    text-align: center;
    background-color: #e6e6e6;
    width: 40%;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: var(--standard-drop-shadow);
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 4px 0;
    box-sizing: border-box;
}

.login-form input[type="text"] .error {
    border: 1px solid red;
}

.wrong-credentials {
    text-align: left;
    margin: 8px 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--mute-red);
}

.wrong-credentials img {
    height: 1em;
    margin-right: .5em;
}

#sign-in {
    margin-top: 16px;
    background-color: var(--light-gray);
    color: rgb(256, 256, 256);
    transition: background-color 0.15s ease;
}

#sign-in:hover {
    background-color: var(--logo-dark);
}

.or-container {
    margin: 24px 0 8px 0;
    color: #9a9a9a;
}

.forgot-password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 4px;
}

.forgot-password-container a,
.forgot-password-container label {
    color: var(--light-gray);
}

.forgot-password-container a:hover {
    color: var(--logo-dark);
}

#remember-me {
    position: relative;
    top: -1px;
}

.social-login-container {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
}

#facebook-login-button {
    background-color: var(--mute-blue);
    border-radius: 4px;
    width: 100%;
    padding: 8px;
    margin-left: 4px;
    box-sizing: border-box;
    color: #fff;
    transition: background-color 0.15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#google-login-button {
    background-color: var(--mute-red);
    border-radius: 4px;
    width: 100%;
    padding: 8px;
    margin-right: 4px;
    box-sizing: border-box;
    color: #fff;
    transition: background-color 0.15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#facebook-login-button:hover {
    background-color: var(--hover-blue);
}

#google-login-button:hover {
    background-color: var(--hover-red);
}

#facebook-login-button img {
    height: 85%;
}

#google-login-button img {
    height: 100%;
    position: relative;
    top: 2px;
}

.sign-up-text-container {
    text-align: center;
    color: var(--light-gray);
    font-size: 14px;
    margin-top: 20px;
}

.sign-up-text-container a {
    color: var(--light-gray);
}

.sign-up-text-container a:hover {
    color: var(--logo-dark);
    transition: color 0.15s ease;
}
