.recovery-code-option--container {
    display: flex;
}

.recovery-code-option--container button {
    color: var(--main-dark2);
    position: relative;
}

/* Draw line to right hover effect for button */
.recovery-code-option--container button:before {
    content: "";
    position: absolute;
    width: 0%;
    height: .125em;
    bottom: -.0625;
    left: 0;
    background-color: var(--main-dark2);
}

.recovery-code-option--container button:hover:before {
    width: 100%;
    transition: all 0.2s ease-out;
}

.reauth-form>div:first-of-type {
    margin-top: .5em;
    margin-left: .125em;
    margin-bottom: 1em;
    font-weight: 500;
}

.reauth-form .graphic {
    margin: 1.25em 0;
}

.reauth-form>div:nth-child(2) {
    margin: 1em 0;
}

.reauth-form>div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
