.recovery-code-option--container {
    display: flex;
}

.recovery-code-option--container button {
    color: var(--green-dark2);
    position: relative;
}

/* Draw line to right hover effect for button */
.recovery-code-option--container button:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: var(--green-dark2);
}

.recovery-code-option--container button:hover:before {
    width: 100%;
    transition: all 0.2s ease-out;
}

.reauth-form>div:first-of-type {
    margin-top: 8px;
    margin-left: 2px;
    margin-bottom: 16px;
    font-weight: 500;
}

.reauth-form .graphic {
    margin: 20px 0;
}

.reauth-form>div:nth-child(2) {
    margin: 16px 0;
}

.reauth-form>div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
