#activation-flow {
    position: relative;

    .step {
        margin: 0;
        position: absolute;
        width: calc(100% - 4rem);
        display: flex;
        flex-direction: column;
        gap: .25em;
        top: 4.25em;

        span:first-of-type {
            font-size: .875em;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        &>button {
            margin-top: .5em;
        }
    }
}
