.legalLinks {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 2em;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -3em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  &[data-size='extra-small'] {
    position: fixed;
    bottom: 0;
    background-color: var(--main-background-color-small-screen);
  }

  span {
    color: var(--m-text-tertiary);
    font-size: 0.875rem;
    font-weight: var(--fw-extra-bold);
  }

  a {
    font-size: 0.875rem;
    color: var(--m-text);
    opacity: 0.4;
    text-decoration: none;
    transition: color 0.2s;
    white-space: nowrap;
    transition: all 0.2s;

    &:hover {
      opacity: 1;
      transition: all 0.2s;
    }
  }
}
