header {
    height: 50px;
    display: flex;
    justify-content: center;
    /* background-color: var(--logo-dark); */
    /* box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.35); */
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 8px 0px;
    width: 75%;
    max-width: 1100px;
    z-index: 300;
}

#header-logo,
#header-profile {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 12px;
    position: relative;
}

#header-logo img {
    height: 55%;
    cursor: pointer;
    margin-left: 8px;
}

#profile-button {
    display: flex;
    align-items: center;
    margin: 4px 12px;
    position: relative;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border-radius: 24px;
}

#profile-icon {
    margin-right: 16px;
    height: 50%;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: -52px;
    background-color: var(--drop-down-background);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 8px 0;
    border-radius: 4px;
    animation: drop-down 0.2s ease;
    z-index: 1000;
}

.dropdown-menu * {
    color: rgb(232, 232, 232);
}

.dropdown-menu {
    text-align: left;
    transition: background-color 0.4s ease;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.dropdown-item {
    display: flex;
    align-items: center;
    font-weight: 400;
    margin: 4px 8px;
    padding: 2px 4px;
    border-radius: 2px;
    transition: background-color 0.4s ease;
}

.dropdown-item:hover {
    background-color: var(--drop-down-hover-background);
    cursor: pointer;
    height: 100%;
}

.dropdown-icon {
    height: 1.2em;
    margin-right: 8px;
}

@keyframes drop-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
