#dashboard {
    width: 80%;
    max-width: 1700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 16px;
}

.window {
    background-color: var(--window-background-color);
    box-shadow: 0px 1px 0px 0px rgba(27, 31, 36, 0.04);
    border-radius: 6px;
    padding: 8px 16px;
    box-sizing: border-box;
}

.window-header {
    padding: 8px 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header buttons */
.window-header-buttons,
.window-header-button,
.window-header-button-selected {
    display: flex;
    align-items: center;
}

.window-header-button {
    background-color: var(--icon-light-gray);
}

.window-header-button-selected {
    background-color: var(--button-gray);
}

.window-header-button,
.window-header-button-selected {
    padding: 4px;
    margin: 0 4px;
    border-radius: 4px;
}

.window-header-button:hover {
    transition: background-color 0.2s ease-out;
    background-color: var(--icon-hover-gray);
}

.window-header-icon-selected,
.window-header-icon {
    height: 1.3em;
    width: 1.3em;
}

.window-header-icon {
    fill: "#f35050";
}

.window-header-icon-selected {
    fill: var(--icon-white);
}

/* -------------------------------------------------------------------------- */
/*                            Budget Window Styling                           */
/* -------------------------------------------------------------------------- */

#budget-window {
    flex-basis: 60%;
    margin-right: 6px;
}

/* -------------------------------------------------------------------------- */
/*                            Items Window Styling                            */
/* -------------------------------------------------------------------------- */

#items-window {
    flex: 1;
    min-width: 300px;
    margin-left: 6px;
    height: inherit;
    max-height: inherit;
}
