#dashboard {
    width: 75%;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 32px;
}

.window {
    background-color: var(--window-background-color);
    box-shadow: 0px 1px 0px 0px rgba(27, 31, 36, 0.04);
    border-radius: 6px;
    padding: 8px 16px;
    box-sizing: border-box;
}

.window-header {
    padding: 8px 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header buttons */
.window-header-buttons,
.window-header-button,
.window-header-button-selected {
    display: flex;
    align-items: center;
}

.window-header-button {
    background-color: var(--icon-light-gray);
}

.window-header-button-selected {
    background-color: var(--button-gray);
}

.window-header-button,
.window-header-button-selected {
    padding: 4px;
    margin: 0 4px;
    border-radius: 3px;
}

.window-header-button:hover {
    transition: background-color 0.2s ease-out;
    background-color: var(--icon-hover-light-gray);
}

.window-header-icon-selected,
.window-header-icon {
    height: 1.3em;
    width: 1.3em;
}

.window-header-icon {
    fill: "#f35050";
}

.window-header-icon-selected {
    fill: var(--icon-white);
}

/* -------------------------------------------------------------------------- */
/*                            Budget Window Styling                           */
/* -------------------------------------------------------------------------- */

#budget-window {
    flex-basis: 60%;
    margin-right: 6px;
}

#month-picker {
    display: flex;
    flex-direction: row;
    position: relative;
}

#picker-container {
    position: absolute;
    top: 100%;
    background-color: var(--drop-down-background);
    border-radius: 5px;
    padding: 8px;
    animation: drop-down 0.2s ease;
}

.arrow-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3px;
}

#header-arrow {
    margin-left: 4px;
}

#year-navigation * {
    color: var(--window);
}

#year-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.month-picker-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}

@keyframes drop-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.month-picker-item {
    transition: background-color 0.2s ease;
}

.month-picker-item,
.month-picker-item-selected {
    color: var(--window);
    padding: 2px 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

.month-picker-item-selected {
    background-color: var(--main-blue);
}

.month-picker-item:hover {
    background-color: var(--drop-down-hover-background);
}


/* -------------------------------------------------------------------------- */
/*                            Assets Window Styling                           */
/* -------------------------------------------------------------------------- */

#assets-window {
    flex-basis: 40%;
    margin-left: 6px;
}

/* -------------------------------------------------------------------------- */
/*                            Items Window Styling                            */
/* -------------------------------------------------------------------------- */

#items-window {
    flex: 1;
    margin-left: 6px;
    height: inherit;
    max-height: inherit;
}
