.app-download-button {
    background-color: var(--btn-feather-light-gray);
    border-radius: .75em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .375em .75em;
    gap: .5em;
    min-width: 11rem;
    transition: all .3s;

    &:hover {
        background-color: var(--btn-feather-light-gray-hover);
        transition: all .3s;
    }

    img {
        height: 1.75rem;
        width: 1.75rem;
    }

    &>div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &>span:last-child {
            font-weight: 600;
        }
    }

    path {
        fill: var(--m-text);
    }
}
