@import './mixins.scss';

.banner {
  @include width-standard;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin: 0;
  }

  h2 {
    width: 100%;
    font-size: clamp(1.125rem, 2vw, 1.25rem);
    color: var(--m-text-secondary);
    font-weight: 400;

    span {
      width: 1em;
      height: 1em;
      margin: 0 0.125em;
      transform: translateY(0.375em);
      border-radius: 50%;
      display: inline-block;
      position: relative;
      font-size: 0.875em;
      padding: 0.125em;
      position: relative;

      &::after {
        background-color: var(--m-text);
        opacity: 0.2;
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        z-index: -1;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.75em;
        height: 0.75em;
        path {
          stroke-width: 2;
        }
      }
    }
  }

  & > div {
    width: 100%;
    max-width: 500px;
  }
}

#banner-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 2em 0 2em 0;
  gap: 1em;
  width: calc(100% - 2em);
  position: relative;
  border-radius: 2em;
  overflow: hidden;
  cursor: pointer;

  & > a {
    width: 100%;
    position: relative;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.75em 1em;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    * {
      pointer-events: none;
    }
  }

  & > span {
    transition: transform 0.2s ease;
    z-index: 1;
    pointer-events: none;
    background-position: center;
    background-size: 100% 100%;
    content: '';
    position: absolute;
    inset: 0;
  }

  &:hover > span {
    background-image: radial-gradient(
      circle at var(--mouse-x, center) var(--mouse-y, center),
      rgba(255, 255, 255, 0.1) 0%,
      transparent 60%
    );
  }
}

.dark #app-store-buttons {
  button {
    &:hover {
      img {
        mix-blend-mode: normal;
        transition: mix-blend-mode 0.3s ease-in-out;
      }
    }

    img {
      mix-blend-mode: difference;
      transition: mix-blend-mode 0.3s ease-in-out;
      filter: invert(1);
    }
  }
}

#app-store-buttons {
  width: calc(100% - 2em);
  display: flex;
  gap: 1em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  button {
    img {
      width: 12em;
      height: auto;
    }
  }
}

@media (max-width: 1000px) {
  .banner {
    h1 {
      text-align: center;
    }

    align-items: center;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h2 {
      text-align: center;
    }
  }

  #banner-cta {
    align-items: center;
  }
}
