@import './mixins.scss';

.banner {
  @include width-standard;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    margin: 0;
  }

  h2 {
    width: 100%;
    font-size: clamp(1.125rem, 2vw, 1.25rem);
    color: var(--m-text-secondary);
    font-weight: 300;
    text-align: center;

    span {
      width: 1em;
      height: 1em;
      margin: 0 0.125em;
      transform: translateY(0.375em);
      border-radius: 50%;
      display: inline-block;
      position: relative;
      font-size: 0.875em;
      padding: 0.125em;
      position: relative;

      &::after {
        border: 1.5px solid var(--m-text);
        opacity: 0.15;
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        z-index: -1;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.75em;
        height: 0.75em;
      }
    }
  }

  & > div:first-of-type {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > a {
      width: 100%;
      background-color: var(--blue);
      color: var(--white);
      padding: 0.75em 1em;
      border-radius: 20em;
      font-size: 1.25em;
      margin: 1em 0 2em 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.dark #app-store-buttons {
  button {
    &:hover {
      img {
        mix-blend-mode: normal;
        transition: mix-blend-mode 0.3s ease-in-out;
      }
    }

    img {
      mix-blend-mode: difference;
      transition: mix-blend-mode 0.3s ease-in-out;
      filter: invert(1);
    }
  }
}

#app-store-buttons {
  display: flex;
  gap: 1em;
  flex-direction: row;

  button {
    img {
      width: 11em;
      height: auto;
    }
  }
}
