@import './mixins.scss';

.banner {
    @include width-standard;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: clamp(2.5rem, 5vw, 4.5rem);
        font-weight: 600;
        margin-bottom: 1rem;
        line-height: clamp(2.75rem, 5.25vw, 4.75rem);
    }

    &--products {
        position: relative;
        flex-grow: 1;
        height: 100%;

        &>div {
            background-color: var(--window-background-color);
            padding: 1em;
        }

        &.dark {
            &>div {
                border: 1px solid var(--border-color);
            }

            .web.light {
                visibility: hidden;
            }

            .mobile.light {
                visibility: hidden;
            }
        }

        &.light {

            &>div {
                border: 1.5px solid var(--m-text-senary);
                box-shadow: 0 0 30px 0px var(--inner-window);
            }

            .web.dark {
                visibility: hidden;
            }

            .mobile.dark {
                visibility: hidden;
            }
        }


        .web {
            position: absolute;
            left: 75%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            border-radius: 1.25em;
            transition: all .5s;

            &:hover {
                z-index: 2;
                left: 60%;
                transition: all .5s;

                img {
                    max-width: 42em;
                    transition: all .5s;
                }

                &+div {
                    transform: scale(.8) translate(-50%, -62%);
                    transition: all .5s;
                }
            }

            img {
                max-width: 30em;
                height: auto;
                transition: all .5s;
            }
        }

        .mobile {
            position: absolute;
            left: 45%;
            top: 50%;
            z-index: 1;
            padding-top: 2em;
            padding-bottom: 2em;
            border-radius: 1.75em;
            transform: scale(1) translate(-50%, -50%);
            transition: all .5s;

            &::after {
                content: '';
                position: absolute;
                bottom: .5em;
                left: 50%;
                transform: translateX(-50%);
                width: 33%;
                height: .125em;
                background-color: var(--border-color);
                border-radius: 1.5em;
            }

            img {
                max-width: 18em;
                height: auto;
            }
        }
    }
}

.sub-header {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: var(--fw-light);
    color: var(--m-text-secondary);
}

.buttons {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;

    &>div {
        margin: 1.5em 0 .75em 0;
        display: flex;
        gap: 1em;
    }

    &>span {
        margin-left: .5em;
        color: var(--blue-sat);
        padding: 0em .5em;
        border-radius: 8px;
    }
}

@media (max-width: 768px) {
    .banner {
        align-items: center;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }


        h1 {
            text-align: center;
        }


    }
}


.cta {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--blue-medium);
    padding: .75em 1em;
    color: var(--white);
    transition: background-color .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    border: none;

    * {
        font-size: 1rem;
        color: var(--white);
    }

    &:hover {
        background-color: var(--blue-medium-hover);
        transition: background-color .3s;
    }
}
