#faqs {

    &>div {
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

.faq {
    position: relative;
    padding: 1em 0;

    &:not(:last-child)::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        bottom: 0;
        height: 1px;
        background-color: var(--border-color);
    }

    button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        padding: 0;

        span {
            font-size: 1rem;
            text-align: left;
        }

        svg {
            transition: transform .3s;
        }

        &[aria-expanded='true'] {
            color: var(--blue-sat);

            svg {
                transform: rotate(180deg);
                transition: transform .3s;
            }
        }
    }

    &>div {
        font-size: 1rem;
        color: var(--m-text-secondary);
        padding: 1em .3em;
    }
}
