@import './mixins.scss';

#feature-cards {
  @include width-standard;
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
}

$card-height: 540px;

.feature-card {
  background-color: var(--window);
  border-radius: 1em;
  flex: 1;
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;

  &:nth-of-type(1) {
    @media (prefers-color-scheme: dark) {
      img:nth-of-type(2) {
        display: none;
      }
    }

    @media (prefers-color-scheme: light) {
      img:nth-of-type(1) {
        display: none;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 50%,
        transparent 60%,
        transparent 100%
      );
      margin-bottom: calc(-1 * ($card-height / 3));
      height: $card-height;
      width: auto;
    }
  }

  &:nth-of-type(2) > div {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (prefers-color-scheme: dark) {
      img:nth-of-type(2) {
        display: none;
      }
    }

    @media (prefers-color-scheme: light) {
      img:nth-of-type(1) {
        display: none;
      }
    }

    img {
      mask-image: linear-gradient(to bottom, transparent 40%, black 55%);
      margin-top: calc(-1 * ($card-height / 3));
      height: $card-height;
      width: auto;
    }

    h2 {
      margin: 0;
    }
  }

  &:nth-of-type(3) {
    div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img {
      height: calc($card-height * 0.6);
      width: auto;
    }

    @media (prefers-color-scheme: dark) {
      img:nth-of-type(2) {
        filter: contrast(1.06);
      }
      img:nth-of-type(1) {
        display: none;
      }
    }

    @media (prefers-color-scheme: light) {
      img:nth-of-type(1) {
        filter: contrast(1.15);
      }

      img:nth-of-type(2) {
        display: none;
      }
    }
  }

  h2 {
    color: var(--blue);
    margin-bottom: 0.5em;
  }

  h3 {
    color: var(--m-text-secondary);
  }
}

@media (max-width: 780px) {
  #feature-cards {
    gap: 3em;
    flex-direction: column;
  }

  .feature-card {
    &:nth-of-type(2) > div {
      margin-top: 0;
    }
  }
}
