#features {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    #mobile-computer-icons {
        position: absolute;
        top: 1em;
        display: flex;
        align-items: flex-start;
        gap: .125em;

        svg {
            position: relative;

            &:first-child {
                top: -.5em;
            }

            &:last-child {
                top: .125em;
            }
        }
    }
}


.feature {
    box-sizing: border-box;
    border: 1.5px solid var(--border-color-ultra-dim);
    padding: 1em 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transform: scale(.95) translateY(50px);

    @media (max-width: 768px) {
        transform: scale(1) translateY(50px);
    }


    h3 {
        margin: 2.25em 0 .25em 0;
        white-space: nowrap;
        color: var(--blue);
    }

    svg {
        position: absolute;
        top: 1em;
        width: 1.25em;
        height: 1.25em;
    }

    &>div {
        font-size: 1rem;
        opacity: .8;
        font-weight: var(--fw-light);
        max-width: 50ch;
    }

    span {
        color: var(--m-text-secondary);
    }
}


@media (max-width: 768px) {
    #features {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .feature {
        width: 70%;
        align-items: center;
        border: none;

        span {
            text-align: center;
        }
    }
}
