@import '../../../../libs/ui/src/themes/styles/ledget-theme.scss';
@import './mixins.scss';

html {
    overflow: auto;
    scrollbar-width: none;
}

body {
    margin: 0;
    position: relative;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.light {
        background-image:
            radial-gradient(at 40% 20%, hsla(28, 0%, 100%, 1) 0px, transparent 50%),
            radial-gradient(at 80% 0%, hsla(237, 54%, 95%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 50%, hsla(210, 100%, 97%, 1) 0px, transparent 50%),
            radial-gradient(at 84% 31%, hsla(340, 0%, 100%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 100%, hsla(212, 59%, 96%, 1) 0px, transparent 50%),
            radial-gradient(at 80% 100%, hsla(240, 48%, 97%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 0%, hsla(342, 0%, 100%, 1) 0px, transparent 50%);
    }

    &.dark {
        background-image:
            radial-gradient(at 80% 0%, hsla(28, 0%, 10%, 1) 0px, transparent 50%),
            radial-gradient(at 20% 10%, hsla(28, 0%, 12%, 1) 0px, transparent 50%),
            radial-gradient(at 40% 10%, hsla(28, 0%, 12%, 1) 0px, transparent 50%),
            radial-gradient(at 6% 20%, hsla(28, 5%, 13%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 50%, hsla(28, 5%, 13%, 1) 0px, transparent 50%),
            radial-gradient(at 84% 31%, hsla(28, 0%, 10%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 100%, hsla(28, 6%, 5%, 1) 0px, transparent 50%),
            radial-gradient(at 80% 100%, hsla(28, 6%, 5%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 0%, hsla(28, 0%, 15%, 1) 0px, transparent 50%);
    }
}

header {
    overscroll-behavior: none;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4em;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.section {
    @include width-standard;
    padding: 1.5rem;
    box-sizing: border-box;

    h1,
    h1 {
        margin: .25em 0;
    }

    h1 {
        font-weight: 600;
    }

    h2 {
        font-weight: 500;
    }
}

.main-background {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: var(--window-background-color);
}

div,
p,
span,
a,
input,
label,
button,
textarea,
select,
option {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-size: .875rem;
    color: var(--m-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    color: var(--m-text-header);
}

h3,
h4,
h5 {
    margin: 0;
    font-weight: var(--fw-regular);
}

a {
    text-decoration: none;
    cursor: pointer;
    font-weight: var(--fw-light);
}

* {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: var(--fw-light);
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    padding: .75em 1.5em;
    border-radius: .5em;
    background-color: var(--input-background);
    --webkit-appearance: none;
    border: var(--input-border);
    transition: all .25s ease;

    &:focus {
        border: var(--input-border-focus);
        box-shadow: var(--input-focus-drop-shadow);
        color: var(--input-placeholder-focus);
        transition: all .25s ease;
    }

    &:hover:not(:focus) {
        border: var(--input-border-hover);
        transition: all .25s ease;
    }
}

footer {
    width: 100%;
    border-top: 1.5px solid var(--border-color);
    display: flex;
    justify-content: center;
    padding: 2em 0;

    &>div {
        @include width-standard;
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2em;
    }

    &>div>div:last-child {
        display: flex;
        gap: .25rem;
        flex-direction: column;

        &>div {
            display: flex;
            gap: 1em;
        }

        a {
            display: inline-block;
            color: var(--m-text);
            color: var(--blue-sat);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: .25em;
    }
}
