@import './mixins.scss';

.header {
  @include width-standard;
  display: flex;
  justify-content: space-between;
  height: 3em;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgb(var(--main-background-color-rgb), 0.8);
    inset: 0;
    position: absolute;
    z-index: 4;
  }

  @media (prefers-color-scheme: dark) {
    &--blur {
      background-color: rgb(27, 27, 27, 0.7);
    }
  }

  & > div:first-child {
    display: flex;
    justify-content: left;
    position: relative;
    z-index: 5;
  }

  & > div:last-child {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    z-index: 5;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 0.25em 0.75em;
      border-radius: 2em;
    }

    a {
      font-weight: var(--fw-regular);
      position: relative;
      text-decoration: none;
      margin: 0 0.5em;
    }

    a::before {
      content: '';
      position: absolute;
      display: block;
      width: 0%;
      height: 1.25px;
      border-radius: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--m-text);
      transition: all 0.15s ease;
    }

    a:hover::before {
      width: 100%;
      transition: all 0.15s ease;
    }
  }
}

@media (prefers-color-scheme: light) {
  .logo img {
    filter: invert(1) contrast(2);
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 1.75em;

  a {
    display: flex;
    align-items: center;
    gap: 0.375em;
    font-weight: var(--fw-bold);
    font-size: 1.125rem;
  }

  img {
    width: 1.75em;
    cursor: default;
    transform: scale(1.2);
  }
}
