.arrow-link {
  padding: 0.375em 0.5em 0.375em 1em;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  gap: 0.125em;

  &::after {
    inset: 0;
    content: '';
    background-color: var(--btn-light-gray);
    opacity: 0.7;
    z-index: -1;
    position: absolute;
  }

  span {
    font-weight: 400;
    color: inherit;
    font-size: inherit;
  }

  svg {
    path:first-child {
      stroke-dasharray: 50;
      stroke-dashoffset: 50;
      transition: stroke-dashoffset 0.2s ease-in;
      transition: all 0.2s ease-in;
    }

    path:not(:first-child) {
      transition: all 0.2s ease-in 0.1s;
    }
  }

  &:hover svg {
    path:first-child {
      stroke-dashoffset: 0;
      transition: all 0.2s ease-in 0.1s;
    }

    path:not(:first-child) {
      transform: translateX(0.1875em);
      transition: all 0.2s ease-in;
    }
  }
}
