@mixin width-standard {
    width: calc(100% - 2rem);
    max-width: 70rem;
}

@mixin window {
    position: relative;
    box-shadow: var(--window-drop-shadow);

    &::after {
        background-color: var(--window);
        border-radius: 1em;
        opacity: .5;
        inset: 0;
        content: '';
        position: absolute;
        z-index: 0;
    }

    &>div {
        position: relative;
        z-index: 1;
    }
}
