$mobile-max-width: clamp(13em, 16vw, 18em);
$mobile-small-screen-max-width: clamp(17em, 20vw, 22em);
$mobile-unfocused-max-width: clamp(12em, 15vw, 16em);

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.phone-wrapper {
    @include center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.phone {
    position: relative;
    transform: scale(.625);
    z-index: 2;

    img:not(.visible):not(:last-of-type) {
        visibility: collapse;
    }

    .screen2 {
        opacity: 0;
    }

    &__emojis {
        @include center;
        z-index: 2;
    }

    &__status-bar {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 150%);
    }

    &__nav {
        z-index: 4;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -100%);

        &#phone_nav1 {
            opacity: 1;
        }

        &#phone_nav2 {
            opacity: 0;
        }
    }

    &__nav_back {
        position: absolute;
        bottom: .375em;
        z-index: 3;
        width: 100%;
        mask-image: linear-gradient(to bottom, transparent 10%, black 30%, black 100%);
    }

    &__screen {
        z-index: 1;
        @include center;

        &.dark {
            transform: translate(-50%, -50%);
        }

        &#phone_screen1 {
            opacity: 1;
        }

        &#phone_screen2 {
            opacity: 0;
        }
    }

    &__frame {
        z-index: 8;
        position: relative;

        &.dark {
            filter: brightness(0.75);
        }
    }

    &__glare {
        position: absolute;
        inset: 0 + 1em;
        z-index: 6;
        border-radius: 4.5em;
        overflow: hidden;

        span {
            content: '';
            position: absolute;
            inset: -100%;
            opacity: 0;
            transform: translate(-50%, -50%);
        }

        &.dark span {
            background: linear-gradient(-68deg,
                    rgba(50, 50, 50, 0) 40%,
                    rgb(50, 50, 50, .3) 45%,
                    rgb(50, 50, 50, .2) 50%,
                    rgb(50, 50, 50, .5) 55%,
                    rgb(50, 50, 50, 0) 65%);
        }

        &.light span {
            background: linear-gradient(-68deg,
                    rgba(255, 255, 255, 0) 40%,
                    rgb(255, 255, 255, 1) 45%,
                    rgb(255, 255, 255, .5) 50%,
                    rgb(255, 255, 255, 1) 55%,
                    rgb(255, 255, 255, 0) 65%);
        }
    }

    &__touch {
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        bottom: 4.5%;
        left: 54.5%;
        background-color: var(--blue-sat);
        z-index: 8;
        opacity: 0;
        border: 8px solid var(--m-text-senary);
        box-shadow: 0 0 0 0.25em var(--blue-sat);
    }
}


// # z-index order
// frame
// glare
// touch
// status-bar
// nav
// nav-back
// emojis
// screen
