$mobile-max-width: clamp(13em, 16vw, 18em);
$mobile-small-screen-max-width: clamp(17em, 20vw, 22em);
$mobile-unfocused-max-width: clamp(12em, 15vw, 16em);

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.phone {
  position: relative;
  z-index: 2;
  height: clamp(18em, 70vh, 45em);
  width: min-content;

  &::after {
    position: absolute;
    inset: 0;
    content: '';
    z-index: 10;
  }

  img:not(.visible):not(:last-of-type) {
    visibility: collapse;
  }

  img:not(.phone__frame) {
    max-height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .screen2 {
    opacity: 0;
  }

  &__emojis {
    z-index: 3;
    left: 0;
    width: auto;
  }

  &__screen {
    z-index: 2;
    height: auto;

    &#phone_screen1 {
      opacity: 1;
    }

    &#phone_screen2 {
      opacity: 0;
    }
  }

  &__status-bar {
    z-index: 6;
    top: 0em;
  }

  &__nav {
    z-index: 5;
    bottom: 0em;

    &#phone_nav1 {
      opacity: 1;
    }

    &#phone_nav2 {
      opacity: 0;
    }
  }

  &__nav_back {
    width: 100%;
    bottom: 1em;
    z-index: 4;
    mask-image: linear-gradient(
      to bottom,
      transparent,
      transparent 20%,
      black 40%,
      black 100%
    );
  }

  &__frame {
    z-index: 1;
    max-height: 100%;
    width: auto;
    position: relative;

    &.dark {
      filter: brightness(0.75);
    }
  }

  &__glare {
    position: absolute;
    inset: 0;
    z-index: 8;
    overflow: hidden;

    mask-image: url('../../public/phone/iphone-black-backv2.svg');

    span {
      content: '';
      position: absolute;
      inset: -100%;
      opacity: 0;
      transform: translate(-50%, -50%);
    }

    &.dark span {
      background: linear-gradient(
        -68deg,
        rgba(50, 50, 50, 0) 40%,
        rgb(50, 50, 50, 0.3) 45%,
        rgb(50, 50, 50, 0.2) 50%,
        rgb(50, 50, 50, 0.5) 55%,
        rgb(50, 50, 50, 0) 65%
      );
    }

    &.light span {
      background: linear-gradient(
        -68deg,
        rgba(255, 255, 255, 0) 40%,
        rgb(255, 255, 255, 1) 45%,
        rgb(255, 255, 255, 0.5) 50%,
        rgb(255, 255, 255, 1) 55%,
        rgb(255, 255, 255, 0) 65%
      );
    }
  }

  @media (min-width: 768px) {
    &__glare {
      opacity: 0;
    }
  }

  &__touch {
    z-index: 7;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    bottom: 3.5%;
    left: 52%;
    background-color: var(--blue-sat);
    opacity: 0;
    border: 8px solid var(--m-text-quinary);
    box-shadow: 0 0 0 0.25em var(--blue-sat);
  }
}

// # z-index order
// glare
// touch
// status-bar
// nav
// nav-back
// emojis
// screen
// frame
