@import './mixins.scss';

.street-cred {
    min-height: 10em;
    width: 100%;
    background-color: var(--blue-medium);
    border-top: 2px solid var(--blue-light);
    border-bottom: 2px solid var(--blue-light);
}
