.termly {
  width: calc(100% - 4em);
  max-width: 50em;
  height: min-content;

  a {
    color: var(--blue-text);
  }

  h1,
  h2 {
    font-weight: 600;
  }

  h2 {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  * {
    scroll-margin-top: 4em;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1rem;
  }
}
