@import 'mixins.scss';

#product-walk-through {
    display: flex;
    border-radius: 1em;
    @include window;
}

.body.dark {
    #phone {
        &--body {
            filter: invert(1) hue-rotate(178deg) brightness(1.5);
        }

        &--shadow {
            filter: invert(1) hue-rotate(178deg) brightness(1.5) blur(3px);
        }
    }

    #phone>div img:last-child {
        filter: invert(1) hue-rotate(180deg) brightness(1.1) blur(2px);
    }
}

@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
}


@keyframes pop {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}


@media (max-width: 768px) {
    #product-walk-through {
        gap: 1em;
    }

    .emoji {
        font-size: .875rem;

        &::after {
            width: 2.25em;
            height: 2.25em;
        }
    }
}

#phone-container {
    position: relative;
    flex: 1 1 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 1em;
    position: relative;



    &>div {
        display: flex;
        max-width: 28em;
        width: 100%;

        &:last-child {
            position: relative;
        }
    }
}

#emojis {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-size: cover;
    mask-image: url('../../public/phonebubble/phoneMask32v.svg');
    mask-size: 100% auto;
    mask-mode: luminance;
    mask-repeat: no-repeat;
    mask-position: bottom;


    .emoji {
        transform: scale(.5);
        position: absolute;
        top: 100%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.75rem;
        color: var(--white);

        span {
            font-size: 1.5rem;
        }

        &.pop {
            span {
                animation: pop .2s;
            }

            svg {
                opacity: 1;
                transition: opacity .2s;
            }
        }

        svg {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            height: 80%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.375em;
            height: 1.375em;
            border-radius: 50%;
            z-index: -1;
        }

        &.blue::after {
            background-color: var(--monthly-background-color);
        }

        &.green::after {
            background-color: var(--yearly-background-color);
        }
    }

}

#phone {
    width: 100%;
    height: 100%;

    &>img {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
    }

    &--body {
        z-index: 1;
    }

    &--shadow {
        filter: blur(3px);
        z-index: 0;
    }


    @mixin shadow-position($pos) {
        img:last-child {
            filter: blur(2px);
            top: 0;
            bottom: 0;
            z-index: -1;
            top: $pos;
        }
    }

    &>div,
    &>div img {
        position: absolute;
        filter: hue-rotate(-2deg);
    }

    &>div:first-of-type {
        top: 62%;
        left: 25%;

        img {
            transform: translate(-50%, -50%) scale(.5);
        }

        @include shadow-position(.6em);
    }

    &>div:nth-of-type(2) {
        top: 58%;
        left: 53%;

        img {
            transform: translate(-50%, -50%) scale(.7);
        }

        @include shadow-position(.75em);
    }

    &>div:last-of-type {
        top: 37%;
        left: 65%;

        img {
            transform: translate(-50%, -50%) scale(.4);
        }

        @include shadow-position(.45em);
    }

}

.steps {
    flex: 1 1 0;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    &--container {
        position: relative;

        width: min-content;
        padding-left: 3em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    &--step {
        display: inline;

        span {
            max-width: 50ch;
            color: var(--m-text-secondary);
        }

        h2 {
            color: var(--blue-sat);
            white-space: nowrap;
            width: min-content;
            margin: 0;
            font-size: clamp(1rem, 3vw, 1.5em);
        }

    }
}

.progress {
    position: absolute;
    left: 0;
    top: .75em;
    bottom: .75em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--top-bar-shadow,
    &--top-bar,
    &--bottom-bar,
    &--bottom-bar-shadow {
        position: absolute;
        transform: translateX(-50%);
        width: .125em;
        left: 50%;
    }

    &--top-bar,
    &--top-bar-shadow {
        top: 0em;
    }

    &--top-bar-shadow {
        bottom: 50%;
        background-color: var(--blue-light);
    }

    &--bottom-bar,
    &--bottom-bar-shadow {
        bottom: 50%;
        top: 50%;
    }

    &--bottom-bar-shadow {
        background-color: var(--blue-light);
        bottom: .5em;
    }


    &--bottom-bar,
    &--top-bar {
        background-color: var(--blue-sat);
        z-index: 1;
    }

    &--circle {
        width: .5em;
        height: .5em;
        background-color: var(--blue-light);
        border-radius: 50%;
        z-index: 2;
    }
}
