.steps-progress {
    position: relative;
    gap: 4em;
}

.steps,
.progress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
}

.steps {
    margin-left: 3em;
}

.step h1 {
    margin: 0;
}

.progress {
    position: absolute;
    left: 0;
    top: 1em;
    bottom: 1em;

    &--top-bar-shadow,
    &--top-bar,
    &--bottom-bar,
    &--bottom-bar-shadow {
        position: absolute;
        transform: translateX(-50%);
        width: .125em;
        left: 50%;
    }

    &--top-bar,
    &--top-bar-shadow {
        top: 0em;
    }

    &--top-bar-shadow {
        bottom: 50%;
        background-color: var(--blue-light);
    }

    &--bottom-bar,
    &--bottom-bar-shadow {
        bottom: 50%;
        top: 50%;
    }

    &--bottom-bar-shadow {
        background-color: var(--blue-light);
        bottom: 0%;
    }


    &--bottom-bar,
    &--top-bar {
        background-color: var(--blue-sat);
        z-index: 1;
    }

    &--circle {
        width: .75em;
        height: .75em;
        background-color: var(--blue-light);
        border-radius: 50%;
        z-index: 2;
    }
}
