.web-wrapper {
    position: absolute;
    left: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.web {

    img:not(.visible) {
        visibility: collapse;
    }

    transform: scale(.2);
    transition: transform .3s;

    img {
        border-radius: 4em;
        border: 20px solid var(--btn-light-gray);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .web-wrapper {
        display: none;
    }
}
