---
import '../../styles/buttons.scss';
import AppleLogo from '../../assets/icons/Apple';
---

<button class="app-download-button">
  <AppleLogo />
  <div>
    <span>Download on the</span>
    <span>App Store</span>
  </div>
</button>
