---
import '../../styles/buttons.scss';
import PlayStoreLogo from '../../assets/icons/Play';
---

<button class="app-download-button">
  <PlayStoreLogo />
  <div>
    <span>Get it on</span>
    <span>Google Play</span>
  </div>
</button>
