#passkey-modal-content {
    text-align: left;
    font-size: 1.125rem;
    font-weight: var(--fw-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#passkey-modal-content svg {
    margin: .5em 0 1em 0;
}

#passkey-modal-text {
    max-height: 50vh;
    overflow-y: auto;
    padding: 0 1.25em;
}

#passkey-modal-content h2,
#passkey-modal-content h3 {
    color: var(--blue-medium);
    font-weight: var(--fw-regular);
}

#passkey-modal-content h2 {
    text-align: center;
}

#passkey-modal-content>div:first-child {
    height: 3.125rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
