.ledgetEmojiPicker {
  position: relative;
}

.emojiPickerContainer {
  position: absolute;
  top: 1rem;
  left: -1em;
  right: 0;
  color: rgb(72, 83, 206);
  z-index: 100;
}

.emojiPickerButton {
  padding: 0.125em 0.375em;
  border-radius: 0.375em;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

  &:has(svg) {
    padding: 0.25em;
    color: var(--input-placeholder);
  }
}

.dropdown {
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
}
