header {
    background-color: var(--header-background);
    box-shadow: var(--header-box-shadow);
    z-index: 100;
    position: sticky;
    top: 0;
    position: relative;

    // Same as dashboard
    width: 100%;
    padding: 1em 0;

    &.small>div>div:first-child svg,
    &.extra-small>div>div:first-child svg,
    &.medium>div>div:first-child svg {
        opacity: 0;
    }

    &>div {
        max-width: calc(100% - 2.5rem);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        // Logo
        &>div:first-child {
            cursor: pointer;
            margin-left: .25em;
            display: flex;
            align-items: center;
        }

        // Icons in menu (dark mode, notifications, profile)
        &>div:last-child {
            display: flex;
            align-items: center;
            gap: 1em;
        }
    }

    .profile-button {
        margin-left: 1em;

        &::before {
            content: '';
            width: 1.5px;
            background-color: var(--white);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0em;
            opacity: .2;
        }
    }
}

#light-dark-switch {
    font-size: 1rem;
    position: relative;

    svg {
        z-index: 1;
    }

    .switch-crib {
        margin-top: .0625em;
        padding: .45em .45em;
        border-radius: 1.25em;
        display: flex;
        align-items: center;
        gap: .75rem;
        width: auto;
        justify-content: space-evenly;

        &>div {
            font-size: .875rem;
            display: flex;
            place-content: center;
            color: var(--white);
        }

        &.enabled {
            background-color: var(--btn-light-gray);
            transition: background-color 0.2s ease-in-out;
        }

        &.disabled {
            background-color: var(--btn-dark-gray);
            transition: background-color 0.2s ease-in-out;
            opacity: 1;
        }
    }

    .switch-pill {
        position: absolute;
        width: 1.625rem;
        height: 1.625rem;
        border-radius: 50%;
        box-shadow: none;
        z-index: 0;

        &.enabled {
            transform: translateX(.9rem);
            transition: all 0.2s ease-in-out;
            // background-color: var(--btn-gray);
            background: linear-gradient(to bottom right, var(--blue-medium), var(--blue-light));
            opacity: .7;
        }

        &.disabled {
            left: .25em;
            transform: translateX(0);
            background: linear-gradient(to bottom right, var(--blue-medium), var(--blue-light-medium));
            transition: all 0.2s ease-in-out;
        }
    }
}

/* ------------------------------ Profile Dropdown Menu ----------------------------- */

.profile-dropdown {
    position: absolute;
    flex-direction: column;
    display: flex;
    text-align: left;
    top: 2.125em;
    margin-left: 1em;

    &>button {
        width: 100%;
    }
}
