.legalLinks {
    position: absolute;
    bottom: .5em;
    display: flex;
    align-items: center;

    a {
        font-size: .75rem;
        opacity: .3;
        text-decoration: none;
        transition: all .2s;
        font-weight: var(--fw-bold);
        white-space: nowrap;

        &:hover {
            opacity: .7;
            transition: all .2s;
        }
    }
}

.hidingSidebarBackdrop {
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--m-text);
    opacity: 0;
    transition: all .3s ease-in-out;
    visibility: hidden;

    &[data-open='true'] {
        opacity: .06;
        visibility: visible;
    }
}

.hidingSidebar {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    background-color: var(--side-window);
    border-right: 1px solid var(--window2);
    max-width: 0;
    padding: .75em 0;
    opacity: 0;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 2em;
    visibility: hidden;

    &>img {
        margin-left: .375em;
        width: 6em;
        height: auto;
    }

    &[data-open='true'] {
        padding: .75em 1em;
        max-width: 500px;
        opacity: 1;
        visibility: visible;
        transition: all .3s ease-in-out;
    }

    &>nav {
        padding: 0;
        margin-top: .5em;
        background-color: transparent;
        border-right: none;
        z-index: 101;
        position: relative;
    }
}

.hamburger {
    position: absolute;
    top: 1.625em;
    left: 1.6em;
    z-index: 2;
    z-index: 100;

    svg {
        transition: transform .3s ease-in-out;
    }

    &:hover svg {
        transition: transform .3s ease-in-out;
        transform: scaleX(1.125);
    }

    * {
        color: var(--white);
    }
}

.sideNav {
    max-width: 100%;
    height: 100%;
    background-color: var(--side-window);
    padding: .75em 1em;
    flex: 1 0 0;

    &[data-size='large'],
    &[data-size='extra-large'] {
        box-shadow: var(--sidenav-drop-shadow);
    }

    ul {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    a {
        display: flex;
        align-items: center;
        position: relative;
        padding: .375em .75em;

        span {
            margin: 0 2em 0 .75em;
        }
    }

    li {
        min-width: 12em;
        cursor: pointer;
        border-radius: var(--border-radius3);
        transition: background-color .3s ease-in-out;
        position: relative;
        z-index: 1;

        &:not([data-current='page']):hover {
            background-color: var(--btn-light-gray);
            opacity: .8;
            transition: all 0.3s ease-out;
        }

        svg:last-child {
            position: absolute;
            right: .5em;
            top: 50%;
            transform: translateY(-50%);
        }
    }

}

.subNav {
    margin-left: .75em;

    li[data-current='page'] * {
        color: var(--blue-sat)
    }
}
