{% load static %}
<header>
    <div class="header-container">
        <div class="left-container">
            <div class="logo-container">
                <img src="{% static 'images/logo.svg' %}" />
            </div>
        </div>
        <div class="right-container">
            <nav class="nav-container">
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
            <div class="login-button-container">
                <a href="{% url 'login' %}">
                    <button>Sign In</button>
                </a>
            </div>

        </div>
    </div>
    {% if request.user.is_authenticated %}
    <div style="text-align: center; margin: auto; margin-top: 200px">
        Welcome {{ request.user.first_name }}!
    </div>
    {% endif %}
</header>
