.options {
    background-color: var(--window-background-color);
    position: absolute;
    inset: -1em 0em 0em 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &>button {
        right: .5em;
    }

    ul {
        width: calc(100% + 2em);
        height: calc(100% - 2.5em);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 1em .5em;
        box-sizing: border-box;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        background-color: inherit;
    }

    li {
        display: flex;
        position: absolute;
        width: calc(100% - 2em);
        box-sizing: border-box;
        background-color: inherit;
        border-radius: var(--border-radius5);
    }
}
