@import './stack.module.scss';

.newItem {
    position: absolute;
    border-radius: var(--border-radius3);
    box-shadow: var(--new-item-drop-shadow);
    border: 1.25px solid var(--new-item-border);
    padding: $new-item-padding;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    margin-right: $scrollbar-padding;
    margin-left: $scrollbar-padding;

    &::after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        bottom: -.625em;
        width: 100%;
        height: .625em;
    }
}

.newItemData {
    display: flex;
    mask-image: linear-gradient(to right, black, black 72%, transparent 80%);
    flex-grow: 1;

    // Logo
    div:first-child {
        display: flex;
        align-items: center;
        margin-right: .375em;
        margin-left: .0625em;

        @include invert-image;
    }

    // Name, date, amount
    &>div:last-child {

        // Name
        &>div:first-child {
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
        }

        // amount, date
        &>div:last-child {
            display: flex;
            align-items: baseline;

            // amount
            span:nth-child(-n+2) {
                font-size: .75rem;
            }

            // date
            &>span:last-child {
                color: var(--m-text-tirtiary);
                font-size: .75rem;
                font-weight: var(--fw-regular);

                &:last-child {
                    margin-left: .5em;
                }
            }
        }
    }
}

.greenText {
    color: var(--green-text);
}

.newItemIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .25em;

    button {
        margin: 0;
    }
}

.confirmButton {
    margin-left: .25em;
}
