$window-max-width: 27rem;
$new-item-padding: 1.125em 1.125em 1.125em .875em;

@import '@styles/table-mixins';

$scrollbar-padding: .75em;

.needs-confirmation-stack {
    padding: 0em 1em 0em 1em;
    min-height: 2em;
}

#new-items {
    position: relative;
    background: radial-gradient(ellipse, rgba(14, 7, 7, .02) 1%, transparent 50%);
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>div:first-child {
        max-width: $window-max-width;
        width: calc(100% + 2 * $scrollbar-padding);
    }

    * {
        scrollbar-color: var(--btn-medium-gray) transparent;
    }
}

.new-items-expand-button--container {
    position: relative;
    z-index: 0;
    height: .75em;
    transition: height .2s ease-out;
    transition-delay: .2s;
    width: 100%;
    display: flex;
    align-items: center;

    &:hover {
        height: 2em;
        transition: height .2s ease-out;
        transition-delay: .1s;
    }

    button {
        opacity: 0;
        transition: opacity .2s ease-out;
        margin: 0 auto;
    }

    &:hover button {
        opacity: 1;
        transition: opacity .2s ease-out;
        transition-delay: .1s;
    }
}


.new-item {
    position: absolute;
    border-radius: var(--border-radius3);
    box-shadow: var(--new-item-drop-shadow);
    border: 1.25px solid var(--new-item-border);
    padding: $new-item-padding;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    margin-right: $scrollbar-padding;
    margin-left: $scrollbar-padding;

    &::after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        bottom: -.625em;
        width: 100%;
        height: .625em;
    }
}

.new-item-data {
    display: flex;
    mask-image: linear-gradient(to right, black, black 72%, transparent 80%);
    flex-grow: 1;

    // Logo
    div:first-child {
        display: flex;
        align-items: center;
        margin-right: .375em;
        margin-left: .0625em;

        @include invert-image;
    }

    // Name, date, amount
    &>div:last-child {

        // Name
        &>div:first-child {
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
        }

        // amount, date
        &>div:last-child {
            display: flex;
            align-items: baseline;

            &.is-debit span:nth-child(-n+2) {
                color: var(--green-text);
            }

            // amount
            span:nth-child(-n+2) {
                font-size: .75rem;
            }

            // date
            &>span:last-child {
                color: var(--m-text-tirtiary);
                font-size: .75rem;
                font-weight: var(--fw-light);

                &:last-child {
                    margin-left: .5em;
                }
            }
        }
    }
}

.new-item-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .25em;

    button {
        margin: 0;
    }

    .confirm-button {
        margin-left: .25em;
    }
}

/* Category Icon */
.category-icon {
    transform: scale(1);
    transition: all .2s ease-out;
    padding: .125em .75em;
    cursor: pointer;
    border-radius: var(--border-radius2);
    font-weight: var(--fw-regular);

    &:hover {
        transform: scale(1.1);
        transition: all .2s ease-out;
    }
}

#new-items-container>div>div:last-child button {
    margin-top: .25em;
}
