#checkout-window {
    width: 90%;
    max-width: 31.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius3);
    padding: 0;
    display: flex;
    flex-direction: column;
}

#checkout-container {
    flex-grow: 1;
    margin: 2.75em 3.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

#verification-window {
    max-width: 23.5rem;
    width: 60%;
    padding: 2rem;
}

#prices-container {
    background-color: var(--green-hlight);
    box-shadow: 0 1px 1px 0 var(--green-hlight);
    border-top-left-radius: var(--border-radius3);
    border-top-right-radius: var(--border-radius3);
    position: relative;
    z-index: 100
}

#prices-container-header {
    padding: 1.5em 3.25em 0 3.25em;
    display: flex;
    justify-content: start;
}

#prices-container-header img {
    height: 0em;
}

#checkout-container h4 {
    font-weight: 600;
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    color: var(--logo-dark);
    margin: .375em 0;
    margin-left: .25em;
}

#billing-form {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

#billing-form>div:nth-child(2) {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#text-inputs--container {
    margin: .5em 0 2.5em 0;
}

/* ---------------------------------- plans --------------------------------- */

#subscription-radios--container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1.75em 4em;
}

#subscription-radios--container input[type="radio"] {
    display: none;
}

.subscription-radio--container {
    margin: 0 .75em;
    text-align: center;
    flex: .5;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius25);
    padding: .375em 1em;
    min-width: 7.5rem;
    cursor: pointer;
}

.subscription-radio--container span {
    color: var(--green-dark1);
}

input[type="radio"]:checked+.subscription-radio--container {
    box-shadow: inset 0 0 1px 2px var(--green-dark1);
}

input[type="radio"]:not(:checked)+.subscription-radio--container {
    box-shadow: inset 0 0 3px 1px var(--m-green);
}

.dog-ear {
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: var(--green-dark1);
    width: 2.875rem;
    height: 2.875rem;
    transform: translate(50%, -50%) rotate(45deg);
}

input[type="radio"]:checked+.subscription-radio--container .dog-ear {
    opacity: 1;
}

input[type="radio"]:not(:checked)+.subscription-radio--container .dog-ear {
    opacity: .3;
}

.dog-ear svg {
    position: absolute;
    top: 2em;
    left: 1em;
    transform: rotate(-45deg);
}

.nickname {
    margin-right: 1em;
    font-size: 1.1em;
}

.unit-amount {
    font-size: 1.4em;
}

.price-nickname {
    font-size: 1.3em;
    padding-right: .75em;
}

.unit-amount span {
    font-size: .6em;
}


/* ------------------------------ Order Summary ----------------------------- */
#order-summary-line {
    display: inline-block
}

.order-summary-container {
    text-align: left;
    display: flex;
    justify-content: end;
    padding: .75em .5em;
    margin-bottom: .5em;
    border-top: .125em solid rgba(0, 0, 0, 0.07);
}

.order-summary-container table {
    border-collapse: collapse;
}

.order-summary-container tr td {
    text-align: right;
}

.order-summary-container * {
    font-size: 1em
}

.order-summary-container tr {
    line-height: 1.5;
}

.order-summary-container tr td:first-child {
    padding-right: 1em;
}

.order-summary-container tr td:last-child {
    font-weight: 500;
}

.order-summary-container tr td:last-child span {
    font-size: .65em;
}

/* --------------------------------- Errors --------------------------------- */
.general-error {
    margin-bottom: 1.5em;
    text-align: center;
    font-weight: 500;
}

.general-error img {
    height: 1em;
    margin-right: .5em;
    position: relative;
    top: .125em;
    text-align: left;
    animation: pop .22s ease;
}

/* ------------------------------- Stripe Logo ------------------------------ */
.stripe-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: .3;
    position: relative;
    bottom: -1.5em;
    height: 0;
}

.stripe-logo-container {
    font-weight: 500;
}

.stripe-logo-container a:hover {
    border: none;
}

.stripe-logo {
    position: relative;
    top: .2em;
    height: 1.5em;
}

/* -------------------------- Error Loading Prices -------------------------- */

#checkout-window-loading-error {
    text-align: center;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

#checkout-window-loading-error #message {
    padding: .25em 2.5em;
    font-weight: 500;
}

/* ------------------------------- Responsive ------------------------------- */


@media only screen and (max-width: 700px) {
    #checkout-window {
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    #checkout-container {
        width: 80%;
        max-width: 32rem;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #verification-window {
        width: 100%;
        max-width: 70%;
        margin: 0;
        border-radius: 0;
    }

    #prices-container {
        border-radius: 0;
    }

    #prices-container-header img {
        height: 2em;
    }

}
