.login-form input {
    width: 100%;
}

#email-container {
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
}

#email-container h3 {
    margin: 0;
    margin-bottom: 2px;
}

#email-container div,
#email-container button {
    display: flex;
    align-items: center
}

#email-container span,
#email-container button {
    opacity: .9;
}

#email-container button:hover {
    transition: all 0.3s ease-out;
    opacity: 1;
}

#remember-me-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

#forgot-password-container {
    margin-left: 6px;
    margin-bottom: 6px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#forgot-password-container * {
    font-size: 14px;
}

#forgot-password-container a {
    font-weight: 500;
    color: var(--m-text-gray);
}

#forgot-password-container a:hover {
    border-bottom: 1.5px solid var(--m-text-gray);
}
