.login-form input {
    width: 100%;
}

#email-container {
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
}

#email-container h3 {
    margin: 0;
    margin-bottom: 2px;
}

#email-container div,
#email-container button {
    display: flex;
    align-items: center;
    margin-left: -4px;
}

#email-container span,
#email-container button {
    opacity: .9;
}

#email-container button:hover {
    transition: all 0.3s ease-out;
    opacity: 1;
}

#remember-me-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

#password-auth--container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.below-login--container {
    height: 0;
    width: 100%;
    position: relative;
}

.below-login--container button {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 44px;
    font-size: 14px;
    font-weight: 500;
}

.mfa-prompt--container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.mfa-prompt--container * {
    margin-top: 8px;
    font-size: 15px;
}

.recover-propt--container span {
    color: var(--sub-text);
}

.mfa-prompt--container button {
    color: var(--green-dark2);
    position: relative;
}

/* Draw line to right hover effect for button */
.mfa-prompt--container button:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: var(--green-dark2);
}

.mfa-prompt--container button:hover:before {
    width: 100%;
    transition: all 0.2s ease-out;
}
