.login-form input {
    width: 100%;
}

#email-container {
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
}

#email-container h3 {
    margin: 0;
    margin-bottom: 2px;
}

#email-container div,
#email-container button {
    display: flex;
    align-items: center;
    margin-left: -4px;
}

#email-container span,
#email-container button {
    opacity: .9;
}

#email-container button:hover {
    transition: all 0.3s ease-out;
    opacity: 1;
}

#remember-me-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

#password-auth--container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#account-recover--container {
    height: 0;
    width: 100%;
    position: relative;
}

#account-recover--container button {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 44px;
}
