.otc fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.otc fieldset div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.otc input[type="text"] {
    flex: 1;
    line-height: 1;
    margin: .2em;
    padding: 4px 0px;
    font-size: 1.5em;
    text-align: center;
    appearance: textfield;
    -webkit-appearance: textfield;
    border: 2px solid transparent;
    background-color: var(--green-hlight2);
    color: var(--m-green-hover);
    border-radius: var(--border-radius2);
}

.otc input[type="text"]:focus {
    border: 2px solid var(--green-hlight3);
    background-color: var(--window);
}

.otc input::-webkit-outer-spin-button,
.otc input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.otc input[type="text"]:first-child {
    margin-left: 0;
}

.otc input[type="text"]:last-child {
    margin-right: 0;
}

/* 2 group of 3 items */
.otc input[type="text"]:nth-child(n+4) {
    order: 2;
}

.otc div::before {
    width: 8px;
    content: '';
    height: 3px;
    margin: 0 .2em;
    order: 1;
    background: var(--green-hlight3);
}
