/* --------------------------- Key Flip Animation --------------------------- */
#image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2.25em 0;
    position: relative;

    svg {
        position: relative;
        z-index: 10;
    }

}

/* ------------------------- End Key Flip Animation ------------------------- */

.recovery-form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#recovery-window {
    padding: 2em 3.5em 2em 3.5em;
    width: auto;
}

#recovery-code-form-container h2 {
    margin-bottom: .5em;
}

/* Send Recovery Email Button */
.verification-button-container {
    margin-top: .75em;
}

.verification-button {
    width: 100%;
    z-index: 1;
    position: relative;
}

.recovery-error--container {
    margin: 1em -.25em;
}

/* ----------------------------- Responsiveness ----------------------------- */


@media only screen and (max-width: 700px) {
    #recovery-window {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    #recovery-window>div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 2.5em;
    }

    #recovery-window .recovery-form {
        margin-bottom: 1.5em;
    }
}
