/* --------------------------- Key Flip Animation --------------------------- */
#image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 36px 0;
    position: relative;
}

#image-container img {
    width: 25%;
    min-width: 100px;
    position: relative;
    z-index: 2;
    transform: rotateX(0deg);
}

#image-container.unlocked img {
    transform: rotateX(180deg);
    transition: transform 0.4s ease-in-out;
}

/* ------------------------- End Key Flip Animation ------------------------- */

.recovery-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#recovery-window {
    padding: 32px 56px 32px 56px;
    width: auto;
}

#recovery-code-form-container h2 {
    margin-bottom: 8px;
}

/* Send Recovery Email Button */
.verification-button-container {
    margin-top: 12px;
}

.verification-button {
    width: 100%;
    z-index: 1;
    position: relative;
}

.recovery-error--container {
    margin: 16px -4px;
}

/* ----------------------------- Responsiveness ----------------------------- */


@media only screen and (max-width: 700px) {
    #recovery-window {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    #recovery-window>div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 40px;
    }

    #recovery-window .recovery-form {
        margin-bottom: 24px;
    }
}
