.sign-up-window input {
    width: 100%;
}

.sign-up-window #authentication-form>div:last-of-type {
    margin-top: -4px;
    margin-bottom: 8px;
}

#step--container button {
    padding: 0;
    margin: 0;
}

#step--container {
    display: flex;
    align-items: center;
}

.signup-error-container {
    margin: 8px 0 8px -6px;
}

#continue-button {
    margin-top: 16px;
}
