#verification-container-header {
    padding: 12px 0 36px 0px;
    display: flex;
    justify-content: start;
}

/* Email Graphic */
#verification-form-container div:first-child {
    width: auto;
    display: flex;
    justify-content: center;
}

#verification-container-header img {
    height: 2em;
}

/* ************* */

#verification-form-container button {
    margin-top: 12px;
}

#verify-your-email {
    height: 10em;
}

#verification-form-container span {
    font-weight: 500;
}

#verification-form-error-container * {
    font-size: 16px;
}

/* Response Error */
#recovery-window .form-error {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
