#verification-container-header {
    padding: 12px 0 36px 0px;
    display: flex;
    justify-content: start;
}

/* Email Graphic */
#verification-form-container div:first-child {
    width: auto;
    display: flex;
    justify-content: center;
}

/* ************* */

#verification-form-container button {
    margin-top: 12px;
}

#verify-graphic--container {
    height: 4em;
    margin-bottom: 24px;
    position: relative;
}

#verification-form-container span {
    font-weight: 500;
}

#verification-form-error-container * {
    font-size: 16px;
}


/* ------------------------------ Status Circles ----------------------------- */

#verify-graphic--container img {
    z-index: 3;
}

.status-circle {
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.status-circle:not(:last-child) {
    z-index: 2;
    width: 1.6rem;
    height: 1.6rem;
}

.status-circle:last-child {
    z-index: 1;
    width: 2.4rem;
    height: 2.4rem;
}

.status-circle.locked:not(:last-child) {
    background-color: rgba(69, 255, 150, 0.7);
    animation: pulse 10s ease-in-out infinite;
}

.status-circle.locked:last-child {
    background-color: rgb(191, 255, 220);
    animation: pulse 10s ease-in-out infinite;
    animation-delay: 1s;
}

.status-circle.unlocked:not(:last-child) {
    background-color: rgba(69, 255, 150, 0.7);
    animation: success .7s ease-out forwards;
    transition: all .5s ease-out;
}

.status-circle.unlocked:last-child {
    background-color: rgb(191, 255, 220);
    animation: success .7s ease-out forwards;
    transition: all .5s ease-out;
}

@keyframes success {
    0% {
        opacity: 1;
    }

    100% {
        transform: scale(5);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}
