---
import PrivacyTermsLayout from '../../layouts/privacyterms-layout.astro';
import '../../styles/termly.scss';
import { Content as Terms } from './terms.md';
---

<PrivacyTermsLayout>
  <div class="termly">
    <Terms />
  </div>
</PrivacyTermsLayout>
