.calendar {
  display: inline-grid;
  grid-template-columns: repeat(7, auto);
  justify-self: center;
  row-gap: 0.75em;
  column-gap: 1.375em;

  // Days of week markers
  & > div:nth-child(-n + 7) {
    font-weight: var(--fw-regular);
  }

  // Cells
  & > div {
    position: relative;
    align-self: center;
    justify-self: center;
    font-weight: var(--fw-bold);
    z-index: 1;

    span {
      position: relative;
      z-index: 1;
    }

    &[data-hoverable='true'] {
      cursor: pointer;
    }

    &[data-hoverable='true']::after {
      content: '';
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.5em;
      height: 1.5em;
      border-radius: 25%;
      background-color: transparent;
      transition: background-color 0.2s ease-in-out;
    }

    &[data-hoverable='true']:hover::after,
    &[data-hoverable='true'][data-selected='true']::after {
      background-color: var(--btn-light-gray);
      transition: background-color 0.2s ease-in-out;
    }

    &[data-hoverable='true'][data-selected='true']:hover::after {
      background-color: var(--btn-light-gray-hover);
      transition: background-color 0.2s ease-in-out;
    }

    &:hover > div {
      opacity: 1;
    }

    &:has(div) {
      cursor: pointer;
    }
  }
}

.bookendDays {
  color: var(--m-text-quinary);
  font-weight: var(--fw-regular);
}

.billDotTip {
  padding: 0.25em 0.75em;
  border-radius: var(--border-radius2);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  opacity: 0;
  display: flex;
  background-color: var(--m-text);
  display: flex;
  gap: 0.125em;
  align-items: center;
  z-index: 1;

  &::before {
    position: absolute;
    z-index: -2;
    bottom: -0.5em;
    right: 50%;
    transform: translateX(50%) rotate(180deg);
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 7px solid var(--m-text-secondary);
    border-left: 6px solid transparent;
    content: '';
  }

  &::after {
    position: absolute;
    z-index: -1;
    bottom: -0.4em;
    right: 50%;
    transform: translateX(50%) rotate(180deg);
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 7px solid var(--m-text);
    border-left: 6px solid transparent;
    content: '';
  }

  * {
    color: var(--m-invert-text);
    font-weight: var(--fw-bold);
  }

  span:first-of-type,
  span:nth-of-type(3) {
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
  }

  span[data-period='month'] {
    background-color: var(--monthly-color2);
  }

  span[data-period='year'] {
    background-color: var(--yearly-color2);
  }
}

.billDotContainer {
  position: absolute;
  bottom: -0.375em;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  gap: 0.125em;
}

// Indicators for bills on that day
.billDot {
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;

  &[data-period='month'] {
    background-color: var(--monthly-color2);
  }

  &[data-period='year'] {
    background-color: var(--yearly-color2);
  }
}
