.create-form form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-top: 8px;
}

.responsive-inputs-row-container label {
    font-weight: 500;
    margin-left: 4px;
}

.create-form h2 {
    margin-left: 6px;
}

.create-form .checkbox-container {
    margin-left: 8px;
}

.inputs-row-container {
    display: flex;
    align-items: center;
    padding: 0 4px;
}

.responsive-inputs-row-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 4px 0;
}

.create-form .responsive-inputs-row-container>div:first-child {
    flex: 2 0 60%;
    box-sizing: border-box;
    padding: 0 4px;
    display: inline-flex;
    flex-direction: column;
}

.create-form .responsive-inputs-row-container>div:last-child {
    flex: 1 0 40%;
    box-sizing: border-box;
    padding: 0 4px;
    display: inline-flex;
    flex-direction: column;
}

input.emoji {
    width: 20px;
    font-size: 16px;
    padding: 0 4px 0 0;
}

.inputs-row-container {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}
