.create-form form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-top: 8px;
}

.responsive-inputs-row-container label {
    font-weight: 500;
    margin-left: 4px;
}

.create-form h2 {
    margin-left: 6px;
}

.create-form .checkbox-container {
    margin-top: -8px;
    margin-left: 8px;
    margin-right: 4px;
}

.inputs-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

.responsive-inputs-row-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 4px 0;
    margin-bottom: 24px;
}

.create-form .responsive-inputs-row-container>div:first-child {
    flex: 2 0 50%;
    box-sizing: border-box;
    padding: 0 4px;
    display: inline-flex;
    flex-direction: column;
}

.create-form .responsive-inputs-row-container>div:last-child {
    flex: 1 0 50%;
    box-sizing: border-box;
    padding: 0 4px;
    display: inline-flex;
    flex-direction: column;
}

input.emoji {
    width: 20px;
    font-size: 16px;
    padding: 0 4px 0 0;
}

.inputs-row-container {
    display: flex;
    flex-direction: row;
    margin: 4px 0;
}


#emoji-picker-ledget--button-container {
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-left: -4px;
}

#emoji-picker-ledget--button {
    cursor: pointer;
    font-size: 16px;
    color: rgb(0, 0, 0, 1);
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
    height: 140%;
    transform: scale(1.2);
}
