.create-form form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-top: 8px;
}

.responsive-inputs-row-container label,
.inputs-row-container label,
#description-container label {
    font-weight: 500;
    margin-left: 4px;
}

.create-form h2 {
    margin-left: 6px;
}

.responsive-inputs-row-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 4px 0;
}

.create-form .responsive-inputs-row-container>div:first-child {
    flex: 2 0 60%;
    box-sizing: border-box;
    padding: 0 4px;
    display: inline-flex;
    flex-direction: column;
}

.create-form .responsive-inputs-row-container>div:last-child {
    flex: 1 0 40%;
    box-sizing: border-box;
    padding: 0 4px;
    display: inline-flex;
    flex-direction: column;
}

#emoji-input {
    width: 20px;
}

#limit-input-container {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 0;
    width: 100%;
}

#limit-input-container input {
    flex: 1 1 50%;
    box-sizing: content-box;
    width: auto;

}

.inputs-row-container {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}

#add-alert-btn {
    margin-left: 4px;
    display: flex;
    align-items: center;
    font-weight: 500;
    border-radius: 8px;
    padding: 2px 12px;
    background-color: var(--button-gray);
    transition: background-color 0.3s ease-in-out;
    color: var(--white-text);
}

#add-alert-btn svg {
    margin-left: 4px;
}

#add-alert-btn:hover {
    background-color: var(--button-hover-gray);
    transition: background-color 0.3s ease-in-out;
}

.create-form .checkbox-container {
    margin-right: 4px;
}

#description {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}
