.create-form form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-top: 4px;
    padding: 0 4px;
}

.create-form label {
    font-weight: 500;
}

.create-form h2 {
    margin: 4px 0 4px 4px;
}

.flex-responsive1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
    box-sizing: border-box;
}

.flex-responsive1 label,
.flex-responsive2 label {
    margin-left: 4px;
}

.flex-responsive1>div:first-child {
    flex: 6;
    padding-right: 4px;
}

.flex-responsive1>div:last-child {
    flex: 4;
    padding-left: 4px;
}

.padded-row {
    margin-top: 8px;
}

.split-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.split-inputs>div:first-child {
    flex: 1;
}

.split-inputs>div:last-child {
    flex: 3;
    margin-left: 4px;
}

/* ---------------------------------- Emoji --------------------------------- */

input.emoji {
    width: 20px;
    font-size: 16px;
    padding: 0 4px 0 0;
}

#emoji-picker-ledget--button-container {
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-left: -4px;
}

#emoji-picker-ledget--button {
    cursor: pointer;
    font-size: 16px;
    color: rgb(0, 0, 0, 1);
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
    height: 140%;
    transform: scale(1.2);
}

/* ---------------------------- Create Bill Form ---------------------------- */

.limit-button {
    opacity: 1;
    cursor: pointer;
    transition: opacity .2s ease;
}

#limit-radios button {
    font-weight: 400;
}

#limit-inputs-container {
    width: 60%;
    margin-bottom: 4px;
}

#bottom-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px 0 20px 0px;
}

#bottom-inputs .checkbox-container {
    margin-left: 6px;
}
