#authenticator-page .spaced-header2 {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

#authenticator-setup-form>div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#authenticator-setup-form .content {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------------- */

#qr-setup--container img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 9.375rem;
    max-width: 9.375rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: var(--border-radius25);
    padding: .5rem;
    filter: grayscale(0.5);
    mix-blend-mode: multiply;
    border: 2px solid var(--m-text-gray);
}

#qr-setup--container>img+button {
    margin: 0 auto;
    margin-top: .5rem;
}

#code-setup--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#code-setup--container>span:first-child {
    font-size: 1em;
    margin-bottom: .75rem;
    font-weight: 500;
}

#code-setup--container>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25em;
    font-weight: 500;
    padding: .5rem .75rem;
    border-radius: var(--border-radius4);
    border: 1.5px solid var(--m-text-gray);
}

#code-setup--container button svg {
    margin-right: .25rem;
}
