#authenticator-page .spaced-header2 {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

#authenticator-setup-form>div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#authenticator-setup-form .content {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------------- */

#qr-setup--container {
    flex-direction: column;
    display: inline-flex;
    align-items: center;
    gap: .5em;

    &>div {
        background-color: var(--inner-window);
        padding: .5rem;
        border-radius: var(--border-radius25);
        display: inline-flex;
        place-content: center;
    }

    img {
        max-height: 9.375rem;
        max-width: 9.375rem;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: inline-block;
        filter: grayscale(0.5);
        mix-blend-mode: multiply;
    }

    button {
        display: inline-block;
        width: min-content;
    }

}

#qr-setup--container>img+button {
    margin: 0 auto;
    margin-top: .5rem;
}

#code-setup--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#code-setup--container>span:first-child {
    font-size: 1em;
    margin-bottom: .75rem;
    font-weight: var(--fw-bold);
}

#code-setup--container>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em;
    font-weight: var(--fw-regular);
    padding: .5rem .75rem;
    border-radius: var(--border-radius5);
    background-color: var(--input-background);
}

#code-setup--container button svg {
    margin-right: .25rem;
}
