@import '@styles/header.scss';
@import '@styles/base.scss';

#bill-info {

    .header {
        display: flex;
        flex-direction: column;
        gap: .25em;
        margin: 1em 0;

        &>div {
            display: flex;
            align-items: center;
            gap: .5em;

            &>div {
                font-size: 1.25em;
            }
        }
    }

    &>div {
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
    }

    .inner-window {
        display: grid;
        row-gap: .75em;
        column-gap: 1.5em;
        grid-template-columns: minmax(0, min-content) 1fr;

        &>div {
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: .5em;
        }

        &>div:nth-child(2n+1) {
            font-weight: 500;
        }

        // Reminders row
        &>div:nth-last-child(2) {
            align-items: flex-start;
        }

        &>div:last-child {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: .125em;
        }
    }
}

#bill-edit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em 0;

    label {
        font-weight: 500;
        margin-left: .25em;
    }

    &>hr {
        margin-bottom: 1em;
    }

    &>div {
        margin: .25em 0;
    }

    .checkbox-container {
        margin-top: -.25em;
    }

    &>div:first-of-type {
        margin-bottom: .625em;

        &>div {
            margin-top: .5em;
            display: flex;
            gap: .5em;
        }
    }
}

.corner-dropdown {
    @include window-corner-dropdown;
}

#delete-bill {

    #radios {
        display: flex;
        flex-direction: column;
        gap: .5em;
        margin: 1em 0;

        label {
            margin-bottom: .5em;
        }

        h4 {
            margin: .125em 0;
            font-weight: 400;
        }

        &>div {
            display: flex;
            align-items: center;
            gap: .75em;
            cursor: pointer;
            position: relative;

            &.radio-option {

                &:hover>span.button:not(.checked) {
                    box-shadow: 0 0 0 3px var(--main-hlight);
                }

                span.button {
                    border: 1.5px solid var(--main-color);
                    border-radius: 50%;
                    width: .75rem;
                    height: .75rem;
                    position: relative;

                    &.checked::after {
                        width: .325rem;
                        height: .325rem;
                        background-color: var(--main-color);
                        border-radius: 50%;
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}
