@import '@styles/header.scss';
@import '@styles/text.scss';


#bill-info {
    .header {
        display: flex;
        flex-direction: column;
        gap: .25em;
        margin: 1em 0;

        &>div {
            display: flex;
            align-items: center;
            gap: .5em;

            &>div {
                font-size: 1.25em;
            }
        }
    }

    &>div {
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
    }

    .inner-window {
        display: grid;
        row-gap: .75em;
        column-gap: 1.5em;
        grid-template-columns: minmax(0, min-content) 1fr;

        &>div {
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: .5em;
        }

        &>div:nth-child(2n+1) {
            font-weight: 500;
        }

        // Reminders row
        &>div:nth-last-child(2) {
            align-items: flex-start;
        }

        &>div:last-child {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: .125em;
        }
    }
}

#bill-edit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em 0 1.5em 0;

    &>hr {
        margin-bottom: 1em;
    }

    &>div:last-child {
        margin-top: .5em;
        display: flex;
        gap: .5em;
    }
}

// Container for bottom butons
.dropdown-wrapper {
    display: inline-flex;
    align-items: center;
    border-radius: .25em;
    padding: .75em;
    position: absolute;
    top: .125em;
    right: 2.5em;
    z-index: 10;

    &>div {
        position: absolute;
        bottom: 0;
        right: -25%;
        transform: translateX(50%);

        &>.dropdown {
            @include dropdown-arrow;
        }
    }

    hr {
        margin: .375em 0;
    }

    button {
        display: flex;
        gap: .75em;
    }
}

#delete-bill {

    #radios {
        display: flex;
        flex-direction: column;
        gap: .5em;
        margin: 1em 0;

        label {
            margin-bottom: .5em;
        }

        h4 {
            margin: .125em 0;
            font-weight: 400;
        }

        &>div {
            display: flex;
            align-items: center;
            gap: .75em;
            cursor: pointer;
            position: relative;

            &.radio-option {

                &:hover>span.button:not(.checked) {
                    box-shadow: 0 0 0 3px var(--main-hlight2);
                }

                span.button {
                    border: 1.5px solid var(--main-color);
                    border-radius: 50%;
                    width: .75rem;
                    height: .75rem;
                    position: relative;

                    &.checked::after {
                        width: .325rem;
                        height: .325rem;
                        background-color: var(--main-color);
                        border-radius: 50%;
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}
