#cancellation--container {
    margin-top: 12px;
}

#cancellation--container>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

#cancellation--container>div:last-child {
    display: flex;
    flex-direction: row;
    margin: 16px 0 0 2px;
}

#cancelation-modal--container .body {
    margin: 8px 0 20px 0;
}

.transition-container {
    transition: height 0.3s ease;
}
