#new-plan--container {
    display: inline-flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 12px;
    border-radius: var(--border-radius2);
}

#new-plan--container span:first-child {
    font-weight: 600;
}

#new-plan--container span:last-child {
    color: var(--green-dark3);
}

#new-plan--container>div {
    position: relative;
    margin-left: 8px;
}
