#new-plan--container {
    display: inline-flex;
    align-items: center;
    margin-top: .125em;
    margin-bottom: .75em;
    border-radius: var(--border-radius2);
}

#new-plan--container span:first-child {
    font-weight: var(--fw-bold);
}

#new-plan--container span:last-child {
    color: var(--main-dark3);
}

#new-plan--container>div {
    position: relative;
    margin-left: .5em;
}
