@import '@styles/base.scss';


#reorder-categories {
    margin-top: 1em;
    margin-bottom: 0;
    transition: margin-bottom .2s ease-in-out;

    &.submittable {
        margin-bottom: 1em;
        transition: margin-bottom .2s ease-in-out;
    }

    &>div:first-child {
        margin-top: .25em;
        display: flex;
        justify-content: center;
    }

    .edit-budget-items--container {
        position: relative;

        .item {
            position: absolute;
            left: 0rem;
            right: 0rem;
        }

        &>div:first-of-type {
            margin-top: 1.5em;
            display: flex;
            flex-direction: column;
            position: relative;

            &>div {
                display: flex;
                align-items: center;
                gap: .5rem;

                &>div:nth-child(2) {
                    flex-grow: 1;
                }

                // Delete button
                &>div:last-child {
                    justify-self: end;
                }
            }
        }

        .month {
            @include month-category;
        }

        .year {
            @include year-category;
        }
    }

    #delete-msg {
        margin: 1em;
        color: var(--m-text-tirtiary);
    }


}
