.create-form,
.new-bill-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    padding: 0 4px;
}

.create-form>div:nth-last-of-type(2),
.new-bill-form>div:nth-last-of-type(2) {
    margin-bottom: 20px;
}

.create-form>div:first-of-type,
.new-bill-form>div:first-of-type {
    margin-top: 12px;
}

.create-form label {
    font-weight: 500;
    margin-left: 2px;
}

.form-top {
    margin-bottom: 16px;
}

.flex-responsive1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
    box-sizing: border-box;
}

.flex-responsive1 label,
.flex-responsive2 label {
    margin-left: 4px;
}

.flex-responsive1>div:first-child {
    flex: 6;
    padding-right: 4px;
}

.flex-responsive1>div:last-child {
    flex: 4;
    padding-left: 4px;
}

.padded-row {
    margin-top: 4px;
}

.extra-padded-row {
    margin: 8px 0;
}

.multi-input-row {
    display: flex;
    gap: 8px;
    margin: 8px 0;
    align-items: center;
    justify-content: space-between;
}

.multi-input-row>div {
    flex: 1;
}

.multi-input-row button {
    width: 100%;
}

.split-inputs {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.split-inputs>div:first-child {
    flex: 1;
    margin-right: 4px;
}

.split-inputs>div:last-child {
    flex: 1;
    margin-left: 4px;
}

/* ---------------------------------- Emoji --------------------------------- */

input.emoji {
    width: 20px;
    font-size: 16px;
    padding: 0 4px 0 0;
}

#emoji-picker-ledget--button-container {
    display: flex;
    align-items: center;
    margin-left: -6px;
    margin-right: 2px;
}

/* ---------------------------- Create Bill Form ---------------------------- */

.limit-button {
    opacity: 1;
    cursor: pointer;
    transition: opacity .2s ease;
}

#limit-radios button {
    font-weight: 400;
}

#bottom-inputs .checkbox-container {
    margin-left: 12px;
}

#new-bill-form #add-reminder--container {
    margin-top: 8px;
}

#new-bill-form #range-checkbox--container label {
    margin-top: 2px;
}

#new-bill-form .bottom-row {
    margin-bottom: 24px;
}

@media only screen and (max-width: 700px) {
    .split-inputs {
        flex-direction: column;
    }

    .split-inputs>div:first-child {
        margin-right: 0px;
    }

    .split-inputs>div:last-child {
        margin-left: 0px;
    }

    #new-bill-form #range-checkbox--container label {
        margin-bottom: 8px;
    }

    #new-bill-form .bottom-row>div:first-child {
        order: 2;
    }

    #new-bill-form .bottom-row>div:last-child {
        order: 1;
    }
}
