#recovery-codes--container {
    display: flex;
    flex-direction: column;
}

#recovery-codes--container span {
    margin: 1em 0;
}

#recovery-codes-save--container {
    display: flex;
    justify-content: center;
    gap: .525em;
    margin: 1.25em;
}

#recovery-codes-save--container button {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 7.5em;
}

#recovery-codes-save--container button svg {
    margin-left: .375em;
}

#recovery-codes-save--container button {
    float: center;
}

#select-code-action--container {

    margin-top: 1em;
    display: flex;
    gap: .5em;
    justify-content: center;
    width: 100%;

    &>button {
        min-width: 40%;
    }
}
