#recovery-codes--container {
    display: flex;
    flex-direction: column;
}

#recovery-codes--container span {
    margin: 16px 0;
}

#recovery-codes-save--container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

#recovery-codes-save--container button {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 120px;
}

#recovery-codes-save--container button svg {
    margin-left: 6px;
}

#recovery-codes-save--container button {
    float: center;
}
