#otp-setup-form>div:first-child {
    display: flex;
    flex-direction: column;
}

#otp-setup-form>div img {
    height: 5rem;
    margin: 2em 0;
}

#otp-setup-form>div:last-child {
    margin-top: 1.25em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#otp-verify-form>div:last-child {
    display: flex;
    margin-top: 1.25em;
    justify-content: center;
}

#otp-setup-form>div:first-child>div:first-child {
    display: flex;
    justify-content: center;
}
