@import '@styles/base.scss';
@import '@styles/table-mixins.scss';

/* Header */
.transaction-info--header {
    display: flex;
    align-items: center;
    flex-direction: column;

    &>div:first-child {
        font-size: 2rem;
    }

    &>div:nth-child(2),
    &>button:nth-child(2) {
        font-size: 1rem;
        color: var(--m-text-secondary);
    }

    &>div:nth-child(2) {
        width: 70%;

        input {
            text-align: center;
            width: 100%;
            padding: 0;
            mask-image: linear-gradient(to right, transparent, black 1.25em, black 100%);
        }
    }

    &>button:nth-child(2) {
        max-width: 70%;
        white-space: normal;
        text-align: center;
        position: relative;
        border-radius: var(--border-radius1);
        padding: 0 .25em;

        svg {
            position: absolute;
            right: -.875em;
            top: 50%;
            transform: scale(0) translateY(-50%);
            transition: transform .2s ease-in-out;
        }

        &:not(:focus-within):hover svg {
            top: 50%;
            transform: scale(1) translateY(-50%);
            transition: transform .2s ease-in-out;
        }
    }

    .pending {
        margin-top: .5em;
        text-align: center;
        font-size: .8rem;
        background-color: var(--inner-window);
        border-radius: var(--border-radius1);
        padding: 0 .5em;
        color: var(--m-text-tirtiary);
    }
}

/* All Info */
.transaction-info--container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 2em;

    a {
        text-decoration: underline;
    }

    .corner-dropdown {
        @include window-corner-dropdown;
    }

    .inner-window {

        &:not(:nth-child(3))>div,
        &>div a {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        // Account and institution info
        // accunt, merchant, date, etc. info
        &:nth-last-child(2) {
            display: grid;
            column-gap: 1.5em;
            row-gap: .25em;
            grid-template-columns: minmax(0, auto) 1fr;

            #account-info-cell {
                display: flex;
                gap: .5em;
            }

            &>div {
                display: flex;
                align-items: center;
            }

            &>div:nth-child(2n+1) {
                font-weight: var(--fw-bold);
            }

            &>div:nth-child(2n),
            &>div:nth-child(2n) * {
                color: var(--m-text-secondary);
            }
        }
    }


    #bills-and-categories {
        display: flex;
        align-items: center;
        gap: .75em;
        position: relative;

        &>div {
            font-weight: var(--fw-bold);
        }

        #bill-cat-selector--container {
            display: flex;
            flex-direction: column;

            &>div {
                position: relative;
                width: 100%;

                &>div {
                    margin-top: .375em;
                }
            }
        }
    }

    // Add a note container
    #notes--container {
        margin-top: .5em;
        grid-column: 1/span 2;
        position: relative;
        overflow-x: visible;

        &>div {
            overflow-y: auto;
            overflow-x: visible;
            padding-right: 1em;
            width: calc(100% - 1em);
            max-height: 12.5em;
            display: flex;
            flex-direction: column;
            gap: .5em;

            // Tooltip divs around delete and save buttons
            &>div[role="tooltip"] {
                opacity: 1;
                z-index: 20;
                position: absolute;
                bottom: 0em;
                right: 2.5em;

                &:last-of-type {
                    right: 0.5em;
                }
            }

            &:focus-within button {
                opacity: 1;
            }
        }

        &:focus-within {
            overflow-y: hidden;
        }

        .note--container {
            width: 100%;
            height: auto;
            position: relative;
            padding: .25em 0 .625em 0;
            display: flex;
            color: var(--m-text-secondary);

            span {
                white-space: nowrap;

                &.last-changed {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    color: var(--m-text-quinary);
                }
            }

            &:focus-within {
                position: absolute;
                height: calc(100% - .75em);
                background-color: var(--inner-window);
                z-index: 10;
            }

            &:not(:last-child):not(:focus-within) {
                @include table-dividers(0em, false);
            }

            textarea {
                width: 100%;
                height: calc(100% - 1.25em);
                padding: 0;
            }
        }
    }
}
