@import '@styles/text.scss';

/* Header */
.transaction-info--header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.transaction-info--header>div:first-child {
    font-size: 2rem;
}

.transaction-info--header>div:last-child {
    width: 70%;
    white-space: wrap;
    text-align: center;
    font-size: 1rem;
    color: $secondary-text-color-darker;
}

/* All Info */
.transaction-info--container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}

.transaction-info--container a {
    text-decoration: underline;
}

.transaction-info--container .inner-window>div,
.transaction-info--container .inner-window>div a {
    display: flex;
    align-items: center;
}

.transaction-info--container .inner-window>div {
    gap: .375em;
}

.transaction-info--container .inner-window:first-child {
    display: flex;
    gap: .5em;
}

.transaction-info--container .inner-window:not(:first-child)>div {
    display: grid;
    column-gap: 1em;
    row-gap: 0;
    grid-template-columns: minmax(0, auto) 1fr;
}

.transaction-info--container .merchant-cell {
    grid-column: span 2;
    margin-bottom: .25em;
    font-weight: 500;
}

.transaction-info--container .inner-window:not(:first-child)>div>div {
    display: flex;
    align-items: center;
    gap: .125em;
}

.transaction-info--container .inner-window:not(:first-child)>div span {
    padding-top: .1875em;
}

.transaction-info--container .inner-window:not(:first-child)>div>div:nth-child(2n+1) {
    font-weight: 500;
}
