.container {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-bottom: 16px;
  color: var(--m-text-quaternary);

  &:hover {
    color: var(--m-text-primary);
  }
}

.content {
  border-radius: 12px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: background-color 0.2s ease;
  color: inherit;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  flex-shrink: 0;
  color: inherit;
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 4px;
}

.description {
  font-size: 14px;
  color: var(--m-text-secondary);
  margin: 0;
}
