.box {
  border-radius: 12px;
  margin-bottom: 12px;
}

.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  padding: 1em;
  box-sizing: border-box;
}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  position: relative;
}

.separator {
  border: none;
  height: 1.5px;
  background-color: var(--border-color-dim);
  margin: 16px 0;
}

.middleRow {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  margin-bottom: 24px;
  padding: 0 2em;

  * {
    color: var(--m-text-quinary);
    font-size: 14px;
  }
}

.middleRowCell {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.lastPaymentSkeleton {
  padding: 0 1em 1em 1em;
  gap: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: row;

  * {
    font-size: 14px;
    color: var(--m-text-quinary);
  }
}
