@import './constants.scss';
@import '@styles/table-mixins.scss';

.account-wafers-container {
    display: flex;
    gap: 1em;
    justify-content: space-between;

    &>div:first-child {
        padding: 0 1.5em;
        display: flex;
        width: auto;
        position: relative;
        justify-content: flex-start;
        gap: 2em;
        flex: 1;

        * {
            scrollbar-width: none;
        }

        &>div:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 1em;

            &>div {
                display: flex;
                gap: .75em;
            }
        }

        h4 {
            white-space: nowrap;
            font-weight: var(--fw-regular);
            color: var(--m-text-secondary);
        }
    }

    &>div:last-child {
        flex: 10;
        max-width: 40%;
        transition: max-width .5s ease-in-out, padding .5s ease-in-out, opacity .5s ease-in-out;
        display: flex;
        justify-content: center;
        padding: .75em;
        position: relative;

        &>button {
            position: absolute;
            top: 1em;
            right: 1em;
        }

        &.collapsed {
            max-width: 0;
            padding: 0;
            opacity: 0;
            transition: max-width .5s ease-in-out, padding .5s ease-in-out, opacity .5s ease-in-out;
        }
    }
}


/* --------------------------------- Wafers --------------------------------- */
.account-wafers,
.skeleton-wafers {
    width: 100%;
    display: inline-flex;
    height: calc($wafer-height + 2 * $wafer-container-padding + .25em);
    gap: .75em;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    animation: make-scroll 1s ease-in-out forwards;
    animation-delay: 1s;
    padding: 1.5em 0em .75em 0em;
}

@keyframes make-scroll {
    0% {
        overflow-x: hidden;
    }

    100% {
        overflow-x: scroll;
    }
}

.account-wafers {
    z-index: 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        pointer-events: none;
        opacity: 0;
        z-index: -1;
        animation: fade-in-background-image .5s ease-in-out forwards;
        animation-delay: 1.1s;
    }
}

.skeleton-account-wafers {
    display: flex;
    gap: .75em;
}

@keyframes fade-in-background-image {
    0% {
        animation: fade-in-background-image 2s ease-in-out forwards;
        animation-delay: 1s;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
