/* -------------------------- Passwordless Section -------------------------- */

.passwordlessFormSectionContainer {
  margin-top: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.passwordlessOptionHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0 1.25em 0;
  width: 40%;

  &:before,
  &:after {
    content: '';
    flex: 1 1;
    border-top: 0.125em solid var(--border-color-dim);
    margin: auto;
  }

  &:before {
    margin-right: 1em;
  }

  &:after {
    margin-left: 1em;
  }
}

.passwordlessInputsContainer {
  width: 100%;
  position: relative;
}

.passwordlessButtonContainer {
  position: relative;
  background-color: var(--social-button);
  display: flex;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: var(--fw-regular);

  &:hover {
    background-color: var(--social-button-hover);
  }

  &:hover div:last-child,
  &:focus-within div:last-child {
    transform: scale(1.1);
  }
}

.helpIconTip {
  width: auto;
  position: absolute;
  top: -0.375em;
  right: -0.375em;
  transform: scale(0);
  transition: transform 0.2s ease;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;

  &:focus-visible {
    box-shadow: var(--accessible-focus-drop-shadow);
    outline: none;
  }
}
