.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
}

.dashboard {
  flex: 8 1 0;
  margin: 0em 2em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3.5em);
  max-height: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

  &[data-screen-size='small'],
  &[data-screen-size='extra-small'],
  &[data-screen-size='medium'] {
    margin: 0;
  }
}
