#avatar {
    background-color: var(--icon-light-gray);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 0px;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
}

#info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    margin-bottom: 30px;
}

#info-container span {
    opacity: .5;
}

#account-page .header2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#account-page .header2>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#account-page .header2 button span,
#account-page .header2 button {
    font-size: 13px;
}

#account-page .indicator {
    margin-left: 12px;
    color: var(--green-dark2);
}

#card-info--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#card-info--container>div:first-child {
    display: flex;
    align-items: center;
}

#change-plan--menu {
    top: 26px;
    right: 0;
}

.nickname--container {
    margin: 0px 0px 4px -6px;
    display: inline-block;
}

.nickname--container>span:first-child {
    background-color: var(--icon-light-gray);
    border-radius: var(--border-radius1);
    padding: 0px 10px;
    font-weight: 500;
}


#invoice-details--container>div>span:first-child {
    font-weight: 500;
    margin-right: 8px;
}

#invoice-details--container>div {
    white-space: nowrap;
}

.card-info--container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-info--container>div:first-child {
    margin-right: 12px;
    display: flex;
    align-items: center;
}

@media (max-width: 550px) {
    .card-info--container {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }
}
