#avatar {
    background-color: var(--icon-light-gray);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 0;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
}

#info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: .75em;
    margin-bottom: 30;
}

#info-container span {
    opacity: .5;
}

#account-page .header2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#account-page .header2>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#account-page .header2 button span,
#account-page .header2 button {
    font-size: .8125rem;
}

#account-page .indicator {
    margin-left: .75em;
}

#card-info--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .75em;
}

#card-info--container>div:first-child {
    display: flex;
    align-items: center;
}

#change-plan--menu {
    top: 1.25em;
}


#invoice-details--container {
    display: grid;
    grid-template-columns: minmax(auto, max-content) 1fr;
    column-gap: 1em;

    &>div:nth-child(2n + 1) {
        font-weight: 500;
    }

    &>div {
        white-space: nowrap;
    }
}

.card-info--container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-info--container>div:first-child {
    margin-right: .75em;
    display: flex;
    align-items: center;
}

@media (max-width: 550) {
    .card-info--container {
        flex-direction: column;
        align-items: flex-start;
        gap: .25em;
    }
}
