#account-page {

    .sections {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .header2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &>div:first-child {
            display: flex;
            gap: .5em;
            align-items: baseline;
        }
    }
}

#avatar {
    background-color: var(--icon-light-gray);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 0;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: var(--fw-light);
}

#info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .75em 2em 0 2em;
    margin-bottom: 30;
    position: relative;
    width: min-content;
    margin: 0 auto;

    #edit-personal-info--button {
        transform: scale(0);
        position: absolute;
        right: -.25em;
        bottom: .75em;
        transition: transform .2s ease-in-out;
    }

    &:hover #edit-personal-info--button {
        transform: scale(1);
        transition: transform .2s ease-in-out;
    }

    #info-container {
        opacity: .5;
    }
}

#card-info--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .75em;

    &>div:first-child {
        display: flex;
        align-items: center;
    }
}


#change-plan--menu {
    top: .5em;
}


#invoice-details--container {
    display: grid;
    grid-template-columns: minmax(auto, max-content) 1fr;
    gap: .5em;
    column-gap: 1em;

    &>div:nth-child(2n + 1) {
        font-weight: var(--fw-regular);
    }

    &>div:nth-child(2n) {
        color: var(--m-text-secondary);
    }

    &>div {
        white-space: nowrap;
    }
}


@media (max-width: 550) {
    .card-info--container {
        flex-direction: column;
        align-items: flex-start;
        gap: .25em;
    }
}
