#connections-page {
    display: flex;
    flex-direction: column;
    width: 105%;
    height: 100%;
}

#connections-page .header {
    margin-bottom: 12px;
    margin-right: 28px;
}

#connections-page .institution {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 16px;
    max-height: 100%;
    position: relative;
}

#connections-page .institution .header2 {
    margin-bottom: 12px;
    margin-right: 6px;
    padding: 0 4px;
    height: 100%;
    opacity: 1;
}

#connections-page .institution .header2 img {
    filter: grayscale(1) contrast(130%);
    background-color: var(--logo-dark);
    padding: 2px;
    border-radius: 50%;
}

#connections-page .header2>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#connections-page #accounts-list {
    display: flex;
    overflow: hidden;
    top: 0;
    left: 0;
    margin-bottom: 24px;
}

#connections-page #accounts-list>div {
    width: 100%;
    height: 100%;
    padding-right: 22px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

#confirm-modal-bottom-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 24px;
}

/* -------------------------- Account Rows Styling -------------------------- */



#connections-page .accounts {
    display: grid;
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr) minmax(0, 1fr);
}

#connections-page .account-headers {
    padding: 6px 10px;
    font-weight: 600;
    display: grid;
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr) minmax(0, 1fr);
}

#connections-page .account-headers>div:nth-child(3) {
    text-align: right;
}

#connections-page .accounts>div {
    padding: 4px 0;
}

/* Alternate Row Styling */
#connections-page .accounts>div:nth-child(6n + 1),
#connections-page .accounts>div:nth-child(6n + 2),
#connections-page .accounts>div:nth-child(6n + 3) {
    background-color: var(--inner-window);
}


#connections-page .accounts>div:nth-child(3n) {
    padding-right: 16px;
    border-top-right-radius: var(--border-radius1);
    border-bottom-right-radius: var(--border-radius1);
}

#connections-page .accounts>div:nth-child(3n + 1) {
    padding-left: 10px;
    border-top-left-radius: var(--border-radius1);
    border-bottom-left-radius: var(--border-radius1);
}

#connections-page .accounts>div:nth-child(n+3):nth-last-child(-n+3) {
    border-bottom: 0;
}

#connections-page .accounts>div:nth-child(3n) {
    text-align: right;
}

#connections-page .accounts>div:nth-child(3n + 2),
#connections-page .accounts>div:nth-child(3n + 3) {
    opacity: .8;
    font-size: .75rem;
}

/* ------------------------------ Misc ----------------------------- */

#no-connections-message {
    font-weight: 500;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .7;
}

#no-connections-message h2 {
    margin-bottom: 6px;
}

#connections-page .footer-container {
    padding-right: 16px;
}

.reconnect--container {
    position: absolute;
    inset: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--window-rgb), .5);
    border-radius: var(--border-radius2);
}

.reconnect--container.wiggle button {
    padding-top: 3px;
    padding-bottom: 3px;
    position: absolute;
    animation: wiggle 4.5s infinite ease-out;
}

.reconnect--container button svg {
    margin-right: 4px;
}

@keyframes wiggle {
    0% {
        transform: scale(1) rotate(0deg);
    }

    80% {
        transform: scale(1) rotate(0deg);
    }

    85% {
        transform: scale(1.1) rotate(0deg);
    }

    87% {
        transform: scale(1.1) rotate(7deg);
    }

    89% {
        transform: scale(1.1) rotate(-7deg);
    }

    91% {
        transform: scale(1.1) rotate(7deg);
    }

    93% {
        transform: scale(1.1) rotate(-7deg);
    }

    95% {
        transform: scale(1.1) rotate(7deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}
