#connections-page {
    display: flex;
    flex-direction: column;
    width: 105%;
    height: 100%;
}

#connections-page .header {
    margin-bottom: .75em;
    margin-right: 1.75em;
}

#connections-page .institution {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    max-height: 100%;
    position: relative;
}

#connections-page .institution .header2 {
    margin-bottom: .75em;
    margin-right: .375em;
    padding: 0 .25em;
    height: 100%;
    opacity: 1;
}

#connections-page .institution .header2 img {
    padding: .125em;
    border-radius: 50%;
}

#connections-page .header2>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#connections-page #accounts-list {
    display: flex;
    overflow: hidden;
    top: 0;
    left: 0;
    margin-bottom: 1.5em;
}

#connections-page #accounts-list>div {
    width: 100%;
    height: 100%;
    padding-right: 1.375em;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

#confirm-modal-bottom-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.5em;
}

/* -------------------------- Account Rows Styling -------------------------- */

#connections-page .accounts {
    display: grid;
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr) minmax(0, 1fr);
}

#connections-page .account-headers {
    padding: .375em .525em;
    font-weight: 600;
    display: grid;
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr) minmax(0, 1fr);
}

#connections-page .account-headers>h4:nth-child(3) {
    text-align: right;
}

#connections-page .accounts>div {
    align-self: center;
}

/* Alternate Row Styling */
#connections-page .accounts>div:nth-child(6n + 1),
#connections-page .accounts>div:nth-child(6n + 2),
#connections-page .accounts>div:nth-child(6n + 3) {
    background-color: var(--inner-window);
}

#connections-page .accounts>div:nth-child(3n + 2),
#connections-page .accounts>div:nth-child(3n + 3) {
    color: var(--secondary-text-color-darker);
    padding: .375em 0;
    font-size: .75rem;
}

#connections-page .accounts>div:nth-child(3n) {
    padding-right: 1em;
    border-top-right-radius: var(--border-radius1);
    border-bottom-right-radius: var(--border-radius1);
}

#connections-page .accounts>div:nth-child(3n + 1) {
    padding: .25em 0;
    padding-left: .525em;
    border-top-left-radius: var(--border-radius1);
    border-bottom-left-radius: var(--border-radius1);
}

#connections-page .accounts>div:nth-child(n+3):nth-last-child(-n+3) {
    border-bottom: 0;
}

#connections-page .accounts>div:nth-child(3n) {
    text-align: right;
}


/* ------------------------------ Misc ----------------------------- */

#no-connections-message {
    font-weight: 500;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
}

#no-connections-message h2 {
    margin-bottom: .375em;
}

#connections-page .footer-container {
    padding-right: 1em;
}

.reconnect--container {
    position: absolute;
    inset: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--window-rgb), .5);
    border-radius: var(--border-radius2);
}

.reconnect--container.wiggle button {
    padding-top: .25em;
    padding-bottom: .25em;
    position: absolute;
    animation: wiggle 4.5s infinite ease-out;
}

.reconnect--container button svg {
    margin-right: .25em;
}

@keyframes wiggle {
    0% {
        transform: scale(1) rotate(0deg);
    }

    80% {
        transform: scale(1) rotate(0deg);
    }

    85% {
        transform: scale(1.1) rotate(0deg);
    }

    87% {
        transform: scale(1.1) rotate(7deg);
    }

    89% {
        transform: scale(1.1) rotate(-7deg);
    }

    91% {
        transform: scale(1.1) rotate(7deg);
    }

    93% {
        transform: scale(1.1) rotate(-7deg);
    }

    95% {
        transform: scale(1.1) rotate(7deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}
