#security-page>div {
    margin: 8px 0;
}

#security-page>div:first-child {
    margin-top: 240px;
}

#authenticator-settings--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#authenticator-settings--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#authenticator-settings--container>div>svg {
    margin-right: 8px;
}

#authenticator-settings--container>div {
    display: flex;
    align-items: center;
}
