.page-header {
    margin: 8px 0;
}

.page-label {
    font-weight: 500;
    margin-right: 16px;
}

#profile-window {
    flex: 1;
    width: 90%;
    max-width: 950px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#profile-window .header {
    margin-bottom: 30px;
}

#profile-window .header2 {
    margin-top: 28px;
    margin-bottom: 12px;
}

#profile-window .content {
    flex: 2;
    border-radius: 0;
}

#profile-window .padded-content {
    padding: 32px 40px;
    box-sizing: border-box;
}

#profile-window h1 {
    font-size: 2em;
}

#account-page h1,
#security-page h1 {
    margin-left: -4px;
}

/* --------------------------------- Gutter --------------------------------- */

#gutter {
    flex: 1;
    max-width: 250px;
    padding: 12px 8px;
    border-right: 3px solid rgb(0, 0, 0, .05);
    margin: 16px 0;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

#gutter>div {
    width: 100%;
}

#gutter ul {
    position: relative;
    width: 100%;
}

#gutter li {
    cursor: pointer;
    margin: 8px;
    padding: 4px;
    border-radius: var(--border-radius2);
    transition: background-color .3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gutter li#profile {
    border-radius: var(--border-radius25);
}

#gutter li.slim div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gutter li.slim div:first-child {
    flex: 1;
    display: flex;
    justify-content: center;
}

#gutter li.slim div:last-child {
    flex: 4;
}

#gutter li#profile {
    margin-top: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#gutter li#profile div:first-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gutter li#profile div:last-child {
    padding: 2px 8px;
    flex: 4;
}

#gutter #profile svg {
    margin: 8px;
}

.side-nav-item {
    transition: all 0.3s ease-out;
}

.side-nav-item:hover {
    background-color: var(--icon-light-gray);
    opacity: .8;
    transition: all 0.3s ease-out;
}

.side-nav-item-current svg,
.side-nav-item svg {
    margin-bottom: 2px
}

#gutter .tooltiptext {
    visibility: hidden;
}


/* Responsive */

@media only screen and (max-width: 900px) {
    #gutter .tooltiptext {
        visibility: visible;
    }

    #gutter {
        width: 52px;
        flex: 0;
        border-right: 2px solid rgb(0, 0, 0, .05);
    }

    #profile-window .content {
        width: 100%;
    }

    #gutter li {
        width: 24px;
        height: 24px;
        padding: 4px;
    }

    #gutter li#profile {
        padding: 6px;
        margin-left: 6px;
    }

    #gutter li svg {
        margin: 0;
    }

    #gutter li#profile div:last-child,
    #gutter li.slim div:last-child {
        visibility: collapse;
    }

    #gutter li {
        border-radius: var(--border-radius2);
    }
}
