.login-form input {
    width: 100%;
}

#next {
    width: 100%;
}

#sign-in {
    width: 100%;
}


#email-container {
    width: '100%';
    text-align: center;
    margin-bottom: 24px;
}

#email-container span {
    opacity: .5;
    margin-right: 8px;
}

#email-container button {
    color: var(--light-blue);
    font-weight: 500;
}

#email-container button:hover {
    outline: none;
    text-decoration: none;
    border-bottom: 1.5px solid rgb(0, 0, 0, 0);
    color: var(--main-blue);
    text-decoration-skip-ink: none;
    transition: border-bottom .2s ease;
    text-underline-offset: 4px;
    cursor: pointer;
}

/* -------------------------- Passwordless Section -------------------------- */

#passwordless-options {
    margin: 32px 6px 12px 6px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#passwordless-options-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

#passwordless-options-header:before,
#passwordless-options-header:after {
    content: "";
    flex: 1 1;
    border-top: rgba(0, 0, 0, 0.1) 1px solid;
    margin: auto;
}

#passwordless-options-header:before {
    margin-right: 10px
}

#passwordless-options-header:after {
    margin-left: 10px
}

.help-icon {
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#passwordless-options div:last-child {
    display: flex;
    justify-content: center;
}

#passwordless-options button {
    color: rgb(0, 0, 0, .5);
    padding: 4px;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    border-radius: 8px;
}

#passwordless-options button:hover {
    background-color: var(--social-button);
}

#webauthn-icon {
    height: 40px;
    opacity: .8;
}
