.subscription-window {
    width: 40%;
    max-width: 250px;
    margin: 0 auto;
    padding: 32px;
}

.app-logo-subscription {
    width: 8em;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.subscription-window h3 {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 12px;
}

.checkout-form {
    width: 100%;
}

/* subscription radios */

.subscription-plans {
    width: 100%;
    display: flex;
    justify-content: center;
}

.subscription {
    margin: 0 12px;
}

.subscription label {
    display: block;
    width: 74px;
    color: var(--logo-dark);
    padding: 10px 0px;
    cursor: pointer;
    text-align: center;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.03);
}

.subscription-period {
    font-size: 1em;
    font-weight: 400;
    color: var(--logo-dark);

}

.unit-amount {
    font-size: 1.6em;
    color: var(--logo-dark);
}

.unit-amount span {
    font-size: .55em;
    color: var(--logo-dark);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:not(checked)+label {
    border: 2px solid var(--inactive-gray);
    border-radius: 6px;
}

input[type="radio"]:checked+label {
    border: 2px solid var(--main-blue);
}

input[type="radio"]:checked+label * {
    color: var(--main-blue);
}

.description {
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.description span {
    color: var(--main-blue);
}

.description-enter {
    opacity: 0;
    transform: translateX(-10px);
}

.description-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.description-exit {
    opacity: 1;
    transform: translateX(0);
}

.description-exit-active {
    opacity: 0;
    transform: translateX(10px);

}

.subscription-form .checkbox-container {
    margin: 44px 0 8px 0;
    font: 12px;
}

#continue-to-payment-button-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.continue-to-payment-button svg {
    position: relative;
    top: .2em;
}
