.window {
  &[data-size='extra-small'] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.verificationContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;

  span {
    text-align: center;
    color: var(--m-text-secondary);
  }
}

.animationContainer {
  svg,
  path {
    stroke: var(--m-text-secondary);
    stroke-width: 1.75;
  }
}
