.app-logo {
    width: 50%;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.stripe-logo-container,
.sign-up-prompt-container,
.login-prompt-container {
    height: 0;
    position: relative;
    bottom: -65px;
}

/* ====================================================== */
/* ==================== Login Window ==================== */
/* ====================================================== */
.login-window {
    text-align: center;
    width: 40%;
    max-width: 250px;
    margin: 0 auto;
    padding: 48px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"],
.login-form input[type="email"] {
    width: 100%;
}

.login-form input[type="submit"] {
    margin-top: 0px;
}

.forgot-password-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 8px 4px 16px 8px;
    font-size: 12px;
    white-space: nowrap;
}

.forgot-password-container a {
    font-size: 14px;
}

.forgot-password-container a:hover {
    color: var(--main-blue);
    transition: color .15s ease;
}

.or-continue-with {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
}

.or-continue-with:before,
.or-continue-with:after {
    content: "";
    flex: 1 1;
    border-top: rgba(0, 0, 0, 0.1) 1px solid;
    margin: auto;
}

.or-continue-with:before {
    margin-right: 10px
}

.or-continue-with:after {
    margin-left: 10px
}

.social-buttons-container {
    margin-top: 8px;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
}

#facebook-auth-button {
    background-color: var(--mute-blue);
    border-radius: 4px;
    width: 50%;
    margin-left: 4px;
    box-sizing: border-box;
    color: #fff;
    transition: background-color 0.15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--button-drop-shadow);
}

#google-auth-button {
    background-color: var(--mute-red);
    border-radius: 4px;
    width: 50%;
    margin-right: 4px;
    box-sizing: border-box;
    color: #fff;
    transition: background-color 0.15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--button-drop-shadow);
}

#facebook-auth-button:hover {
    background-color: var(--hover-blue);
}

#google-auth-button:hover {
    background-color: var(--hover-red);
}

#facebook-auth-button img {
    height: 40%;
}

#google-auth-button img {
    height: 47%;
    position: relative;
    top: 2px;
}

.sign-up-prompt-container {
    text-align: center;
    font-size: 14px;
}

.sign-up-prompt-container a:hover {
    color: var(--main-blue);
    transition: color 0.15s ease;
}


/* ====================================================== */
/* =================== Sign Up Window =================== */
/* ====================================================== */

.sign-up-window {
    width: 40%;
    max-width: 250px;
    margin: 0 auto;
    padding: 48px;
}

.sign-up-window h3,
.checkout-container h3 {
    font-weight: 600;
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    color: var(--logo-dark);
    margin: 0 0 0 4px;
    margin-bottom: 12px;
}

.sign-up-window input {
    width: 100%;
}

.sign-up-window input[type="submit"] {
    margin-top: 12px;
}

#submit-button-container {
    margin-top: 24px;
}

.login-prompt-container {
    text-align: center;
    font-size: 14px;
}

.login-prompt-container a:hover {
    color: var(--main-blue);
    transition: color 0.15s ease;
}

.home-graphic-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

#home-graphic {
    margin-top: 20px;
    height: 100px;
}

/* ====================================================== */
/* ================= Subscription Window ================ */
/* ====================================================== */


.subscription-window {
    width: 40%;
    max-width: 250px;
    margin: 0 auto;
    padding: 32px;
}

.app-logo-subscription {
    width: 8em;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.subscription-window h3 {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 12px;
}

.checkout-form {
    width: 100%;
}

/* subscription radios */

.subscription-plans {
    width: 100%;
    display: flex;
    justify-content: center;
}

.subscription {
    margin: 0 12px;
}

.subscription label {
    display: block;
    width: 74px;
    color: var(--logo-dark);
    padding: 10px 0px;
    cursor: pointer;
    text-align: center;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.03);
}

.subscription-period {
    font-size: 1em;
    font-weight: 400;
    color: var(--logo-dark);

}

.unit-amount {
    font-size: 1.6em;
    color: var(--logo-dark);
}

.unit-amount span {
    font-size: .55em;
    color: var(--logo-dark);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:not(checked)+label {
    border: 2px solid var(--inactive-gray);
    border-radius: 6px;
}

input[type="radio"]:checked+label {
    border: 2px solid var(--main-blue);
}

input[type="radio"]:checked+label * {
    color: var(--main-blue);
}

.description {
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.description span {
    color: var(--main-blue);
}

.description-enter {
    opacity: 0;
    transform: translateX(-10px);
}

.description-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.description-exit {
    opacity: 1;
    transform: translateX(0);
}

.description-exit-active {
    opacity: 0;
    transform: translateX(10px);

}

.subscription-form .checkbox-container {
    margin: 44px 0 8px 0;
    font: 12px;
}

#continue-to-payment-button-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.continue-to-payment-button svg {
    position: relative;
    top: .2em;
}

/* ====================================================== */
/* =================== Checkout Window ================== */
/* ====================================================== */

.checkout-window {
    max-width: 340px;
    min-width: 280px;
    margin: 0 auto;
    padding: 32px;
    background: linear-gradient(to bottom, var(--window) 70%, #f1f1f1 100%);
}

.inputs-container h4 {
    margin: 4px 0 8px 2px;
}

.inputs-container {
    padding: 0 4px;
}

/* Billing Info */
#billing-info-header {
    margin-bottom: 10px;
}

#billing-form {
    padding-bottom: 0px;
}

#name-on-card {
    width: 100%;
    font-weight: 400;
}

#name-on-card-container {
    margin-top: 0px;
    margin-bottom: 0px;
}

#location-inputs-container {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#location-inputs-container input {
    width: 100%;
}

#city-container,
#city-error {
    flex: 1;
}

#state-container,
#state-error {
    margin: 0 8px;
    width: 25%;
    min-width: 75px;
}

#zip-container,
#zip-error {
    width: 28%;
}

#zip-error,
#city-error {
    height: 0px;
}

#location-input-errors {
    position: relative;
    top: -12px;
    display: flex;
    height: 14px;
}

/* Card Element */
.card-container {
    background-color: var(--input-color);
    border-radius: 4px;
    border: 1px solid var(--window);
    z-index: 0;
    padding: 10px 8px 11px 8px;
    margin: 6px 0;
    box-sizing: border-box;
}

#payment-error {
    margin-left: 14px;
}

.focus {
    border: 1px solid var(--main-blue);
    transition: border .2s ease;
}

/* Order Summary */
#order-summary-line {
    display: inline-block
}

.order-summary-container {
    text-align: left;
    display: flex;
    justify-content: end;
    padding: 16px 0px;
    margin: 24px 8px 0 8px;
    border-top: rgba(0, 0, 0, 0.1) 1px solid;
}

.order-summary-container tr td {
    text-align: right;
}

.order-summary-container table {
    border-collapse: collapse;
}

.order-summary-container tr {
    line-height: 1.3;
}

.order-summary-container tr td:first-child {
    font-weight: 500;
    padding-right: 8px;
}

.general-error {
    margin-top: 24px;
    text-align: center;
    color: var(--mute-red);
}

.general-error img {
    height: 1em;
    margin-right: 8px;
    position: relative;
    top: 2px;
    text-align: left;
    animation: pop .22s ease;
}

#subscribe-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subscribe-button span {
    color: var(--window);
}

#payment-success-message {
    animation: show .1s ease;
    color: var(--success-green);
}

.success-icon {
    fill: var(--success-green);
    height: 1em;
    margin-right: 2px;
    position: relative;
    top: 2px;
}

/* Stripe Logo */
.stripe-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: .3;
}

.stripe-logo-container {
    font-weight: 500;
}

.stripe-logo {
    position: relative;
    top: .2em;
    height: 25px;
}
