/* Root css file for style variables and global styles */

:root {
    --logo-dark: rgb(36, 36, 36);

    --background-color: rgb(252, 252, 252);

    --window: rgb(248, 248, 248);
    --window-border: rgb(161, 160, 160);
    --window-border-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.05);
    --window-box-gray: rgb(255, 252, 252);

    --light-blue: rgb(112, 172, 255);
    --mute-blue: rgb(122, 168, 254);
    --hover-blue: rgb(97, 151, 252);
    --main-blue: rgb(107, 155, 246);

    --mute-red: rgb(253, 130, 146);
    --hover-red: rgb(251, 106, 126);
    --alert-red: rgb(243, 80, 80);

    /* Buttons */
    --button-drop-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.05);
    --social-button: rgb(239, 239, 239);
    --social-button-hover: rgb(230, 230, 230);
    --button-gray: #464646;
    --buton-border-gray: rgb(60, 60, 60);
    --button-hover-gray: rgb(36, 36, 36);
    --border-bottom-gray: #b9b9b9;

    /* Subscription Radios */
    --inactive-gray: rgb(215, 215, 215);

    /* Input Colors */
    --input-color: rgb(237, 237, 237);
    --tooltip-background: rgb(166, 166, 166);
    /* rgb(56, 123, 248);

    /* Text */
    --main-text-gray: rgb(36, 36, 36);
    --muted-text-gray: rgb(132, 132, 132);
    --input-placeholder: rgb(132, 132, 132);
    --success-green: rgb(205, 248, 205);
    --input-focus: rgb(107, 155, 246);
}

/* Override color values for Firefox */
@-moz-document url-prefix() {
    :root {
        --input-focus: rgb(31, 108, 252);
        --input-placeholder: #343434;
        --main-text-gray: rgb(44, 44, 44);
    }
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    font-size: 14px;
    height: 100%;
    background-color: var(--window);
}

main {
    min-height: 100vh;
}

div,
p,
span,
a,
input,
label,
button,
textarea,
select,
option {
    font-family: "Source Sans 3";
    font-size: 15px;
    color: var(--main-text-gray);
}

h1,
h2,
h3 {
    color: var(--logo-dark);
}

svg {
    background: transparent;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

/* Accessibility Focus Styling */
main:focus-visible {
    outline: none;
    box-shadow: inset 0 0 2px 2px var(--light-blue);
}

button:focus-visible {
    outline: none;
    box-shadow: 0 0 2px 2px var(--light-blue);
}

a {
    outline: none;
    text-decoration: none;
    border-bottom: 1.5px solid rgb(0, 0, 0, 0);
    color: var(--main-blue);
    text-decoration-skip-ink: none;
    transition: border-bottom .2s ease;
    text-underline-offset: 4px;
    cursor: pointer;
}

a:focus-visible,
a:hover {
    border-bottom: 1.5px solid var(--main-blue);
}

label:focus-visible {
    outline: none;
    box-shadow: 0 0 2px 2px var(--light-blue);
    border-radius: 4px;
}


/* *** */

/* Override default browser styles */

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px var(--input-color) !important;
    background-color: none;
    background-clip: content-box !important;
    border: none;
    font-size: 15px;
    outline: none;
}

input {
    --webkit-text-security: disc;
    outline: none;
    width: 100%;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill::after {
    border: none;
    background-color: #fafafa !important;
    background-clip: content-box !important;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* End override default browser styles */
