@import '../styles/constants.scss';
@import '@styles/table-mixins.scss';

$bill-flex-grid-gap: calc(0.25em + 0.5vw);
$window-padding: $bill-flex-grid-gap;

$row-padding: 0.375em;
$label-padding: calc($row-padding/2) 0.75em;
$column-gap: 3em;
$background: var(--window);

.container {
  position: relative;
  flex: 2 1 0;

  & > h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 6px;
    color: var(--m-text-secondary);
  }
}

.columns {
  display: flex;
  gap: 2.25rem;
  padding: 1em .125em;
  height: calc(100% - 1.75em);
  scrollbar-width: none;
  max-width: 100%;
  overflow-x: auto;

  & > div {
    flex: 1;
    max-height: calc(
      6.75 * (1em + 2 * $item-row-gap + 2 * $row-padding) + 2.75em
    );
  }
}

.month * {
  color: var(--month-color);
}

.year * {
  color: var(--year-color);
}

.categories {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  hr {
    margin: 0.75em 0 0.375em 0;
  }

  & > div:first-child {
    display: flex;
    justify-content: space-between;

    h4 {
      color: var(--m-text-secondary);
    }

    div {
      display: flex;
      gap: 1em;
      align-items: center;
      margin-right: 0.125em;
    }
  }

  & > div:nth-of-type(2) {
    display: flex;
    margin-top: 0.25em;
  }

  & > div:nth-of-type(3) {
    margin: 0.375em 0 0.5em 0;
  }

  hr {
    border-top: 1px solid var(--border-color-super-dim);
  }
}

.grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-auto-rows: min-content;
  row-gap: 1.5em;
  column-gap: 0.5em;
  height: calc(100% - 1.5em);
  mask-image: linear-gradient(
    to bottom,
    transparent,
    var(--window) 0.5em,
    var(--window) calc(100% - 0.5em),
    transparent
  );

  overflow-y: scroll;
  box-sizing: border-box;
  width: calc(100% + 0.5em);
  padding: 1em 1em 0.5em 0.25em;

  & > button:nth-child(4n + 1) {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-right: 4em;
  }
}
