.loginAuthForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email {
  width: 100%;
  text-align: left;
  margin-bottom: 1.25em;

  h2 {
    margin: 0;
    margin-bottom: 0.25em;
  }

  div,
  button {
    display: flex;
    align-items: center;
    margin-left: -0.25em;
  }

  span,
  button {
    opacity: 0.9;
  }

  button:hover {
    transition: all 0.3s ease-out;
    opacity: 1;
  }
}
