.new-items-container {
    top: 0px;
    left: 0px;
    margin-bottom: 12px;
    margin-left: 8px;
    height: 100%;
    overflow: scroll;
    max-height: 200px;
    background-color: var(--window);
}

.new-item {
    background-color: var(--window-background-color);
    border-radius: 8px;
    padding: 24px;
    margin: 8px 0px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 0px;
    margin-right: 4px;
}
