/*

/* Bottom Shadow */
.new-items {
    display: flex;
    flex-direction: column;
    position: relative;
}

.shadow {
    position: absolute;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 3px;
    z-index: 200;
}

.shadow-bottom {
    bottom: 0;
    background: -webkit-linear-gradient(90deg, rgba(248, 248, 248), transparent);
    background: linear-gradient(0deg, rgba(248, 248, 248), transparent);
}

.new-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-item-data {
    font-weight: 600;
}

.new-item-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Category Icon */
.category-icon {
    padding: 2px 4px;
    cursor: pointer;
    border-radius: 8px;
}

.category-icon {
    margin-right: 8px;
    border: 1.5px solid var(--mute-blue);
    color: var(--main-blue);
}

/**/

#ellipsis-icon {
    margin-right: 4px;
    padding: 2px 2px;
}

#checkmark-icon {
    padding: 4px 8px;
}

/* Expand Button */
#expand-button-container {
    margin-bottom: 12px;
    margin-top: 4px;
}

#expand-button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#expand-button {
    margin: 0 auto;
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    transition: background-color .3s ease-out;
    padding: 3px 12px;
    border-radius: 4px;
}

/* Collapse Button */
#expand-button-container {
    display: flex;
    justify-content: center;
    margin: 8px 0px 18px 0px;
    z-index: 200;
}

#expand-button {
    padding: 2px 4px 2px 8px;
    background-color: var(--button-gray);
    transition: background-color .3s ease-out;
    color: var(--window);
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#expand-button-icon {
    display: flex;
    align-items: center;
    padding: 0 4px;
}

#expand-button:hover {
    background-color: var(--button-hover-gray);
}
