#authentication-methods {
    display: flex;
    flex-direction: column;
}

.authentication-method:not(:last-child) {
    border-bottom: 1.5px solid var(--border-color-ultra-dim);
}

.authentication-method {
    display: flex;
    justify-content: space-between;
    padding: .75em 0;
    gap: .75em;
}

.authentication-method:first-child {
    padding-top: .25em;
}

.authentication-method:last-child {
    padding-bottom: .25em;
}

.authentication-method>div:first-child {
    display: flex;
    align-items: center;
}

.authentication-method>div:nth-child(2) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.authentication-method>div:last-child {
    display: flex;
    align-items: center;
}
