.calendar {
    display: inline-grid;
    grid-template-columns: repeat(7, auto);
    justify-self: center;
    row-gap: .75em;
    column-gap: 1.375em;

    // Days of week markers
    &>div:nth-child(-n+7) {
        font-weight: var(--fw-regular);
    }

    // Cells
    &>div {
        position: relative;
        align-self: center;
        justify-self: center;
        font-weight: var(--fw-bold);
        z-index: 1;

        span {
            position: relative;
            z-index: 1;
        }

        // Number of bills hover tip
        &>div:not(.has-bill-dot) {
            padding: .125em .5em;
            border-radius: var(--border-radius1);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
            opacity: 0;
            display: flex;
            background-color: var(--m-text);
            display: flex;
            gap: .125em;
            align-items: center;

            * {
                color: var(--m-invert-text);
            }
        }

        &.hoverable {
            cursor: pointer;
        }

        &.hoverable::after {
            content: '';
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            background-color: transparent;
            transition: background-color .2s ease-in-out;
        }

        &.hoverable:hover::after,
        &.hoverable.selected::after {
            background-color: var(--btn-light-gray);
            transition: background-color .2s ease-in-out;
        }

        &.hoverable.selected:hover::after {
            background-color: var(--btn-light-gray-hover);
            transition: background-color .2s ease-in-out;
        }

        &:hover>div {
            opacity: 1;
        }

        &:has(div) {
            cursor: pointer;
        }
    }

}

.bookendDays {
    color: var(--m-text-quinary);
    font-weight: var(--fw-regular);
}

// Indicators for bills on that day
.hasBillDot {
    position: absolute;
    bottom: -.375em;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    gap: .125em;

    span {
        display: inline-block;
        width: .3em;
        height: .3em;
        border-radius: 50%;

        &[data-period='month'] {
            background-color: var(--blue-sat);
        }

        &[data-period='year'] {
            background-color: var(--green-sat);
        }
    }
}
