@import '../../styles/constants.scss';

$gap: calc(0.75em + 2vw);
$bill-flex-grid-gap: calc(0.25em + 0.5vw);
$bill-item-padding: 0.25em 0.75em;
$window-padding: $bill-flex-grid-gap;
$number-of-bill-rows: 5;
$scroll-bar-padding: 0.5em;
