.socialAuthContainer {
  flex-grow: 0.25;
}

.signup {
  input {
    width: 100%;
  }
}

.authForm {
  & > div:last-of-type {
    margin-bottom: 0.5em;
  }
}

.error {
  margin: 0.5em 0 0.75em 0;
}

.continue {
  margin-top: 1.5em;
}

.splitInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  & > div {
    width: 48.5%;
    margin: 0;
  }
}

.authSelectionContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
