#onboarding-app form>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#onboarding-app form>div>div {
    margin-right: 12px;
}

/* Right margin for last input field in row */
#onboarding-app form>div>div:last-child {
    margin-right: 0;
}

#onboarding-app #budget-items--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--window-transparent);
    border-radius: var(--border-radius3);
    max-height: 0;
    margin: 0;
    padding: 0;
    transform: scale(.8);
}

#onboarding-app #budget-items--container.expand {
    margin-bottom: 24px;
    margin-top: 21px;
    max-height: 1000px;
    padding: 16px;
    transform: scale(1);
}

/* ------------------------- Individual Rows Styling ------------------------ */

.budget-item {
    position: absolute;
    left: 0;
    right: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.budget-item>div:first-child {
    flex-grow: 2;
    flex-shrink: 1;
    display: flex;
    align-items: center;
}

.budget-item>div:not(:first-child) {
    flex: 1 0 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.budget-item-name--container {
    display: flex;
    align-items: center;
}


/* ----------------------------- Responsiveness ----------------------------- */

@media (max-width: 768px) {
    #onboarding-app #budget-items--container {
        grid-template-columns: 1fr;
    }

    #onboarding-app #budget-items--container {
        width: 80%;
        margin: 0 auto;
    }

    .budget-item>div:not(:first-child) {
        justify-content: flex-end;
    }

    #onboarding-app form>div>div:nth-child(2) {
        margin-right: 0;
    }

    #onboarding-app form>div {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    #onboarding-app form>div {
        grid-template-columns: 1fr;
    }

    #onboarding-app form>div>div {
        margin-right: 0;
    }
}
