#onboarding-app form>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#onboarding-app form>div>div {
    margin-right: 8px;
}

#onboarding-app form>div>div:last-child {
    margin-right: 0;
}

#onboarding-app #budget-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--window-transparent);
    border-radius: var(--border-radius3);
    max-height: 0;
    margin: 0;
    padding: 0;
    transform: scale(.8);
    transition: all .2s ease-out;
}

#onboarding-app #budget-items.expand {
    margin-bottom: 24px;
    margin-top: 21px;
    max-height: 1000px;
    padding: 16px;
    transform: scale(1);
}

#onboarding-app .budget-items-column--container {
    display: flex;
    flex-direction: column;
}

#onboarding-app #budget-items>div {
    margin-top: 8px;
}

#onboarding-app .budget-items-column--container {
    margin-right: 8px;
}

#onboarding-app .budget-items--container {
    padding-right: 8px;
}

.budget-items--container {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 175px;
}

.budget-item--container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.budget-item--container>div:first-child {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
}

.budget-item--container>div:not(:first-child) {
    flex: 1 0 0%;
}

.budget-item--container>div:not(:first-child) {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------- Responsiveness ----------------------------- */

@media (max-width: 768px) {
    #onboarding-app #budget-items {
        grid-template-columns: 1fr;
    }

    #onboarding-app #budget-items {
        width: 80%;
        margin: 0 auto;
    }

    #onboarding-app #budget-items>div:first-child {
        padding-right: 0px;
    }

    #onboarding-app #budget-items>div:last-child {
        padding-left: 0px;
    }

    .budget-item--container>div:first-child {
        flex-grow: 1.5;
        flex-shrink: 1;
    }

    #onboarding-app form>div>div:nth-child(2) {
        margin-right: 0;
    }

    #onboarding-app form>div {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    #onboarding-app form>div {
        grid-template-columns: 1fr;
    }

    #onboarding-app form>div>div {
        margin-right: 0;
    }
}
