#onboarding-app .window2,
#onboarding-app .window3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    box-shadow: var(--mid-elevation-drop-shadow);
}

#onboarding-app .btn-container-enabled {
    display: flex;
    justify-content: space-between;
    margin-top: .75rem;
}

#onboarding-app .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

#onboarding-app .btn-container.expanded {
    max-height: 100px;
    transition: max-height 0.3s ease-in-out;
}
