.deviceListContainer {
  width: auto;
  height: auto;
}

.deviceList {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 50vh;
  box-sizing: border-box;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 0.5em,
    black calc(100% - 1em),
    transparent 100%
  );

  section {
    padding: 0.25em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(:first-of-type)::after {
      position: absolute;
      content: '';
      left: 0.5em;
      right: 0.5em;
      top: -0.125em;
      height: 1.5px;
      background-color: var(--border-color-ultra-dim);
    }

    & > button {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.75em 0.5em;
      margin: 0.25em 0;
      gap: 1em;
      border-radius: var(--border-radius2);
      position: relative;

      &::after {
        position: absolute;
        inset: 0;
        content: '';
        border-radius: inherit;
        opacity: 0;
        background-color: var(--m-text);
      }

      & > div {
        position: relative;
        z-index: 1;
      }

      & > div:nth-child(2) {
        flex-grow: 1;
        text-align: left;
      }

      // Icon (phone, computer)
      & > div:first-child {
        display: flex;
        align-items: center;

        &:not([data-icon='is_mobile']) svg {
          margin-left: 0.5em;
          margin-right: 0.375em;
        }
      }

      // Location Icon
      & > div:nth-child(2) > div:last-child {
        display: flex;
        align-items: baseline;
        margin-left: -0.125em;

        * {
          color: var(--m-text-secondary);
        }

        svg {
          margin-right: 0.125em;
          padding-top: 0.125em;
        }
      }

      // Arrow Icon
      & > div:last-child {
        transform: rotate(0deg);
        padding: 0.125em;
        margin-right: 0.25em;
        transition: all 0.2s ease-in-out;
        display: flex;
        align-items: center;

        &[data-open='true'] {
          transform: rotate(180deg);
          transition: transform 0.3s ease-in-out;
        }
      }

      &:hover:not([data-open='true'])::after {
        opacity: 0.05;
        transition: opacity 0.2s ease-in-out;
      }

      &[data-open='true'] {
        background-color: var(--main-background-color);
      }
    }

    // Disclosure Panel
    & > div {
      border-bottom-left-radius: var(--border-radius2);
      border-bottom-right-radius: var(--border-radius2);
      padding: 0.5em 0.75em 0 0.5em;
      display: flex;
      flex-direction: column;
      position: relative;

      &::after {
        position: absolute;
        inset: 0;
        content: '';
        border-radius: inherit;
        background-color: var(--main-background-color);
        z-index: 0;
      }

      &[data-open='true'] {
        margin-top: -0.75em;
        margin-bottom: 0.25em;
      }

      & > div {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        padding: 1em 0.5em;
        padding-right: 0.1em;
        position: relative;
        border-top: 1.5px solid var(--border-color-ultra-dim);

        & > div:first-child {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, auto));
          column-gap: 0.75em;

          & > div:nth-child(2n + 1) {
            color: var(--m-text-secondary);
          }
        }
      }
    }
  }
}

.logoutDevice {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 100;
}

.currentDevice {
  color: var(--blue);
  font-size: 0.875rem;
  margin-right: 0.25em;
}

.smartPhoneIcon {
  margin: 0 0.625em;
}
