---
import '../styles/banner.scss';
import { Image } from 'astro:assets';
import MobileLight from '../../public/mobile-light.png';
import MobileDark from '../../public/mobile-dark.png';
import WebLight from '../../public/web-light.png';
import WebDark from '../../public/web-dark.png';

import PlayStoreButton from './buttons/play-store.astro';
import AppStoreButton from './buttons/app-store.astro';
import ArrowLink from './links/arrow-link.astro';
---

<div class="banner">
  <script>
    import '/src/scripts/banner.js';
  </script>
  <div>
    <h1>Simplify Your <br /> Finances</h1>
    <span class="sub-header">
      Organize your personal spending and bills, and
      <br />see all of your money in one place.
    </span>
    <div class="buttons">
      <ArrowLink hrefTarget="/" text="Try for Free" className="cta" />
      <div>
        <PlayStoreButton />
        <AppStoreButton />
      </div>
      <span>coming soon</span>
    </div>
  </div>
  <div class="banner--products">
    <div class="web dark">
      <Image src={WebDark} alt="Web Dark" />
    </div>
    <div class="mobile dark">
      <Image src={MobileDark} alt="Mobile Dark" />
    </div>
    <div class="web light">
      <Image src={WebLight} alt="Web Light" />
    </div>
    <div class="mobile light">
      <Image src={MobileLight} alt="Mobile Light" />
    </div>
  </div>
  <script>
    // Check for the color scheme div element whether it has dark-mode class
    const darkMode = document
      .querySelector('.body')
      ?.classList.contains('dark');
    if (darkMode) {
      document.querySelector('.banner--products')?.classList.add('dark');
    } else {
      document.querySelector('.banner--products')?.classList.add('light');
    }
  </script>
</div>
