---
import '../styles/banner.scss';
import PlayStoreButton from './buttons/play-store.astro';
import AppStoreButton from './buttons/app-store.astro';
import ArrowLink from './links/arrow-link.astro';
---

<div class="banner">
  <h1>Simplify Your <br /> Finances</h1>
  <span class="sub-header">
    Organize your spending, bills, and see all of <br />your money in one place.
  </span>
  <div class="buttons">
    <ArrowLink hrefTarget="/" text="Try for Free" className="cta" />
    <div>
      <PlayStoreButton />
      <AppStoreButton />
    </div>
  </div>
</div>
