---
import '../styles/features-checklist.scss';
import { Star, Users, Smartphone } from '@geist-ui/icons';
import { Computer, Institution, Stars } from '../../../../libs/media/web/src';
---

<!--

- Add a secondary user to your account
- Available on iOS, Android, and Web
- Link all of your bank, investment accounts, and credit cards
- Beautiful UI
- Automatic spending categorization -->
<div id="features-checklist">
  <div class="feature-checklist-item scroll-fade-in">
    <Users />
    <h3>Add a secondary user to your account at no extra cost</h3>
  </div>
  <div class="feature-checklist-item scroll-fade-in">
    <div>
      <Smartphone />
      <Computer />
    </div>
    <h3>Available on all platforms, including iOS, Android, and Web</h3>
  </div>
  <div class="feature-checklist-item scroll-fade-in">
    <Institution />
    <h3>Link all of your bank, investment accounts, and credit cards</h3>
  </div>
  <div class="feature-checklist-item scroll-fade-in">
    <Stars size="1.5em" />
    <h3>Automatic smart categorization of your spending transactions.</h3>
  </div>
  <div class="feature-checklist-item scroll-fade-in">
    <Star />
    <h3>Beautiful and simple UI, with only the essentials</h3>
  </div>
</div>
