---
import '../styles/features.scss';
import {
  Link,
  Smartphone,
  Users,
  RotateCw,
  Star,
  Check,
} from '@geist-ui/icons';
import { ComputerIcon } from '../../../../libs/media/src/index';
---

<div id="features" class="section">
  <script>
    import '/src/scripts/features.ts';
  </script>
  <div class="feature">
    <div id="mobile-computer-icons">
      <ComputerIcon size="2.75em" />
      <Smartphone size="1.25em" />
    </div>
    <h2>Mobile & Web</h2>
    <span>
      Access your finances from anywhere. Our mobile app is available on both
      iOS and Android.
    </span>
  </div>
  <div class="feature">
    <Link />
    <h2>Connect Your Accounts</h2>
    <span>
      Connect your bank accounts, credit cards, and other financial accounts to
      get a complete picture of your finances.
    </span>
  </div>
  <div class="feature">
    <Users />
    <h2>Add a Partner</h2>
    <span>
      Share your finances with your partner. You can both see the same
      information and work together to achieve your financial goals.
    </span>
  </div>
  <div class="feature">
    <Check />
    <h2>Smart Categorization</h2>
    <span>
      New transactions are automatically categorized into your custom
      categories.
    </span>
  </div>
  <div class="feature">
    <RotateCw />
    <h2>Rollover</h2>
    <span>
      Rollover overspending and underspending to make your spending flexible.
    </span>
  </div>
  <div class="feature">
    <Star />
    <h2>Beautiful UI</h2>
    <span> Our user interface is designed to be simple and easy to use.</span>
  </div>
</div>
