---
import '../styles/features.scss';
import {
  Link,
  Smartphone,
  Users,
  RotateCw,
  Star,
  Check
} from '@geist-ui/icons';
import { Computer } from '../../../../libs/media/src/index';
---

<div id="features" class="section">
  <script>
    import '/src/scripts/features.ts';
  </script>
  <div class="feature">
    <Smartphone />
    <h3>Mobile & Web</h3>
    <span>
      Access your finances from anywhere. Our mobile app is available on both
      iOS and Android.
    </span>
  </div>
  <div class="feature">
    <Link />
    <h3>Connect Your Accounts</h3>
    <span>
      Connect your bank accounts, credit cards, and other financial accounts to
      get a complete picture of your finances.
    </span>
  </div>
  <div class="feature">
    <Users />
    <h3>Add a Partner</h3>
    <span>
      Share your finances with your partner. You can both see the same
      information and work together to achieve your financial goals.
    </span>
  </div>
  <div class="feature">
    <Check />
    <h3>Smart Categorization</h3>
    <span>
      New transactions are automatically categorized into your custom
      categories.
    </span>
  </div>
  <div class="feature">
    <RotateCw />
    <h3>Rollover</h3>
    <span>
      Rollover overspending and underspending to make your spending flexible.
    </span>
  </div>
  <div class="feature">
    <Star />
    <h3>Beautiful UI</h3>
    <span> Our user interface is designed to be simple and easy to use.</span>
  </div>
</div>
