---
import { Image } from 'astro:assets';
import Logo from '../assets/svgs/logov1.svg';
import '../styles/footer.scss';
import dayjs from 'dayjs';
---

<footer>
  <div class="section">
    <div>
      <a href="/" class="footer-logo">
        <Image src={Logo} alt="Ledget Logo" />
        <h4>Ledget</h4>
      </a>
    </div>
    <div>
      <h4>
        Copyright Ledget, All Rights Reserved © 2024 - {dayjs().format('YYYY')}
      </h4>
      <div>
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
      </div>
    </div>
  </div>
</footer>
