---
import { Image } from 'astro:assets';
import Logo from '../assets/logo1v.svg';
---

<footer>
  <div class="section">
    <div>
      <a href="/">
        <Image src={Logo} alt="Ledget Logo" />
        <h4>Ledget</h4>
      </a>
    </div>
    <div>
      <h4>Copyright Ledget, All Rights Reserved © 2024 - 2024</h4>
      <div>
        <a href="/privacy"> Privacy Policy </a>
        <a href="/terms"> Terms and Conditions</a>
      </div>
    </div>
  </div>
</footer>
