---
import { Image } from 'astro:assets';
import Logo from '../../public/assets/logo.svg';
import '../styles/header.scss';
---

<header>
  <div class="header">
    <div>
      <div class="logo">
        <a href="/">
          <Image src={Logo} alt="Ledget Logo" />
        </a>
      </div>
    </div>
    <div>
      <nav>
        <ul>
          <li>
            <a href="#">FAQ</a>
          </li>
        </ul>
      </nav>
      <div>
        <a href="/">
          <button class="sign-in">
            <span>Sign In</span>
            <svg width="20" height="20" viewBox="0 0 20 20">
              <path
                d="M5 10L13.125 10"
                stroke="black"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"></path>
              <path
                d="M8 14L12 10"
                stroke="black"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"></path>
              <path
                d="M12 10L8 6"
                stroke="black"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"></path>
            </svg>
          </button>
        </a>
      </div>
    </div>
  </div>
</header>
