---
import { Image } from 'astro:assets';
import Logo from '../assets/logo1v.svg';
import '../styles/header.scss';
import ActionLink from './links/arrow-link.astro';
---

<header>
  <div class="header">
    <div>
      <div class="logo">
        <a href="/">
          <Image src={Logo} alt="Ledget Logo" />
          Ledget
        </a>
      </div>
    </div>
    <div>
      <nav>
        <ul>
          <li>
            <a href="#faqs">FAQ</a>
          </li>
        </ul>
      </nav>
      <div>
        <ActionLink text="Sign In" className="sign-in" hrefTarget="/" />
      </div>
    </div>
  </div>
</header>
