---
import '../styles/last-cta.scss';
import { Image } from 'astro:assets';
import Email from '../../public/emailv9.svg';
---

<div id="last-cta" class="section">
  <div>
    <h1>Enter your email to get the latest updates on new features.</h1>
    <div class="email-input">
      <input type="email" id="email" placeholder="Email" />
      <button id="submit">submit</button>
    </div>
  </div>
  <div>
    <Image src={Email} alt="Email" />
  </div>
</div>
