---
import '../styles/last-cta.scss';
import { Image } from 'astro:assets';
import PaperAirplane from '../assets/svgs/paper-airplane.svg';
---

<div id="last-cta" class="section scroll-fade-in">
  <div>
    <h2>Get the latest updates on new features</h2>
    <div class="email-input">
      <input type="email" id="email" placeholder="Email" />
      <button id="submit">submit</button>
    </div>
  </div>
  <div>
    <Image src={PaperAirplane} alt="Email" />
  </div>
</div>
