---
import '../styles/last-cta.scss';
import { Image } from 'astro:assets';
import Email from '../../public/email5.svg';
---

<div id="last-cta" class="section">
  <div>
    <h1>Enter your email to get the latest updates on new features.</h1>
    <div class="email-input">
      <input type="email" id="email" placeholder="Email" />
      <button id="submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon"
        >
          <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
      </button>
    </div>
  </div>
  <div>
    <Image src={Email} alt="Email" />
  </div>
</div>
