---
import '../styles/walk-through.scss';
---

<div id="product-walk-through" class="section">
  <script>
    import '/src/scripts/walk-through.js';
  </script>
  <div class="steps-progress">
    <div class="progress">
      <div class="progress--top-bar"></div>
      <div class="progress--top-bar-shadow"></div>
      <div class="progress--bottom-bar"></div>
      <div class="progress--bottom-bar-shadow"></div>
      <div class="progress--circle"></div>
      <div class="progress--circle"></div>
      <div class="progress--circle"></div>
    </div>
    <div class="steps">
      <div class="step"><h1>Set Your Categories</h1></div>
      <div class="step"><h1>Set Your Bills</h1></div>
      <div class="step"><h1>Then Save!</h1></div>
    </div>
  </div>
</div>
