---
import '../styles/walk-through.scss';
---

<div id="walk-through" class="section">
  <script>
    import '/src/scripts/walk-through.js';
  </script>
  <div class="progress">
    <div class="progress--line"></div>
    <div class="progress--dot"></div>
    <div class="progress--dot"></div>
    <div class="progress--dot"></div>
    <div class="progress--shadow-line"></div>
    <div class="progress--shadow-dot"></div>
    <div class="progress--shadow-dot"></div>
    <div class="progress--shadow-dot"></div>
  </div>
  <div>
    <h1>1. Set Your Categories</h1>
    <h1>2. Set Your Bills</h1>
    <h1>3. Then Save!</h1>
  </div>
</div>
