---
import '../styles/web.scss';
import { Image } from 'astro:assets';
import AccountsWebDark from '../../public/web/accounts-web-darkv2.png';
import AccountsWebLight from '../../public/web/accounts-web-lightv4.png';
---

<div class="web-wrapper">
  <div class="web">
    <Image src={AccountsWebDark} alt="Accounts Web Dark" class="dark" />
    <Image src={AccountsWebLight} alt="Accounts Web Light" class="light" />
  </div>
</div>
