---
import '../styles/web.scss';
import { Image } from 'astro:assets';
import AccountsWebDark from '../../public/web/accounts-web-dark.png';
import AccountsWebLight from '../../public/web/accounts-web-light.png';
import BudgetWebDark from '../../public/web/budget-web-dark.png';
import BudgetWebLight from '../../public/web/budget-web-light.png';
---

<div class="web-wrapper">
  <script>
    let isDarkMode = document
      .querySelector('.body')
      ?.classList.contains('dark');

    if (isDarkMode) {
      document.querySelectorAll('img.dark').forEach((el) => {
        el.classList.add('visible');
      });
      document.querySelector('.phone__frame')?.classList.add('dark');
    } else {
      document.querySelectorAll('img.light').forEach((el) => {
        el.classList.add('visible');
      });
    }
  </script>
  <div class="web">
    <Image src={AccountsWebDark} alt="Accounts Web Dark" class="dark" />
    <Image src={AccountsWebLight} alt="Accounts Web Light" class="light" />
  </div>
</div>
