/* ------------------------------- Grip Button ------------------------------ */

.grip-btn {
    cursor: grab;
    margin-right: .375rem;
    touch-action: none;
}

.corner-grip-btn {
    color: inherit;
    opacity: .3;
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: grab;
    touch-action: none;
}
