.exit-button {
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 6px;
}

.edit-button {
    padding: 4px 12px;
    font-weight: 500;
}

.edit-button:hover {
    background-color: var(--icon-hover-light-gray);
    transition: 0.3s;
    border-radius: 4px;
}

.cancel-button {
    padding: 4px 8px;
    font-weight: 500;
    margin: 0 4px;
    background-color: var(--button-gray);
    color: var(--window);
    border-radius: 4px;
}

.cancel-button:hover {
    background-color: var(--button-hover-gray);
    transition: background-color 0.3s ease;
}


@keyframes faid {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
