.select-container {
    position: absolute;
    z-index: 2000;
}

.select {
    margin-top: 8px;
}

#add-alert-btn {
    width: 100%;
}

#period-select-btn {
    width: 100%;
}

#add-alert-btn svg,
#add-reminder-btn svg {
    margin-left: 6px;
}

.slct-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    width: auto;
    padding: 4px 12px;
    margin: 2px 0;
    transition: background-color 0.3s ease-out;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.a-slct-item {
    background-color: var(--icon-light-gray);
    transition: background-color 0.3s ease-out;
}

.s-slct-item {
    background-color: var(--green-hlight2);
    transition: background-color 0.3s ease-out;
}

.a-slct-item.s-slct-item {
    background-color: var(--green-hlight3);
    transition: background-color 0.3s ease-out;
}

.slct-item.custom-input {
    padding: 2px 8px;
}

.slct-item.custom-input input[type='text'] {
    font-weight: 500;
}

.slct-item.custom-input input[type='text']::placeholder {
    color: inherit;
}

.slct-item div:last-child span {
    display: flex;
    align-items: center;
    font-size: 1em;
    display: inline;
    opacity: 0;
    margin: 0 8px;
}

.slct-item div:last-child span.active {
    opacity: .3;
}

#return-btn {
    opacity: 0;
    border-radius: var(--border-radius);
    padding: 0px 6px;
    margin: 4px;
    display: flex;
}

#return-btn-focused {
    height: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .4;
    border-radius: var(--border-radius);
    padding: 2px;
    margin: 0px 2px;
    background-color: var(--btn-gray);
}

#return-btn-focused svg {
    padding: 2px 4px;
}
