.select-container {
    position: absolute;
    z-index: 2000;
}

.select {
    margin-top: .5rem;
}

#add-alert-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#period-select-btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: space-between;
}

#add-reminder-btn {
    gap: .75rem;
}

#add-reminder-btn.unset span,
#add-reminder-btn.unset svg {
    opacity: .5
}

#add-alert-btn svg {
    margin-left: .375rem;
}

.slct-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--fw-regular);
    width: auto;
    padding: .25rem .75rem;
    margin: .125rem 0;
    cursor: pointer;
}

#return-btn {
    opacity: 0;
    border-radius: var(--border-radius);
    padding: 0 .375rem;
    margin: .25rem;
    display: flex;
}

#return-btn-focused {
    height: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    padding: .125rem;
    margin: 0 .125rem;
    background-color: var(--btn-mid-gray);
}

.custom-input {
    margin-top: .25em;
}

#return-btn-focused svg {
    padding: .125rem .25rem;
}
