.select-container {
    position: absolute;
    z-index: 2000;
}

.select {
    margin-top: .5rem;
}

#add-alert-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#period-select-btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: space-between;
}

#add-reminder-btn {
    gap: .75rem;
}

#add-reminder-btn.unset span,
#add-reminder-btn.unset svg {
    opacity: .5
}

#add-alert-btn svg {
    margin-left: .375rem;
}

.slct-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    width: auto;
    padding: .25rem .75rem;
    margin: .125rem 0;
    transition: background-color 0.3s ease-out;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.a-slct-item {
    background-color: var(--icon-light-gray);
    transition: background-color 0.3s ease-out;
}

.s-slct-item {
    background-color: var(--green-hlight2);
    transition: background-color 0.3s ease-out;
}

.a-slct-item.s-slct-item {
    background-color: var(--green-hlight3);
    transition: background-color 0.3s ease-out;
}

.slct-item.custom-input {
    padding: .125rem .5rem;
}

.slct-item.custom-input input[type='text'] {
    font-weight: 500;
}

.slct-item.custom-input input[type='text']::placeholder {
    color: inherit;
}

.slct-item div:last-child span {
    display: flex;
    align-items: center;
    font-size: 1em;
    display: inline;
    opacity: 0;
    margin: 0 .5rem;
}

.slct-item div:last-child span.active {
    opacity: .3;
}

#return-btn {
    opacity: 0;
    border-radius: var(--border-radius);
    padding: 0 .375rem;
    margin: .25rem;
    display: flex;
}

#return-btn-focused {
    height: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .4;
    border-radius: var(--border-radius);
    padding: .125rem;
    margin: 0 .125rem;
    background-color: var(--btn-gray);
}

#return-btn-focused svg {
    padding: .125rem .25rem;
}
