em-emoji-picker {
    height: 30vh;
    box-shadow: var(--dropdown-box-shadow);
    --font-family: font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    --rgb-accent: 56, 95, 168;
    --rgb-background: var(--dropdown-background-rgb);
    --rgb-input: var(--input-background-color-rgb);
    --border-radius: var(--border-radius3);
}

/* Shrink em-emoji-picker even more when screen is shrunk */
@media (max-height: 500px) {
    em-emoji-picker {
        height: 10vh;
    }
}
