#emoji-picker-ledget {
    position: relative;
    z-index: 100;
}

#em-picker-container {
    position: absolute;
    top: 1.125rem;
    left: 0;
    right: 0;
}

em-emoji-picker {
    height: 30vh;
    box-shadow: var(--mid-elevation-drop-shadow);
    --font-family: font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    --rgb-accent: 67, 71, 112;
    --rgb-background: 18, 18, 18;
    --rgb-input: 23, 23, 23;
    --border-radius: var(--border-radius3);
}

/* Shrink em-emoji-picker even more when screen is shrunk */
@media (max-height: 500px) {
    em-emoji-picker {
        height: 10vh;
    }
}
