#emoji-picker-ledget {
    position: relative;
    z-index: 100;
}

#em-picker-container {
    position: absolute;
    top: 1.125rem;
    left: -1.125rem;
    right: 0;
}

em-emoji-picker {
    height: 30vh;
    box-shadow: var(--mid-elevation-drop-shadow);
    --font-family: font-family: "Source Sans 3", 'Roboto', sans-serif, 'Arial', Helvetica;
    --rgb-accent: 81, 237, 151;
    --rgb-background: var(--charcoal-rgb);
    --rgb-input: var(--charcoal-rgb);
    --border-radius: var(--border-radius3);
}

/* Shrink em-emoji-picker even more when screen is shrunk */
@media (max-height: 500px) {
    em-emoji-picker {
        height: 10vh;
    }
}
