#month-picker {
    display: flex;
    flex-direction: row;
    position: relative;
}

#header-arrow {
    margin-left: .25rem;
}

#header-arrow-container {
    display: flex;
    align-items: center;
}

#picker-container {
    position: absolute;
    top: 110%;
    padding: .525rem;
}

#year-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: .25rem;
    padding-bottom: .25rem;
    margin: 0 .375rem .25rem .375rem;
    font-weight: 600;
}

.month-picker-grid {
    margin-top: .5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: .5rem;
}

.month-picker-item {
    transition: background-color 0.1s ease;
}

.month-picker-item,
.month-picker-item-selected {
    padding: 0rem .125rem;
    border-radius: var(--border-radius1);
    cursor: pointer;
    display: flex;
    place-content: center;
}

.month-picker-item-selected {
    background-color: var(--main-hlight);
    color: var(--main-dark4);
}

.month-picker-item:hover,
.month-picker-item:focus,
.arrow-nav:focus-visible {
    background-color: var(--icon-light-gray);
    box-shadow: none;
    outline: none;
}
