#schedule-dropdown-button {
    justify-content: space-between;
    position: relative;
    overflow: auto;
    gap: .75em;

    &>div:first-child {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }
}

#schedule-dropdown {
    z-index: 1000;
    padding: 1em 1em .75em 1em;
    margin-top: .5em;

    label {
        margin: 0;
        border-radius: var(--border-radius2);
    }

    fieldset {
        margin: .25em;
    }
}


#schedule-dropdown.dropdown {
    border-radius: var(--border-radius3);
}

.day.picker-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .125em;
    width: 2.25em;
    height: 2.25em;
    border-radius: var(--border-radius1);
}

.picker-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: .125em;
    border-radius: var(--border-radius1);

    &.selected {
        background-color: var(--green-hlight2);
        transition: all 0.3s ease-out;
    }

    &.active {
        background-color: var(--icon-light-gray);
        transition: all 0.3s ease-out;
    }

    &.unselected:hover {
        background-color: var(--icon-light-gray);
        transition: all 0.3s ease-out;
    }

    &.selected.active {
        background-color: var(--m-green);
        transition: all 0.3s ease-out;
    }
}


.week-picker-container {
    display: flex;
    flex-direction: column;
    margin: .5em;
    margin-top: 1em;
    padding: .25em;
}

.week-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .picker-item {
        margin: 0 .75em;
        padding: 0px .75em;
    }
}

.week-day-picker {
    margin-top: .25em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .picker-item {
        margin: 0 .125em;
        padding: 0px .75em;
    }
}

#month-day-picker-container {
    padding: .25em;
}

#month-picker2-container {
    display: flex;
    flex-direction: column;
    margin-bottom: .75em;
}

#month-picker2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &>div:first-child,
    &>div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
    }

    &>div:first-child .picker-item {
        padding: .125em .25em;
        margin: .125em .25em;
    }

    &>div:last-child .picker-item {
        padding: .125em .25em;
        margin: .125em 4.5px;
    }
}
