.bill-category-selector--button {
    overflow: visible;
    display: flex;
    justify-content: space-between;

    .selector-current-label {
        display: flex;
        flex-wrap: wrap;
        gap: .375em;
    }

    &:not(.valid):not(.active) {
        color: var(--input-placeholder2);

        * {
            color: var(--input-placeholder2);
        }
    }

    &.valid,
    &.active {
        color: var(--m-text);
    }
}

.select-bill-category {
    position: relative;
    width: 100%;

    span {
        color: inherit;
    }
}

.bill-cat-select--container--container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &>button {
        display: flex;
        justify-content: space-between;
    }

    &>div:last-child {
        position: relative;
    }

    .dropdown {
        min-width: 10em;
    }
}

.category-select--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &>div:first-child svg {
        position: absolute;
        left: .65em;
        top: .7em;
        opacity: .7;
    }

    &>div,
    &>ul {
        width: 100%;
        display: flex;
    }

    .options {
        display: flex;
        flex-direction: column;
        gap: 0.625em;
        max-height: 10em;
        overflow-y: auto;
        width: calc(100% - .75em);
        padding: 0.5em .75em;
        mask-image: linear-gradient(to bottom, transparent, black .5em, black calc(100% - .5em), transparent);
    }

    input {
        margin: 0.5em .375em;
        flex: 1;
    }


    input {
        background-color: var(--input-background);
        padding: .125em 0em;
        padding-left: 1.75em;
    }

    .option,
    input {
        border-radius: var(--border-radius1);
    }

}
