.limit-amount--container svg {
    opacity: .4;
    transition: opacity .2s ease;
}

.limit-amount--container:focus-within svg {
    opacity: 1;
    transition: opacity .2s ease;
}

.increment-arrows--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 8px;
    border-radius: var(--border-radius1);
    padding: 2px;
}

.increment-arrows--container svg {
    margin: 2px;
}

.increment-arrows--container button {
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.dollar-range-input--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dollar-range-input--container>div {
    width: 100%;
}
