/* ------------------------------- Form Errors ------------------------------ */

.error-tip {
    position: absolute;
    top: -8px;
    right: -2px;
    height: 12px;
    width: 12px;
}

.error-tip-icon {
    height: 1em;
    animation: pop .22s ease;
}

.error img {
    height: 1em;
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.form-error--container {
    margin-left: -6px;
    display: flex;
}

/* .error-container {
    position: relative;
    top: -12px;
    display: flex;
    height: 10px;
} */

.form-error--container img {
    height: 1em;
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    top: 2px;
    text-align: left;
    animation: pop .22s ease;
}


.form-error {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: var(--mute-red);
}
