.not-implimented-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
        font-weight: var(--fw-light);
        font-size: 1rem;
        background-color: var(--btn-feather-light-gray);
        border-radius: var(--border-radius3);
        padding: .25em 1.25em;
        color: var(--m-text-tirtiary);
    }
}
