@mixin form-base {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 0.5em;
}

.createForm {
  @include form-base;

  & > div:nth-last-of-type(2) {
    margin-bottom: 1.25em;
  }

  label {
    font-weight: var(--fw-regular);
    margin-left: 0.125em;
  }
}

.newBillForm {
  @include form-base;

  & > div:nth-last-of-type(2) {
    margin-bottom: 1.25em;
  }
}

.rangeCheckboxContainer {
  label {
    margin-top: 0.125em;
  }
}

.paddedRow {
  margin: 0.25em 0;
}

.extraPaddedRow {
  margin: 0.75em 0;
  display: flex;
  gap: 0.5em;
}

.multiInputRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;
  box-sizing: border-box;

  & > div {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 50%;

    & > div {
      width: 100%;
    }
  }

  button {
    width: 100%;
  }
}

.splitInputs {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  @mixin s {
    flex: 1;
    flex-direction: column;
    display: flex;
  }

  & > div:first-child {
    @include s;
    margin-right: 0.25em;
  }

  & > div:last-child {
    @include s;
    margin-left: 0.25em;
  }
}

.datePickerRow {
  width: 50%;
}

@media only screen and (max-width: 700px) {
  .splitInputs {
    flex-direction: column;

    & > div:first-child {
      margin-right: 0;
    }
  }

  .rangeCheckboxContainer {
    label {
      margin-bottom: 0.5em;
    }
  }
}
