.card {
  min-width: var(--card-width);
  min-height: var(--card-height);
  border-radius: var(--border-radius4);
  position: relative;
  z-index: 0;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
  }

  h3 * {
    font-weight: var(--fw-bold);
    color: var(--white);
  }

  &:not([data-skeleton='true'])::before {
    z-index: -1;
    position: absolute;
    content: '';
    inset: 0;
    border-radius: 12px;
  }

  $gradientStartLight: 70%;
  $gradientEndLight: 63%;
  $gradientStartDark: 30%;
  $gradientEndDark: 23%;
  $borderDark: 27%;
  $borderLight: 67%;

  &[data-custom-hue='false']:not(
      [data-skeleton='true']
    )[data-light='true']::before {
    background-image: radial-gradient(
        at 39% 16%,
        hsla(0, 0%, $gradientStartLight, 1) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 0% 0%,
        hsla(0, 0%, $gradientStartLight, 1) 0px,
        transparent 50%
      );
    background-color: hsla(0, 0%, $gradientEndLight, 1);
  }

  &[data-custom-hue='false']:not(
      [data-skeleton='true']
    )[data-light='false']::before {
    background-image: radial-gradient(
        at 39% 16%,
        hsla(0, 0%, $gradientStartDark, 1) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 0% 0%,
        hsla(0, 0%, $gradientStartDark, 1) 0px,
        transparent 50%
      );
    background-color: hsla(0, 0%, $gradientEndDark, 1);
  }

  &[data-custom-hue='false']:not([data-skeleton='true'])[data-light='false'] {
    background-color: var(--btn-medium-gray-hover);
    border: 1.5px solid hsla(0, 0, $borderDark);
  }

  &[data-custom-hue='false']:not([data-skeleton='true'])[data-light='true'] {
    background-color: var(--btn-feather-light-gray);
    border: 1.5px solid hsla(0, 0, $borderLight);
  }

  // Custom color styling
  $lightSat: 75%;
  $darkSat: 30%;
  $customGradientStartLight: calc($gradientStartLight + 10%);
  $customGradientEndLight: calc($gradientEndLight + 15%);

  $customGradientStartDark: calc($gradientStartDark + 20%);
  $customGradientEndDark: calc($gradientEndDark + 20%);

  &[data-custom-hue='true']:not(
      [data-skeleton='true']
    )[data-light='true']::before {
    background-image: radial-gradient(
        at 39% 16%,
        hsla(var(--card-hue), $lightSat, $customGradientStartLight, 1) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 0% 0%,
        hsla(var(--card-hue), $lightSat, $customGradientStartLight, 1) 0px,
        transparent 50%
      );
    background-color: hsla(
      var(--card-hue),
      $lightSat,
      $customGradientEndLight,
      1
    );
  }

  &[data-custom-hue='true']:not(
      [data-skeleton='true']
    )[data-light='false']::before {
    background-image: radial-gradient(
        at 39% 16%,
        hsla(var(--card-hue), $darkSat, $customGradientStartDark, 1) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 0% 0%,
        hsla(var(--card-hue), $darkSat, $customGradientStartDark, 1) 0px,
        transparent 50%
      );
    background-color: hsla(
      var(--card-hue),
      $darkSat,
      $customGradientEndDark,
      1
    );
  }

  &[data-custom-hue='true']:not([data-skeleton='true'])[data-light='false'] {
    background-color: hsla(var(--card-hue), $darkSat, $customGradientEndDark);
    border: 1.5px solid
      hsla(var(--card-hue), $darkSat, $customGradientStartDark);
  }

  &[data-custom-hue='true']:not([data-skeleton='true'])[data-light='true'] {
    background-color: hsla(var(--card-hue), $lightSat, $customGradientEndLight);
    border: 1.5px solid
      hsla(var(--card-hue), $lightSat, $customGradientEndLight);
  }
}

.chip {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translate(50%, 0%);
  width: 22px;
  height: 16px;
  border-radius: 4px;
  z-index: 1;
  overflow: hidden;
  opacity: 0.07;

  &[data-custom-hue='true'] {
    opacity: 0.2;
  }

  &[data-light='true'] {
    opacity: 0.2;
  }

  &[data-light='true']::before {
    background: linear-gradient(-45deg, hsl(0, 0, 80%), hsl(0, 0, 100%));
    mix-blend-mode: difference;
  }

  &[data-light='false']::before {
    background: linear-gradient(-45deg, hsl(0, 0, 50%), hsl(0, 0, 80%));
    mix-blend-mode: color-burn;
  }

  &::before {
    z-index: 1;
    inset: 0;
    content: '';
    position: absolute;
  }
}

.name {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  padding-bottom: 0.375em;
  * {
    color: var(--white);
  }

  &[data-light='false'] {
    mix-blend-mode: lighten;
  }
}

.mask {
  position: relative;
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  span {
    opacity: 0.8;
    font-size: 0.875rem;
    transform: translateY(3px);
    color: var(--white);
  }

  &[data-light='false'] > span {
    opacity: 0.5;
  }

  &[data-light='true']::after {
    opacity: 0.15;
    border-top: 1.5px solid hsl(0, 0, 100%);
    background-color: hsl(0, 0, 90%);
  }

  &[data-light='false']::after {
    opacity: 0.1;
    border-top: 1.5px solid hsl(0, 0, 65%);
    background-color: hsl(0, 0, 50%);
  }

  &::after {
    opacity: 0.25;
    top: 0;
    bottom: -0.5em;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: -1em;
    right: -1em;
    content: '';
    position: absolute;
  }
}

.logo {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  filter: grayscale(2);

  * {
    color: var(--white);
  }

  &[data-light='false'] {
    filter: grayscale(1) brightness(0.7) contrast(2);
  }
}
