//   const styles = {
//     display: 'flex',
//     justifyContent: 'end',
//     position: 'relative',
//     zIndex: '0',
//     gap: '0.5em',
//   } as React.CSSProperties;

.submitForm {
  display: flex;
  justify-content: end;
  position: relative;
  z-index: 0;
  gap: 0.5em;

  & > button {
    width: 5em;
    justify-content: center;
  }
}
