.accountsPage {
  padding-top: 2.75em;

  h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    padding: 0.5em 0.25em;

    span {
      display: flex;
      gap: 0.5em;
      align-items: baseline;
    }
  }

  & > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

.header {
  padding: 0.25em 0;
  border-bottom: 1.5px solid var(--border-color-ultra-dim);
  background-color: var(--main-background-color);
  position: sticky;
  top: 0.375em;
  box-shadow: 0 0 16px 8px var(--main-background-color);
  z-index: 2;
  display: flex;
  flex-direction: row;

  &[data-size='small'],
  &[data-size='medium'],
  &[data-size='extra-small'] {
    justify-content: center;
    font-size: 1.25rem;
    padding: 0.875em 0 0.5em 0;
  }

  &::before {
    content: '';
    inset: 0;
    top: -1em;
    position: absolute;
    z-index: -1;
    background-color: var(--main-background-color);
  }
}

.avatar {
  background-color: var(--btn-feather-light-gray);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 0;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: var(--fw-regular);
  letter-spacing: -2px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75em 2em 0 2em;
  margin-bottom: 30;
  position: relative;
  width: min-content;
  margin: 0 auto;

  & > button {
    transform: scale(0);
    position: absolute;
    right: -0.25em;
    bottom: 0.875em;
    transition: transform 0.2s ease-in-out;
  }

  &:hover > button {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
  }

  & > div:last-of-type span {
    color: var(--m-text-secondary);
  }
}

.paymentMethod {
  display: flex;
  justify-content: space-between;

  & > div {
    display: flex;
    align-items: center;
    gap: 0.75em;
  }

  @media (max-width: 550) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25em;
  }
}

.changePlan {
  top: 0.5em;
}

.planLabel {
  color: var(--alert-red);
  margin-left: 0.75em;
  position: relative;

  &::after {
    position: absolute;
    inset: 0.0625em -0.375em;
    border-radius: 0.375em;
    background-color: var(--alert-red);
    opacity: 0.1;
    content: '';
  }

  &[data-cancel-at-period-end='true'],
  &[data-period='paused'] {
    color: var(--yellow);

    &::after {
      background-color: var(--yellow);
      opacity: 0.2;
    }
  }

  &[data-period='trialing'],
  &[data-period='active'] {
    color: var(--green-text);

    &::after {
      background-color: var(--green-text);
      opacity: 0.2;
    }
  }
}

.invoice {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div:first-child {
    display: grid;
    grid-template-columns: minmax(auto, max-content) 1fr;
    gap: 0.25em;
    column-gap: 1em;
    row-gap: 0.5em;

    & > div:nth-child(2n + 1) {
      color: var(--m-text-secondary);
    }

    & > div {
      white-space: nowrap;
    }
  }
}

.household {
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;

  span {
    margin: 0.25em 0;

    &:first-of-type {
      color: var(--m-text-secondary);
    }
  }

  span:nth-of-type(2) + button {
    right: 1em;
  }

  span:nth-of-type(1) + button {
    right: 1.75em;
  }

  button {
    position: absolute;
  }
}
