.mainWindow {
  padding: 0 2em;
  box-sizing: border-box;
  align-self: center;
  max-width: 50rem;
  width: 100%;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.motionDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
}
