.prices {
  background: linear-gradient(
    to top right,
    var(--btn-feather-light-gray),
    var(--btn-feather-light-gray)
  );
  border-top-left-radius: var(--border-radius5);
  border-top-right-radius: var(--border-radius5);
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  position: relative;
  border-bottom: 1px solid var(--border-color-dim);
  z-index: 1000;

  &[data-dark='false'] {
    background: var(--btn-dark-gray);
    border: none;
  }
}

.logo {
  position: absolute;
  top: 1em;
  left: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;

  img {
    height: 2.25em;
  }

  span {
    color: var(--white);
  }
}

.pricesHeader {
  padding: 2.5em 3.25em 0 2.5em;
  display: flex;
  justify-content: start;
}

.subscriptionRadios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1.75em 4em 2em 4em;

  span {
    color: var(--white);
  }

  input[type='radio'] {
    display: none;
  }

  input[type='radio'] + div {
    position: relative;
    border: 1.5px solid var(--btn-gray);
  }

  &[data-dark='true'] {
    input[type='radio']:checked + div::after {
      background-color: var(--btn-light-gray);
    }
  }

  input[type='radio'] + div::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.1;
    background-color: hsl(0, 0%, 90%);
  }

  input[type='radio']:not(:checked) + div {
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
    border-color: transparent;
  }

  input[type='radio']:not(:checked) + div:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }
}

.subscriptionRadio {
  margin: 0 0.75em;
  text-align: center;
  flex: 0.5;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius3);
  padding: 0.375em 1em;
  min-width: 7.5rem;
  cursor: pointer;
}

.dogEar {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 2.875rem;
  height: 2.875rem;
  z-index: -1;
  transform: translate(50%, -50%) rotate(42deg);
  z-index: 2;
  color: var(--blue);
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--btn-gray);
    z-index: -1;
    opacity: 0.3;
  }

  span {
    position: absolute;
    top: 2em;
    left: 1em;
    transform: scale(0.9) rotate(-42deg);
  }
}

.nickname {
  margin-right: 0.5em;
  font-size: 1.1em;
}

.unitAmount {
  font-size: 1.4em;

  span {
    font-size: 0.6em;
  }
}
