.checkout {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div:first-of-type {
    position: fixed;
    inset: 0;
    background-color: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(4px);
    z-index: 99;
  }

  & > div:last-of-type {
    z-index: 100;
  }
}

.checkoutSlideDiv {
  max-width: 36rem;
  width: calc(100% - 2em);
  position: relative;
}

.pricesSlideDiv {
  max-width: 28rem;
  width: calc(100% - 2em);
}

.purchaseMethod {
  & > div {
    padding: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1em;

  &[data-dark='false'] img {
    filter: invert(1);
  }

  img {
    height: 2.25em;
  }
}

.paymentElement {
  margin-left: -0.25em;
  margin-right: -0.25em;
}

.billingForm {
  padding-top: 0.5em;
  padding-bottom: 2em;
  padding-left: clamp(1em, 2vw, 2em);
  padding-right: clamp(1em, 2vw, 2em);
}

.textInputs {
  margin: 1em 0 1.25em 0;
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  label {
    margin-left: 0.25em;
    margin-top: 0.5em;
    margin-bottom: 0.125em;
    font-size: 0.875rem;
  }
}

.generalError {
  margin-bottom: 1.5em;
  text-align: center;
  font-weight: var(--fw-regular);

  img {
    height: 1em;
    margin-right: 0.5em;
    position: relative;
    top: 0.125em;
    text-align: left;
    animation: pop 0.22s ease;
  }
}
